@using Qbicles.BusinessRules;
@using Qbicles.Models.Invitation;
@{
    var api = (string)ViewBag.DocRetrievalUrl;
}

@model List<InvitationCustom>
<!-- Main content -->



<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Received Domain Invitations</h5>
        </div>
        <div class="modal-body">


            <div class="activity-overview generic help-text animated bounce">
                <i class="fa fa-info-circle"></i>
                <p>
                    Below are all the open invitations you've received to other Domains. You can either accept or reject these invites. Accepting an
                    invite immediately adds you to the Domain and notifies the issuer, while rejecting an invite halts the process and alerts the issuer
                    that you aren't interested.
                </p>
            </div>


            <table id="lstInvitationJoinDomain" class="datatable table-striped table-hover" style="width: 100%;">
                <thead>
                    <tr>
                        <th data-priority="1">Domain</th>
                        <th data-priority="3">Received</th>
                        <th data-priority="3">Invited by</th>
                        <th data-priority="2" data-orderable="false" style="width: 120px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr id="tr-invitation-join-domain-@item.Id">
                                <td>
                                    <div class="avatarwtitle">
                                        <div class="theicon" style="background-image: url('@(item.DomainPic == null?"/Content/DesignStyle/img/icon_domain_default.png":api+""+item.DomainPic)');"></div>
                                        <div class="thetitle">@item.DomainName</div>
                                    </div>
                                </td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                <td><a href="#">@item.InviteBy</a></td>
                                <td>
                                    <div class="btn-group options">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Options &nbsp; <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" style="right: 0;">
                                            <li><a href="#" onclick="ApproverInvitation(@item.Id, @((int)InvitationStatusEnum.Accepted),'@item.DomainName.FixQuoteCode()','Accept invitation',@item.DomainId)">Accept invitation</a></li>
                                            <li><a href="#" data-toggle="modal" data-target="#domain-invite-rejection" onclick="RejectInvitationConfirm(@item.Id, @((int)InvitationStatusEnum.Rejected),'@item.DomainName.FixQuoteCode()','Reject invitation',@item.DomainId)">Reject invitation</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                </tbody>

            </table>



        </div>
    </div><!-- /.modal-content -->
</div>