@using Qbicles.Models;
@using Qbicles.BusinessRules;
@{
    var pendingImg = Qbicles.BusinessRules.Helper.ConfigManager.CommunityPendingadd.ToDocumentUri();
    var countries = (List<Qbicles.BusinessRules.Micro.Model.MicroCountry>)ViewBag.Countries;
    var businessCategories = (List<Qbicles.BusinessRules.Model.Select2CustomeModel>)ViewBag.BusinessCategories;
}

<div class="waitlist-modal-body modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Join the waitlist</h5>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="@pendingImg" style="width: 320px; max-width: 100%; height: auto; margin: 0 auto 15px auto;">
            </div>


            <div class="activity-overview generic help-text">
                <i class="fa fa-info-circle"></i>
                <p>
                    Due to high demand, we've introduced a waitlist for Qbicles Business Domains. Please provide the information requested below to process - you'll be notified when your
                    slot is available and can begin the process of adding your Business Domain.
                </p>
            </div>

            <div class="well custom">
                <div class="form-group">
                    <label for="name">Where are you based? <span style="color:red;">*</span></label>
                    <select id="wait-country" name="where" class="form-control select2-modal" style="width: 100%;">
                        @foreach (var country in countries)
                        {
                            if (country.CountryCode == Qbicles.Models.Qbicles.CountryCode.NG)
                            {
                                <option value="@country.CountryCode" selected>@country.CommonName</option>
                            }

                            else
                            {
                                <option value="@country.CountryCode">@country.CommonName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">How would you categorise your business? <span style="color:red;">*</span></label>
                    <select id="wait-categories" class="form-control checkmulti-category" multiple style="width: 100%;">
                        @foreach (var category in businessCategories)
                        {
                            <option selected value="@category.id">@category.text</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">How many employees does your business have?</label>
                    <select id="wait-employees" class="form-control select2-modal" style="width: 100%;">
                        <option value="-1">None selected</option>
                        <option value="0">1-5 employees</option>
                        <option value="1">6-10 employees</option>
                        <option value="2">11-50 employees</option>
                        <option value="3">Over 50 employees</option>
                    </select>
                </div>
                <div class="form-group" style="margin: 0;">
                    <label for="name">How did you hear about Qbicles Business Domains?</label>
                    <select id="wait-discoveredVia" class="form-control select2-modal" style="width: 100%;">
                        <option value="-1">None selected</option>
                        <option value="0">Qbicles.com</option>
                        <option value="1">Advertisements online</option>
                        <option value="2">Referred by a friend</option>
                        <option value="3">Word of mouth</option>
                        <option value="4">Other</option>
                    </select>
                </div>
            </div>

            <br />
            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="button" onclick="JoinTheWaitList()" class="btn btn-success">Confirm</button>

        </div>
    </div><!-- /.modal-content -->
</div>

<script>
    $(document).ready(function () {
        $(".checkmulti-category").multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            buttonWidth: '100%',
            maxHeight: 400,
            enableClickableOptGroups: true
        });
        $(".select2-modal").select2();
    })
</script>