@using System.Diagnostics
@using Qbicles.BusinessRules
@using Qbicles.Models.Trader;
@model List<Qbicles.Models.Trader.Returns.TraderReturn>
@{
    var workGroups = (List<WorkGroup>)ViewBag.WorkGroups ?? (new List<WorkGroup>());
    var saleFilter = (SaleFilterParameter)ViewBag.SaleFilter;
    var currentUserId = ViewBag.CurrentUserId;
    var dateFormat = (string)ViewBag.CurrentDateFormat;
}
<br />
<!-- Sales Returns -->

<div class="well custom" style="padding-bottom: 5px;">

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                <label for="search_dt">Search for something</label>
                <input type="text" id="search_dt_return" onchange="OnKeySearchReturnChanged(this)" class="form-control" placeholder="Search for something">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="group">Filter by workgroup</label>
                <select id="subfilter-group-return" onchange="OnSelectWorkgroupReturn(this)" name="group" class="form-control select2" style="width: 100%;" data-placeholder="Display Workgroup">
                    <option value="0" selected>Show all</option>
                    @foreach (var item in workGroups)
                    {
                        if (saleFilter.Workgroup == item.Id.ToString())
                        {
                            <option selected="" value="@item.Id">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-md-5">
            <label>Options</label>
            <br />
            <div class="form-group">
                @{
                    if (workGroups.SelectMany(e => e.Members).Any(e => e.Id == currentUserId))
                    {
                        <button class="btn btn-success" data-toggle="modal" onclick="AddSaleReturn()"><i class="fa fa-plus"></i> &nbsp; New Sales Return</button>
                    }
                }
                <div class="btn-group options">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-sliders"></i> &nbsp; Manage display
                    </button>
                    <ul class="dropdown-menu primary manage-columns">
                        <li><label><input type="checkbox" data-column="1" checked> Workgroup</label></li>
                        <li><label><input type="checkbox" data-column="2" checked> Created</label></li>
                        <li><label><input type="checkbox" data-column="4" checked> Sale Ref</label></li>
                        <li><label><input type="checkbox" data-column="5" checked> Status</label></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="visible-xs" style="width: 100%; height: 15px;">&nbsp;</div>

</div>

<br />

<div id="tblwrapreturn" style="min-height:200px">
    <table class="datatable table-striped table-hover" id="tb_trader_sales_return" style="width: 100%;">
        <thead>
            <tr>
                <th data-priority="1">#</th>
                <th data-priority="2">Workgroup</th>
                <th data-priority="2">Created</th>
                <th data-priority="1">Sale Ref</th>
                <th data-priority="1">Status</th>
                <th data-priority="1" data-orderable="false">Options</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<style>
    #tb_trader_sales_processing {
        --margin-top: 100px;
        background: #eeeeee;
    }
</style>


@{

    if (Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.sales.return.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.sales.return.min.js"></script>
    }
}

<script>
    if ('@saleFilter.Key' === ""||'@saleFilter.Workgroup' === ""||'@saleFilter.SaleChanel' === ""||'@saleFilter.DateRange' === "") {
        var filter = {
            Workgroup: "@saleFilter.Workgroup",
            SaleChanel: "@saleFilter.SaleChanel",
            Key: "@saleFilter.Key",
            DateRange: "@saleFilter.DateRange"
        };
    }
</script>