@using System.Diagnostics
@using Qbicles.BusinessRules
@using Qbicles.Models.Trader;
@using Qbicles.Models;
@model Qbicles.Models.Trader.Returns.TraderReturn
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var timeZone = (string)ViewBag.CurrentTimeZone ?? "";
    var workGroups = (List<WorkGroup>)ViewBag.WorkGroups ?? (new List<WorkGroup>());
    var saleReference = Model.Sale;
    var saleOrderReference = saleReference?.SalesOrders.FirstOrDefault();
    var saleReturnId = ViewBag.TraderSaleReturnId;
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
}
<div class="modal-dialog modal-xl" role="document">
    <input type="hidden" id="sale-return-id" value="@saleReturnId" />
    <input type="hidden" id="sale-reference-id" value="@(Model.Sale?.Id??0)" />

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model.Id > 0)
            {
                <h5 id="add-edit-return-title" class="modal-title">Edit Sale Return @Model.Reference.FullRef</h5>
            }
            else
            {
                <h5 id="add-edit-return-title" class="modal-title">Add a Sale Return</h5>
            }
            <input type="hidden" value="@Model.Id" id="tradersalereturn_form_id" />
        </div>
        <div class="modal-body">


            <div class="row">
                <div class="col-xs-12">
                    <ul class="app_subnav admintabs" style="padding-top: 0;">
                        <li class="active">
                            <a id="return-sale-tab" href="#return-1" data-toggle="tab">Select Sale</a>
                        </li>
                        <li>
                            <a id="return-item-tab" href="#return-2" data-toggle="tab">Select Items</a>
                        </li>
                        <li>
                            <a id="return-configuration-tab" href="#return-3" data-toggle="tab">Configure Return</a>
                        </li>
                    </ul>
                </div>
            </div>

            <br />


            <div class="tab-content">

                <!-- Select sale -->
                <div class="tab-pane fade in active" id="return-1">

                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-lg-3">

                            <div class="activity-overview generic" style="padding: 20px; max-width: 600px;">
                                <div class="form-group" style="margin: 0;">
                                    <label for="workgroup">Assign a Workgroup to this Return <span>*</span></label>
                                    <select name="workgroup" id="trader_sale_return_add_workgroup" onchange="ChangeWorkgroupReturn(this)" class="form-control select2" style="width: 100%;">
                                        <option value="0"></option>
                                        @foreach (var item in workGroups)
                                        {
                                            if (Model.Workgroup != null && Model.Workgroup.Id == item.Id)
                                            {
                                                <option value="@item.Id" selected>@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="preview-workgroup" style="display: none;">
                                    <br />
                                    <table class="table app_specific" style="margin: 0;">
                                        <tr>
                                            <td><h5>Location</h5></td>
                                            <td class="location_name">Location name</td>
                                        </tr>
                                        <tr>
                                            <td><h5>Process</h5></td>
                                            <td class="workgroup_process">Transfers</td>
                                        </tr>
                                        <tr>
                                            <td><h5>Qbicle</h5></td>
                                            <td class="workgroup_qbicle">Qblicle Name</td>
                                        </tr>
                                        <tr>
                                            <td><h5>Members</h5></td>
                                            <td class="workgroup_member"><button class="btn btn-info" onclick="ShowGroupMemberReturn()" data-toggle="modal" data-target="#app-trader-workgroup-preview"><i class="fa fa-user"></i> &nbsp; <span></span></button></td>
                                        </tr>
                                    </table>
                                </div>

                            </div>



                        </div>
                        <div class="col-xs-12 col-md-8 col-lg-9">

                            <div class="activity-overview generic help-text animated bounce">
                                <i class="fa fa-info-circle"></i>
                                <p>
                                    Please select the Sale against which to process your Return. Once you've selected the relevant Sale you can begin indicating the items
                                    that are affected...
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="form-group">
                                        <label for="reference">Reference</label>
                                        <input type="hidden" value="@Model.Reference.Id" id="reference_id" />
                                        <input type="hidden" value="@Model.Reference.Type.ToString()" id="reference_type" />
                                        <input type="hidden" value="@Model.Reference.Prefix" id="reference_prefix" />
                                        <input type="hidden" value="@Model.Reference.Suffix" id="reference_suffix" />
                                        <input type="hidden" value="@Model.Reference.Delimeter" id="reference_delimeter" />
                                        <input type="hidden" value="@Model.Reference.FullRef" id="reference_fullref" />
                                        <div class="show-ref">
                                            <p>
                                                @Model.Reference.Prefix@Model.Reference.Delimeter<span id="refedit">@Model.Reference.NumericPart</span>@Model.Reference.Delimeter@Model.Reference.Suffix &nbsp; &nbsp;
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="well custom" style="padding-bottom: 5px;">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="search_dt">Search for a sale</label>
                                            <input type="text" id="search_add_edit_return" class="form-control" placeholder="Enter a sales ref, invoice # or contact">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="daterange">Date range</label>
                                            <input id="sale-select-date-range" type="text" class="form-control datetimerangesale" value="" placeholder="Limit to a date range">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <br />

                            <table class="datatable table-striped table-hover" id="tb_trader_sales_select" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th data-priority="1">#</th>
                                        <th data-priority="2">Workgroup</th>
                                        <th data-priority="2">Created</th>
                                        <th data-priority="2">Channel</th>
                                        <th data-priority="1">Contact</th>
                                        <th data-priority="3">Reporting Filters</th>
                                        <th data-priority="2">Total</th>
                                        <th data-priority="1" data-orderable="false">Select Sale</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>


                            <br />
                            <a href="javascript:" data-dismiss="modal" class="btn btn-danger">Cancel</a>

                        </div>

                    </div>


                </div>
                <!-- Select sale -->
                <!-- Sale selected -->
                <div class="tab-pane fade" id="return-2">

                    <br />

                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-lg-3">

                            <div class="flex-grid-fluid qbicles-dash-grid restyle" data-tooltip-color="slate" data-tooltip-stickto="right">

                                <article class="col">
                                    @{
                                        if (saleReference != null)
                                        {
                                            <a class="sale-reference-href" href="/TraderSales/SaleMaster?key=@saleReference.Key">
                                                <h1 class="sale-reference-fullref" style="color: #333; text-align: left; padding-top: 10px;">Sale @saleReference.Reference.FullRef</h1>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="sale-reference-href" href="javascript:">
                                                <h1 class="sale-reference-fullref" style="color: #333; text-align: left; padding-top: 10px;"></h1>
                                            </a>
                                        }
                                    }


                                    <div class="well custom" style="margin: 0;">
                                        <table class="table t1style table-borderless text-left" style="margin-bottom: 0;">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Sale total</strong></td>
                                                    <td>@(currencySettings.SymbolDisplay == CurrencySetting.SymbolDisplayEnum.Prefixed ? currencySettings.CurrencySymbol : "")<span class="sale-reference-total">@(Model.Sale?.SaleTotal.ToDecimalPlace(currencySettings))</span>@(currencySettings.SymbolDisplay == CurrencySetting.SymbolDisplayEnum.Suffixed ? currencySettings.CurrencySymbol : "")</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Workgroup</strong></td>
                                                    <td><span class="sale-reference-workgroup-name"></span>@(Model.Sale?.Workgroup.Name)</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Customer</strong></td>
                                                    <td><span class="sale-reference-customer-name"></span>@(Model.Sale?.Purchaser?.Name)</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Approved on</strong></td>
                                                    <td><span class="sale-reference-approved-on"></span>@(Model.Sale?.SaleApprovalProcess?.StartedDate.DatetimeToOrdinalAndTime())</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Sales Order</strong></td>
                                                    @{
                                                        if (saleOrderReference != null)
                                                        {
                                                            <td>
                                                                <a class="sale-reference-order-href" href="/TraderSales/SaleOrder?id=21" target="_blank">
                                                                    <span class="sale-reference-order-reference-fullref">@(saleOrderReference.Reference?.FullRef)</span>
                                                                </a>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <a class="sale-reference-order-href" href="javascript:" target="_blank">
                                                                    <span class="sale-reference-order-reference-fullref"></span>
                                                                </a>
                                                            </td>
                                                        }
                                                    }

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </article>


                            </div>


                        </div>

                        <div class="col-xs-12 col-md-8 col-lg-9">


                            <h5>Choose items included in this Return</h5>
                            <br />
                            <div id="div-sale-items">
                                <table id="table-sale-items" class="datatable table-hover table-striped" data-order='[[ 1, "asc" ]]' style="background: #fff; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th data-priority="5" data-orderable="false" style="width: 40px;"></th>
                                            <th data-priority="1">Item</th>
                                            <th data-priority="1">Unit</th>
                                            <th data-priority="2">Sale Qty</th>
                                            <th data-priority="2">Unit price <strong>(@currencySettings.CurrencySymbol)</strong></th>
                                            <th data-priority="3">Discount</th>
                                            <th data-priority="2">Tax <strong>(@currencySettings.CurrencySymbol)</strong></th>
                                            <th data-priority="3">Total <strong>(@currencySettings.CurrencySymbol)</strong></th>
                                            <th data-priority="2" data-orderable="false">Include for Return</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (saleReference != null && saleReference.SaleItems.Count > 0)
                                        {
                                            foreach (var item in saleReference?.SaleItems)
                                            {
                                                string taxrateName = "(Tax free)";
                                                if (item.Taxes != null)
                                                {
                                                    taxrateName = item.StringTaxRates(currencySettings);
                                                }

                                                var isReturned = "";
                                                if (Model.ReturnItems.Any(i => i.SaleItem.TraderItem.Id == item.TraderItem.Id))
                                                {
                                                    isReturned = "checked";
                                                }
                                                <tr id="tr-sale-item-@item.Id">
                                                    <td class="item-row-image">
                                                        <input hidden="" value="@api@(item.TraderItem.ImageUri)&size=T" />
                                                        <div class="table-avatar" style="background-image: url('@api@(item.TraderItem.ImageUri)&size=T');">&nbsp;</div>
                                                    </td>
                                                    <td class="item-row-name">@item.TraderItem.Name</td>
                                                    <td class="item-row-unit">@(item.Unit?.Name)</td>
                                                    <td class="item-row-quantity">@item.Quantity.ToDecimalPlace(currencySettings)</td>
                                                    <td class="item-row-price">@item.SalePricePerUnit.ToDecimalPlace(currencySettings)</td>
                                                    <td class="item-row-discount">@item.Discount.ToDecimalPlace(currencySettings)%</td>
                                                    <td class="item-row-tax">
                                                        @Html.Raw(taxrateName)
                                                    </td>
                                                    <td class="item-row-total">@item.Price.ToDecimalPlace(currencySettings)</td>
                                                    <td>
                                                        <div class="checkbox toggle">
                                                            <label>
                                                                <input id="sale-item-transaction-selected-@item.Id" onchange="SaleItemRowChose(this.checked, @item.Id)" @isReturned class="sale-item-row-select" data-toggle="toggle" data-size="small" data-onstyle="success" type="checkbox">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>





                            <br />
                            <a onclick="BackToSelectSalesTab()" class="btn btn-warning"><i class="fa fa-angle-left"></i> &nbsp; Previous</a>
                            <a onclick="NextToConfigureReturnTab()" data-toggle="tab" class="btn btn-success">Next &nbsp; <i class="fa fa-angle-right"></i></a>

                        </div>

                    </div>



                </div>
                <!-- END Sale selected -->
                <!-- Configure return -->
                <div class="tab-pane fade" id="return-3">

                    <br />

                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-lg-3">

                            <div class="flex-grid-fluid qbicles-dash-grid restyle" data-tooltip-color="slate" data-tooltip-stickto="right">

                                <article class="col">
                                    @{
                                        if (saleReference != null)
                                        {
                                            <a class="sale-reference-href" href="/TraderSales/SaleMaster?key=@saleReference.Key">
                                                <h1 class="sale-reference-fullref" style="color: #333; text-align: left; padding-top: 10px;">Sale @saleReference.Reference.FullRef</h1>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="sale-reference-href" href="javascript:">
                                                <h1 class="sale-reference-fullref" style="color: #333; text-align: left; padding-top: 10px;"></h1>
                                            </a>
                                        }
                                    }


                                    <div class="well custom" style="margin: 0;">
                                        <table class="table t1style table-borderless text-left" style="margin-bottom: 0;">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Sale total</strong></td>
                                                    <td>@(currencySettings.SymbolDisplay == CurrencySetting.SymbolDisplayEnum.Prefixed ? currencySettings.CurrencySymbol : "")<span class="sale-reference-total">@(Model.Sale?.SaleTotal.ToDecimalPlace(currencySettings))</span>@(currencySettings.SymbolDisplay == CurrencySetting.SymbolDisplayEnum.Suffixed ? currencySettings.CurrencySymbol : "")</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Workgroup</strong></td>
                                                    <td><span class="sale-reference-workgroup-name"></span>@(Model.Sale?.Workgroup.Name)</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Customer</strong></td>
                                                    <td><span class="sale-reference-customer-name"></span>@(Model.Sale?.Purchaser?.Name)</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Approved on</strong></td>
                                                    <td><span class="sale-reference-approved-on"></span>@(Model.Sale?.SaleApprovalProcess?.StartedDate.DatetimeToOrdinalAndTime())</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Sales Order</strong></td>
                                                    @{
                                                        if (saleOrderReference != null)
                                                        {
                                                            <td>
                                                                <a class="sale-reference-order-href" href="/TraderSales/SaleOrder?id=21" target="_blank">
                                                                    <span class="sale-reference-order-reference-fullref">@(saleOrderReference.Reference?.FullRef)</span>
                                                                </a>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <a class="sale-reference-order-href" href="javascript:" target="_blank">
                                                                    <span class="sale-reference-order-reference-fullref"></span>
                                                                </a>
                                                            </td>
                                                        }
                                                    }

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </article>


                            </div>


                        </div>

                        <div class="col-xs-12 col-md-8 col-lg-9">

                            <h5>Configure your Return</h5>
                            <br />

                            <div id="div-return-items">
                                <table class="datatable table-hover table-striped" id="table-return-items" data-order='[[ 1, "asc" ]]' style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th data-priority="5" data-orderable="false" style="width: 40px;"></th>
                                            <th data-priority="1">Item</th>
                                            <th data-priority="1">Unit</th>
                                            <th data-priority="2">Sale qty</th>
                                            <th data-priority="2">Unit price <strong>(@currencySettings.CurrencySymbol)</strong></th>
                                            <th data-priority="1" data-orderable="false">Return qty</th>
                                            <th data-priority="1" data-orderable="false">Return to Inventory</th>
                                            <th data-priority="1" data-orderable="false">Credit value<strong>(@currencySettings.CurrencySymbol)</strong></th>
                                            <th data-priority="1" style="width: 50px;" data-orderable="false"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ReturnItems)
                                        {
                                            var isReturntoInventory = "";
                                            if (item.IsReturnedToInventory)
                                            {
                                                isReturntoInventory = "checked";
                                            }
                                            <tr class="table-row-return-item-list" id="table-row-return-item-@item.SaleItem.Id">
                                                <td>
                                                    <div class="table-avatar" style="background-image: url('@api@(item.SaleItem.TraderItem.ImageUri)&size=T');">&nbsp;</div>
                                                </td>
                                                <td class="return-row-item">
                                                    <input class="return-item-id" hidden="" value="@item.Id" />
                                                    <input class="transaction-item-id" hidden="" value="@item.SaleItem.Id" />
                                                    <span>@item.SaleItem.TraderItem.Name</span>
                                                </td>
                                                <td>@item.SaleItem.Unit.Name</td>
                                                <td class="return-row-sale-quantity">
                                                    <input type="hidden" value="@item.ReturnQuantity">
                                                    @item.SaleItem.Quantity.ToDecimalPlace(currencySettings)
                                                </td>
                                                <td>@item.SaleItem.SalePricePerUnit.ToDecimalPlace(currencySettings)</td>
                                                <td class="return-row-quantity">
                                                    <input maxlength="15" onkeypress="decimalKeyPress(this, event)" onpaste="decimalOnPaste(this, event)" type="text" min='1' max="@item.SaleItem.Quantity" class="form-control" style="width: 80px;" value="@item.ReturnQuantity">
                                                </td>
                                                <td class="return-row-to-inventory">
                                                    <div class="checkbox toggle">
                                                        <label>
                                                            <input @isReturntoInventory class="sale-item-return-row-select" data-toggle="toggle" data-size="small" data-onstyle="success" type="checkbox">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="return-row-credit">
                                                    <div class="input-group" style="width: 100%;">
                                                        <span class="input-group-addon">@currencySettings.CurrencySymbol</span>
                                                        <input maxlength="15" onkeypress="decimalKeyPress(this, event)" onpaste="decimalOnPaste(this, event)" type="text" min="0" class="form-control" value="@item.Credit.ToDecimalPlace(currencySettings)">
                                                    </div>
                                                </td>
                                                <td>
                                                    <button onclick="RemoveReturnRow(@item.Id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>



                            <br /><br />
                            <a onclick="BackToSelectItemsTab()" class="btn btn-warning"><i class="fa fa-angle-left"></i> &nbsp; Previous</a>
                            <a id="button-save-draft" onclick="SaveDraftSaleReturn()" class="btn btn-primary">Save draft</a>
                            <a id="button-save-review" onclick="SaveToReviewSaleReturn()" class="btn btn-success">Send to review</a>

                        </div>

                    </div>

                </div>
                <!-- END Configure return -->



            </div> <!-- ./tab-content -->



        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

@{
    if (Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.sales.return.add.edit.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.sales.return.add.edit.min.js"></script>
    }
}

<script>
    ValidationSaveAction();
</script>