@using Qbicles.BusinessRules;
@using Qbicles.Models;
@model QbicleDiscussion
@{
    var CurrentTimeZone = (string)ViewBag.CurrentTimeZone;
    var isActive = true;
    if (Model.ExpiryDate != null && Model.ExpiryDate <= DateTime.UtcNow) { isActive = false; }
    else { isActive = true; }

    var urldisDetail = "";
    if (Model.DiscussionType == QbicleDiscussion.DiscussionTypeEnum.IdeaDiscussion)
    {
        urldisDetail = "/SalesMarketingIdea/DiscussionIdea?disId=" + Model.Id;
    }
    else if (Model.DiscussionType == QbicleDiscussion.DiscussionTypeEnum.PlaceDiscussion)
    {
        urldisDetail = "/SalesMarketingLocation/DiscussionPlace?disId=" + Model.Id;
    }
    else if (Model.DiscussionType == QbicleDiscussion.DiscussionTypeEnum.GoalDiscussion)
    {
        urldisDetail = "/Operator/DiscussionGoal?disId=" + Model.Id;
    }
    else
    {
        urldisDetail = "/Qbicles/DiscussionQbicle?disKey=" + Model.Key;
    }
    var dateFormat = (string)ViewBag.CurrentDateFormat;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">

            <div class="newlabels activity-overview plain company-overview welcome-info" style="text-align: left !important; flex: none; margin: 0 !important; padding: 0 !important;">

                <ul class="breadcrumb unintrusive" style="margin-top: 0;">
                    <li><a href="#">@Model.Qbicle.Domain.Name</a></li>
                    <li><a href="#">@Model.Qbicle.Name</a></li>
                </ul>

                <h1 style="line-height: 1.2;">@Model.Name</h1>

                @if (isActive)
                {
                    <span class="label label-lg label-success">Active</span>
                }
                else
                {
                    <span class="label label-lg label-danger">Expired</span>
                }

                @if (Model.Folders != null && Model.Folders.Any())
                {
                    foreach (var tag in Model.Folders)
                    {
                        <span class="label label-lg label-info">#@tag.Name</span>
                    }

                }


                <br /><br /><br />
                <p style="color: rgba(0, 0, 0, 0.6); font-weight: 400;">@Model.Summary</p>

                <br />

                <div class="row">
                    <div class="col-xs-12">
                        <label>Participants</label>
                        <p>@Model.ActivityMembers.Count()</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <label>Expiry</label>
                        @if (Model.ExpiryDate != null)
                        {
                            <p>@Model.ExpiryDate.Value.ConvertTimeFromUtc(CurrentTimeZone).ToString(dateFormat+" hh:mmtt").ToLower()</p>
                        }
                        else
                        {
                            <p>None set</p>
                        }
                    </div>
                </div>
            </div>


            <br /><br />

            <a href="@urldisDetail" class="btn btn-info"><i class="fa fa-eye"></i> &nbsp; Manage in Qbicle</a>
            <button class="btn btn-primary" data-dismiss="modal">Close</button>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->