@using Qbicles.BusinessRules;
@using Qbicles.Models;
@model string
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var lstUser = new List<ApplicationUser>();
    var lstTags = ((List<MyTagCustom>)ViewBag.Tags) ?? new List<MyTagCustom>();
    var lstDomain = (List<QbicleDomain>)ViewBag.Domains ?? new List<QbicleDomain>();
    foreach (var item in lstDomain)
    {
        lstUser.AddRange(item.Users);
    }
    lstUser = lstUser.Distinct().ToList();
    //Filter Load value
    var lstUiSetting = (List<UiSetting>)ViewBag.UiSetting ?? new List<UiSetting>();
    var ddlOrderbyPinned = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlOrderbyPinned);
    var ddlOrderbyTask = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlOrderbyTask);
    var ddlOrderbyEvent = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlOrderbyEvent);
    var ddlOrderbyMedia = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlOrderbyMedia);
    var ddlOrderbyLink = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlOrderbyLink);
    var ddlOrderbyDiscussion = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlOrderbyDiscussion);
    var ddlOrderbyProcess = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlOrderbyProcess);
    var txtDaterangePined = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.txtDaterangePined);
    var txtDaterangeTask = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.txtDaterangeTask);
    var txtDaterangeEvent = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.txtDaterangeEvent);
    var txtDaterangeMedia = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.txtDaterangeMedia);
    var txtDaterangeLink = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.txtDaterangeLink);
    var txtDaterangeDiscussion = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.txtDaterangeDiscussion);
    var txtDaterangeProcess = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.txtDaterangeProcess);
    var dllDomainIdPined = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.dllDomainIdPined);
    var dllDomainIdTask = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.dllDomainIdTask);
    var dllDomainIdEvent = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.dllDomainIdEvent);
    var dllDomainIdMedia = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.dllDomainIdMedia);
    var dllDomainIdLink = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.dllDomainIdLink);
    var dllDomainIdDiscussion = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.dllDomainIdDiscussion);
    var dllDomainIdProcess = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.dllDomainIdProcess);
    var ddlQbicleIdPined = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlQbicleIdPined);
    var ddlQbicleIdTask = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlQbicleIdTask);
    var ddlQbicleIdEvent = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlQbicleIdEvent);
    var ddlQbicleIdMedia = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlQbicleIdMedia);
    var ddlQbicleIdLink = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlQbicleIdLink);
    var ddlQbicleIdDiscussion = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlQbicleIdDiscussion);
    var ddlQbicleIdProcess = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlQbicleIdProcess);
    var ddlTagsPined = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlTagsPined);
    var ddlTagsEvent = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlTagsEvent);
    var ddlTagsTask = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlTagsTask);
    var ddlTagsMedia = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlTagsMedia);
    var ddlTagsLink = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlTagsLink);
    var ddlTagsDiscussion = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlTagsDiscussion);
    var ddlTagsProcess = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlTagsProcess);
    var isHideInPined = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.isHideInPined);
    var isHideInTask = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.isHideInTask);
    var isHideInEvent = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.isHideInEvent);
    var isHideInDiscussion = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.isHideInDiscussion);
    var ddlActType = lstUiSetting.FirstOrDefault(s => s.Key == MyDeskKeyStoredUiSettings.ddlActType);

    //End
    var tabindex = Convert.ToInt32(Model);
    var sTagsPined = ddlTagsPined != null ? new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<int>>(ddlTagsPined.Value) : new List<int>();
    var sTagsEvent = ddlTagsEvent != null ? new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<int>>(ddlTagsEvent.Value) : new List<int>();
    var sTagsTask = ddlTagsTask != null ? new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<int>>(ddlTagsTask.Value) : new List<int>();
    var sTagsMedia = ddlTagsMedia != null ? new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<int>>(ddlTagsMedia.Value) : new List<int>();
    var sTagsLink = ddlTagsLink != null ? new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<int>>(ddlTagsLink.Value) : new List<int>();
    var sTagsDiscussion = ddlTagsDiscussion != null ? new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<int>>(ddlTagsDiscussion.Value) : new List<int>();
    var sTagsProcess = ddlTagsProcess != null ? new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<int>>(ddlTagsProcess.Value) : new List<int>();
}

@switch (tabindex)
{
    case 1:
        <div class="row">
            <div class="col-xs-12 yamm">

                <div class="mydesksubnav">

                    <input id="txtSearchActivity@(tabindex)" type="text" name="SearchName" class="form-control inline" value="" placeholder="Search..." style="max-width: 250px;">
                    &nbsp;
                    <div class="dropdown inline">
                        <button class="btn btn-primary" onclick="$('.filtering').slideToggle(); $('i', this).toggleClass('fa-angle-down fa-angle-up');">
                            Filter Pins &nbsp; <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none" onclick="ResetSearchDataActivity(@(tabindex))">Clear filters</button>

                </div>

            </div>
        </div>

        <div class="filtering activity-overview plain" style="margin: 0 0 30px 0; padding: 20px; display: none;">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="search">Order by</label>
                        <select id="ddlOrderby@(tabindex)" name="order" class="form-control select2" style="width: 100%;">
                            <option value="2" @(ddlOrderbyPinned != null && ddlOrderbyPinned.Value == "2" ? "selected" : "")>Name A-Z</option>
                            <option value="3" @(ddlOrderbyPinned != null && ddlOrderbyPinned.Value == "3" ? "selected" : "")>Name Z-A</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="search">Activity types</label>
                        <select name="ddlActType" id="ddlActType@(tabindex)" class="form-control select2" style="width: 100%;">
                            <option value="0" @(ddlActType== null || ddlActType.Value == "0" ? "selected" : "")>All</option>
                            <option value="7" @(ddlActType != null && ddlActType.Value == "7" ? "selected" : "")>Discussions</option>
                            <option value="3" @(ddlActType != null && ddlActType.Value == "3" ? "selected" : "")>Events</option>
                            <option value="4" @(ddlActType != null && ddlActType.Value == "4" ? "selected" : "")>Media</option>
                            <option value="5" @(ddlActType != null && ddlActType.Value == "5" ? "selected" : "")>Links</option>
                            <option value="6" @(ddlActType != null && ddlActType.Value == "6" ? "selected" : "")>Processes</option>
                            <option value="2" @(ddlActType != null && ddlActType.Value == "2" ? "selected" : "")>Tasks</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="domainId">Domain</label>
                        <select id="dllDomainId@(tabindex)" name="domainId" class="form-control select2" onchange="LoadQbicleData(1);" style="width: 100%;">
                            <option value="0" @(dllDomainIdPined != null && dllDomainIdPined.Value == "0" ? "selected" : "")>Show all</option>
                            @if (lstDomain != null && lstDomain.Any())
                            {
                                foreach (var item in lstDomain)
                                {
                                    <option value="@item.Id" @(dllDomainIdPined != null && dllDomainIdPined.Value == item.Id.ToString() ? "selected" : "")>@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="qbcileId">Qbicle</label>
                        <select id="ddlQbicle@(tabindex)" name="qbcileId" class="form-control select2" @(ddlQbicleIdPined==null || ddlQbicleIdPined.Value=="0"? "disabled": "") onchange="$('#hdfQbicleId@(tabindex)').val($('#ddlQbicle@(tabindex)' + ' :selected').val());" style="width: 100%;">
                            <option value="0">All</option>
                        </select>
                        <input type="hidden" value="@(ddlQbicleIdPined!=null?ddlQbicleIdPined.Value:"0")" id="hdfQbicleId@(tabindex)" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <label for="daterange">Date range</label>
                    <div class="input-group" style="margin-bottom: 15px;">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="txtDaterange@(tabindex)" type="text" value="@(txtDaterangePined!=null?txtDaterangePined.Value:"")" name="dateRange" class="form-control daterange">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <select id="ddlTags@(tabindex)" name="tags" class="form-control checkmulti" style="width: 100%; display: none" multiple>
                            @foreach (var item in lstTags)
                            {
                                <option value="@item.Id" @(sTagsPined != null && sTagsPined.Any(s => s == item.Id) ? "selected" : "") Desk-Id="@item.Desk_Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="search">Hide complete</label>
                        <div class="checkbox toggle">
                            <label>
                                <input data-toggle="toggle" data-onstyle="success" type="checkbox" id="isHide@(tabindex)" value="@(isHideInPined!=null && isHideInPined.Value!="0"?isHideInPined.Value:"0")">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-info" onclick="SearchData()">Apply</button>
            <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none" onclick="ResetSearchDataActivity(@(tabindex)); ">Clear</button>

        </div>
        break;
    case 2:
        <div class="row">
            <div class="col-xs-12">

                <div class="mydesksubnav">

                    <input id="txtSearchActivity@(tabindex)" type="text" name="SearchName" class="form-control inline" value="" placeholder="Search..." style="max-width: 250px;">

                    &nbsp;
                    <div class="dropdown inline">
                        <button class="btn btn-primary" onclick="$('.filtering').slideToggle(); $('i', this).toggleClass('fa-angle-down fa-angle-up');">
                            Filter Tasks &nbsp; <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none" onclick="ResetSearchDataActivity(@(tabindex))">Clear filters</button>

                </div>

            </div>
        </div>

        <div class="filtering activity-overview plain" style="margin: 0 0 30px 0; padding: 20px; display: none;">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="order">Order by</label>
                        <select id="ddlOrderby@(tabindex)" name="order" class="form-control select2" style="width: 100%;">
                            <option value="0" @(ddlOrderbyTask != null && ddlOrderbyTask.Value == "0" ? "selected" : "")>Due date (nearest first)</option>
                            <option value="1" @(ddlOrderbyTask != null && ddlOrderbyTask.Value == "1" ? "selected" : "")>Due date (farthest first)</option>
                            <option value="2" @(ddlOrderbyTask != null && ddlOrderbyTask.Value == "2" ? "selected" : "")>Name A-Z</option>
                            <option value="3" @(ddlOrderbyTask != null && ddlOrderbyTask.Value == "3" ? "selected" : "")>Name Z-A</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="domainId">Domain</label>
                        <select id="dllDomainId@(tabindex)" name="domainId" class="form-control select2" onchange="LoadQbicleData(2);" style="width: 100%;">
                            <option value="0" @(dllDomainIdTask != null && dllDomainIdTask.Value == "0" ? "selected" : "")>Show all</option>
                            @if (lstDomain != null && lstDomain.Any())
                            {
                                foreach (var item in lstDomain)
                                {
                                    <option value="@item.Id" @(dllDomainIdTask != null && dllDomainIdTask.Value == item.Id.ToString() ? "selected" : "")>@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="qbcileId">Qbicle</label>
                        <select id="ddlQbicle@(tabindex)" name="qbcileId" class="form-control select2" @(ddlQbicleIdTask==null || ddlQbicleIdTask.Value=="0"? "disabled": "") style="width: 100%;">
                            <option value="0">All</option>
                        </select>
                        <input type="hidden" value="@(ddlQbicleIdTask!=null?ddlQbicleIdTask.Value:"0")" id="hdfQbicleId@(tabindex)" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <label for="daterange">Date range</label>
                    <div class="input-group" style="margin-bottom: 15px;">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="txtDaterange@(tabindex)" type="text" value="@(txtDaterangeTask!=null?txtDaterangeTask.Value:"")" name="dateRange" class="form-control daterange">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <select id="ddlTags@(tabindex)" name="tags" class="form-control checkmulti" style="width: 100%; display: none" multiple>
                            @foreach (var item in lstTags)
                            {
                                <option value="@item.Id" @(sTagsTask != null && sTagsTask.Any(s => s == item.Id) ? "selected" : "") Desk-Id="@item.Desk_Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="search">Hide completed Tasks</label>
                        <div class="checkbox toggle">
                            <label>
                                <input data-toggle="toggle" data-onstyle="success" type="checkbox" id="isHide@(tabindex)" value="@(isHideInTask!=null && isHideInTask.Value!="0"?isHideInTask.Value:"0")">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-info" onclick="SearchData()">Apply</button>
            <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none" onclick="ResetSearchDataActivity(@(tabindex)); ">Clear</button>

        </div>
        break;
    case 3:
        <div class="row">
            <div class="col-xs-12">

                <div class="mydesksubnav">

                    <input id="txtSearchActivity@(tabindex)" type="text" name="SearchName" class="form-control inline" value="" placeholder="Search..." style="max-width: 250px;">

                    &nbsp;
                    <div class="dropdown inline">
                        <button class="btn btn-primary" onclick="$('.filtering').slideToggle(); $('i', this).toggleClass('fa-angle-down fa-angle-up');">
                            Filter Events &nbsp; <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none" onclick="ResetSearchDataActivity(@(tabindex))">Clear filters</button>

                </div>

            </div>
        </div>

        <div class="filtering activity-overview plain" style="margin: 0 0 30px 0; padding: 20px; display: none;">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="search">Order by</label>
                        <select id="ddlOrderby@(tabindex)" name="order" class="form-control select2" style="width: 100%;">
                            <option value="0" @(ddlOrderbyEvent != null && ddlOrderbyEvent.Value == "0" ? "selected" : "")>Date (nearest first)</option>
                            <option value="1" @(ddlOrderbyEvent != null && ddlOrderbyEvent.Value == "1" ? "selected" : "")>Date (farthest first)</option>
                            <option value="2" @(ddlOrderbyEvent != null && ddlOrderbyEvent.Value == "2" ? "selected" : "")>Name A-Z</option>
                            <option value="3" @(ddlOrderbyEvent != null && ddlOrderbyEvent.Value == "3" ? "selected" : "")>Name Z-A</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="domainId">Domain</label>
                        <select id="dllDomainId@(tabindex)" name="domainId" class="form-control select2" onchange="LoadQbicleData(3);" style="width: 100%;">
                            <option value="0" @(dllDomainIdEvent != null && dllDomainIdEvent.Value == "0" ? "selected" : "")>Show all</option>
                            @if (lstDomain != null && lstDomain.Any())
                            {
                                foreach (var item in lstDomain)
                                {
                                    <option value="@item.Id" @(dllDomainIdEvent != null && dllDomainIdEvent.Value == item.Id.ToString() ? "selected" : "")>@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="qbcileId">Qbicle</label>
                        <select id="ddlQbicle@(tabindex)" name="qbcileId" class="form-control select2" @(ddlQbicleIdEvent==null || ddlQbicleIdEvent.Value=="0"? "disabled": "") onchange="$('#hdfQbicleId@(tabindex)').val($('#ddlQbicle@(tabindex)' + ' :selected').val());" style="width: 100%;">
                            <option value="0">All</option>
                        </select>
                        <input type="hidden" value="@(ddlQbicleIdEvent!=null?ddlQbicleIdEvent.Value:"0")" id="hdfQbicleId@(tabindex)" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <label for="daterange">Date range</label>
                    <div class="input-group" style="margin-bottom: 15px;">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="txtDaterange@(tabindex)" type="text" value="@(txtDaterangeEvent!=null?txtDaterangeEvent.Value:"")" name="dateRange" class="form-control daterange">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <select id="ddlTags@(tabindex)" name="tags" class="form-control checkmulti" style="width: 100%; display: none" multiple>
                            @foreach (var item in lstTags)
                            {
                                <option value="@item.Id" @(sTagsEvent != null && sTagsEvent.Any(s => s == item.Id) ? "selected" : "") Desk-Id="@item.Desk_Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="search">Hide past Events</label>
                        <div class="checkbox toggle">
                            <label>
                                <input data-toggle="toggle" data-onstyle="success" type="checkbox" id="isHide@(tabindex)" value="@(isHideInEvent!=null && isHideInEvent.Value!="0"?isHideInEvent.Value:"0")">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-info" onclick="SearchData()">Apply</button>
            <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none"  onclick="ResetSearchDataActivity(@(tabindex)); ">Clear</button>

        </div>

        break;

    case 4:
        <div class="row">
            <div class="col-xs-12">

                <div class="mydesksubnav">

                    <input id="txtSearchActivity@(tabindex)" type="text" name="SearchName" class="form-control inline" value="" placeholder="Search..." style="max-width: 250px;">

                    &nbsp;
                    <div class="dropdown inline">
                        <button class="btn btn-primary" onclick="$('.filtering').slideToggle(); $('i', this).toggleClass('fa-angle-down fa-angle-up');">
                            Filter Media &nbsp; <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none"  onclick="ResetSearchDataActivity(@(tabindex))">Clear filters</button>

                </div>

            </div>
        </div>

        <div class="filtering activity-overview plain" style="margin: 0 0 30px 0; padding: 20px; display: none;">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="order">Order by</label>
                        <select id="ddlOrderby@(tabindex)" name="order" class="form-control select2" style="width: 100%;">
                            <option value="2" @(ddlOrderbyMedia != null && ddlOrderbyMedia.Value == "2" ? "selected" : "")>Name A-Z</option>
                            <option value="3" @(ddlOrderbyMedia != null && ddlOrderbyMedia.Value == "3" ? "selected" : "")>Name Z-A</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="domainId">Domain</label>
                        <select id="dllDomainId@(tabindex)" name="domainId" class="form-control select2" onchange="LoadQbicleData(4);" style="width: 100%;">
                            <option value="0" @(dllDomainIdMedia != null && dllDomainIdMedia.Value == "0" ? "selected" : "")>Show all</option>
                            @if (lstDomain != null && lstDomain.Any())
                            {
                                foreach (var item in lstDomain)
                                {
                                    <option value="@item.Id" @(dllDomainIdMedia != null && dllDomainIdMedia.Value == item.Id.ToString() ? "selected" : "")>@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="qbcileId">Qbicle</label>
                        <select id="ddlQbicle@(tabindex)" name="qbcileId" class="form-control select2" @(ddlQbicleIdMedia==null || ddlQbicleIdMedia.Value=="0"? "disabled": "") onchange="$('#hdfQbicleId@(tabindex)').val($('#ddlQbicle@(tabindex)' + ' :selected').val());" style="width: 100%;">
                            <option value="0">All</option>
                        </select>
                        <input type="hidden" value="@(ddlQbicleIdMedia!=null?ddlQbicleIdMedia.Value:"0")" id="hdfQbicleId@(tabindex)" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <label for="daterange">Date range</label>
                    <div class="input-group" style="margin-bottom: 15px;">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="txtDaterange@(tabindex)" type="text" value="@(txtDaterangeMedia!=null?txtDaterangeMedia.Value:"")" name="dateRange" class="form-control daterange">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <select id="ddlTags@(tabindex)" name="tags" class="form-control checkmulti" style="width: 100%; display: none" multiple>
                            @foreach (var item in lstTags)
                            {
                                <option value="@item.Id" @(sTagsMedia != null && sTagsMedia.Any(s => s == item.Id) ? "selected" : "") Desk-Id="@item.Desk_Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <button class="btn btn-info" onclick="SearchData()">Apply</button>
            <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none" onclick="ResetSearchDataActivity(@(tabindex));">Clear</button>

        </div>
        break;
    case 5:
        <div class="row">
            <div class="col-xs-12">

                <div class="mydesksubnav">

                    <input id="txtSearchActivity@(tabindex)" type="text" name="SearchName" class="form-control inline" value="" placeholder="Search..." style="max-width: 250px;">

                    &nbsp;
                    <div class="dropdown inline">
                        <button class="btn btn-primary" onclick="$('.filtering').slideToggle(); $('i', this).toggleClass('fa-angle-down fa-angle-up');">
                            Filter Links &nbsp; <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none" onclick="ResetSearchDataActivity(@(tabindex))">Clear filters</button>

                </div>

            </div>
        </div>

        <div class="filtering activity-overview plain" style="margin: 0 0 30px 0; padding: 20px; display: none;">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="order">Order by</label>
                        <select id="ddlOrderby@(tabindex)" name="order" class="form-control select2" style="width: 100%;">
                            <option value="2" @(ddlOrderbyLink != null && ddlOrderbyLink.Value == "2" ? "selected" : "")>Name A-Z</option>
                            <option value="3" @(ddlOrderbyLink != null && ddlOrderbyLink.Value == "3" ? "selected" : "")>Name Z-A</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="domainId">Domain</label>
                        <select id="dllDomainId@(tabindex)" name="domainId" class="form-control select2" onchange="LoadQbicleData(5);" style="width: 100%;">
                            <option value="0" @(dllDomainIdLink != null && dllDomainIdLink.Value == "0" ? "selected" : "")>Show all</option>
                            @if (lstDomain != null && lstDomain.Any())
                            {
                                foreach (var item in lstDomain)
                                {
                                    <option value="@item.Id" @(dllDomainIdLink != null && dllDomainIdLink.Value == item.Id.ToString() ? "selected" : "")>@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="qbcileId">Qbicle</label>
                        <select id="ddlQbicle@(tabindex)" name="qbcileId" class="form-control select2" @(ddlQbicleIdLink==null || ddlQbicleIdLink.Value=="0"? "disabled": "") onchange="$('#hdfQbicleId@(tabindex)').val($('#ddlQbicle@(tabindex)' + ' :selected').val());" style="width: 100%;">
                            <option value="0">All</option>
                        </select>
                        <input type="hidden" value="@(ddlQbicleIdLink!=null?ddlQbicleIdLink.Value:"0")" id="hdfQbicleId@(tabindex)" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <label for="daterange">Date range</label>
                    <div class="input-group" style="margin-bottom: 15px;">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="txtDaterange@(tabindex)" type="text" value="@(txtDaterangeLink!=null?txtDaterangeLink.Value:"")" name="dateRange" class="form-control daterange">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <select id="ddlTags@(tabindex)" name="tags" class="form-control checkmulti" style="width: 100%; display: none" multiple>
                            @foreach (var item in lstTags)
                            {
                                <option value="@item.Id" @(sTagsLink != null && sTagsLink.Any(s => s == item.Id) ? "selected" : "") Desk-Id="@item.Desk_Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <button class="btn btn-info" onclick="SearchData()">Apply</button>
            <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none" onclick="ResetSearchDataActivity(@(tabindex));">Clear</button>

        </div>
        break;
    case 6:
        <div class="row">
            <div class="col-xs-12">

                <div class="mydesksubnav">

                    <input id="txtSearchActivity@(tabindex)" type="text" name="SearchName" class="form-control inline" value="" placeholder="Search..." style="max-width: 250px;">

                    &nbsp;
                    <div class="dropdown inline">
                        <button class="btn btn-primary" onclick="$('.filtering').slideToggle(); $('i', this).toggleClass('fa-angle-down fa-angle-up');">
                            Filter Processes &nbsp; <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none" onclick="ResetSearchDataActivity(@(tabindex))">Clear filters</button>

                </div>

            </div>
        </div>

        <div class="filtering activity-overview plain" style="margin: 0 0 30px 0; padding: 20px; display: none;">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="order">Order by</label>
                        <select id="ddlOrderby@(tabindex)" name="order" class="form-control select2" style="width: 100%;">
                            <option value="0" @(ddlOrderbyProcess != null && ddlOrderbyProcess.Value == "0" ? "selected" : "")>Date (latest first)</option>
                            <option value="1" @(ddlOrderbyProcess != null && ddlOrderbyProcess.Value == "1" ? "selected" : "")>Date (oldest first)</option>
                            <option value="2" @(ddlOrderbyProcess != null && ddlOrderbyProcess.Value == "2" ? "selected" : "")>Name A-Z</option>
                            <option value="3" @(ddlOrderbyProcess != null && ddlOrderbyProcess.Value == "3" ? "selected" : "")>Name Z-A</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="domainId">Domain</label>
                        <select id="dllDomainId@(tabindex)" name="domainId" class="form-control select2" onchange="LoadQbicleData(6);" style="width: 100%;">
                            <option value="0" @(dllDomainIdProcess != null && dllDomainIdProcess.Value == "0" ? "selected" : "")>Show all</option>
                            @if (lstDomain != null && lstDomain.Any())
                            {
                                foreach (var item in lstDomain)
                                {
                                    <option value="@item.Id" @(dllDomainIdProcess != null && dllDomainIdProcess.Value == item.Id.ToString() ? "selected" : "")>@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="qbcileId">Qbicle</label>
                        <select id="ddlQbicle@(tabindex)" name="qbcileId" class="form-control select2" @(ddlQbicleIdProcess==null || ddlQbicleIdProcess.Value=="0"? "disabled": "") onchange="$('#hdfQbicleId@(tabindex)').val($('#ddlQbicle@(tabindex)' + ' :selected').val());" style="width: 100%;">
                            <option value="0">All</option>
                        </select>
                        <input type="hidden" value="@(ddlQbicleIdProcess!=null?ddlQbicleIdProcess.Value:"0")" id="hdfQbicleId@(tabindex)" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <label for="daterange">Date range</label>
                    <div class="input-group" style="margin-bottom: 15px;">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="txtDaterange@(tabindex)" type="text" value="@(txtDaterangeProcess!=null?txtDaterangeProcess.Value:"")" name="dateRange" class="form-control daterange">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <select id="ddlTags@(tabindex)" name="tags" class="form-control checkmulti" style="width: 100%; display: none" multiple>
                            @foreach (var item in lstTags)
                            {
                                <option value="@item.Id" @(sTagsProcess != null && sTagsProcess.Any(s => s == item.Id) ? "selected" : "") Desk-Id="@item.Desk_Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <button class="btn btn-info" onclick="SearchData()">Apply</button>
            <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none" onclick="ResetSearchDataActivity(@(tabindex));">Clear</button>

        </div>
        break;
    case 7:
        <div class="row">
            <div class="col-xs-12">

                <div class="mydesksubnav">

                    <input id="txtSearchActivity@(tabindex)" type="text" name="SearchName" class="form-control inline" value="" placeholder="Search..." style="max-width: 250px;">

                    &nbsp;
                    <div class="dropdown inline">
                        <button class="btn btn-primary" onclick="$('.filtering').slideToggle(); $('i', this).toggleClass('fa-angle-down fa-angle-up');">
                            Filter Discussions &nbsp; <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none" onclick="ResetSearchDataActivity(@(tabindex))">Clear filters</button>

                </div>

            </div>
        </div>

        <div class="filtering activity-overview plain" style="margin: 0 0 30px 0; padding: 20px; display: none;">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="order">Order by</label>
                        <select id="ddlOrderby@(tabindex)" name="order" class="form-control select2" style="width: 100%;">
                            <option value="2" @(ddlOrderbyDiscussion != null && ddlOrderbyDiscussion.Value == "2" ? "selected" : "")>Name A-Z</option>
                            <option value="3" @(ddlOrderbyDiscussion != null && ddlOrderbyDiscussion.Value == "3" ? "selected" : "")>Name Z-A</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="domainId">Domain</label>
                        <select id="dllDomainId@(tabindex)" name="domainId" class="form-control select2" onchange="LoadQbicleData(7);" style="width: 100%;">
                            <option value="0" @(dllDomainIdDiscussion != null && dllDomainIdDiscussion.Value == "0" ? "selected" : "")>Show all</option>
                            @if (lstDomain != null && lstDomain.Any())
                            {
                                foreach (var item in lstDomain)
                                {
                                    <option value="@item.Id" @(dllDomainIdDiscussion != null && dllDomainIdDiscussion.Value == item.Id.ToString() ? "selected" : "")>@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="qbcileId">Qbicle</label>
                        <select id="ddlQbicle@(tabindex)" name="qbcileId" class="form-control select2" @(ddlQbicleIdDiscussion==null || ddlQbicleIdDiscussion.Value=="0"? "disabled": "") onchange="$('#hdfQbicleId@(tabindex)').val($('#ddlQbicle@(tabindex)' + ' :selected').val());" style="width: 100%;">
                            <option value="0">All</option>
                        </select>
                        <input type="hidden" value="@(ddlQbicleIdDiscussion!=null?ddlQbicleIdDiscussion.Value:"0")" id="hdfQbicleId@(tabindex)" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <label for="daterange">Date range</label>
                    <div class="input-group" style="margin-bottom: 15px;">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="txtDaterange@(tabindex)" type="text" value="@(txtDaterangeDiscussion!=null?txtDaterangeDiscussion.Value:"")" name="dateRange" class="form-control daterange">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <select id="ddlTags@(tabindex)" name="tags" class="form-control checkmulti" style="width: 100%; display: none" multiple>
                            @foreach (var item in lstTags)
                            {
                                <option value="@item.Id" @(sTagsDiscussion != null && sTagsDiscussion.Any(s => s == item.Id) ? "selected" : "") Desk-Id="@item.Desk_Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="search">Hide closed</label>
                        <div class="checkbox toggle">
                            <label>
                                <input data-toggle="toggle" data-onstyle="success" type="checkbox" id="isHide@(tabindex)" value="@(isHideInDiscussion!=null && isHideInDiscussion.Value!="0"?isHideInDiscussion.Value: "0")">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-info" onclick="SearchData()">Apply</button>
            <button class="btn btn-danger btnRemoveApplyfilters_@(tabindex)" style="display: none" onclick="ResetSearchDataActivity(@(tabindex)); ">Clear</button>

        </div>
        break;
}