@using Qbicles.Models;
@using Microsoft.AspNet.Identity.Owin;
@using Qbicles.BusinessRules;
@{
    var currentUserId = (string)ViewBag.CurrentUserId;
    var api = (string)ViewBag.DocRetrievalUrl;
    var currentDomain = (QbicleDomain)ViewBag.CurrentDomain;
    var cubeCurrentUserId = (string)ViewBag.CurrentUserId;
    var topics = (List<string>)ViewBag.Topics;
}

<div class="modal fade left" id="filter-qbicles" role="dialog" aria-labelledby="filter-qbicles">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Filters</h5>
            </div>
            <div class="modal-body">

                <div class="well custom">
                    <div class="avatarpickermulti">
                        <div class="form-group">
                            <label for="assignee">Limit to specific people</label>
                            <select id="filter-people" name="assignee" class="form-control select2avatar" multiple style="width: 100%;">
                                <option value=""></option>
                                @if (currentDomain != null)
                                {
                                    foreach (var item in currentDomain.Users)
                                    {
                                        <option value="@item.Id" LogoUri="@item.ProfilePic" api="@api">@item.UserName</option>
                                    }
                                }
                              
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="types">Limit to topic(s)</label>
                        <select id="filter-topics" name="types" class="form-control select2" style="width: 100%;" multiple>
                            @foreach (var topic in topics)
                            {
                                <option value="@topic" >@topic</option>
                            }
                        </select>
                    </div>

                    <br />

                    <div class="checkbox toggle">
                        <label>
                            <input data-toggle="toggle" id="checkOpen" data-onstyle="success" type="checkbox" checked>
                            Show open Qbicles
                        </label>
                    </div>

                    <div class="checkbox toggle">
                        <label>
                            <input data-toggle="toggle" id="checkClosed" data-onstyle="success" type="checkbox">
                            Show closed Qbicles
                        </label>
                    </div>
                </div>

                <button class="btn btn-info" data-dismiss="modal" onclick="ApplySearch()">Apply</button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="RemoveFilter()">Reset</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->