@using Qbicles.Models;
@model TaskFormDefinitionRef

@{
    var definition = Model.FormBuilder ?? Model.FormDefinition.Definition;
    var css = ViewBag.css;
    var close = ViewBag.closed;
}
<div id="formTab-@Model.FormDefinition.Id" class="tab-pane fade in @css" style="background: #fff; border: 1px solid #ddd; border-top: 0; padding: 20px 25px 15px 25px;">
    <div class="row">
        <div class="well">
            <form id="formId-@Model.FormDefinition.Id" class="fb-render-@Model.FormDefinition.Id"></form>
        </div>

        <button id="btnSaveForm-@Model.FormDefinition.Id" class="btn btn-success pull-left" type="button"
                onclick="saveTaskForm(@Model.FormDefinition.Id,'@definition')">
            <i class="fa fa-save"></i>&nbsp; Save Form @Model.FormDefinition.Title
        </button>

        <div id="success-notify" class="activity-overview successful animated fadeInDown" style="display: none;">
            <p><i class="fa fa-check green"></i> &nbsp; Your form was successfully saved!</p>
        </div>

    </div>

</div>



<script>
    jQuery(function ($) {

        var formbuilder =  @Html.Raw(definition);
        if (formbuilder.length > 0) {
            $('.fb-render-'+ @Model.FormDefinition.Id).formRender({
                dataType: 'json',
                formData: formbuilder
            });
            // disable form if task closed
            if('@close' !='False'){
                $('.fb-render '+ @Model.FormDefinition.Id+':input').attr('disabled', true);
                $('#btnSaveForm-'+ @Model.FormDefinition.Id).attr('disabled', true);
            }
        }
    })
</script>