@using Qbicles.BusinessRules;
@using Qbicles.Models;
@model QbicleLink
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">

            <div class="newlabels activity-overview plain company-overview welcome-info" style="text-align: left !important; flex: none; margin: 0 !important; padding: 0 !important;">

                <ul class="breadcrumb unintrusive" style="margin-top: 0;">
                    <li><a href="#">@Model.Qbicle.Domain.Name</a></li>
                    <li><a href="#">@Model.Qbicle.Name</a></li>
                </ul>

                <h1 style="line-height: 1.2;">@Model.Name</h1>

                @if (Model.Folders != null && Model.Folders.Any())
                {
                    foreach (var tag in Model.Folders)
                    {
                        <span class="label label-lg label-info tag_@tag.Id">#@tag.Name</span>
                    }

                }

                <div class="clearfix"></div>
                <br /><br />

                <p style="color: rgba(0, 0, 0, 0.6); font-weight: 400;">@Model.Description</p>

                <br /><br />

                <div class="row">
                    <div class="col-xs-12">
                        <label>URL</label>
                        <p><a href="@Model.URL" target="_blank">@Model.URL</a></p>
                    </div>
                </div>

                <br /><br />

            </div>



            <a href="javascript:void(0);" class="btn btn-info" onclick="ShowLinkPage('@Model.Key', false)"><i class="fa fa-eye"></i> &nbsp; Manage in Qbicle</a>
            <button class="btn btn-primary" data-dismiss="modal">Close</button>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->