@using Qbicles.Models;
@using Qbicles.BusinessRules;
@model List<QbicleMedia>
@{
    var dateFormat = (string)ViewBag.CurrentDateFormat;
}

@foreach (var item in Model)
{
    try
    {
        if (item.FileType != null)
        {
            <div class="col">
                <div class="media-folder-item activity-overview task">
                    <a href="javascript:ShowMediaPage('@item.Key',false);">
                        <div class="preview" 
                             style="background-image: url('@Utility.CheckImgPath(item.FileType, item.VersionedFiles != null ? item.VersionedFiles.Where(e => !e.IsDeleted)
.OrderByDescending(f => f.UploadedDate).FirstOrDefault() : null)@(item.FileType.Type == "Image File" ? "&size=M" : "")');">
                        </div>
                    </a>
                    <div class="meta_desc">
                        <h5>@item.Name</h5>
                        <small>@Utility.GetFileTypeDescription(item.FileType.Extension) &nbsp; | &nbsp; Updated @item.TimeLineDate.ToString(dateFormat.Replace("/", ".") + " hh:mmtt").ToLower()</small>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#move-media" onclick="QbicleLoadMoveMediaFolders(@item.MediaFolder.Id,'@item.Key')" class="btn btn-primary move"><i class="fa fa-exchange"></i> &nbsp; Move</a>
                </div>
            </div>
        }
    }
    catch (Exception)
    {

    }

}

