@using Qbicles.BusinessRules;
@using Qbicles.Models;
@model QbicleMedia
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var videoApi = ViewBag.VideoRetrievalUrl;
    var file = Model.VersionedFiles.OrderByDescending(v => v.Id).First();
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">

            <div class="newlabels activity-overview plain company-overview welcome-info" style="text-align: left !important; flex: none; margin: 0 !important; padding: 0 !important;">

                <ul class="breadcrumb unintrusive" style="margin-top: 0;">
                    <li><a href="#">@Model.Qbicle.Domain.Name</a></li>
                    <li><a href="#">@Model.Qbicle.Name</a></li>
                </ul>

                <h1 style="line-height: 1.2;">@Model.Name</h1>

                @if (Model.Folders != null && Model.Folders.Any())
                {
                    foreach (var tag in Model.Folders)
                    {
                        <span class="label label-lg label-info tag_@tag.Id">#@tag.Name</span>
                    }

                }

                <div class="clearfix"></div>
                <br /><br />
                @if (file.FileType.Type.Equals("Image File", StringComparison.OrdinalIgnoreCase))
                {
                    <img src="@(api + file.Uri + "&size=M")" class="img-responsive" style="margin-bottom: 30px;">
                }
                else if (file.FileType.Type.Equals("Video File", StringComparison.OrdinalIgnoreCase))
                {
                    <video width="640" height="320" controls="" id="embed" style="display: inline-block;" class="fancybox-video">
                        <source src="@string.Format(videoApi,file.Uri,"mp4")" type="video/mp4">
                        <source src="@string.Format(videoApi,file.Uri,"webm")" type="video/webm">
                        <source src="@string.Format(videoApi,file.Uri,"ogv")" type="video/ogv">
                    </video>
                }
                <p style="color: rgba(0, 0, 0, 0.6); font-weight: 400;">@Model.Description</p>

                <br /><br />

                <div class="row">
                    <div class="col-xs-6">
                        <label>Type</label>
                        <p>@file.FileType.Type, @(file.FileSize)</p>
                    </div>
                    <div class="col-xs-6">
                        <label>Versions</label>
                        <p>@Model.VersionedFiles.Count()</p>
                    </div>
                </div>

                <br /><br />

            </div>

            <a href="javascript:void(0);" class="btn btn-info" onclick="ShowMediaPage('@Model.Key',false)"><i class="fa fa-eye"></i> &nbsp; Manage in Qbicle</a>
            <button class="btn btn-primary" data-dismiss="modal">Close</button>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->