@using Qbicles.BusinessRules;
@using Qbicles.Models;

@model List<MediaFolder>
@{ 
    var folderId = (int)ViewBag.FolderId;
}
<ul id="qbicle-media-folder" class="nav nav-pills folders" style="padding-top: 0;">
    @{
        var css = "active"; var icon = "fa-folder";
        foreach (var folder in Model)
        {
            css = ""; icon = "fa-folder";
            if (folder.Id == folderId)
            {
                css = "active";
                icon = "fa-folder-open";

            }
            <li id="folder-li-@folder.Id" class="@css">
                <a href="#" onclick="ChangeIconFolder(this);QbicleLoadMediasByFolder(@folder.Id);" data-toggle="tab">
                    <i class="folder fa @icon"></i> &nbsp;<span id="folder-name-@folder.Id">@folder.Name</span>
                    <button onclick="QbicleEditMediaFolder(@folder.Id, '@folder.Name');" class="btn btn-transparent" data-toggle="modal" data-target="#manage-folder"><i class="fa fa-ellipsis-h"></i></button>
                </a>
            </li>
        }
    }

    <li><a href="#create-folder" onclick="QbicleResetMediaFormFolder();" data-toggle="modal"><i class="folder fa fa-plus" style="color: #5cb85c;"></i> &nbsp; New folder</a></li>
</ul>
