@using Qbicles.BusinessRules;
@using Qbicles.Models;
@model UserCustom
@{
    var api = (string)ViewBag.DocRetrievalUrl;

}
@if (Model != null)
{
    //app_community_vendor_profile.php
    <a id="lnkUserProfile" href="/Community/UserProfilePage?uId=@Model.Id">
        <div class="contact-avatar-profile" style="background-image: url('@(string.IsNullOrEmpty(Model.ProfilePic)?"../Content/DesignStyle/img/icon_contact.png": api+Model.ProfilePic+"&size=T")');">&nbsp;</div>

        <h2>@((string.IsNullOrEmpty(Model.Forename) || string.IsNullOrEmpty(Model.Surname)) ? Model.UserName : Model.Forename + " " + Model.Surname)</h2>
        <p>@Model.Profile</p>
    </a>

    <ul class="user-meta" style="margin: 0 auto;">
        <li style="max-width:100%;">
            <h6>Tel</h6>
            <p>@(string.IsNullOrEmpty(Model.PhoneNumber) ? "Not provided" : Model.PhoneNumber)</p>
        </li>
    </ul>
    <ul class="user-meta" style="margin: 0 auto;">
        <li style="max-width:100%;">
            <h6>Email</h6>
            <p><a href="mailto:@Model.Email">@Model.Email</a></p>
        </li>
    </ul>

}