@using Qbicles.BusinessRules;
@using Qbicles.Models;
@model List<UserCustom>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var lsUser = Model;
}
@if (lsUser != null && lsUser.Any())
{
    lsUser = lsUser.OrderBy(o => o.Surname).ToList();
    var groupName = "";
    var i = 0;
    foreach (var item in lsUser)
    {
        if (groupName != item.Surname.Substring(0, 1))
        {
            groupName = (string.IsNullOrEmpty(item.Forename) || string.IsNullOrEmpty(item.Surname)) ? item.UserName.Substring(0, 1) : item.Surname.Substring(0, 1);
            if (i == 0)
            {
                <li class="letters" style="padding-top: 0;">@groupName</li>
            }
            else
            {
                <li class="letters">@groupName</li>
            }
        }

        <li>
            <a href="#" onclick="UserDetail('@item.Id','@((string.IsNullOrEmpty(item.Forename) || string.IsNullOrEmpty(item.Surname)) ? item.UserName : item.Forename + " " + item.Surname)')">
                <div class="contact-avatar">
                    <div style="background-image: url('@(string.IsNullOrEmpty(item.ProfilePic)?"../Content/DesignStyle/img/icon_contact.png": api+item.ProfilePic+"&size=T")');">&nbsp;</div>
                </div>
                <div class="contact-info">
                    <h5>@((string.IsNullOrEmpty(item.Forename) || string.IsNullOrEmpty(item.Surname)) ? item.UserName : item.Forename + " " + item.Surname)</h5>
                 
                </div>
            </a>
        </li>
        i++;
    }
}