@using Qbicles.BusinessRules;
@using Qbicles.Models;
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var currentQbicleId = (int)ViewBag.CurrentQbicleId;
    <!--Alert data-->
    var alertType = HelperClass.EnumModel.GetEnumValuesAndDescriptions<QbicleAlert.AlertTypeEnum>();
    var alertPrioritys = HelperClass.EnumModel.GetEnumValuesAndDescriptions<QbicleAlert.AlertPriorityEnum>();
    var listFileType = (List<string>)ViewBag.listFileType;
    string fileAccept = listFileType.Count() > 0 ? ("." + string.Join(",.", listFileType)) : "";
    var userCurrentQbicleAssign = ViewBag.UserCurrentQbicleAssing != null ? (List<ApplicationUser>)ViewBag.UserCurrentQbicleAssing : new List<ApplicationUser>();
}
@*Create Alert Modal*@
<div id="create-alert" class="modal fade" role="dialog" aria-labelledby="lblcreate-alert" data-focus-on="input:first" data-keyboard="true" data-backdrop="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Add an alert <span id="lbl-qbicle-selected"></span></h5>
            </div>
            <div class="modal-body">
                <div class="well">
                    <form id="form_alert_addedit" method="post" action="/Alerts/SaveAlert" enctype="multipart/form-data">
                        <input id="alertQbicleId" name="qbicleId" value="@currentQbicleId" hidden="" />
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group" id="topic-title">
                                    <label for="media-title">Topic title <span>*</span></label>
                                    <input type="text" id="alert-topic-selected" name="topic_name" required class="typeahead form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="alertName">Alert name <span>*</span></label>
                                    <input type="text" id="alertName" required name="Name" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="selectAlertType">Alert type <span>*</span></label>
                                    <select class="form-control" required name="Type" id="selectAlertType">
                                        @foreach (var type in alertType)
                                        {
                                            <option value="@type.Key">@type.Value</option>
                                        }
                                    </select>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="selectAlertPriority">Priority <span>*</span></label>
                                    <select id="selectAlertPriority" required class="form-control" name="Priority">
                                        @foreach (var pry in alertPrioritys)
                                        {
                                            <option value="@pry.Key">@pry.Value</option>
                                        }
                                    </select>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="selectLinkAlertTo">Link alert to <span>*</span></label>
                                    <select id="selectLinkAlertTo" class="select2" required data-placeholder="..." name="LinkAlertTo[]" multiple style="width:100%;">
                                        @foreach (var u in userCurrentQbicleAssign)
                                        {
                                            <option value="@u.Id">@HelperClass.GetFullNameOfUser(u)</option>
                                        }
                                    </select>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="txtcontent">Alert content <span>*</span></label>
                                    <textarea id="txtcontent" required name="Content" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="falertAttachments">Attach a file</label>
                                    <input type="file" id="falertAttachments" accept="@fileAccept" name="alertAttachments" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <button class="btn btn-success" type="button" onclick="SaveAlert()"><i class="fa fa-check"></i>&nbsp; Add alert</button>
                <a href="javascript:void(0);" class="btn btn-danger" onclick="ClearAlertInputModalAddEdit()" data-dismiss="modal">Cancel</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--End modal create Alert-->