@using Qbicles.Models
@using Qbicles.BusinessRules
@model ApplicationUser
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var currentUserId = (string)ViewBag.CurrentUserId;
    var creator = (ApplicationUser)ViewBag.Creator;
    var disId = (int)ViewBag.DiscussionId;
    var checkAdd = Model.Id != currentUserId && creator.Id == currentUserId ? true : false;
}
<a href="/Community/UserProfilePage?uId=@Model.Id">
    <div class="contact-avatar-profile" style="background-image: url('@(api+Model.ProfilePic)&size=T');">&nbsp;</div>

    <h2>@HelperClass.GetFullNameOfUser(Model)</h2>
    <p>@Model.Profile</p>
</a>

<ul class="user-meta" style="margin: 0 auto;">
    <li>
        <h6>Tel</h6>
        <p>@Model.PhoneNumber</p>
    </li>
    <li>
        <h6>Email</h6>
        <p><a href="mailto:@(Model.Email)">@Model.Email</a></p>
    </li>
</ul>

<br>
<div class="row">
    <div class="col-xs-12 @(checkAdd?"col-sm-6":"col-sm-12")">
        <button class="btn btn-primary community-button" onclick="location.href='/Community/UserProfilePage?uId=@Model.Id'"><i class="fa fa-address-card"></i> &nbsp; View profile</button>
    </div>
    @if (checkAdd)
    {
        <div class="col-xs-12 col-sm-6">
            <button class="btn btn-success community-button" onclick="$(this).hide(); AddMemberDis(@disId,'@Model.Id')"><i class="fa fa-user-plus"></i> &nbsp; Add</button>
            <button id="btnAddedInviteUser" class="btn btn-success community-button added" style="display: none;"><i class="fa fa-check"></i></button>
        </div>
    }
</div>
