@using Qbicles.Models
@using Qbicles.BusinessRules
@model ApplicationUser
@{ 
    var api = (string)ViewBag.DocRetrievalUrl;
    var currentUserId= (string)ViewBag.CurrentUserId;
    var creator = (ApplicationUser)ViewBag.Creator;
    var disId =(int)ViewBag.DiscussionId;
    var checkRemove = Model.Id != currentUserId&& creator.Id== currentUserId ? true : false;
}
<a href="/Community/UserProfilePage?uId=@Model.Id">
    <div class="contact-avatar-profile" style="background-image: url('@(api+Model.ProfilePic)&size=T');">&nbsp;</div>

    <h2>@HelperClass.GetFullNameOfUser(Model)</h2>
    <p>@Model.Profile</p>
</a>

<ul class="user-meta" style="margin: 0 auto;">
    @if (!string.IsNullOrEmpty(Model.PhoneNumber))
    {
        <li>
            <h6>Tel</h6>
            <p>@Model.PhoneNumber</p>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.Email))
    {
        <li>
            <h6>Email</h6>
            <p><a href="mailto:@(Model.Email)">@Model.Email</a></p>
        </li>
    }
</ul>

<br>
<div class="row">
    <div class="col-xs-12 @(checkRemove?"col-sm-6":"col-sm-12")">
        <button class="btn btn-primary community-button" onclick="location.href='/Community/UserProfilePage?uId=@Model.Id'"><i class="fa fa-address-card"></i> &nbsp; View profile</button>
    </div>
    @if (checkRemove)
    {
        <div class="col-xs-12 col-sm-6">
            <button class="btn btn-danger community-button" onclick="RemoveMemberDis(@disId,'@Model.Id')"><i class="fa fa-remove"></i> &nbsp; Remove</button>
        </div>
    }
</div>
