@using Qbicles.Models;
@using Qbicles.BusinessRules;
@{
    var currentUserId = (string)ViewBag.CurrentUserId;
    var api = (string)ViewBag.DocRetrievalUrl;
    var currentDomain = (QbicleDomain)ViewBag.CurrentDomain;
    var cubeCurrentUserId = (string)ViewBag.CurrentUserId;
}

@model List<Qbicle>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <article id="domain-qbicle-@item.Id" class="col @(item.IsHidden ? "qb-hidden": "")">
            <span class="last-updated">Updated @item.LastUpdated.ToString("dd.MM.yyyy")</span>
            <div class="btn-group optsnew defaulted dropdown">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    @if (currentDomain.Administrators.Any(a => a.Id == cubeCurrentUserId) || item.Manager.Id == cubeCurrentUserId)
                    {
                        <li>
                            <a href="javascript:void(0)" onclick="ConfigQbicle('@item.Key')" data-target="#edit-qbicle" data-toggle="modal">
                                Edit
                            </a>
                        </li>
                    }
                    <li><a href="javascript:void(0)" onclick="ShowOrHideQbicle('@item.Key', @item.IsHidden)">@(item.IsHidden ? "Show" : "Hide")</a></li>
                </ul>
            </div>
            <a href="javascript:void(0)" onclick="QbicleSelected('@item.Key','@Enums.QbicleModule.Dashboard')">
                <div class="avatar" style="background-image: url('@(item.LogoUri == null?"/Content/DesignStyle/img/icon_qbicle_default.png":api+""+item.LogoUri+"&size=T")');">&nbsp;</div>
                <h1 style="color: #333;">@item.Name</h1>
            </a>
            <p class="qbicle-detail">@item.Description</p>
        </article>

    }

}