@using Qbicles.Models;
@{
    var currentDomain = (QbicleDomain)ViewBag.CurrentDomain;
    var currentQbicle = (Qbicle)ViewBag.currentQbicle;
    var logoUri = (string)ViewBag.LogoUri;
    //var managers = currentQbicle.Members;
    var ownedBy = currentQbicle.OwnedBy;
    string currentUserId = (string)ViewBag.CurrentUserId;
    var api = (string)ViewBag.DocRetrievalUrl;
    //if (ownedBy != null && !managers.Any(s => s.Id == ownedBy.Id))
    //{
    //    managers.Add(ownedBy);
    //}
}
<div class="modal fade left" id="edit-qbicle" role="dialog" aria-labelledby="edit-qbicle">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Edit <span class="qbicle-title">@currentQbicle.Name</span></h5>
            </div>
            <div class="modal-body">
                <div class="well custom">
                    <form id="form_qbicle_addedit" name="qbicle-creation" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label id="q-i-change">Change featured image</label>
                                    <label hidden id="q-i-pre">Featured image</label>
                                    <input id="qbicle-upload-logo" type="file" class="form-control previewimg" name="qbicleLogo" accept=".jpg,.jpeg,.png,.webp" data-target='.preview'>
                                </div>
                                <input type="hidden" id="qbicId" name="Key" value="@currentQbicle.Id.Encrypt()" />
                                <input type="hidden" id="qbicle-logo-uri" name="LogoUri" value="@currentQbicle.LogoUri" />

                                <img id="qbicleImg" class="preview img-responsive" src="@(!string.IsNullOrEmpty(logoUri)?logoUri+"&size=M":"")" alt="Current image" style="max-width: 100%; height: auto; margin-bottom: 30px;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="media-title">Title<span>*</span></label>
                                    <p hidden id="q-name"></p>
                                    <input type="text" id="qbicName" name="Name" class="form-control" value="@currentQbicle.Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="media-description">Add a description</label>
                                    <p hidden class="text-detail" id="q-des"></p>
                                    <textarea id="qbicDescription" name="Description" class="form-control" style="min-height: 80px;">@currentQbicle.Description</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="avatarpicker">
                                    <div class="form-group" style="margin: 0;">
                                        <label for="assignee">Manager</label>
                                        <select id="qbicOwnerSelect" name="managerId" class="form-control select2avatar-setting" style="width: 100%;">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="avatarpickermulti">
                                    <div class="form-group" style="margin: 0;">
                                        <label for="assignee">Members</label>
                                        <select id="qbicUserDomainSelect" name="userQbicle[]" class="form-control select2avatar-setting" data-placeholder="Optional" multiple style="width: 100%;">
                                            <option uid="" value=""></option>
                                            @foreach (var item in currentDomain.Users)
                                            {
                                                <option avatarUrl="@(api+item.ProfilePic)&size=T" value="@item.Id">@(item.Forename + " " + item.Surname)</option>
                                            }
                                        </select>
                                        <p id="loadingSettings" style="text-align: center;display:none">
                                            <img src="/Content/DesignStyle/img/loading.gif">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <a href="javascript:" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                <a href="javascript:SaveQbicleSettingsEdit();" class="btn btn-success">Confirm</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@{

    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/qbicle.settings.js"></script>

    }
    else
    {
        <script src="~/Scripts/dev/qbicle.settings.js"></script>
    }
}