@using Qbicles.BusinessRules
@using Qbicles.Models
@model QbicleEvent
@{
    ViewBag.Title = ViewBag.PageTitle;
    var eventType = (ICollection<HelperClass.EnumModel>)ViewBag.eventType;
    var currentDomainId = (int)ViewBag.CurrentDomainId;
    var currentUserId = (string)ViewBag.CurrentUserId;
    var api = (string)ViewBag.DocRetrievalUrl;
    var pageSize = HelperClass.activitiesPageSize;
    var invites = (List<QbiclePeople>)ViewBag.Invites;
    var currentInvite = invites != null ? invites.Where(s => s.User.Id == currentUserId).FirstOrDefault() : null;
    invites = invites != null ? invites.ToList() : null;
    var Comments = Model.Posts.OrderByDescending(x => x.StartedDate).Take(pageSize);
    var count_Comments = Model.Posts.Count();
    var count_Medias = Model.SubActivities.Count();
    var Relates = Model.AssociatedSet != null ? Model.AssociatedSet.Relateds : null;
    var dateFormat = (string)ViewBag.CurrentDateFormat;
    var timeZone = (string)ViewBag.CurrentTimeZone;
    var domainAdministrators = ((ApplicationUser)ViewBag.CurrentUser).DomainAdministrators;
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative;">


    <!-- Main content -->
    <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin" style="border-top: 1px solid #f1f1f1;">


        <!-- App bar -->
        <div class="mdv2-col-app" style="margin-bottom: 0;">

            <div data-spy="affix" class="contained-sidebar">

                <div class="activity-overview plain company-overview welcome-info" style="text-align: left !important; flex: none; margin: 0; padding-top: 30px; padding-bottom: 0;">

                    <div class="pull-left" style="margin-bottom: 15px;">
                        <a onclick="QbicleSelected('@Model.Qbicle.Key','Dashboard')" class="btn btn-info"><i class="fa fa-angle-up"></i> &nbsp; Qbicle</a>
                        @if (Model.StartedBy.Id == currentUserId || domainAdministrators.Any(x => x.Id == currentDomainId))
                        {
                            <a href="#create-event" data-toggle="modal" class="btn btn-warning"><i class="fa fa-pencil"></i> &nbsp; Edit</a>
                        }
                    </div>
                    <div class="clearfix"></div>

                    <br />

                    <h1 style="line-height: 1.2;">@Model.Name</h1>
                    <br />
                    <span class="label label-lg label-default">@(Model.Duration + " " + Model.DurationUnit.ToString())</span>
                    <span class="label label-lg label-primary">@Model.EventType.ToString()</span>
                    <span class="label label-lg label-success" id="going" style="@(currentInvite!=null&&currentInvite.isPresent.HasValue && !currentInvite.isPresent.Value?"display:none":"")">I'm going</span>
                    <br /><br /><br />
                    <p style="color: rgba(0, 0, 0, 0.5);">@Model.Description</p>

                    <br />

                    <div class="row">
                        <div class="col-xs-12">
                            <label>When</label>
                            <p>
                                @if (!Model.isRecurs)
                                {
                                    @Model.Start.FormatDatetimeOrdinal();
                                }
                                else
                                {
                                    //Update recurrence true
                                    var recurrence = Model.AssociatedSet != null ? Model.AssociatedSet.Recurrance : null;
                                    if (recurrence != null)
                                    {
                                        @("Recurring " + Utility.ShowRecurring(Model.AssociatedSet.Recurrance, Model.ProgrammedStart.HasValue ? Model.ProgrammedStart.Value.ToString("\"at\" h:mmtt").Replace(":00", "").ToLower() : ""))
                                    }
                                }
                            </p>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-xs-12">
                            <label>Where</label>
                            <p>@Model.Location</p>
                        </div>
                    </div>

                    <br />
                    @if (currentInvite != null)
                    {
                        <h5>Will you be attending this event?</h5>
                        <ul class="nav nav-pills nav-justified audit-choices">
                            <li class="@(currentInvite.isPresent.HasValue&&currentInvite.isPresent.Value?"active":"") att_yes"><a href="#" class="success" data-value="Yes" onclick="Attending(@currentInvite.Id,true)">Yes</a></li>
                            <li class="@(currentInvite.isPresent.HasValue&&!currentInvite.isPresent.Value?"active":"") att_no"><a href="#" class="danger" data-value="No" onclick="Attending(@currentInvite.Id,false)">No</a></li>
                        </ul>
                    }
                </div>
            </div>
        </div>
        <!-- END App bar -->
        <!-- Main area -->
        <div class="mdv2-col-dash">
            <ul class="subapps-nav" role="navigation" data-tooltip-stickto="bottom">
                <li class="active">
                    <a href="#" data-toggle="tab" data-target="#task-team" data-tooltip="Attendees">
                        <i class="fa fa-users"></i>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="tab" data-target="#event-discuss" data-tooltip="Discuss">
                        <i class="fa fa-comment-alt"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content" style="padding-bottom: 30px;">
                <!-- Team -->
                <div class="tab-pane fade in active" id="task-team">
                    <ul class="widget-contacts task-participants" style="padding: 0 15px;">
                        @if (invites != null)
                        {
                            foreach (var item in invites)
                            {
                                <li id="p_@item.Id" style="@(item.isPresent!=null&&!item.isPresent.Value?"display:none":"")">
                                    <a href="#">
                                        <div class="contact-avatar">
                                            <div style="background-image: url('@(api+item.User.ProfilePic)&size=T');">&nbsp;</div>
                                        </div>
                                        <div class="contact-info">
                                            <h5>@HelperClass.GetFullNameOfUser(item.User, currentUserId)</h5>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <!-- END Team -->
                <!-- Discuss -->
                <div class="tab-pane fade" id="event-discuss">
                    <div class="spacing" style="padding-top: 0;">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="app_subnav admintabs" style="padding-top: 0;">
                                    <li class="active"><a href="#event-comments" data-toggle="tab">Comments</a></li>
                                    <li><a href="#event-files" data-toggle="tab">Files</a></li>
                                </ul>
                            </div>
                        </div>
                        <br />
                        <div class="tab-content">
                            <!-- Comments -->
                            <div class="tab-pane fade in active" id="event-comments">
                                <div class="well custom" style="margin-bottom: 60px;">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="add-comment">Add a comment</label>
                                                <textarea id="txt-comment-event" name="addcomment" onkeyup="validateAddComment()" style="height: 80px;" class="form-control"></textarea>
                                                <label id="addcomment-error" class="error" for="addcomment" style="display: none;">Your post is longer than the 1,500 character limit. Please reduce the length, or split it across multiple posts</label>
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-success" onclick="addCommentToEvent('@Model.Key')">Submit</button>
                                </div>
                                <div id="list-comments-event">
                                    @if (Comments != null && count_Comments > 0)
                                    {
                                        foreach (var item in Comments)
                                        {
                                            <!-- General post -->
                                            <article id="post-@item.Id" class="activity post">
                                                <div class="activity-avatar" style="background-image: url('@(api+item.CreatedBy.ProfilePic)&size=T');"></div>
                                                <div class="activity-detail">
                                                    <div class="activity-meta">
                                                        <h4>@HelperClass.GetFullNameOfUser(item.CreatedBy, currentUserId)</h4>
                                                        <small>@item.StartedDate.ConvertTimeFromUtc(timeZone).ToString(dateFormat + ", hh:mmtt")</small>
                                                    </div>

                                                    <div class="activity-overview media-comment">
                                                        <p>@Html.Raw(item.Message.Replace(Environment.NewLine, "<br/>"))</p>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </article>
                                            <!-- END General post -->
                                        }
                                    }
                                </div>
                                @if (count_Comments > pageSize)
                                {
                                    <button id="btnLoadPosts" onclick="LoadMorePosts('@Model.Key', @pageSize, 'list-comments-event')" class="btn btn-info trigger_load">Load older posts</button>
                                }
                            </div>
                            <!-- END Comments -->
                            <!-- Files -->
                            <div class="tab-pane fade" id="event-files">
                                @if (Model.ClosedBy == null)
                                {
                                    <button class="btn btn-success community-button" data-toggle="modal" data-target="#create-media" style="max-width: 230px; margin: 15px 0 30px 0;">
                                        <i class="fa fa-upload"></i> &nbsp; Add a file
                                    </button>
                                }
                                <div id="list-medias">
                                    @if (count_Medias > 0)
                                    {
                                        foreach (var item in Model.SubActivities.OrderByDescending(x => x.Id).Take(pageSize))
                                        {
                                            var media = (QbicleMedia)item;
                                            var createdByName = media.StartedBy.Id == currentUserId ? "Me" : HelperClass.GetFullNameOfUser(media.StartedBy);
                                            var createdDate = media.StartedDate.Date == DateTime.UtcNow.Date ? "Today, " + media.StartedDate.ToString("hh:mmtt") : media.StartedDate.ToString(dateFormat + " hh:mmtt");
                                            var lastUpdateFile = "";
                                            var mediaLastupdate = media.VersionedFiles.Where(e => !e.IsDeleted).OrderByDescending(x => x.UploadedDate).FirstOrDefault() ?? null;
                                            if (mediaLastupdate != null)
                                            {
                                                lastUpdateFile = mediaLastupdate?.UploadedDate.Date == DateTime.UtcNow.Date ? "Today, " + mediaLastupdate.UploadedDate.ToString("hh:mmtt") : mediaLastupdate.UploadedDate.ToString(dateFormat + " hh:mm tt");
                                            } //Media post
                                            <!-- Media post -->
                                            <article class="activity media">
                                                <div class="activity-avatar" style="background-image: url('@api@(media.StartedBy.ProfilePic)&size=T');"></div>
                                                <div class="activity-detail" style="width: 100%; max-width: 100%;">
                                                    <div class="activity-meta">
                                                        <h4>@createdByName</h4>
                                                        <small>@createdDate</small>
                                                        <br class="visible-xs">
                                                    </div>

                                                    <div class="activity-overview media">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-5 col-lg-4">
                                                                <a href="javascript:void(0)" onclick="ShowMediaPage('@media.Key')">
                                                                    @if (media.FileType.Type == "Image File")
                                                                    {
                                                                        <img id="media-@item.Id" class="img-responsive" src='@api@(mediaLastupdate.Uri)&size=M' />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="@media.FileType.ImgPath" class="img-responsive">
                                                                    }
                                                                </a>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-7 col-lg-8 description" style="padding-top: 0;">
                                                                <h5>@media.Name</h5>
                                                                <p>
                                                                    @media.Description
                                                                </p>
                                                                <small>@Utility.GetFileTypeDescription(media.FileType.Extension) | Update @lastUpdateFile</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </article>
                                            <!-- END Media post -->
                                        }
                                    }
                                    @if (count_Medias > pageSize)
                                    {
                                        <button id="btnLoadMedias" onclick="LoadMoreMedias(@Model.Id, @pageSize, 'list-medias')" class="btn btn-info trigger_load">Load older medias</button>
                                    }
                                </div>
                            </div>
                            <!-- END Files -->
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <!-- Right side -->
        @if (Relates != null && Relates.Count > 0)
        {
            <div class="mdv2-col-user">

                <h5 style="margin: 0; padding: 0 0 20px 0;">Related activities</h5>
                @foreach (var item in Relates)
                {
                    if (item.Activity.ActivityType == QbicleActivity.ActivityTypeEnum.TaskActivity)
                    {
                        var activity = item.Activity as QbicleTask;
                        var domain = activity.Qbicle.Domain;
                        var qbicle = activity.Qbicle;
                        var stepPercent = activity.QSteps.Where(s => s.StepInstance.Any(st => st.isComplete)).Sum(s => s.Weight);
                        <div class="mdv2-activity" style="height: auto; margin-bottom: 15px;">
                            <span class="status green"></span>
                            <ul class="breadcrumb" style="margin: 0px">
                                <li><a href="#" onclick="DomainSelected('@domain.Key','')">@domain.Name</a></li>
                                <li><a href="#" onclick="QbicleSelected('@qbicle.Key', 'Dashboard')">@qbicle.Name</a></li>
                                <li>Task</li>
                            </ul>
                            <a href="javascript:ShowTaskPage('@activity.Key', false);">
                                <h2>@activity.Name</h2>
                            </a>
                            <p>@activity.Description</p>
                            @if (!activity.isComplete && activity.ActualStart != null && activity.ActivityType == QbicleActivity.ActivityTypeEnum.TaskActivity)
                            {
                                <div class="mdv2-progress">
                                    <p class="countdown">...</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: @stepPercent%" aria-valuenow="@stepPercent" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <small>@(stepPercent)%</small>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        var activity = item.Activity as QbicleEvent;
                        var domain = activity.Qbicle.Domain;
                        var qbicle = activity.Qbicle;
                        <div class="mdv2-activity" style="height: auto; margin-bottom: 15px;">
                            <span class="status green"></span>
                            <ul class="breadcrumb">
                                <li><a href="#" onclick="DomainSelected('@domain.Key','')">@domain.Name</a></li>
                                <li><a href="#" onclick="QbicleSelected('@qbicle.Key', 'Dashboard')">@qbicle.Name</a></li>
                                <li>Event</li>
                            </ul>
                            <a href="javascript:ShowTaskPage('@activity.Key', false);">
                                <h2>@activity.Name</h2>
                            </a>
                            <p>@activity.Description</p>
                            <h5 style="font-size: 10px;"><i class="fa fa-calendar"></i> &nbsp; @activity.Start.ToString(dateFormat + " HH:mm") in @activity.Location</h5>
                        </div>
                    }
                }
            </div>
        }


    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->
@if (Model.StartedBy.Id == currentUserId || domainAdministrators.Any(x => x.Id == @currentDomainId))
{
    @Html.Partial("_ModalEvent", Model)
    //Html.RenderAction("GenerateModalTask", "Qbicles", new { taskId = Model.Id });
    Html.RenderAction("GenerateModalMedia", "Qbicles");
}
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/qbicle.event.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/qbicle.event.min.js"></script>
    }
}
