@using Qbicles.Models.Trader;
@{ 
    var lstLocations = (List<TraderLocation>)ViewBag.Locations;
}

<div class="row" style="margin-bottom: 30px;">
        <div class="col-xs-12">
            <ul class="nav nav-pills traderv2" style="padding-top: 0;">
                <li class="active"><a href="#bk-manufacturing" data-toggle="tab">Manufacturing</a></li>
                <li><a data-toggle="tab" href="#bk-payment">Payment</a></li>
                <li><a data-toggle="tab" href="#bk-invent">Purchase (inventory)</a></li>
                <li><a data-toggle="tab" href="#bk-noninv">Purchase (non-inventory)</a></li>
                <li><a data-toggle="tab" href="#bk-sinvoice">Sale invoice</a></li>
                <li><a data-toggle="tab" href="#bk-stransfer">Sale transfer</a></li>
            </ul>
        </div>
    </div>


    <div class="tab-content">


        <!-- Manufacturing -->
        <div class="tab-pane fade in active" id="bk-manufacturing">

            <div class="well custom" style="padding-bottom: 5px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="search">Search</label>
                            <input name="textsearch" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="loc">Location</label>
                            <select name="loc" class="form-control select2" style="width: 100%;">
                                <option value="0">Show all</option>
                                @foreach(var locationItem in lstLocations)
                                {
                                    <option value="@locationItem.Id">@locationItem.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <label for="drange">Date range</label><br />
                        <div class="input-group" style="margin-bottom: 15px;">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input name="daterange" type="text" class="form-control daterange">
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <table class="datatable table-striped table-hover" id="bk-manufacturing-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Created by</th>
                        <th>Journal entry</th>
                        <th>Job</th>
                        <th>Sale</th>
                        <th>Transfer in</th>
                        <th>Transfer out</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
        <!-- END Manufacturing -->
        <!-- Payment -->
        <div class="tab-pane fade" id="bk-payment">

            <div class="well custom" style="padding-bottom: 5px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="search">Search</label>
                            <input name="textsearch" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="loc">Location</label>
                            <select name="loc" class="form-control select2" style="width: 100%;">
                                <option value="0">Show all</option>
                                @foreach (var locationItem in lstLocations)
                                {
                                    <option value="@locationItem.Id">@locationItem.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <label for="drange">Date range</label><br />
                        <div class="input-group" style="margin-bottom: 15px;">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input name="daterange" type="text" class="form-control daterange">
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <table class="datatable table-striped table-hover" id="bk-payment-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Created by</th>
                        <th>Journal entry</th>
                        <th>Payment</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
        <!-- END Payment -->
        <!-- Purchase (inv) -->
        <div class="tab-pane fade" id="bk-invent">

            <div class="well custom" style="padding-bottom: 5px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="search">Search</label>
                            <input name="textsearch" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="loc">Location</label>
                            <select name="loc" class="form-control select2" style="width: 100%;">
                                <option value="0">Show all</option>
                                @foreach (var locationItem in lstLocations)
                                {
                                    <option value="@locationItem.Id">@locationItem.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <label for="drange">Date range</label><br />
                        <div class="input-group" style="margin-bottom: 15px;">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input name="daterange" type="text" class="form-control daterange">
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <table class="datatable table-striped table-hover" id="bk-invpurchase-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Created by</th>
                        <th>Journal entry</th>
                        <th>Purchase</th>
                        <th>Transfer</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
        <!-- END Purchase (inv) -->
        <!-- Purchase (non-inv) -->
        <div class="tab-pane fade" id="bk-noninv">

            <div class="well custom" style="padding-bottom: 5px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="search">Search</label>
                            <input name="textsearch" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="loc">Location</label>
                            <select name="loc" class="form-control select2" style="width: 100%;">
                                <option value="0">Show all</option>
                                @foreach (var locationItem in lstLocations)
                                {
                                    <option value="@locationItem.Id">@locationItem.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <label for="drange">Date range</label><br />
                        <div class="input-group" style="margin-bottom: 15px;">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input name="daterange" type="text" class="form-control daterange">
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <table class="datatable table-striped table-hover" id="bk-noninvpurchase-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Created by</th>
                        <th>Journal entry</th>
                        <th>Purchase</th>
                        <th>Bill</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
        <!-- END Purchase (non-inv) -->
        <!-- Sale invoice -->
        <div class="tab-pane fade" id="bk-sinvoice">

            <div class="well custom" style="padding-bottom: 5px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="search">Search</label>
                            <input name="textsearch" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="loc">Location</label>
                            <select name="loc" class="form-control select2" style="width: 100%;">
                                <option value="0">Show all</option>
                                @foreach (var locationItem in lstLocations)
                                {
                                    <option value="@locationItem.Id">@locationItem.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <label for="drange">Date range</label><br />
                        <div class="input-group" style="margin-bottom: 15px;">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input name="daterange" type="text" class="form-control daterange">
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <table class="datatable table-striped table-hover" id="bk-sinvoice-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Created by</th>
                        <th>Journal entry</th>
                        <th>Sale</th>
                        <th>Invoice</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
        <!-- END Sale invoice -->
        <!-- Sale transfer -->
        <div class="tab-pane fade" id="bk-stransfer">

            <div class="well custom" style="padding-bottom: 5px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="search">Search</label>
                            <input name="textsearch" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="loc">Location</label>
                            <select name="loc" class="form-control select2" style="width: 100%;">
                                <option value="0">Show all</option>
                                @foreach (var locationItem in lstLocations)
                                {
                                    <option value="@locationItem.Id">@locationItem.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <label for="drange">Date range</label><br />
                        <div class="input-group" style="margin-bottom: 15px;">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input name="daterange" type="text" class="form-control daterange">
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <table class="datatable table-striped table-hover" id="bk-stransfer-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Created by</th>
                        <th>Journal entry</th>
                        <th>Transfer</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
        <!-- END Sale invoice -->


    </div>
