@using Qbicles.BusinessRules
@using Qbicles.Models
@model InventoryReportDetailModel

@{ 
    var currencySettings = (CurrencySetting)ViewBag.CurrencySettings;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body" style="padding: 0;">

            <div class="product-featured-top cover" style="background-position: center center; background-image: url('@Model.ImageUrl.ToDocumentUri()');"></div>


            <div class="product-sell">

                <h6>Inventort Report &gt; Item detail</h6>
                <h1>@Model.ItemName</h1>

                <br /><br />


                <table class="table breaklist table-striped table-hover">
                    <tbody>
                        <tr>
                            <td><strong>Barcode</strong></td>
                            <td>@Model.Barcode</td>
                        </tr>
                        <tr>
                            <td><strong>SKU</strong></td>
                            <td>@Model.SKU</td>
                        </tr>
                        <tr>
                            <td><strong>Average cost (@currencySettings.CurrencySymbol)</strong></td>
                            <td>@Model.AverageCost</td>
                        </tr>
                        <tr>
                            <td><strong>Latest cost (@currencySettings.CurrencySymbol)</strong></td>
                            <td>@Model.LatestCost</td>
                        </tr>
                        <tr>
                            <td><strong>Current inventory</strong></td>
                            <td>@Model.CurrentInventory</td>
                        </tr>
                        <tr>
                            <td><strong>Minimum inventory</strong></td>
                            <td>@Model.MinInventory</td>
                        </tr>
                        <tr>
                            <td><strong>Maximum inventory</strong></td>
                            <td>@Model.MaxInventory</td>
                        </tr>
                        <tr>
                            <td><strong>Inventory total</strong></td>
                            <td>@Model.InventoryTotal <br /><p class="summ">@Model.InventoryBasis</p></td>
                        </tr>
                        <tr>
                            <td><strong>Days to last</strong></td>
                            <td><strong><span class="red">@Model.DayToLast day(s)</span></strong> <br /><p class="summ">@Model.DayToLastOperator</p></td>
                        </tr>
                    </tbody>
                </table>

                <br /><br />

            </div>


        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
