@using Qbicles.BusinessRules
@using Qbicles.Models.Trader
@using Qbicles.Models
@{
    var locations = (List<TraderLocation>)ViewBag.Locations;
    var currentDomain = (QbicleDomain)ViewBag.CurrentDomain;
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
    var contacts = (List<TraderContact>)ViewBag.TraderContacts;
}
<section class="app-dash" style="margin-top: 0;">
    <div id="section_dashboard"></div>
    <a href="#" class="dash-showhide" title="Toggle display of your Sales Summary"><i class="fa fa-ellipsis-h"></i></a>

</section>
<br>
<div class="well custom" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" name="search" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="form-group">
                <label for="location">Location</label>
                <select name="location" class="form-control select2" style="width: 100%;">
                    <option value="0" selected>Show all</option>
                    @foreach (var item in locations)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="form-group">
                <label for="channel">Sales channel</label>
                <select name="channel" class="form-control select2" style="width: 100%;">
                    <option value=" " selected>Show all</option>
                    <option value="@Qbicles.Models.Trader.SalesChannel.SalesChannelEnum.B2B.ToString()">B2B</option>
                    <option value="@Qbicles.Models.Trader.SalesChannel.SalesChannelEnum.B2C.ToString()">B2C</option>
                    <option value="@Qbicles.Models.Trader.SalesChannel.SalesChannelEnum.POS.ToString()">POS</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <label for="daterange">Date range</label><br>
            <div class="input-group" style="margin-bottom: 15px;">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" name="daterange" class="form-control daterange">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="form-group">
                <label for="contacts">Contact</label>
                <select name="contacts" id="sale-tab-contacts" class="form-control select2">
                    <option value="0" selected>Show all</option>
                </select>
            </div>
        </div>
    </div>
</div>
<br>
<table class="datatable table-striped table-hover" id="tblSales" style="width: 100%;">
    <thead>
        <tr>
            <th>Reference</th>
            <th>Location</th>
            <th>Channel</th>
            <th>Contact</th>
            <th>Total (@currencySettings.CurrencySymbol)</th>
            <th>Status</th>
            <th data-orderable="false">Options</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            initSelect2MethodAJAX('sale-tab-contacts', '/Select2Data/GetTraderContact', {}, true);
        }, 200);
    })
</script>
