@using Qbicles.BusinessRules
@model List<TraderManufacturingView>
@{
    var manuJobName = ViewBag.ManuJobName;
    var subTotalNumber = ViewBag.SubTotalNumber;
    var currencySymbol = ViewBag.CurrencySymbol;
}

<div class="modal-dialog modal-xl cx" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h5 class="modal-title">@manuJobName history</h5>
        </div>
        <div class="modal-body">

            <table class="datatable" style="width: 100%;" id="DataTables_Table_9">
                <thead>
                    <tr>
                        <th style="width: 126px;">Item</th>
                        <th style="width: 279px;">Unit of measurement</th>
                        <th style="width: 260px;">Quantity consumed</th>
                        <th style="width: 141px;">Unit cost (@currencySymbol)</th>
                        <th style="width: 151px;">Total cost (@currencySymbol)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Item</td>
                            <td>@item.UnitOfMeasurement</td>
                            <td>@item.QuantityConsumed</td>
                            <td>@item.UnitCost</td>
                            <td>@item.TotalCost</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td rowspan="1" colspan="1"></td>
                        <td rowspan="1" colspan="1"></td>
                        <td rowspan="1" colspan="1"></td>
                        <td rowspan="1" colspan="1"></td>
                        <td rowspan="1" colspan="1">
                            <strong>@subTotalNumber</strong>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $('#DataTables_Table_9').DataTable().draw();
</script>
