@using Qbicles.BusinessRules
@using Qbicles.Models.Trader
@{
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
    var lstExternalAccounts = (List<TraderCashAccountCustom>)ViewBag.ListExternalAccounts;
}
@model TraderCashAccountCustom

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Add funds to @Model.Name</h5>
        </div>
        <div class="modal-body">

            <div class="well custom" style="padding-bottom: 5px;">
                <form id="add-fund_form">
                    <div class="row">
                        <div id="transaction-amount_container" class="col-xs-12">
                            <label for="name">Amount to transfer <span class="red">*</span></label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <span class="input-group-addon">@currencySettings.CurrencySymbol</span>
                                <input required id="transaction-amount" name="transactionAmount" type="number" class="form-control" min="1">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="avatarpickermini">
                                <div class="form-group">
                                    <label for="assignee">Payment account <span class="red">*</span></label>
                                    <select name="assignee" id="payment-accounts" class="form-control select2avatar-delivery" style="width: 100%;">
                                        <option></option>
                                        @foreach (var accountItem in lstExternalAccounts)
                                        {
                                            <option value="@accountItem.TraderCashAccountId">@accountItem.Name / #Account-Reference</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="ref">Reference <span class="red">*</span></label>
                                <input required type="text" id="transaction-reference" name="transactionReference" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="file">Attach a file</label>
                                <input id="link-upload-file" type="file" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" type="submit" onclick="addFund(@Model.TraderCashAccountId)">Confirm</button>
                </form>
            </div>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->