@using Qbicles.Models.UserInformation;
@model WorkExperience
@{
    var datetimeFormat = (string)ViewBag.dateformatStr;
}

<input id="workId" value="@(Model?.Key ?? "0")" type="hidden" />
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model?.Id > 0)
            {
                <h5 class="modal-title">Edit Experience record to your profile</h5>
            }
            else
            {
                <h5 class="modal-title">Add an Experience record to your profile</h5>
            }
        </div>
        <div class="modal-body">
            <form id="add-workexp-form">
                <div class="well custom">
                    <div class="form-group">
                        <label for="skill">Company</label>
                        <input type="text" name="company" id="company-name" class="form-control" value="@(Model?.Company ?? "")">
                    </div>
                    <div class="form-group">
                        <label for="skill">Role</label>
                        <input type="text" name="role" id="role-name" class="form-control" value="@(Model?.Role ?? "")">
                    </div>

                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-xs-6">
                            <label for="from">From</label><br />
                            <div class="input-group">
                                <input type="text" name="startdate" id="wstartdate" class="form-control singledate" value="@(Model?.StartDate.ToString(datetimeFormat) ?? "")">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label for="from">I still work here</label><br />
                            <div class="checkbox toggle">
                                <label onclick="$('.todate2').toggle();">
                                    <input data-toggle="toggle" data-onstyle="success" id="wcurrent-on" type="checkbox" @((Model != null && Model.EndDate == null) ? "checked" : "")>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            @{
                                var isEndDateHidden = Model != null && Model.EndDate == null ? "style=display:none" : "";
                            }
                            <div class="todate2" @isEndDateHidden>
                                <label for="from">To</label><br />
                                <div class="input-group">
                                    <input type="text" name="enddate" id="wenddate" class="form-control singledate" value="@(Model == null || Model.EndDate == null ? "" : ((DateTime)Model.EndDate).ToString(datetimeFormat))">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="skill">Summary</label>
                        <textarea name="summary" class="form-control" id="wsummary" style="max-width: 100%; height: 80px;">@(Model?.Summary ?? "")</textarea>
                    </div>
                </div>

                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" type="submit">Confirm</button>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


<script>
    $('.toggle > label > input').bootstrapToggle();
    initAddingWorkExp();
    $('.singledate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        autoUpdateInput: true,
        cancelClass: "btn-danger",
        opens: "left",
        locale: {
            cancelLabel: 'Clear',
            format: '@datetimeFormat.ToUpper()'
        }
    });
</script>
