@using Qbicles.Models.UserInformation;
@using Qbicles.BusinessRules.Helper;
@model List<Showcase>
@{
    var api = ViewBag.DocRetrievalUrl;
    var keySearch = ViewBag.keySearch;
    var total = ViewBag.Total;
}

<div class="titlezone">
    <h5>Showcase</h5>
</div>

@if (total <= 0)
{
    <div id="noshowcase">

        <div class="activity-overview generic help-text animated bounce">
            <i class="fa fa-info-circle"></i>
            <p>Share what matters to you with others. Showcase your portfolio, photography and more and catch visitors' attention</p>
        </div>

        <button class="btn btn-success community-button w-auto" onclick="modalSaveShowcaseShow(0)"><i class="fa fa-plus"></i> &nbsp; Add a showcase</button>

    </div>
}
else
{
    <div id="showcase">

        <div class="well custom" style="padding-bottom: 5px;">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <label for="search">Search</label>
                        <input type="text" id="showcase-key-search" class="form-control" value="@keySearch" name="search">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <label for="search">Options</label><br />
                        <button class="btn btn-success" onclick="modalSaveShowcaseShow(0)"><i class="fa fa-plus"></i> &nbsp; Add new</button>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="flex-grid-thirds-lg from-community c1" style="width: 100%;">

            @foreach (var scItem in Model)
            {
                <div class="col">
                    <div class="article-feature">
                        <div class="article-feature-img" style="background: url('@api@scItem.ImageUri');"></div>
                        <div class="info" style="padding-bottom: 0;">

                            <div class="btn-group optsnew defaulted dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0)" onclick="modalSaveShowcaseShow('@scItem.Key')">Edit</a></li>
                                    <li><a href="javascript:void(0)" onclick="deleteShowcase('@scItem.Key')">Delete</a></li>
                                </ul>
                            </div>

                            <h1>@(scItem.Title ?? "")</h1>
                            <p>@(scItem.Caption ?? "")</p>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
}

<script>
    $("input[name=search]").keyup(delay(function () {
        showListShowcases();
    }, 500));
</script>
