
@using Qbicles.Models.UserInformation;
@model List<UserProfileFile>
    @{ 
        var api = (string)ViewBag.DocRetrievalUrl;
        var videoApi = ViewBag.VideoRetrievalUrl;
    }
<div class="activity-overview plain rounded profile-media">

    <div class="titlezone" style="margin-bottom: 15px;">
        <h5>Public files</h5>
    </div>

    <br />

    @if (Model == null || Model.Count <= 0)
    {
        <div id="nofiles">

            <div class="activity-overview generic help-text animated fadeIn">
                <i class="fa fa-info-circle"></i>
                <p>Share media and documents with people visiting your profile. This could be your favourite photos, videos or things like your CV and covering note if you're looking for work</p>
            </div>

            <button data-toggle="modal" data-target="#profile-file-add" class="btn btn-success community-button w-auto" onclick="modalSaveProfileFileShow(0)"><i class="fa fa-plus"></i> &nbsp; Add a file</button>

        </div>
    }
    else
    {
        <div id="files">

            <div class="well custom" style="padding-bottom: 5px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label for="search">Search</label>
                            <input type="text" onchange="listProfileFilesShow($(this).val())" id="file-key-search" class="form-control" name="search">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label for="search">Options</label><br />
                            <button class="btn btn-success" onclick="modalSaveProfileFileShow(0)"><i class="fa fa-upload"></i> &nbsp; Add a file</button>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="flex-grid-thirds-lg from-community c1 profile-group" style="width: 100%;">

                @foreach (var fileItem in Model)
                {
                    <div class="col">
                        <div class="article-feature">
                            @if (fileItem.FileType.Type == "Image File")
                            {
                                <div class="article-feature-img" style="background: url('@(api+fileItem.StoredFileName)&size=M');"></div>
                            }
                            else if (fileItem.FileType.Type == "Video File")
                            {
                                <video controls="" style="display: inline-block;height:200px !important;" class="fancybox-video">
                                    <source src="@string.Format(videoApi,fileItem.StoredFileName,"mp4")" type="video/mp4">
                                    <source src="@string.Format(videoApi,fileItem.StoredFileName,"webm")" type="video/webm">
                                    <source src="@string.Format(videoApi,fileItem.StoredFileName,"ogv")" type="video/ogv">
                                </video>
                            }
                            else
                            {
                                <div class="article-feature-img" style="background: url('@fileItem.FileType.ImgPath');"></div>
                            }

                            <div class="info" style="padding-bottom: 0;">

                                <div class="btn-group optsnew defaulted dropdown">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#" onclick="modalSaveProfileFileShow('@fileItem.Key')">Edit</a></li>
                                        <li><a href="#" onclick="deleteProfileFile('@fileItem.Key')">Delete</a></li>
                                    </ul>
                                </div>

                                <div class="padinfo">
                                    <h1>@fileItem.Title</h1>
                                    <small>@fileItem.Description</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>


        </div>
    }

</div>




