@using Qbicles.Models.Trader;
@using Qbicles.Models.Qbicles;
@model TraderAddress
@{
    var lstCountries = (List<Country>)ViewBag.Countries;
    //var mdOrderCreatorId = (string)ViewBag.MdOrderCreatorId;
}

<div class="modal-dialog" role="document">
    <input type="hidden" id="address-id" value="@(Model?.Key ?? "0")" />
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model.Id == 0)
            {
                <h5 class="modal-title">Add an Address</h5>
            }
            else
            {
                <h5 class="modal-title">Edit Address</h5>
            }
        </div>
        <div class="modal-body">

            <div class="well custom" style="padding-bottom: 5px;">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="add1">Address line 1<span>*</span></label>
                            <input type="text" required id="add1" name="add1" class="form-control" value="@(Model?.AddressLine1 ?? "")">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="add1">Address line 2</label>
                            <input type="text" id="add2" name="add2" class="form-control" value="@(Model?.AddressLine2 ?? "")">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="add1">City</label>
                            <input type="text" name="city" id="city" class="form-control" value="@(Model?.City ?? "")">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="add1">State</label>
                            <input type="text" name="state" id="state" class="form-control" value="@(Model?.State ?? "")">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="country">Country</label>
                            <select name="country" id="country" class="form-control select2" style="width: 100%;">
                                @if (lstCountries != null)
                                {
                                    foreach (var countryItem in lstCountries)
                                    {
                                        <option value="@countryItem.CommonName">@countryItem.CommonName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="postcode">Postcode</label>
                            <input type="text" name="postcode" id="postcode" class="form-control" value="@(Model?.PostCode ?? "")">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="postcode">Set as my default address</label>
                            <div class="checkbox toggle">
                                <label>
                                    @{
                                        var isDefault = (Model != null && Model.IsDefault) ? "checked" : "";
                                    }
                                    <input data-toggle="toggle" id="isDefault" data-onstyle="success" type="checkbox" @isDefault>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button onclick="SaveAddress()" class="btn btn-success" data-dismiss="modal">Confirm</button>


        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script>
    $('.toggle input').bootstrapToggle();
    $("select[name='country']").select2();
</script>
