@using Qbicles.Models.B2B
@using Qbicles.BusinessRules
@model List<BusinessProfileAndInterest>

@foreach (var interestItem in Model)
{
    <li>
        <a href="#">
            <div class="owner-avatar">
                <div class="avatar-sm" style="background: url('@(interestItem.LogoUri.ToDocumentUri().ToString())');"></div>
            </div>
            <div class="info">
                <h5>@interestItem.BusinessName</h5>
                <p>@interestItem.BusinessSummary</p>
                <span>Based on your interest in <strong>@interestItem.ListInterests</strong></span>
            </div>
            <div class="options">
                @if (!interestItem.IsConnected)
                {
                    <button class="btn btn-info" onclick="connectBusiness(@interestItem.BusinessId, '@interestItem.BusinessName', this)">Connect</button>
                }
                else
                {
                    <button class="btn btn-success" disabled>Connected</button>
                }

            </div>
        </a>
    </li>
}
