@using Qbicles.Models.Trader;
@model List<TraderAddress>

@foreach (var addressItem in Model)
{
    <div class="col">
        <div class="article-feature">
            <div class="info" style="padding-bottom: 0;">

                <div class="btn-group optsnew defaulted dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        @{
                            var isDefaultAddress = addressItem.IsDefault;
                            var isDisabled = isDefaultAddress ? "disabled" : "";
                            var addr = "";
                            var fullAddr = "";
                            if (!string.IsNullOrEmpty(addressItem.AddressLine1))
                            {
                                addr = addressItem.AddressLine1;
                                //fullAddr += string.IsNullOrEmpty(fullAddr) ? "" : ",";
                                //fullAddr += addressItem.AddressLine1;
                            }
                            if (!string.IsNullOrEmpty(addressItem.AddressLine2))
                            {
                                if (string.IsNullOrEmpty(addr))
                                {
                                    addr = addressItem.AddressLine2;
                                }
                                else
                                {
                                    fullAddr += string.IsNullOrEmpty(fullAddr) ? "" : ", ";
                                    fullAddr += addressItem.AddressLine2;
                                }
                            }
                            if (!string.IsNullOrEmpty(addressItem.City))
                            {
                                if (string.IsNullOrEmpty(addr))
                                {
                                    addr = addressItem.City;
                                }
                                else
                                {
                                    fullAddr += string.IsNullOrEmpty(fullAddr) ? "" : ", ";
                                    fullAddr += addressItem.City;
                                }
                            }
                            if (!string.IsNullOrEmpty(addressItem.State))
                            {
                                if (string.IsNullOrEmpty(addr))
                                {
                                    addr = addressItem.State;
                                }
                                else
                                {
                                    fullAddr += string.IsNullOrEmpty(fullAddr) ? "" : ", ";
                                    fullAddr += addressItem.State;
                                }
                            }
                            if (!string.IsNullOrEmpty(addressItem.Country.CommonName))
                            {
                                if (string.IsNullOrEmpty(addr))
                                {
                                    addr = addressItem.AddressLine2;
                                }
                                else
                                {
                                    fullAddr += string.IsNullOrEmpty(fullAddr) ? "" : ", ";
                                    fullAddr += addressItem.Country.CommonName;
                                }
                            }
                        }
                        <li class="@isDisabled"><a href="#" @isDisabled onclick="SetUserDefaultLocation('@addressItem.Key')">Set as default address</a></li>
                        <li><a href="#" onclick="CreateEditUserAddressShow('@addressItem.Key')">Edit</a></li>
                        <li><a href="#" onclick="DeleteAddress('@addressItem.Key')">Delete</a></li>
                    </ul>
                </div>

                @if (isDefaultAddress)
                {
                    <h1>@addr &nbsp; <label class='label label-primary' style='font-size: 10px;'>Default</label></h1>
                }
                else
                {
                    <h1>@addr</h1>
                }
                <p>@fullAddr</p>

            </div>
        </div>
    </div>
}
