@using Qbicles.Models.UserInformation
@using Qbicles.BusinessRules
@model List<Showcase>

@if (Model == null || Model.Count <= 0)
{
    <div id="noshowcase">
        <div class="activity-overview plain rounded">

            <p>
                Showcases allow you to add images and video to your profile for gallery display. This is handy for things like portfolios, photography, or
                just general purpose.
            </p>

            <br />
            <button class="btn btn-success community-button sm w-auto" onclick="modalSaveShowcaseShow(0)"><i class="fa fa-plus"></i> &nbsp; Add a showcase</button>
        </div>
    </div>
}
else
{
    <div id="showcase">
        <div class="flex-grid-half-lg from-community c1" style="width: 100%;">
            @foreach (var showcaseItem in Model)
            {

                <div class="col">
                    <div class="article-feature">
                        <div class="article-feature-img" style="background: url('@showcaseItem.ImageUri.ToDocumentUri().ToString()');"></div>
                        <div class="info" style="padding-bottom: 0;">

                            <div class="btn-group optsnew defaulted dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0)" onclick="modalSaveShowcaseShow('@showcaseItem.Key')">Edit</a></li>
                                    <li><a href="javascript:void(0)" onclick="deleteShowcase('@showcaseItem.Key')">Delete</a></li>
                                </ul>
                            </div>

                            <h1>@(showcaseItem.Title ?? "")</h1>
                            <p>@(showcaseItem.Caption ?? "")</p>
                        </div>
                    </div>
                </div>

            }
        </div>


        <br />
        <button class="btn btn-success community-button sm w-auto" onclick="modalSaveShowcaseShow(0)" style="margin-bottom: 30px;"><i class="fa fa-plus"></i> &nbsp; Add another</button>

    </div>
}