@using Qbicles.Models.Network
@model List<ShortListGroup>
@{
    var api = (string)ViewBag.DocRetrievalUrl;

    int remainder = Model.Count % 4;
    int extraElements = 0;

    if (remainder > 0)
    {
        extraElements = 4 - remainder;
    }

}

<input type="hidden" value="0" id="active-group-id" />
@foreach (var slGroupItem in Model)
{
    <article class="col">
        <a href="#group-contents" data-toggle="tab" onclick="$('#slGroupName').text('@slGroupItem.Title'); $('#active-group-id').val(@slGroupItem.Id); initSlGroupCandidateTable()">
            <div class="avatar" style="background-image: url('@(api+slGroupItem.IconUri)');">&nbsp;</div>
        </a>
        <div class="btn-group optsnew defaulted dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right primary">
                <li><a href="javascript:void(0)" onclick="showAddEditSlGroupModal(@slGroupItem.Id)">Edit</a></li>
                <li><a href="javascript:void(0)" onclick="deleteSlGroup(@slGroupItem.Id)">Delete</a></li>
            </ul>
        </div>

        <a href="#group-contents" data-toggle="tab">
            <h1 style="color: #333; margin-top: 15px;">@slGroupItem.Title</h1>
            <p class="qbicle-detail" style="text-align: center;">@slGroupItem.Summary</p>
        </a>
    </article>
}

@for (int i = 0; i < extraElements; i++)
{
    <article class='col' style='box-shadow: none; border: 0;'></article>
}