@using Qbicles.Models
@using Qbicles.Models.B2C_C2C
@using Qbicles.Models.B2B
@model B2CQbicle
@{
    //var currentUser = (ApplicationUser)ViewBag.CurrentUser;
    var profile= (B2BProfile)ViewBag.B2BProfile;
}
@if (Model.Status == CommsStatus.Blocked)
{
    if (Model.Blocker != null)
    {
        <article class="stream-shout gift animated fadeIn">

            <img src="@Qbicles.BusinessRules.HelperClass.ToDocumentUri(Qbicles.BusinessRules.Helper.ConfigManager.CommunityBlocked)" class="wow">

            <div class="promoinfo">
                <h5>You've blocked this business</h5>
                <p>
                    They won't able to see or interact with you as long as your block remains active. If you change your mind you can tap the button below to unblock them to reverse this action.
                </p>
                <br>
                <div class="inviteopts">
                    <button class="btn btn-info community-button w-auto" onclick="setC2CStatusBy('@Model.Key','@CommsStatus.Approved',1);"><i class="fa fa-unlock"></i> &nbsp; Unblock</button>
                </div>
            </div>

        </article>
    }
    else
    {
        <article class="stream-shout gift animated fadeIn">

            <img src="@Qbicles.BusinessRules.HelperClass.ToDocumentUri(Qbicles.BusinessRules.Helper.ConfigManager.CommunityBlocked)" class="wow">

            <div class="promoinfo">
                <h5>@(profile?.BusinessName) has blocked you, restricting your available options.</h5>
                <p>
                    If you feel this was done in error, you can access their
                    profile and attempt to contact them to resolve the issue. In the meantime, your conversation history remains accessible
                    to both you and the other person along with associated filtering options.
                </p>
                <br>
                <div class="inviteopts">
                    <button class="btn btn-danger community-button w-auto" onclick="removeCommunityQbicleById('@Model.Key','b2c');"><i class="fa fa-trash"></i> &nbsp; Remove contact</button>
                </div>
            </div>

        </article>
    }
}
