@using Qbicles.Models.Trader
@*@model List<TraderItemImport>*@
@{
    var locations = (List<TraderLocation>)ViewBag.Locations;    
    var template = ViewBag.Template;
}
<div class="well custom" style="padding-bottom: 5px;">
    @*<input type="hidden" id="fromDateTime" value="@ViewBag.FromDateTime">
        <input type="hidden" id="toDateTime" value="@ViewBag.ToDateTime">*@
    
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" id="search-dt" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="drange">Date range</label><br />
            <div class="input-group">
                <input id="input-datetime-range" type="text" class="form-control item-import-daterange">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="drange">Location</label><br />
            <select id="location-filter" class="form-control select2" style="width: 100%;" onchange="reloadDataItemImports()">
                <option value="0" selected>All</option>
                @foreach (var location in locations)
                {
                    <option value="@location.Id">@location.Name</option>
                }

            </select>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label for="drange">Options</label><br />
                <button class="btn btn-success" onclick="UploadNew()"><i class="fa fa-plus"></i> &nbsp; Upload new</button>
                <a class="btn btn-info" href="@template" target="_blank"><i class="fa fa-file-alt"></i> &nbsp; Download template</a>
            </div>
        </div>
    </div>
</div>
<table class="datatable table-striped table-hover" id="table-item-import" style="width: 100%;" data-tooltip-stickto="left" data-tooltip-maxwidth="200" data-tooltip-color="teal">
    <thead>
        <tr>
            <th>Spreadsheet</th>
            <th>Location</th>
            <th>Date</th>
            <th>Uploader</th>
            <th>Status</th>
            <th>Processed</th>
            <th data-orderable="false">Options</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



<div class="modal fade" id="import-items-modal" role="dialog" aria-labelledby="import-items">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Import items from spreadsheet</h5>
            </div>
            <div class="modal-body">
                <div class="activity-overview generic help-text">
                    <i class="fa fa-info-circle"></i>
                    <p>This process will cause the update of all pricing pool prices and catalog prices associated with the items being updated in this import.</p>
                </div>
                <div class="well custom rounded" id="import" style="padding-bottom: 5px;">
                    <div class="form-group">
                        <label for="name">Choose a spreadsheet <span>*</span></label>
                        <input id="item-upload-file" type="file" class="form-control" accept="@ViewBag.ListFileType">
                    </div>
                    <div class="form-group">
                        <label for="name">To which location will any item inventory quantities be added? <span>*</span></label>
                        <select id="location-select" class="form-control select2" style="width: 100%;" onchange="OnSelectLocation()">
                            <option value="0" selected></option>
                            @foreach (var location in locations)
                            {
                                <option value="@location.Id">@location.Name</option>
                            }

                        </select>
                    </div>

                    <br />
                    <div style="display:none" id="importfailed" class="form-group">
                        <label for="name"><span>Similar file name found in previous uploads, are you sure you want to proceed?</span></label>
                        <br />
                        <button class="btn btn-success" style="margin-bottom: 10px;" onclick="SaveItemImport();">Yes</button>
                        <button class="btn btn-danger" style="margin-bottom: 10px;" onclick="ShowImport();">No</button>
                    </div>

                    <button class="btn btn-success" id="button-import-now" style="margin-bottom: 10px;" onclick="uploading();" disabled>Confirm</button>
                </div>


                <div id="importing" style="display: none; padding-bottom: 30px;" class="text-center">
                    <img src="~/Content/DesignStyle/img/uploading.gif" style="width: 280px; height: auto;">
                    <h5>We're uploading your file, please wait...</h5>

                </div>


                <div id="imported" style="display: none; padding-bottom: 30px;" class="text-center">
                    <img src="~/Content/DesignStyle/img/success.gif" style="width: 280px; height: auto;">
                    <h5>Upload complete</h5>
                    <p style="max-width: 75%; margin: 0 auto;">We'll run some checks and prepare your items. You can track progress where you added your file in Import.</p>
                    <br />
                    <button class="btn btn-primary" data-dismiss="modal" onclick="$('#newfile').fadeIn();reloadDataItemImports();">Finish</button>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="~/Content/DesignStyle/js/html5tooltips.js"></script>
<script src="~/Scripts/dev/trader.items.import.js"></script>
<script>

</script>
