@using Qbicles.Models
@using Qbicles.Models.Trader
@using Qbicles.BusinessRules.Model
@using Qbicles.BusinessRules
@{
    var pendingFilterModel = (BankmateTransactionsFilterModel)ViewBag.PendingFilterModal;
    var historyFilterModel = (BankmateTransactionsFilterModel)ViewBag.HistoryFilterModal;
}
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">

        <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 30px;">
            <li class="active"><a href="#" data-toggle="tab" data-target="#tab-pending">Pending transactions</a></li>
            <li><a href="#" data-toggle="tab" data-target="#tab-history" onclick="reloadTblHistoryBankmatetrans()">History</a></li>
        </ul>

    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9">
        <div class="tab-content">


            <!-- Pending -->
            <div class="tab-pane fade in active" id="tab-pending">

                <div class="well custom" style="padding-bottom: 5px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="search">Search</label>
                                <input id="txtSearch" type="text" name="Search" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="creator">Creator</label>
                                <select id="slcreator" name="creator" class="form-control select2" style="width: 100%;">
                                    <option value="" selected>Show all</option>
                                    @foreach (var item in pendingFilterModel.Creators)
                                    {
                                        <option value="@item.Id">@HelperClass.GetFullNameOfUser(item)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="destination">From/to</label>
                                <select id="sldestination" name="destination" class="form-control select2" style="width: 100%;">
                                    <option value="0" selected>Show all</option>
                                    @foreach (var item in pendingFilterModel.ExternalBanks)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="withselected" style="display: none;">
                                <label>Options</label>
                                <br>
                                <div class="form-group">
                                    <div class="btn-group options">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            With selected &nbsp; <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:bulkApprove()">Bulk approve</a></li>
                                            <li><a href="javascript:bulkReject()">Bulk reject</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <table class="datatable table-hover table-striped" id="tblPendingBankmateTransactions" style="width: 100%;">
                    <thead>
                        <tr>
                            <th></th>
                            <th data-priority="1">Domain</th>
                            <th data-priority="1">Creator</th>
                            <th data-priority="2">Date &amp; time</th>
                            <th data-priority="2">Type</th>
                            <th data-priority="1">From/to</th>
                            <th data-priority="2">Amount</th>
                            <th data-priority="2">Attachments</th>
                            <th data-priority="2" data-orderable="false">Options</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <!-- END Pending -->
            <!-- History -->
            <div class="tab-pane fade" id="tab-history">

                <div class="well custom" style="padding-bottom: 5px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="search">Search</label>
                                <input id="txthistorySearch" type="text" name="bSearch" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <label for="search">Date range</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="txtHistoryDaterange" type="text" class="form-control daterange">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="search">Creator</label>
                                <select id="slHistoryCreator" name="creator" class="form-control select2" style="width: 100%;">
                                    <option value="" selected>Show all</option>
                                    @foreach (var item in historyFilterModel.Creators)
                                    {
                                        <option value="@item.Id">@HelperClass.GetFullNameOfUser(item)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="search">from/to</label>
                                <select id="slHistoryDestination" name="destination" class="form-control select2" style="width: 100%;">
                                    <option value="0" selected>Show all</option>
                                    @foreach (var item in historyFilterModel.ExternalBanks)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <table class="datatable table-hover table-striped" id="tblHistoryBankmateTransactions" style="width: 100%;">
                    <thead>
                        <tr>
                            <th data-priority="1">Domain</th>
                            <th data-priority="1">Creator</th>
                            <th data-priority="2">When</th>
                            <th data-priority="2">Type</th>
                            <th data-priority="2">From/to</th>
                            <th data-priority="2">Amount</th>
                            <th data-priority="2">Attachment</th>
                            <th data-priority="2">Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <!-- END History -->
        </div>
    </div>
</div>
<div class="modal fade left" id="app-mbm-admin-transfers" role="dialog" aria-labelledby="app-mbm-admin-transfers" style="display:none"></div>
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/administration.bankmatetransactions.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/administration.bankmatetransactions.min.js"></script>
    }
}
