@using Qbicles.Models;
@using Qbicles.BusinessRules;
@using Qbicles.Models.WaitList;

@{
    var countries = (List<Qbicles.BusinessRules.Micro.Model.MicroCountry>)ViewBag.Countries;
    var businessCategories = (List<Qbicles.BusinessRules.Model.Select2CustomeModel>)ViewBag.BusinessCategories;
}

<div class="tab-content app_general admin">


    <div class="row">
        <div class="col-xs-12">

            <ul class="nav nav-pills traderv2 nav-marketing" style="margin-bottom: 30px;">
                <li class="active"><a href="#" data-toggle="tab" data-target="#tab-pending">Users in waitlist</a></li>
                <li><a href="#" data-toggle="tab" data-target="#tab-history">History</a></li>
                <li><a href="#" data-toggle="tab" data-target="#tab-revoke">Revoke</a></li>
            </ul>


            <div class="tab-content">


                <!-- Pending -->
                <div class="tab-pane fade in active" id="tab-pending">


                    <div class="bulkopts" style="margin: 45px 0 30px 0;">
                        <div class="btn btn-primary community-button w-auto" data-toggle="modal" data-target="#waitlist-bulk">
                            <i class="fa fa-list-ul"></i> &nbsp; Bulk operations
                        </div>
                    </div>

                    <div class="well custom" style="padding-bottom: 5px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" id="waitlist-keyword" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <div class="form-group">
                                    <label for="types">Countries</label>
                                    <select id="waitlist-country-search" class="form-control select2-multi-modal" multiple style="width: 100%;">
                                        @foreach (var country in countries)
                                        {
                                            <option value="@country.CountryCode" selected>@country.CommonName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <div class="form-group">
                                    <label for="types">Business</label>
                                    <select id="waitlist-employee-search" class="form-control select2-multi-modal" multiple style="width: 100%;">
                                        <option value='-1' selected>Empty</option>
                                        <option value="0" selected>1-5 employees</option>
                                        <option value="1" selected>6-10 employees</option>
                                        <option value="2" selected>11-50 employees</option>
                                        <option value="3" selected>Over 50 employees</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <div class="form-group">
                                    <label for="types">Discovered via</label>
                                    <select id="waitlist-discovered-search" class="form-control select2-multi-modal" multiple style="width: 100%;">
                                        <option value='-1' selected>Empty</option>
                                        <option value="0" selected>Qbicles.com</option>
                                        <option value="1" selected>Advertisements online</option>
                                        <option value="2" selected>Referred by a friend</option>
                                        <option value="3" selected>Word of mouth</option>
                                        <option value="4" selected>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <label for="creator">Date range</label><br />
                                <div class="input-group" style="margin-bottom: 15px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input id="waitlist-daterange-search" type="text" class="form-control daterange">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <div class="withselected" style="display: none;">
                                    <label>Options</label>
                                    <br>
                                    <div class="form-group">
                                        <div class="btn-group options">
                                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                With selected &nbsp; <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                
                                                @*<li><a href="#" onclick="ApprovalSubscriptionAndCustomDomainBulk(true)" data-toggle="modal">Bulk subscription and custom domain</a></li>
                                                <li><a href="#" onclick="ApprovalSubscriptionDomainBulk(true)" data-toggle="modal">Bulk approve subscription domain</a></li>*@


                                                <li><a href="#" onclick="FilterWaitlistByIds()" data-toggle="modal">Bulk approve</a></li>
                                                <li><a href="#" onclick="RejectWaitlistDomainBulk(true);">Bulk reject</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <table class="datatable table-hover table-striped" data-order='[[1, "desc"]]' id="table-waitlist-request" style="width: 100%;">
                        <thead>
                            <tr>
                                <th data-orderable="false" style="width: 30px;"></th>
                                <th data-priority="2">Date &amp; time</th>
                                <th data-priority="1">User</th>
                                <th data-priority="2">Country</th>
                                <th data-priority="2">Business</th>
                                <th data-priority="2">Discovered via</th>
                                <th data-priority="2" data-orderable="false">Categories</th>
                                <th data-priority="1" data-orderable="false">Options</th>
                            </tr>
                        </thead>
                        <tbody></tbody>

                        <tbody>
                        </tbody>
                    </table>

                </div>
                <!-- END Pending -->
                <!-- History -->
                <div class="tab-pane fade" id="tab-history">

                    <div class="well custom" style="padding-bottom: 5px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" id="history-keyword" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <label for="creator">Date range</label><br />
                                <div class="input-group" style="margin-bottom: 15px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input id="history-daterange-search" type="text" class="form-control daterange">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <div class="form-group">
                                    <label for="types">Business</label>
                                    <select id="history-employee-search" class="form-control select2-multi-modal" multiple style="width: 100%;">
                                        <option value='-1' selected>Empty</option>
                                        <option value='0' selected>1-5 employees</option>
                                        <option value='1' selected>6-10 employees</option>
                                        <option value='2' selected>11-50 employees</option>
                                        <option value='3' selected>Over 50 employees</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <div class="form-group">
                                    <label for="types">Discovered via</label>
                                    <select id="history-discovered-search" class="form-control select2-multi-modal" multiple style="width: 100%;">
                                        <option value='-1' selected>Empty</option>
                                        <option value="0" selected>Qbicles.com</option>
                                        <option value="1" selected>Advertisements online</option>
                                        <option value="2" selected>Referred by a friend</option>
                                        <option value="3" selected>Word of mouth</option>
                                        <option value="4" selected>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <div class="form-group">
                                    <label for="types">Domain creation rights</label>
                                    <select id="history-rights-search" class="form-control select2-multi-modal" multiple style="width: 100%;">
                                        <option value="1" selected>Subscription</option>
                                        <option value="2" selected>Custom</option>
                                        <option value="3" selected>Reject</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <table class="datatable table-hover table-striped" id="table-waitlist-history" style="width: 100%;">
                        <thead>
                            <tr>
                                <th data-priority="2">Date &amp; time</th>
                                <th data-priority="1">User</th>
                                <th data-priority="2">Country</th>
                                <th data-priority="2">Business</th>
                                <th data-priority="2">Discovered via</th>
                                <th data-priority="2" data-orderable="false">Categories</th>
                                <th data-priority="1" data-orderable="false">Action taken</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <!-- END History -->

                <div class="tab-pane fade" id="tab-revoke">

                    <div class="well custom" style="padding-bottom: 5px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" id="revoke-keyword" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <label for="creator">Date range</label><br />
                                <div class="input-group" style="margin-bottom: 15px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input id="revoke-daterange-search" type="text" class="form-control daterange">
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-lg-2">
                                <div class="form-group">
                                    <label for="types">Domain creation rights</label>
                                    <select id="revoke-rights-search" class="form-control select2-multi-modal" multiple style="width: 100%;">
                                        <option value="1" selected>Subscription</option>
                                        <option value="2" selected>Custom</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <table class="datatable table-hover table-striped" id="table-waitlist-revoke" style="width: 100%;">
                        <thead>
                            <tr>
                                <th data-priority="2">Date &amp; time</th>
                                <th data-priority="1">User</th>
                                <th data-priority="1" data-orderable="false">Domain creation rights</th>
                                <th data-priority="1" data-orderable="false">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>

            </div> <!-- END .tab-content -->

        </div>
    </div>

</div>
<!--<div class="modal fade left" id="whitelist" role="dialog" aria-labelledby="whitelist">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Approve this business</h5>
            </div>
            <div class="modal-body">

                <div class="well custom">
                    <div class="form-group" style="margin: 0;">
                        <label for="name">Choose a subscription level for this account</label>
                        <p class="formhelp">The user will be granted Domain creation permissions in-line with the subscription plan you assign them here.</p>
                        <select name="sub" class="form-control select2-modal" style="width: 100%;">
                            <option value="1">Existing business</option>
                            <option value="2">Business Starter</option>
                        </select>
                    </div>
                </div>

                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" data-dismiss="modal" class="btn btn-success">Confirm</button>

            </div>
        </div>--><!-- /.modal-content -->
    <!--</div>--><!-- /.modal-dialog -->
<!--</div>--><!-- /.modal -->

<div class="modal fade left" id="waitlist-bulk" role="dialog" aria-labelledby="waitlist-bulk">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Bulk waitlist operations</h5>
            </div>
            <div class="modal-body">

                <div class="activity-overview generic help-text">
                    <i class="fa fa-info-circle"></i>
                    <p>
                        You can quickly whitelist batches of users based on specific criteria. Choose the grouping you desire below,
                        and you'll be provided a list of matches to confirm the operation.
                    </p>
                </div>

                <div class="well custom">
                    <div class="form-group" style="margin: 0;">
                        <label for="name">Find all users with matching criteria</label>
                        <select id="bulk-type" class="form-control select2-modal" style="width: 100%;">
                            <option></option>
                            <option value="1">Business category</option>
                            <option value="2">Country</option>
                        </select>
                    </div>
                    <div class="form-group userinput1" style="margin: 15px 0 0 0; display: none;">
                        <label for="name">Bulk select users where business category is</label>
                        <select id="bulk-category" class="form-control select2-modal" style="width: 100%;">
                            @foreach (var category in businessCategories)
                            {
                                <option value="@category.id">@category.text</option>
                            }
                        </select>
                    </div>
                    <div class="form-group userinput2" style="margin: 15px 0 0 0; display: none;">
                        <label for="name">Bulk select users where country is</label>
                        <select id="bulk-country" class="form-control select2-modal" style="width: 100%;">
                            @foreach (var country in countries)
                            {
                                <option value="@country.CommonName">@country.CommonName</option>
                            }
                        </select>
                    </div>

                    <div class="userinput3" style="display: none;">
                        <br />
                        <button class="btn btn-primary" onclick="ShowUserWaitlist()">Show users</button>
                    </div>
                </div>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade left" id="waitlist-results" role="dialog" aria-labelledby="waitlist-results">
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/DesignStyle/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="~/Content/DesignStyle/css/daterangepicker.css">
<script src="~/Content/DesignStyle/js/daterangepicker.js"></script>
<script src="~/Content/DesignStyle/js/jquery.timer.js"></script>
<script src="~/Content/DesignStyle/js/dataTables.checkboxes.js"></script>
<link href="~/Content/DesignStyle/css/dataTables.checkboxes.min.css" rel="stylesheet" />
<script src="~/Scripts/dev/wait-list-system.js"></script>
<script>

    $('#bulk-type').bind('change', function () {
        var criteria = $(this).val();

        if (criteria == 1) {
            $bulkType = 1;
            $('.userinput2').hide();
            $('.userinput1').fadeIn();
            $('.userinput3').fadeIn();
        } else {
            $bulkType=2
            $('.userinput1').hide();
            $('.userinput2').fadeIn();
            $('.userinput3').fadeIn();
        }
    });

    $(".select2-modal").select2();

    $(".select2-multi-modal").multiselect({
        //includeSelectAllOption: true,
        //selectAllJustVisible: true,
        //includeResetOption: false,
        //enableFiltering: false,
        //buttonWidth: '100%',
        //maxHeight: 400,
        //enableClickableOptGroups: true,
        //enableFiltering: true,
        //enableCaseInsensitiveFiltering: true
        includeSelectAllOption: true,
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        buttonWidth: '100%',
        maxHeight: 400,
        enableClickableOptGroups: true
    });

    $('#history-daterange-search, #waitlist-daterange-search, #revoke-daterange-search').daterangepicker({
        autoUpdateInput: false,
        singleDatePicker: false,
        timePicker: false,
        showDropdowns: true,
        cancelClass: "btn-danger",
        opens: "left",
        //startDate: moment().startOf('day').format($dateFormatByUser),
        //endDate: moment().endOf('day').format($dateFormatByUser),
        locale: {
            cancelLabel: 'Clear',
            dateFormat: $dateFormatByUser
        }
    });

    $('#waitlist-daterange-search').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format($dateFormatByUser.toUpperCase()) + ' - ' + picker.endDate.format($dateFormatByUser.toUpperCase()));
        $('#table-waitlist-request').DataTable().ajax.reload();
    });
    $('#waitlist-daterange-search').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
        $('#table-waitlist-request').DataTable().ajax.reload();
    });

    $('#history-daterange-search').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format($dateFormatByUser.toUpperCase()) + ' - ' + picker.endDate.format($dateFormatByUser.toUpperCase()));
        $('#table-waitlist-history').DataTable().ajax.reload();
    });
    $('#history-daterange-search').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
        $('#table-waitlist-history').DataTable().ajax.reload();
    });

    $('#revoke-daterange-search').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format($dateFormatByUser.toUpperCase()) + ' - ' + picker.endDate.format($dateFormatByUser.toUpperCase()));
        $('#table-waitlist-revoke').DataTable().ajax.reload();
    });
    $('#revoke-daterange-search').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
        $('#table-waitlist-revoke').DataTable().ajax.reload();
    });

    LoadWaitlistRequest();
    LoadWaitlistHistory();
    LoadWaitlistRevoke();
</script>