@using Qbicles.Models;
@using Qbicles.BusinessRules;
@{
    var lstcreators = (List<ApplicationUser>)ViewBag.lstRequestCreator;
}

<div class="tab-content app_general admin">


    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">

            <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 30px;">
                <li class="active"><a href="#" data-toggle="tab" data-target="#tab-pending">Pending requests</a></li>
                <li><a href="#" data-toggle="tab" data-target="#tab-history">History</a></li>
            </ul>

        </div>


        <div class="col-xs-12 col-sm-8 col-md-9">

            <div class="tab-content">


                <!-- Pending -->
                <div class="tab-pane fade in active" id="tab-pending">

                    <div class="well custom" style="padding-bottom: 5px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" id="pending-key" name="bSearch" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="search">Users</label>
                                    <select name="users" id="pending-creator" onchange='$("#pending-extensionrequest-list").DataTable().ajax.reload();' class="form-control select2" style="width: 100%;">
                                        <option value=" " selected>Show all</option>
                                        @foreach (var creator in lstcreators)
                                        {
                                            <option value="@creator.Id">@creator.GetFullName()</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="search">Request type</label>
                                    <select name="type" id="pending-type" onchange='$("#pending-extensionrequest-list").DataTable().ajax.reload();' class="form-control select2" style="width: 100%;">
                                        <option value="0" selected>Show all</option>
                                        <option value="@((int)ExtensionRequestType.Bolton)">Bolt-on</option>
                                        <option value="@((int)ExtensionRequestType.Articles)">Highlights - Articles</option>
                                        <option value="@((int)ExtensionRequestType.Events)">Highlights - Events</option>
                                        <option value="@((int)ExtensionRequestType.Jobs)">Highlights - Jobs</option>
                                        <option value="@((int)ExtensionRequestType.Knowledge)">Highlights - Knowledge</option>
                                        <option value="@((int)ExtensionRequestType.News)">Highlights - News</option>
                                        <option value="@((int)ExtensionRequestType.RealEstate)">Highlights - Real estate</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <label for="creator">Date range</label><br />
                                <div class="input-group" style="margin-bottom: 15px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" id="pending-daterange" class="form-control daterange">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="withselected" style="display: none;">
                                    <label>Options</label>
                                    <br>
                                    <div class="form-group">
                                        <div class="btn-group options">
                                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                With selected &nbsp; <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" onclick="ProcessMultipleExtensionRequest(3)">Bulk approve</a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#reject-bulk" onclick="rejectMultipleRequest()">Bulk reject</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <table class="datatable table-hover table-striped" id="pending-extensionrequest-list" style="width: 100%;">
                        <thead>
                            <tr>
                                <th data-orderable="false" style="width: 30px;"></th>
                                <th data-priority="2">Date &amp; time</th>
                                <th data-priority="1">User</th>
                                <th data-priority="2">Domain</th>
                                <th data-priority="2">Request type</th>
                                <th data-priority="1" data-orderable="false">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <!-- END Pending -->
                <!-- History -->
                <div class="tab-pane fade" id="tab-history">

                    <div class="well custom" style="padding-bottom: 5px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" name="bSearch" id="history-key" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="search">Users</label>
                                    <select name="users" class="form-control select2" onchange='$("#history-extensionrequest-list").DataTable().ajax.reload();' id="history-creator" style="width: 100%;">
                                        <option value="" selected>Show all</option>
                                        @foreach (var creator in lstcreators)
                                        {
                                            <option value="@creator.Id">@creator.GetFullName()</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="search">Request type</label>
                                    <select name="typr" class="form-control select2" onchange='$("#history-extensionrequest-list").DataTable().ajax.reload();' id="history-type" style="width: 100%;">
                                        <option value="0" selected>Show all</option>
                                        <option value="@((int)ExtensionRequestType.Bolton)">Bolt-on</option>
                                        <option value="@((int)ExtensionRequestType.Articles)">Highlights - Articles</option>
                                        <option value="@((int)ExtensionRequestType.Events)">Highlights - Events</option>
                                        <option value="@((int)ExtensionRequestType.Jobs)">Highlights - Jobs</option>
                                        <option value="@((int)ExtensionRequestType.Knowledge)">Highlights - Knowledge</option>
                                        <option value="@((int)ExtensionRequestType.News)">Highlights - News</option>
                                        <option value="@((int)ExtensionRequestType.RealEstate)">Highlights - Real estate</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <label for="creator">Date range</label><br />
                                <div class="input-group" style="margin-bottom: 15px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" id="history-daterange" class="form-control daterange">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <table class="datatable table-hover table-striped" id="history-extensionrequest-list" style="width: 100%;">
                        <thead>
                            <tr>
                                <th data-priority="2">Date &amp; time</th>
                                <th data-priority="1">User</th>
                                <th data-priority="2">Domain</th>
                                <th data-priority="2">Request type</th>
                                <th data-priority="2">Decision</th>
                                <th data-priority="2" data-orderable="false">Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <!-- END History -->


            </div> <!-- END .tab-content -->

        </div>
    </div>

</div>
<div class="modal rounded fade" id="reject-reason-modal" role="dialog" aria-labelledby="reject-single">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Reject this request</h5>
            </div>
            <div class="modal-body">

                <div class="activity-overview generic help-text animated fadeIn">
                    <i class="fa fa-info-circle"></i>
                    <p>You're about to reject <strong>Domain's</strong> request to post <strong>News Highlights</strong>. You can optionally provide a covering note to explain why.</p>
                </div>

                <div class="well custom">

                    <div class="form-group" style="margin: 0;">
                        <label for="name">Reason</label>
                        <textarea name="reason" class="form-control" style="max-width: 100%; min-height: 80px;" id="reject-reason"></textarea>
                    </div>
                </div>

                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" data-dismiss="modal" class="btn btn-success">Confirm</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@{

    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/extensionrequest.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/extensionrequest.min.js"></script>
    }
}


<script>
    initAdminPendingExtensionRequestTable();
    initAdminHistoryExtensionRequestTable();

    $("#pending-creator, #pending-type, #history-creator, #history-type").select2();

    $('#pending-daterange, #history-daterange').daterangepicker({
        singleDatePicker: false,
        timePicker: false,
        showDropdowns: true,
        autoUpdateInput: false,
        cancelClass: "btn-danger",
        opens: "left",
        locale: {
            cancelLabel: 'Clear',
            dateFormat: $dateFormatByUser
        }
    });

    $('#pending-daterange').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format($dateFormatByUser.toUpperCase()) + ' - ' + picker.endDate.format($dateFormatByUser.toUpperCase()));
        $("#pending-extensionrequest-list").DataTable().ajax.reload();
    });
    $('#pending-daterange').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
        $("#pending-extensionrequest-list").DataTable().ajax.reload();
    });

    $('#history-daterange').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format($dateFormatByUser.toUpperCase()) + ' - ' + picker.endDate.format($dateFormatByUser.toUpperCase()));
        $("#history-extensionrequest-list").DataTable().ajax.reload();
    });
    $('#history-daterange').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
        $("#history-extensionrequest-list").DataTable().ajax.reload();
    });

    $("#pending-key").keyup(delay(function () {
        $("#pending-extensionrequest-list").DataTable().ajax.reload();
    }, 1000));

    $("#history-key").keyup(delay(function () {
        $("#history-extensionrequest-list").DataTable().ajax.reload();
    }, 1000));
</script>
