@using Qbicles.Models.Loyalty
@using Qbicles.Models.Trader
@using Qbicles.BusinessRules
@using Qbicles.Models
@model LoyaltyPromotionType
@{
    var locations = (List<TraderLocation>)ViewBag.Locations;
    var currencySettings = (CurrencySetting)ViewBag.CurrencySetting;
    var datetimeFormat = (string)ViewBag.CurrentDateTimeFormat;
    var timezone = (string)ViewBag.CurrentTimeZone;
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">View Promotion Type</h5>
        </div>
        <div class="modal-body">
            <form id="frmAddEditPromotion">
                <div class="well custom" style="padding-bottom: 5px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="Name">Promotion name <span class="red">*</span></label>
                                <input type="text" required name="Name" class="form-control" value="@Model.Name" disabled>
                                <label id="Type-error" class="error" for="Name" style="display:none">This field is required.</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="Description">Description <span class="red">*</span></label>
                                <textarea name="Description" required class="form-control" style="height: 80px; max-width: 100%;" disabled>@Model.Description</textarea>
                                <label id="Type-error" class="error" for="Description" style="display:none">This field is required.</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="Icon">Promotion icon <span class="red">*</span></label>
                                <select name="Icon" required class="form-control select2" style="width: 100%;" disabled>
                                    <option value="star" @(Model.Icon != null && Model.Icon == "star" ? "selected" : "")>Star</option>
                                    <option value="gem" @(Model.Icon != null && Model.Icon == "gem" ? "selected" : "")>Gem</option>
                                    <option value="flag" @(Model.Icon != null && Model.Icon == "flag" ? "selected" : "")>Flag</option>
                                    <option value="bolt" @(Model.Icon != null && Model.Icon == "bolt" ? "selected" : "")>Bolt</option>
                                    <option value="diamond" @(Model.Icon != null && Model.Icon == "diamond" ? "selected" : "")>Diamond</option>
                                </select>
                                <label id="Type-error" class="error" for="Icon" style="display:none">This field is required.</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="Type">Promotion type <span class="red">*</span></label>
                                <select name="Type" required class="form-control select2" style="width: 100%;" disabled>
                                    <option value="1" @(Model.Type > 0 && Model.Type == 1 ? "selected" : "")>Premium</option>
                                    <option value="2" @(Model.Type > 0 && Model.Type == 2 ? "selected" : "")>Pinned</option>
                                </select>
                                <label id="Type-error" class="error" for="Type" style="display:none">This field is required.</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="Duration">Duration <span class="red">*</span></label>
                                <input type="number" step="1" min="1" required name="Duration" class="form-control" value="@Model.Duration" disabled>
                                <label id="Type-error" class="error" for="Duration" style="display:none">This field is required.</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="Price">Price <span class="red">*</span></label>
                                <input type="number" step="1" min="1" required name="Price" class="form-control" value="@Model.Price" disabled>
                                <label id="Type-error" class="error" for="Price" style="display:none">This field is required.</label>
                            </div>
                        </div>
                    </div>

                </div>

                <br />
                <button type="button" class="btn btn-primary close" data-dismiss="modal" aria-label="Close">Cancel</button>

            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

