@using Qbicles.Models;
@using Qbicles.BusinessRules;
@{
    ViewBag.Title = "Manage my profile";
    var user = (ApplicationUser)ViewBag.user;
    var notificationMethod = (ICollection<HelperClass.EnumModel>)ViewBag.notificationMethod;
    var notificationSound = (ICollection<HelperClass.EnumModel>)ViewBag.notificationSound;
    var avataTemplate = ViewBag.avataTemplate;
    var domainAdminLable = (string)ViewBag.DomainAdministrator;
    var profileAdminLable = (string)ViewBag.ProfileLabel;
    var IsGuestQbicles = (string)ViewBag.IsGuestQbicles;
    var timezoneList = (List<SelectListItem>)ViewBag.TimezoneList;
    var api = (string)ViewBag.DocRetrievalUrl; ;
    var currentAvatar = ViewBag.currentAvatar != null ? (UserAvatars)ViewBag.currentAvatar : null;
    var listFileType = (List<string>)ViewBag.ListFileType;
    string fileAccept = listFileType.Count() > 0 ? ("." + string.Join(",.", listFileType)) : "";
    var imgAcceptedFile = (string)ViewBag.ImageAcceptedExtensions;
    var userFullName = HelperClass.GetFullName(user);
    var interests = (List<BusinessCategory>)ViewBag.Interests;
}

<input type="hidden" id="hdfApiFile" value="@api" />
<!-- Content wrapper -->
<div class="content-wrapper qbicle-detail" style="background: #f4f6f9; padding-top: 85px;">

    <!-- Main content -->
    <section class="content nopad profilev2" data-tooltip-color="teal" data-tooltip-maxwidth="180">

        <div class="container">

            <div class="row">
                <div class="col-xs-12">

                    <div class="activity-overview plain rounded businesscard" style="padding: 20px 30px;">

                        <a href="#manage-avatar" data-toggle="modal" style="margin: 0 auto;"
                           data-tooltip="Tap to change your avatar">
                            <div class="business-logo" id="dv-avatar" style="position: relative; background-image: url('@api@(user.ProfilePic)&size=S');">
                                <div class="box-shadow-dark"><i class="fa fa-pencil"></i></div>
                            </div>
                        </a>


                        <div class="business-info">

                            <h1>@userFullName</h1>
                            <p class="summ">Manage your personal profile</p>

                        </div>


                        <div class="business-options">

                            <button style="margin-bottom: 3px;" class="btn btn-info community-button" data-toggle="modal" data-target="#change-password"><i class="fa fa-lock"></i> &nbsp; Change password</button>
                            <button class="btn btn-warning community-button" data-toggle="modal" data-target="#change-email"><i class="fa fa-envelope"></i> &nbsp; Change email</button>
                        </div>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">


                    <ul class="profilenav" role="navigation" data-tooltip-stickto="bottom" data-tooltip-max-width="150" data-tooltip-color="teal" style="width: 750px; max-width: 100%;">
                        <li class="active">
                            <a href="#profile-info" data-toggle="tab" data-tooltip="Info">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#profile-pages" data-toggle="tab" data-tooltip="Page builder" onclick="reloadUserProfilePages();">
                                <i class="fa fa-pencil-ruler"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#profile-acumen" data-toggle="tab" data-tooltip="Skills &amp; qualifications">
                                <i class="fa fa-graduation-cap"></i>
                            </a>
                        </li>
                        <li class="hidden">
                            <a href="#profile-blocks" data-toggle="tab" data-tooltip="Blocks">
                                <i class="fa fa-th"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#profile-files" data-toggle="tab" data-tooltip="Public files">
                                <i class="fa fa-file-text-o"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#profile-addresses" data-toggle="tab" data-tooltip="Addresses">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#profile-settings" data-toggle="tab" data-tooltip="Privacy &amp; settings">
                                <i class="fa fa-cog"></i>
                            </a>
                        </li>
                    </ul>
                    <a id="topjump"></a>
                    <div class="tab-content">
                        <!-- Info -->
                        <div class="tab-pane fade in active" id="profile-info">


                            <div class="activity-overview plain rounded" style="padding-bottom: 20px;">
                                <div class="titlezone">
                                    <h5>Profile</h5>
                                </div>

                                <form id="form-profile-general-edit">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="tel">Username (optional, will be used if available)</label>
                                                <input type="text" class="form-control" onchange="$('#form-profile-general-edit').submit()" id="txtDisplayUserName" name="DisplayUserName" value="@userFullName">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="username">Email address</label>
                                                <input type="text" class="form-control" name="email" value="@(user.Email??"")" disabled="">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="forename">Forename</label>
                                                <input type="text" class="form-control" name="forename" onchange="$('#form-profile-general-edit').submit()" id="txtforename" value="@(user.Forename??"")">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="surname">Surname</label>
                                                <input type="text" class="form-control" name="surname" onchange="$('#form-profile-general-edit').submit()" id="txtsurname" value="@(user.Surname??"")">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="tel">Tagline (optional, max 50 characters)</label>
                                                <input type="text" class="form-control" id="txtTagline" onchange="$('#form-profile-general-edit').submit()" name="tagline" value="@(user.TagLine ?? "")" maxlength="50">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="tel">Tel (optional)</label>
                                                <input type="text" class="form-control" id="Telnumber" onchange="$('#form-profile-general-edit').submit()" name="tel" value="@(user.Tell ?? "")">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="tel">Company (optional)</label>
                                                <input type="text" class="form-control" id="txtCompanyName" onchange="$('#form-profile-general-edit').submit()" name="company" value="@(user.Company ?? "")">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="tel">Job title (optional)</label>
                                                <input type="text" class="form-control" id="JobTitle" onchange="$('#form-profile-general-edit').submit()" name="JobTitle" value="@(user.JobTitle ?? "")">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label>Briefly describe yourself</label>
                                        <textarea name="description" class="form-control" id="UserDescription" onchange="$('#form-profile-general-edit').submit()" style="max-width: 100%; height: 80px;" maxlength="500">@(user.Profile)</textarea>
                                    </div>
                                </form>

                            </div>


                            <div class="activity-overview plain rounded" style="padding-bottom: 20px;">
                                <div class="titlezone">
                                    <h5>Social links (optional)</h5>
                                </div>


                                <div class="row">

                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label for="tel">Facebook</label>
                                            <input type="text" onchange="$('#form-profile-general-edit').submit()" id="facebooklink" class="form-control" name="tel" value="@(user.FacebookLink ?? "")">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label for="tel">Instagram</label>
                                            <input type="text" onchange="$('#form-profile-general-edit').submit()" id="instagramlink" class="form-control" name="tel" value="@(user.InstagramLink ?? "")">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label for="tel">LinkedIn</label>
                                            <input type="text" onchange="$('#form-profile-general-edit').submit()" id="linkedInlink" class="form-control" name="tel" value="@(user.LinkedlnLink ?? "")">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label for="tel">Twitter</label>
                                            <input type="text" onchange="$('#form-profile-general-edit').submit()" id="twitterlink" class="form-control" name="tel" value="@(user.TwitterLink ?? "")">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label for="tel">WhatsApp</label>
                                            <input type="text" onchange="$('#form-profile-general-edit').submit()" id="whatsapplink" class="form-control" name="tel" value="@(user.WhatsAppLink ?? "")">
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="activity-overview plain rounded" style="padding-bottom: 20px;">
                                <div class="titlezone">
                                    <h5>Interests</h5>
                                </div>

                                <label>Choose one or more interests</label><br />
                                <select name="interests" class="form-control checkmulti" multiple>
                                    @foreach (var interest in interests)
                                    {
                                        <option value="@interest.Id" @(user.Interests.Any(s => s.Id == interest.Id) ? "selected" : "")>@interest.Name</option>
                                    }
                                </select>
                                <br /><br />
                            </div>



                            <div id="showcases" class="activity-overview plain rounded">


                            </div>



                        </div>
                        <!-- END Info -->
                        <!-- Page builder -->
                        <div class="tab-pane fade" id="profile-pages">

                            <div class="activity-overview plain rounded" style="padding-bottom: 20px;">
                                <div class="titlezone">
                                    <h5>Custom pages</h5>
                                </div>


                                <div class="well custom" style="padding-bottom: 5px;">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-3">
                                            <div class="form-group">
                                                <label for="search">Search</label>
                                                <input type="text" name="keyword" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">
                                            <div class="form-group">
                                                <label for="status">Status</label>
                                                <select name="status" class="form-control select2" style="width: 100%;">
                                                    <option value="-1" selected>Show all</option>
                                                    <option value="0">Draft</option>
                                                    <option value="1">Active</option>
                                                    <option value="2">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-5 col-md-6">
                                            <div class="form-group">
                                                <label>Options</label><br />
                                                <a href="~/ProfilePage/UserPageBuilder" class="btn btn-success"><i class="fa fa-plus"></i> &nbsp; Add a page</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <table class="datatable table-striped table-hover" id="tblUserProfilePages" data-ordering="false" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th style="width: 120px;">Page title</th>
                                            <th data-orderable="false">Created</th>
                                            <th data-orderable="false">Position in nav</th>
                                            <th data-orderable="false">Status</th>
                                            <th data-orderable="false"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>

                        </div>
                        <!-- END Page builder -->
                        <!-- Acumen -->
                        <div class="tab-pane fade" id="profile-acumen">


                            <div class="activity-overview plain rounded">
                                <div class="titlezone">
                                    <h5>Skills</h5>
                                </div>

                                <label>Optionally include your skills and proficiency level (1-100)</label>
                                <br />

                                <button class="btn btn-success" onclick="modalSaveSkillsShow(0)"><i class="fa fa-plus"></i> &nbsp; Add new</button>


                                <div style="margin-top: 45px;" id="userskills">

                                </div>

                            </div>




                            <div class="activity-overview plain rounded">
                                <div class="titlezone">
                                    <h5>Experience</h5>
                                </div>


                                <label>Optionally include your employment history</label>
                                <br />

                                <button class="btn btn-success" onclick="modalSaveWorkExpShow(0)"><i class="fa fa-plus"></i> &nbsp; Add new</button>


                                <div style="margin-top: 45px;" id="work-exp-list">

                                </div>

                            </div>




                            <div class="activity-overview plain rounded">
                                <div class="titlezone">
                                    <h5>Education</h5>
                                </div>


                                <label>Optionally include your education information</label>
                                <br />

                                <button class="btn btn-success" onclick="modalSaveEduExpShow(0)"><i class="fa fa-plus"></i> &nbsp; Add new</button>


                                <div style="margin-top: 45px;" id="edu-exp-list">

                                </div>
                            </div>






                        </div>
                        <!-- END Acumen -->
                        <!-- Files -->
                        <div class="tab-pane fade" id="profile-files">



                        </div>
                        <!-- END Files -->
                        <!-- Addresses -->
                        <div class="tab-pane fade" id="profile-addresses">

                        </div>
                        <!-- END Addresses -->
                        <!-- Settings -->
                        <div class="tab-pane fade" id="profile-settings">


                            <div class="activity-overview plain rounded" style="padding-bottom: 20px;">
                                <div class="titlezone">
                                    <h5>Settings</h5>
                                </div>


                                <div class="row">
                                    <form id="save-settings-form">
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="Timezone">Timezone</label>
                                                <select name="Timezone" class="form-control select2" onchange="$('#save-settings-form').submit()" id="timezone-setting" style="width: 100%;">
                                                    @foreach (var item in timezoneList)
                                                    {
                                                        if (item.Value == user.Timezone)
                                                        {
                                                            <option value="@item.Value" selected>@item.Text</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Value">@item.Text</option>
                                                        }
                                                    }
                                                </select>
                                                <label id="TimeFormat-error" class="error" for="TimeFormat" style="display: none;">This field is required.</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="tel">Time format</label>
                                                <select name="TimeFormat" class="form-control select2" onchange="$('#save-settings-form').submit()" id="timeformat-setting" style="width: 100%;">
                                                    @if (user.TimeFormat == "HH:mm")
                                                    {
                                                        <option value="HH:mm" selected>HH:mm</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="HH:mm">HH:mm</option>
                                                        <option value="@user.TimeFormat" selected>@user.TimeFormat</option>
                                                    }
                                                </select>
                                                <label id="timeformat-setting-error" class="error" for="timeformat-setting" style="display:none">This field is required.</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="tel">Date format</label>
                                                <select name="dateformat" id="dateformat-setting" onchange="$('#save-settings-form').submit()" class="form-control select2" style="width: 100%;">
                                                    @if (user.DateFormat == "dd/MM/yyyy")
                                                    {
                                                        <option value="dd/MM/yyyy" selected>DD/MM/YYYY</option>
                                                        <option value="MM/dd/yyyy">MM/DD/YYYY</option>
                                                    }
                                                    else if (user.DateFormat == "MM/dd/yyyy")
                                                    {
                                                        <option value="dd/MM/yyyy">DD/MM/YYYY</option>
                                                        <option value="MM/dd/yyyy" selected>MM/DD/YYYY</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="dd/MM/yyyy">DD/MM/YYYY</option>
                                                        <option value="MM/dd/yyyy">MM/DD/YYYY</option>
                                                    }
                                                </select>
                                                <label id="dateformat-error" class="error" for="dateformat" style="display: none;">This field is required.</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="tel">Notification method</label>
                                                <select name="ChosenNotificationMethod" class="form-control select2" onchange="$('#save-settings-form').submit()" id="ChosenNotificationMethod" style="width: 100%;">
                                                    @foreach (var item in notificationMethod)
                                                    {
                                                        if (item.Key == (int)user.ChosenNotificationMethod)
                                                        {
                                                            <option value="@item.Key" selected>@item.Value</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Key">@item.Value</option>
                                                        }
                                                    }
                                                </select>
                                                <label id="ChosenNotificationMethod-error" class="error" for="ChosenNotificationMethod" style="display: none;">This field is required.</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="tel">Play a sound when notifications are received</label>
                                                <select id="NotificationSound" onchange="$('#save-settings-form').submit()" name="NotificationSound" class="form-control select2" style="width: 100%;">
                                                    @foreach (var item in notificationSound)
                                                    {
                                                        if (item.Key == (int)user.NotificationSound)
                                                        {
                                                            <option value="@item.Key" selected>@item.Value</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Key">@item.Value</option>
                                                        }
                                                    }
                                                </select>
                                                <label id="NotificationSound-error" class="error" for="NotificationSound" style="display: none;">This field is required.</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="tel">Preferred Domain</label>
                                                <select id="sl_PreferredDomain" name="PreferredDomain_Id" class="form-control select2" style="width: 100%;"
                                                        onchange="$('.qb').removeAttr('disabled'); loadPreferredQbicles(); $('#save-settings-form').submit()">
                                                    <option value=""></option>
                                                    @foreach (var item in user.Domains.OrderBy(p => p.Name))
                                                    {
                                                        <option value="@item.Key" @(user.PreferredDomain != null && item.Id == user.PreferredDomain.Id ? "selected" : "")>@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            @{
                                                var isPreferedQbicleHidden = user.PreferredDomain == null ? "style=display:none" : "";
                                            }
                                            <div class="form-group prefqbicle" @isPreferedQbicleHidden>
                                                <label for="tel">Preferred Qbicle</label>
                                                <select id="sl_PreferredQbicle" name="PreferredQbicle_Id" onchange="$('#save-settings-form').submit()" class="form-control select2" style="width: 100%;">
                                                    @if (user.PreferredDomain != null)
                                                    {
                                                        <option value="0"></option>
                                                        foreach (var item in user.PreferredDomain.Qbicles)
                                                        {
                                                            <option value="@item.Id" @(user.PreferredQbicle != null && item.Id == user.PreferredQbicle.Id ? "selected" : "")>@item.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>



                            <div class="activity-overview plain rounded" style="padding-bottom: 20px;">
                                <div class="titlezone">
                                    <h5>Privacy</h5>
                                </div>


                                <div class="activity-overview generic help-text animated fadeIn">
                                    <i class="fa fa-info-circle"></i>
                                    <p>
                                        <strong style="display: block; padding-bottom: 10px;">Securing your data</strong>
                                        Control what of your potentially sensitive information is available publicly. Your information may be used by Qbicles and select
                                        partners to maximise your experience. Your information will not be sold or used without your express consent.
                                    </p>
                                </div>
                                <form id="frm-privacyOptions" method="post" action="/Administration/SetPrivacyOptions">
                                    <div class="well custom">

                                        <div class="checkbox toggle">
                                            <label>
                                                <input data-toggle="toggle" name="isShareEmail" onchange="$('#frm-privacyOptions').submit()" value="true" data-onstyle="success" type="checkbox" data-on="Yes" data-off="No" @(user.isShareEmail != null && user.isShareEmail.Value == true ? "checked" : "")>
                                                Share my email address
                                            </label>
                                        </div>

                                        <div class="checkbox toggle">
                                            <label>
                                                <input data-toggle="toggle" name="isShareCompany" onchange="$('#frm-privacyOptions').submit()" value="true" data-onstyle="success" type="checkbox" data-on="Yes" data-off="No" @(user.isShareCompany != null && user.isShareCompany.Value == true ? "checked" : "")>
                                                Share my company
                                            </label>
                                        </div>

                                        <div class="checkbox toggle">
                                            <label>
                                                <input data-toggle="toggle" name="isShareJobTitle" onchange="$('#frm-privacyOptions').submit()" value="true" data-onstyle="success" type="checkbox" data-on="Yes" data-off="No" @(user.isShareJobTitle != null && user.isShareJobTitle.Value == true ? "checked" : "")>
                                                Share my job title
                                            </label>
                                        </div>

                                        <div class="checkbox toggle" style="margin: 0;">
                                            <label>
                                                <input data-toggle="toggle" name="isAlwaysLimitMyContact" onchange="$('#frm-privacyOptions').submit()" value="true" data-onstyle="success" type="checkbox" data-on="Yes" data-off="No" @(user.isAlwaysLimitMyContact != null && user.isAlwaysLimitMyContact.Value == true ? "checked" : "")>
                                                Always limit display to My Contacts only
                                            </label>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>
                        <!-- END Settings -->


                    </div>

                </div>




            </div>

            <br /><br />

        </div>

    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->


<div class="modal fade right" id="change-password" role="dialog" aria-labelledby="change-password">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Change my password</h5>
            </div>
            <div class="modal-body">

                <div class="activity-overview generic help-text animated bounce">
                    <i class="fa fa-info-circle"></i>
                    <p style="margin-top: -5px;">Your password needs to meet the following criteria:</p>

                    <ul id="msg-criteria" style="margin-bottom: 0; list-style-type: none; padding: 0; font-size: 12px; color: #676767; font-family: 'Roboto', Arial, sans-serif;">
                        <li id="length">At least eight characters in length</li>
                        <li id="letter">At least one lowercase letter</li>
                        <li id="capital">At least one uppercase letter</li>
                        <li id="number">At least one number</li>
                        <li id="alpha">At least one special character (e.g. @("@"), !, #)</li>
                    </ul>
                </div>

                <form name="password-reset" method="post" action="/Administration/ChangePassword" id="password-reset">
                    <div class="well custom">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="password">Enter your new password</label><br>
                                <div class="input-group" style="margin: 0;">
                                    <input type="password" name="newpass" class="form-control" id="new_password" required>
                                    <span class="input-group-addon"><a href="#" class="toggle-pw" style="color: #333;"><i class="fa fa-eye"></i></a></span>
                                </div>
                                <label id="new_password-error" class="error" for="new_password" style="display: none;margin-right: 39px;"></label>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="btn btn-danger btn-small" onclick="CancelUpdatePass();" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-success btn-small">Update password</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade left" id="manage-avatar" role="dialog" aria-labelledby="manage-avatar" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Change my avatar</h5>
            </div>
            <div class="modal-body">

                <div class="activity-overview generic help-text animated bounce">
                    <i class="fa fa-info-circle"></i>
                    <p>You can choose from existing avatar images or alternatively upload a new image to use.</p>
                </div>


                <ul class="nav nav-pills nav-marketing sales">
                    <li class="active"><a href="#" data-toggle="tab" data-target="#avatar-1" aria-expanded="true">Choose from existing images</a></li>
                    <li class=""><a href="#" data-toggle="tab" data-target="#avatar-2" aria-expanded="false">Or upload a new one</a></li>
                </ul>

                <br>

                <div class="tab-content">

                    <!-- Contact details -->
                    <div class="tab-pane fade active in" id="avatar-1">

                        <div class="campaign-resource-picker" style="padding: 25px 0 0 0;">

                            <div class="flex-grid-quarters-lg from-community c1" style="width: 100%;">
                                <input type="hidden" id="userAvataUrl" name="userAvatar" value="@user.ProfilePic" />
                                @if (avataTemplate != null)
                                {
                                    int index = 0;
                                    foreach (var url in avataTemplate)
                                    {
                                        index++;
                                        var _avatar = "avatar" + index + ".png";
                                        <div id="avata-@index" class="col">
                                            <a onclick="SetSelectedAvata('@url', this)" class="avt-elm article-feature @(currentAvatar!=null&&currentAvatar.AvatarName==_avatar?"selected":"options")">
                                                <div class="article-feature-img" style="background: url('@url');">
                                                </div>
                                            </a>
                                        </div>
                                    }
                                }
                                @{
                                    var avatarsUpload = user.Avatars.Where(s => !s.isDefault);
                                    foreach (var item in avatarsUpload)
                                    {
                                        <div id="avata-@item.URI" class="col">
                                            <a onclick="SetSelectedAvata('@item.URI',this)" class="avt-elm article-feature @(currentAvatar!=null&&currentAvatar.URI==item.URI?"selected":"options")">
                                                <div class="article-feature-img" style="background: url('@(api+item.URI)');">
                                                </div>
                                            </a>
                                        </div>
                                    }
                                }
                                <div id="avatar-empty" class="col">
                                    &nbsp;
                                </div>
                            </div>

                        </div>

                        <br><br>
                        <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                        <a href="javascript:SetAvatar()" class="btn btn-success">Set as my avatar</a>
                    </div>
                    <!-- END Choose existing -->
                    <!-- Add new -->
                    <div class="tab-pane fade" id="avatar-2">
                        <form id="frm-avatar-upload" enctype="multipart/form-data">
                            <input type="hidden" id="user-avatar-upload-object-key" name="mediaObjectKey" />
                            <input type="hidden" id="user-avatar-upload-object-name" name="mediaObjectName" />
                            <input type="hidden" id="user-avatar-upload-object-size" name="mediaObjectSize" />
                            <div class="well custom" style="padding-bottom: 5px;">
                                <div class="form-group" style="margin: 0;">
                                    <label for="file">Choose an image to upload</label>
                                    <input required type="file" class="form-control previewimg" id="user-avatar-upload" name="UserAvatarUpload" accept="@imgAcceptedFile" onchange="avatarChange(this)" data-target="#preview">
                                </div>
                            </div>
                            <img id="imgAvatar" src="" alt="Your image" style="width: 100%; height: auto; margin-bottom: 30px;display:none">
                            <br>
                            <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                            <a href="javascript:UploadUserAvatar()" class="btn btn-success">Use this image</a>
                        </form>
                    </div>
                    <!-- END Add new -->

                </div> <!-- ./tab-content -->

            </div>
        </div>
    </div>
</div>
<!--<div class="modal fade left" id="profile-permissions" role="dialog" aria-labelledby="profile-permissions">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Manage my Profile privacy</h5>
            </div>
            <div class="modal-body">
                <form id="frm-privacyOptions" method="post" action="/Administration/SetPrivacyOptions">
                    <div class="activity-overview generic help-text animated bounce">
                        <i class="fa fa-info-circle"></i>
                        <p>
                            <strong style="display: block; padding-bottom: 10px;">Your Profile info may be used in Qbicles Apps</strong>
                            For example, your email address and contact details will be provided if you're part of an Operator Team. Please contact your System Administrator if you have any questions or concerns about how your information is stored and used.
                        </p>
                    </div>

                    <div class="well custom">

                        <div class="checkbox toggle">
                            <label>
                                <input data-toggle="toggle" name="isShareEmail" value="true" data-onstyle="success" type="checkbox" data-on="Yes" data-off="No" @(user.isShareEmail != null && user.isShareEmail.Value == true ? "checked" : "")>
                                Share my email address
                            </label>
                        </div>

                        <div class="checkbox toggle">
                            <label>
                                <input data-toggle="toggle" name="isShareCompany" value="true" data-onstyle="success" type="checkbox" data-on="Yes" data-off="No" @(user.isShareCompany != null && user.isShareCompany.Value == true ? "checked" : "")>
                                Share my company
                            </label>
                        </div>

                        <div class="checkbox toggle">
                            <label>
                                <input data-toggle="toggle" name="isShareJobTitle" value="true" data-onstyle="success" type="checkbox" data-on="Yes" data-off="No" @(user.isShareJobTitle != null && user.isShareJobTitle.Value == true ? "checked" : "")>
                                Share my job title
                            </label>
                        </div>

                        <div class="checkbox toggle" style="margin: 0;">
                            <label>
                                <input data-toggle="toggle" name="isAlwaysLimitMyContact" value="true" data-onstyle="success" type="checkbox" data-on="Yes" data-off="No" @(user.isAlwaysLimitMyContact != null && user.isAlwaysLimitMyContact.Value == true ? "checked" : "")>
                                Always limit display to My Contacts only
                            </label>
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" type="submit">Confirm</button>
                </form>
            </div>
        </div>-->
<!-- /.modal-content -->
<!--</div>--><!-- /.modal-dialog -->
<!--</div>-->
<div class="modal fade left" id="app-community-add-work-history" role="dialog" aria-labelledby="app-community-add-work-history" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Add an employment history entry</h5>
            </div>
            <div class="modal-body">
                <form id="frm-employment-history" action="/Administration/SaveEmploymentHistory" method="post">
                    <div class="well custom">
                        <div class="form-group">
                            <label for="Employer">Employer</label>
                            <input type="text" name="Employer" required class="form-control">
                            <input type="hidden" name="Id" value="0" />
                        </div>
                        <div class="form-group">
                            <label for="Role">Role</label>
                            <input type="text" name="Role" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="workhistory-dates">Dates</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" id="workhistory-dates" name="workhistory-dates" required class="form-control">
                                <input type="hidden" id="hdf-StartDate" name="StartDate" value="" />
                                <input type="hidden" id="hdf-EndDate" name="EndDate" value="" />
                            </div>
                            <label id="workhistory-dates-error" class="error" for="workhistory-dates" style="display: none;"></label>
                        </div>
                        <div class="form-group" style="margin: 0;">
                            <label for="Summary">Briefly explain your duties</label>
                            <textarea name="Summary" class="form-control" required style="height: 80px;"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Confirm</button>
                </form>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div>
<div class="modal fade left" id="profile-file-upload" role="dialog" aria-labelledby="profile-file-upload" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Add Files to your Profile</h5>
            </div>
            <div class="modal-body">

                <div class="well custom">
                    <form id="frm-my-files" enctype="multipart/form-data">
                        <input type="hidden" id="user-my-file-object-key" name="mediaObjectKey" />
                        <input type="hidden" id="user-my-file-object-name" name="mediaObjectName" />
                        <input type="hidden" id="user-my-file-object-size" name="mediaObjectSize" />
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="Name">Document name</label>
                                    <input type="text" name="Name" required class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="account_number">Choose a file</label>
                                    <input type="file" class="form-control previewimg" accept="@fileAccept" id="my-file-upload" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group" style="margin: 0;">
                                    <label for="Description">Add a description</label>
                                    <textarea name="Description" required class="form-control" style="height: 80px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                <button type="button" onclick="UploadUserMyFile()" class="btn btn-success">Confirm</button>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="emp-delete-confirm" role="dialog" aria-labelledby="app-taxrate-confirm" aria-hidden="false" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Delete this emloyment history</h5>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 col-sm-12" style="margin-bottom: 30px;">
                    <span id="label-confirm-tag">Are you sure you want to delete this emloyment history?</span>
                    <input class="hidden" id="emp_deleteId">
                </div>
                <button class="btn btn-success" data-dismiss="modal" onclick="deleteEmploymentHistory();"><i class="fa fa-check"></i> &nbsp; OK</button>
                <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp; Cancel</button>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="file-delete-confirm" role="dialog" aria-labelledby="app-taxrate-confirm" aria-hidden="false" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Delete this file</h5>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 col-sm-12" style="margin-bottom: 30px;">
                    <span id="label-confirm-tag">Are you sure you want to delete this file?</span>
                    <input class="hidden" id="file_deleteId">
                </div>
                <button class="btn btn-success" data-dismiss="modal" onclick="deleteMyFile();"><i class="fa fa-check"></i> &nbsp; OK</button>
                <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp; Cancel</button>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div>

<div class="modal fade left" id="create-address" role="dialog" aria-labelledby="user-address-add">
</div><!-- /.modal -->
<div class="modal fade left" id="profile-showcase-add" role="dialog" aria-labelledby="profile-showcase-add">
</div><!--/.modal-->
<div class="modal fade left" id="profile-skill-add" role="dialog" aria-labelledby="profile-skill-add">
</div><!-- /.modal -->
<div class="modal fade left" id="profile-employment-add" role="dialog" aria-labelledby="profile-employment-add">
</div><!-- /.modal -->
<div class="modal fade left" id="profile-education-add" role="dialog" aria-labelledby="profile-education-add">
</div><!-- /.modal -->
<div class="modal fade left" id="profile-file-add" role="dialog" aria-labelledby="profile-file-add">
</div><!-- /.modal -->
<div class="modal fade right" id="change-email" role="dialog" aria-labelledby="change-email" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Change my email address</h5>
            </div>
            <div class="modal-body">

                <div class="activity-overview generic help-text animated bounce">
                    <i class="fa fa-info-circle"></i>
                    <p style="margin-top: -5px;"><strong>Important</strong> - before changing your password:</p>

                    <ul style="margin-bottom: 0; padding: 0 0 0 15px; font-size: 12px; color: #676767; font-family: 'Roboto', Arial, sans-serif;">
                        <li>We'll send a verification PIN to your new email address</li>
                        <li>We won't make any changes until you have verified the new address</li>
                        <li>Once changed, you will need to use the new email address when logging in</li>


                    </ul>
                </div>

                <div class="well custom">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="password">Your new email address</label>
                                <input type="text" name="email" class="form-control" value="" onchange="checkDisableBtnAvailable(this)">
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-small" id="btncheck" disabled="" onclick="checkNewEmailAvailable(this)">Check availability</button>

                    <div class="alert alert-success softened animated bounceIn" id="verify-box" style="display: none;">
                        <p>This email address is available! Hit the button below to send a verification PIN to this address.</p>
                        <br>
                        <button class="btn btn-success community-button w-auto sm" onclick="verificationNewEmail()">Verify address</button>
                    </div>
                    <div class="alert alert-danger softened animated bounceIn" id="verify-box-unavailable" style="display: none;margin-top:13px">
                        <p>This email address is unavailable. Please try again with a different address.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('#form-profile-edit select.select2').select2();
</script>
@{
    <link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/qbicle.user.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/qbicle.user.js"></script>
    }
}

<script>
    $(".checkmulti").multiselect({
        includeSelectAllOption: true,
        enableFiltering: true,
        buttonWidth: '100%',
        maxHeight: 400,
        enableClickableOptGroups: true
    });
    $(document).ready(function () {    
        showListShowcases();
        showListSkills();
        showListWorkExpList();
        showListEduExpList();
        listProfileFilesShow();
        listUserAddressesShow();
        onloadProfilePage();
        initFormEditProfile();
        initFormEditSettings();
    });
</script>
