@model Qbicles.Models.Form.FormDefinition
@using Qbicles.Models;
@{
    bool IsUsed = ViewBag.IsUsed;
    var CurrentDomain = ViewBag.CurrentDomain;
    var api = (string)ViewBag.DocRetrievalUrl;
}
<div class="content-wrapper qbicle-detail cleanbooks" style="min-height: 235px;">
    <div class="tabnav-spacer">&nbsp;</div>
    <!-- Main content -->
    <section class="content" data-tooltip-animate-function="fadein" data-tooltip-delay="300" data-tooltip-stickto="top" data-tooltip-stickdistance="30">
        <br /><br />
        <div class="mod_title">
            <h5>Task Forms</h5>
            <h4>View task form</h4>
        </div>
        <div class="app_topnav restyle">
            <ul class="nav nav-pills app_main_nav hidden-xs hidden-sm">
                <li role="presentation">
                    <a href="/Administration/ManageTaskForms">
                        <i class="fa fa-file-code-o"></i>
                        Manage Forms
                    </a>
                </li>
                <li role="presentation">
                    <a href="/Administration/QueryTasksForm">
                        <i class="fa fa-question"></i>
                        Queries/Reports
                    </a>
                </li>
                <li role="presentation">
                    <a href="/Administration/ManageFormEditors">
                        <i class="fa fa-lock"></i>
                        Permissions
                    </a>
                </li>
            </ul>
            <select name="app_tab" class="form-control visible-xs visible-sm">
                <option value="/Administration/ManageTaskForms" selected="">Manage Forms</option>
                <option value="/Administration/QueryTasksForm">Queries/Reports</option>
                <option value="/Administration/ManageFormEditors">Permissions</option>
            </select>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="app_filter">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-lg-4 button_options" style="padding-bottom: 0;">
                            <a href="/Apps/AppManagement" class="btn btn-info"><i class="fa fa-th"></i> &nbsp; All apps</a>
                            <a href="/Administration/ManageTaskForms" class="btn btn-info"><i class="fa fa-angle-up"></i> &nbsp; All forms</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br /><br />

        <div class="domain_flash">
            @if (CurrentDomain != null)
            {
                var currentDomain = (QbicleDomain)CurrentDomain;
                <img id="media-@currentDomain.Id" src='@api@currentDomain.LogoUri' class="img-circle icon" />
                <h5>@currentDomain.Name</h5>
                <input type="hidden" id="current-domain-taskform" name="id_domain" value="@currentDomain.Id">
            }
        </div>
        <br />
        <div class="form-builder">
            <section id="main_content" class="inner">
                <h4>@Model.Title</h4>
                <br />
                <form class="fb-render" id="view-task-form"></form>
                <button type="button" class="btn btn-success" onclick="editTaskForm(@Model.Id)" @(IsUsed ? "disabled='disabled'" : "" )>Edit Form</button>
            </section>
        </div>
    </section>

    </div>


    <script src="~/Content/DesignStyle/js/form-builder.min.js"></script>
    <script src="~/Content/DesignStyle/js/form-render.min.js"></script>
    <script>
    function editTaskForm(id){
        SetFormDefinitionSelected(id);
        window.location.href = "/Administration/CreateTaskForm";
    }
    jQuery(function ($) {
        var fbTemplate =  @Html.Raw(Model.Definition);
        $('.fb-render').formRender({
            dataType: 'json',
            formData: fbTemplate
        });
    });
    </script>
