@using Qbicles.Models.SalesMkt
@model EmailCampaign
@{
    Layout = null;
    ViewBag.Title = "Opt out of a mailing list";
    var isValid = Html.ViewData.ModelState.IsValid;
    var isPost = ViewBag.IsPost;
}
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="shortcut icon" type="image/x-icon" href="/Content/DesignStyle/img/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="~/Content/DesignStyle/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="~/Content/DesignStyle/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="~/Content/DesignStyle/img/favicon-16x16.png">

<!-- Bootstrap -->
@Styles.Render("~/Content/LogIncss")
@Scripts.Render("~/bundles/LogInjqueryStyle")
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<body data-tooltip-animate-function="spin" data-tooltip-delay="300" data-tooltip-stickTo="top" data-tooltip-stickDistance="30" class="login-bg">

    <div class="container">

        <div class="login-body animated fadeInUp">

            <div class="text-center">
                <img src="~/Content/DesignStyle/img/logo_sm.png" style="width: 120px; height: auto;">
            </div>
            <br /><br />

            @if (isPost && isValid)
            {
                <div class="unsubscribed">
                    <div class="activity-overview generic help-text animated bounce" style="margin: 0;">
                        <i class="fa fa-info-circle"></i>
                        <p>You've been successfully removed from the mailing list.</p>
                    </div>
                </div>
            }
            else
            {
                <div class="unsub">
                    <div class="activity-overview generic help-text animated bounce" style="margin-bottom: 15px;">
                        <i class="fa fa-info-circle"></i>
                        @if (!isPost && isValid)
                        {
                            <p>
                                You're here because you've opted to unsubscribe from the <strong>@Model.Name</strong> mailing list. To confirm your removal please enter the email address
                                currently receiving the mail and hit confirm...
                            </p>
                        }
                        else
                        {
                            <p>
                                We're unable to complete your request with that email address. Please try again and make sure the email address you supply is the one currently subscribed.
                            </p>
                        }

                    </div>
                    @using (Html.BeginForm("ConfirmUnsubscribe", "Manage", FormMethod.Post, new { name = "unsubscribe", id = "form_unsubscribe", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="campaignId" value="@Model.Id">
                        <input type="hidden" name="contactId" value="@ViewBag.contactId">
                        <div class="well custom" style="margin: 0;">
                            <div class="form-group">
                                <label for="email">Please confirm your email address...</label>
                                <input type="email" name="email" class="form-control" onkeyup="if($(this).val() !== '') { $('#unsub').removeAttr('disabled'); }">
                            </div>
                            <button class="btn btn-danger community-button" type="submit" id="unsub" disabled>Unsubscribe</button>
                        </div>
                    }

                </div>
            }

        </div>
    </div>
</body>
<script>

</script>