@using Qbicles.Models.SalesMkt;
@model List<IdeaTheme>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var extraCol = (Model.Count() % 4 == 0 ? 0 : 4) - Model.Count() % 4;
}
@foreach (var item in Model)
{
    <div class="col article-feature  @(item.IsHidden?"theme-hidden":"")">
        <a href="/SalesMarketingIdea/Detail?id=@item.Id">
            <div class="article-feature-img" style="background: url('@(api+item.FeaturedImageUri + "&size=M")');">
            </div>
        </a>
        <div class="info">
            <div class="btn-group optsnew defaulted dropdown">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#" data-toggle="modal" data-target="#app-marketing-idea-add" onclick="LoadModalIdea(@item.Id)">Edit</a></li>
                    <li><a href="javascript:void(0)" onclick="ShowOrHideIdea(@item.Id)">@(item.IsHidden?"Show":"Hide")</a></li>
                </ul>
            </div>
            <a href="/SalesMarketingIdea/Detail?id=@item.Id">
                @if (item.IsActive)
                {
                    <smaller><span class="activitystatus green act-status"></span> Active</smaller>
                }
                else
                {
                    <smaller><span class="activitystatus red act-status"></span> Disabled</smaller>
                }
                <h1>@item.Name</h1>
                <p>
                    @item.Explanation
                </p>
            </a>
        </div>

    </div>
}
@for (int i = 1; i <= extraCol; i++)
{
    <div class="col">&nbsp;</div>
}