@using Qbicles.Models.SalesMkt;
@model Area
@{
    var lstAllPlaces = (List<Place>)ViewBag.ListPlaces;
    var lstSelectedPlaces = Model != null ? Model.Places : null;
    var api = (string)ViewBag.DocRetrievalUrl;
    var imgAcceptedFile = (string)ViewBag.ImageAcceptedExtensions;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">@(Model != null ? "Edit Area" : "Add an Area")</h5>
        </div>
        <div class="modal-body">
            <form id="frm-area-addedit" enctype="multipart/form-data">
                <div class="well custom">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="areaname">Area name <span class="red">*</span></label>
                                <input required type="text" id="areaName" name="Name" value="@(Model!=null?Model.Name:"")" class="form-control">
                                <input type="hidden" id="areaId" name="Id" value="@(Model!=null?Model.Id:0)" />
                                <input type="hidden" id="sm-area-object-key" name="mediaObjectKey" />
                                <input type="hidden" id="sm-area-object-name" name="mediaObjectName" />
                                <input type="hidden" id="sm-area-object-size" name="mediaObjectSize" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="AreaImageUri">Featured image</label>
                                <input id="sm-area-upload-media" type="file" class="form-control previewimg" accept="@imgAcceptedFile" @(Model == null ? "required" : "") onchange="showImageFromInputFile(this, '#img_area')">
                            </div>
                            @if (Model == null)
                            {
                                <img id="img_area" src="" alt="Your image" style="display: none; width: 100%; height: auto; margin-bottom: 30px;" />
                            }
                            else
                            {
                                <img id="img_area" src="@(api + Model.FeaturedImageUri + "&size=M")" alt="Your image" style="width: 100%; height: auto; margin-bottom: 30px;" />
                            }

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="AssociatePlaces">Associated Places</label>
                                <span class="multiselect-native-select">
                                    <select name="AssociatePlaces" class="form-control checkmulti" style="width: 100%;display:none" multiple="">
                                        @foreach (var place in lstAllPlaces)
                                        {
                                            <option value="@place.Id" @(lstSelectedPlaces != null && lstSelectedPlaces.Any(s => s.Id == place.Id) ? "selected" : "")>@place.Name</option>
                                        }
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <a class="btn btn-success" onclick="ProcessSMArea()">Confirm</a>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->