@using Qbicles.Models.SalesMkt;
@model List<Area>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var extraCol = (Model.Count() % 4 == 0 ? 0 : 4) - Model.Count() % 4;
}
@if (Model != null)
{
    foreach (Area area in Model)
    {
        var places = "";
        if (area.Places != null)
        {
            foreach (Place place in area.Places)
            {
                places += ", " + place.Name;
            }
            places = places.TrimStart(',');
        }
        <div class="col article-feature @(area.IsHidden?"area-hidden":"")">
            <a href="#" onclick="LoadModalArea(@area.Id)" data-toggle="modal" data-target="#app-marketing-area-add">
                <div class="article-feature-img" style="background: url(@(api + area.FeaturedImageUri + "&size=M"));"></div>
            </a>

            <div class="info">
                <div class="btn-group optsnew defaulted dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#" onclick="LoadModalArea(@area.Id)" data-toggle="modal" data-target="#app-marketing-area-add">Edit</a></li>
                        <li><a href="javascript:void(0)" onclick="ShowOrHideArea(@area.Id)">@(area.IsHidden?"Show":"Hide")</a></li>
                    </ul>
                </div>
                <a href="#" onclick="LoadModalArea(@area.Id)" data-toggle="modal" data-target="#app-marketing-area-add">
                    <smaller></smaller>
                    <h1>@area.Name</h1>
                    @if (!places.Equals(""))
                    {
                        <p>Includes: @(places.Count() > 28 ? places.Substring(0, 28) + "..." : places)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </a>
            </div>
        </div>
    }
    for (int i = 1; i <= extraCol; i++)
    {
        <div class="col">&nbsp;</div>
    }
}
