@using Qbicles.Models.SalesMkt;
@using Qbicles.Models;
@model Brand
@{
    var mediaFolders = (List<MediaFolder>)ViewBag.MediaFolders;
    var api = (string)ViewBag.DocRetrievalUrl;
    var imgPreview = Model!=null&& Model.Id > 0 && !string.IsNullOrEmpty(Model.FeaturedImageUri) ? (api + Model.FeaturedImageUri) : "";
}

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">@(Model!=null? "Edit Brand": "Add a Brand")</h5>
            </div>
            <div class="modal-body">
                <form id="frm-marketing-brand" enctype="multipart/form-data">
                    <div class="well custom" style="max-width: 751px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="brandname">Brand name <span class="red">*</span></label>
                                    <input type="text" name="Name" value="@(Model!=null? Model.Name:"")" required class="form-control">
                                    <input type="hidden" name="Id" value="@(Model!=null?Model.Id.ToString():"")">
                                    <input type="hidden" id="sm-brand-object-key" name="mediaObjectKey" />
                                    <input type="hidden" id="sm-brand-object-name" name="mediaObjectName" />
                                    <input type="hidden" id="sm-brand-object-size" name="mediaObjectSize" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="account_number">Featured image <span class="red">*</span></label>
                                    <input id="sm-brand-upload-image" type="file" class="form-control previewimgbrand" @(!string.IsNullOrEmpty(imgPreview)?"":"required") name="FeaturedImg" data-target="#imgbrandpreview">
                                </div>

                            </div>
                        </div>
                        <img id="imgbrandpreview" src="@imgPreview" alt="Your image" style="display: @(!string.IsNullOrEmpty(imgPreview)?"block":"none"); width: 100%; height: auto; margin-bottom: 30px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="FeaturedImageUri">Resource folder (for storing and retrieving your files) <span class="red">*</span></label>
                                    <select id="featuredImageUri" name="FeaturedImageUri" required class="form-control select2" style="width: 100%;" onchange="if ($(this).val() == 0) { $('.foldername').show(); SocialBrandAutoGenerateFolderName(); } else { $('.foldername').hide(); }; $('#frm-marketing-brand').valid();" tabindex="-1" aria-hidden="true">
                                        <option value=""></option>
                                        <option value="0">Create a new folder</option>
                                        @foreach (var item in mediaFolders)
                                        {
                                            <option value="@item.Id.ToString()" @(Model != null && Model.ResourceFolder.Id == item.Id ? "selected" : "")>@item.Name</option>
                                        }
                                    </select>
                                    <label id="FeaturedImageUri-error" class="error" for="FeaturedImageUri" style="display: none;"></label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group foldername" style="display: none;">
                                    <label for="FolderName">Enter a name for your new folder <span class="red">*</span></label>
                                    <input required id="brandFolderName" type="text" name="FolderName" class="form-control" value="">
                                    <label id="FolderName-error" class="error" for="FolderName" style="display: none;"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group" style="margin: 0;">
                                    <label for="Description">Category/positioning <span class="red">*</span></label>
                                    <textarea name="Description" required class="form-control" style="height: 70px;">@(Model != null?Model.Description:"")</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <a onclick="ProcessSaleMarketingBranch()" class="btn btn-success">Confirm</a>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->