@using Qbicles.Models.SalesMkt;
@model List<CustomOption>
@{
    var idCus = -1;
}
<input hidden="" id="customCriteriaDefinitionId" value="@(Model.Count > 0 ? Model.FirstOrDefault().CustomCriteriaDefinition.Id : -1)" />
<label for="ageranges">Age ranges</label>
<table class="datatable table-striped table-hover" id="age-ranges-table" style="width: 100%; background: #fff;">
    <thead>
        <tr>
            <th>Start age</th>
            <th>End age</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                if (item is AgeRange)
                {
                    idCus = item.CustomCriteriaDefinition.Id;
                    var ageRange = (AgeRange)item;
                    <tr>
                        <td><input id="ip-start-age-range-@(item.Id.ToString())" type="number" class="form-control inline" value="@ageRange.Start" onchange="onChangeAgeRange('@item.Id','@item.CustomCriteriaDefinition.Id', $(this).val(), 0)" style="width: 80px;"></td>
                        <td><input id="ip-end-age-range-@(item.Id.ToString())" type="number" class="form-control inline" value="@ageRange.End" onchange="onChangeAgeRange('@item.Id', '@item.CustomCriteriaDefinition.Id', $(this).val(), 1)" style="width: 80px;"></td>
                        <td>
                            <button class="btn btn-danger" onclick="DeleteAgeRange('@item.Id')"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<br />
<button id="sm-add-contact" class="btn btn-success" onclick="AddRowContacTable('@idCus')"><i class="fa fa-plus"></i> &nbsp; Add another</button>
