@using Qbicles.Models.SalesMkt;
@{
    var valuePropositions = (List<ValueProposition>)ViewBag.ValuePropositions;
    var attributes = (List<Qbicles.Models.SalesMkt.Attribute>)ViewBag.Attributes;
}
<div class="col-xs-12 col-sm-6">
    <div class="form-group">
        <label for="campaignatts">Focus attributes</label>
        <span class="multiselect-native-select">
            <select name="attributes" class="checkmulti" multiple="" style="display:none">
                @foreach (var item in attributes)
                {
                   <option value="@item.Id">@item.Name</option>
                }
            </select>
        </span>
    </div>
</div>
<div class="col-xs-12 col-sm-6">
    <div class="form-group">
        <label for="valueprops">Value propositions</label>
        <span class="multiselect-native-select">
            <select name="valueprops" class="checkmulti" multiple="" style="display:none">
                @foreach (var item in valuePropositions)
                {
                    <option value="@item.Id">"Our <b>@item.BrandProduct.Name</b> helps <b>@(string.Join(",", item.Segments.Select(s => s.Name).ToArray()))</b> who <b>@item.WhoWantTo</b> by <b>@item.By"</b>.</option>
                }
            </select>
        </span>
    </div>
</div>
