@using Qbicles.Models.SalesMkt;
@using Qbicles.BusinessRules.Model;
@model List<HaltedEmailCampaignModel>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var dateFormat = ViewBag.CurrentDateFormat;
}
@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="col article-feature">
            <a href="/SalesMarketing/SMEmail?id=@item.Campaign.Id">
                <div class="article-feature-img" style="background: url('@(api+item.Campaign.FeaturedImageUri + "&size=M")');">
                    <span class="label label-lg label-primary">@item.Campaign.Segments.Count() Segments</span>
                </div>
            </a>
            <div class="info">

                <div class="btn-group optsnew defaulted dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        @if (item.IsHalted)
                        {
                            <li><a href="#" data-toggle="modal" data-target="#app-marketing-halt-campaign" onclick="$('#btnRemoveQueue').attr('data-id', @item.Campaign.Id); $('#btnRemoveQueue').attr('data-type', 'EmailCampaign');">Halt</a></li>
                        }
                        else
                        {
                            <li><a href="#" disabled data-tooltip="Your Campaign has no queued posts to halt">Halt</a></li>
                        }
                        <li><a href="#" data-toggle="modal" data-target="#app-marketing-email-campaign-edit" onclick="LoadEmailCampaignEditModal(@item.Campaign.Id)">Edit</a></li>
                        @*<li><a href="#" data-toggle="modal" data-target="#archive">Hide</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#app-marketing-delete-campaign">Delete</a></li>*@
                    </ul>
                </div>

                <a href="/SalesMarketing/SMEmail?id=@item.Campaign.Id">
                    <smaller>Started @item.Campaign.CreatedDate.ToString(dateFormat)</smaller>
                    <smaller></smaller>
                    <h1>@item.Campaign.Name</h1>
                    <p>@item.Campaign.Summary</p>
                </a>
            </div>

        </div>
    }
}