@using Qbicles.Models.SalesMkt;
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var contacts = (List<SMContact>)ViewBag.Contacts;
}
@{
    var preChar = "";
}
@foreach (var contact in contacts)
{
    var firstChar = (contact.Name != null ? contact.Name[0].ToString().ToUpper() : "");
    if (!preChar.Equals(firstChar))
    {
        preChar = firstChar;
        <li class="letters" style="padding-top: 0;">@firstChar</li>
    }

    <li>
        <a href="#" onclick="$('.contact-list-2').hide(); $('.contact-2').fadeIn(); showNewPipelineContact(@contact.Id)">
            <div class="contact-avatar">
                <div style="background-image: url('@(api + contact.AvatarUri + "&size=T")');">&nbsp;</div>
            </div>
            <div class="contact-info">
                <h5>@contact.Name</h5>
                <p>@String.Join(", ", @contact.Segments.Select(s => s.Name).ToArray())</p>
            </div>
        </a>
    </li>
}