@using System.Globalization
@using Qbicles.Models.SalesMkt;
@model List<Pipeline>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var extraCol = (Model.Count() % 4 == 0 ? 0 : 4) - Model.Count() % 4;
}
@if (Model != null)
{
    foreach (Pipeline pipeline in Model)
    {
        <div class="col article-feature @(pipeline.IsHidden?"pipeline-hidden":"")">
            <a href="/SalesMarketing/SMPipeline?id=@pipeline.Id">
                <div class="article-feature-img" style="background: url(@(api + pipeline.FeaturedImageUri + "&size=M"));">
                </div>
            </a>
            <div class="info">
                <div class="btn-group optsnew defaulted dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#" data-toggle="modal" data-target="#app-marketing-pipeline-addedit" onclick="LoadModalPipeline(@pipeline.Id)">Edit</a></li>
                        <li><a href="javascript:void(0)" onclick="ShowOrHidePipeline(@pipeline.Id)">@(pipeline.IsHidden?"Show":"Hide")</a></li>
                    </ul>
                </div>
                <a href="/SalesMarketing/SMPipeline?id=@pipeline.Id">
                    <smaller>@pipeline.Contacts.Count() contacts</smaller>
                    <h1>@pipeline.Name</h1>
                    <p>@pipeline.Summary</p>
                </a>
            </div>
        </div>
    }
    for (int i = 1; i <= extraCol; i++)
    {
        <div class="col">&nbsp;</div>
    }
}
