@using Qbicles.Models.SalesMkt;
@model Place
    @{
        var lstAllAreas = (List<Area>)ViewBag.ListAreas;
        var lstSelectedAreas = Model != null ? Model.Areas : null;
        var api = (string)ViewBag.DocRetrievalUrl;
    }
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">@(Model != null ? "Edit Place" : "Add a Place")</h5>
            </div>
            <div class="modal-body">
                <form id="frm-place-addedit"  enctype="multipart/form-data">
                    <div class="well custom">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="Name">Place name <span class="red">*</span></label>
                                    <input required type="text" name="Name" class="form-control" value="@(Model!=null?Model.Name:"")">
                                    <input type="hidden" id="placeId" name="Id" value="@(Model!=null?Model.Id:0)" />
                                    <input type="hidden" id="sm-place-object-key" name="mediaObjectKey" />
                                    <input type="hidden" id="sm-place-object-name" name="mediaObjectName" />
                                    <input type="hidden" id="sm-place-object-size" name="mediaObjectSize" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="Prospects">Prospects (approx)</label>
                                    @if (Model != null)
                                    {
                                        <input type="number" name="Prospects" class="form-control" value="@Model.Prospects">
                                    }
                                    else
                                    {
                                        <input type="number" name="Prospects" class="form-control" value="">
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="AssociateAreas">Area (s)</label>
                                    <span class="multiselect-native-select">
                                        <select name="AssociateAreas" class="form-control checkmulti" style="width: 100%;display:none" multiple="">
                                            @foreach (var area in lstAllAreas)
                                            {
                                                <option value="@area.Id" @(lstSelectedAreas != null && lstSelectedAreas.Any(s => s.Id == area.Id) ? "selected" : "")>@area.Name</option>
                                            }
                                        </select>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="PlaceImageUri">Featured image</label>
                                    <input id="sm-place-upload-media" type="file" class="form-control previewimg" name="PlaceImageUri" @(Model==null?"required": "") onchange="showImageFromInputFile(this, '#img_place')">
                                </div>
                            </div>

                            @if (Model == null)
                            {
                                <img id="img_place" src="" alt="Your image" style="display: none; width: 100%; height: auto; margin-bottom: 30px;" />
                            }
                            else
                            {
                                <img id="img_place" src="@(api + Model.FeaturedImageUri)" alt="Your image" style="width: 100%; height: auto; margin-bottom: 30px;" />
                            }
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <img id="placeimg" src="" alt="Your image" style="display: none; width: 100%; height: auto; margin-bottom: 30px;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group" style="margin: 0;">
                                    <label for="Summary">Summary</label>
                                    <textarea required name="Summary" class="form-control" style="height: 80px;">@(Model!=null?Model.Summary:"")</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-success" onclick="ProcessPlaceAdd()">Confirm</a>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
