@using Qbicles.Models.SalesMkt;
@using Qbicles.BusinessRules
@model SMContact
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
}
<div class="flex-grid-fluid-lg from-community c1" style="width: 100%;">

    <div class="col" style="width: 100%; max-width: 500px; flex: 0; margin: 0 auto;">
        <form id="frm-pipelinecontact-add" method="post" action="/SalesMarketing/SavePipelineContact" enctype="multipart/form-data">
            <input type="hidden" id="contactId" name="contactId" value="@Model.Id">
            <a href="#" class="article-feature">
                <div class="article-feature-img" style="background: url('@(api + Model.AvatarUri + "&size=M")')">
                </div>
                <div class="info">
                    <h1>@Model.Name</h1>

                    <table class="table table-borderless info-table-2" style="color: #333 !important; margin: 15px 5px 30px 5px;">
                        <tbody>
                            <tr>
                                <td><strong>Email</strong></td>
                                <td><a href="mailto:@Model.Email">@Model.Email</a></td>
                            </tr>
                            <tr>
                                <td><strong>Tel</strong></td>
                                <td><a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></td>
                            </tr>
                            <tr>
                                <td><strong>Source</strong></td>
                                <td>@Model.SourceDescription</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="well custom">
                        <div class="form-group">
                            <label for="Rating" style="color: #333;">Prospect rating</label>
                            <select name="Rating" class="form-control select2" style="width: 100%;">
                                <option value=""></option>
                                <option value="1">1 star (low quality)</option>
                                <option value="2">2 stars</option>
                                <option value="3">3 stars</option>
                                <option value="4">4 stars</option>
                                <option value="5">5 stars (high quality)</option>
                            </select>
                            <label id="Rating-error" class="error" for="Rating" style="display: none; margin-bottom: 0px">This field is required.</label>
                        </div>

                        <label for="rating" style="color: #333;">Potential value</label>
                        <div class="input-group">
                            <span class="input-group-addon">@currencySettings.CurrencySymbol</span>
                            <input type="number" name="PotentialValue" class="form-control">
                        </div>
                        <label id="PotentialValue-error" class="error" for="PotentialValue" style="display: none;">This field is required.</label>
                        @* <label id="PotentialValue-error" class="error" for="PotentialValue" style="display: none; margin-top: -30px">This field is required.</label>*@
                    </div>

                    <div style="padding: 0 20px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <button type="button" class="btn btn-primary community-button" onclick="$('.contact-2').hide(); $('.contact-list-2').show();"><i class="fa fa-angle-left"></i> &nbsp; Back to list</button>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <button type="submit" class="btn btn-success add-user community-button"><i class="fa fa-user-plus"></i> &nbsp; Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </form>
    </div>

</div>