@using Qbicles.Models.SalesMkt;
@using Qbicles.BusinessRules
@model PipelineContact
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
}
<div class="flex-grid-fluid-lg from-community c1" style="width: 100%;">
    <input type="hidden" id="Id" value="@Model.Id">
    <div class="col" style="width: 100%; max-width: 500px; flex: 0; margin: 0 auto;">
        <a href="#" class="article-feature">
            <div class="article-feature-img" style="background: url('@(api + Model.Contact.AvatarUri + "&size=M")');">
            </div>
            <div class="info">
                <smaller>Source: @Model.Contact.SourceDescription</smaller>
                <h1>@Model.Contact.Name</h1>
                <p>@Model.Contact.Email</p>
                <div class="well custom">
                    <input type="hidden" id="pipelineContactId" value="@Model.Id">
                    <div class="form-group">
                        <label for="rating" style="color: #333;">Prospect rating</label>
                        <select id="rating" name="rating" class="form-control select2" style="width: 100%;" onchange="$('#app-marketing-pipeline-contact-manage').html(''); savePipelineContact(@Model.Id)">
                            <option value=""></option>
                            <option value="1" @(Model.Rating == ProspectRating.Star_1 ? "selected" : "")>1 star (low quality)</option>
                            <option value="2" @(Model.Rating == ProspectRating.Star_2 ? "selected" : "")>2 stars</option>
                            <option value="3" @(Model.Rating == ProspectRating.Star_3 ? "selected" : "")>3 stars</option>
                            <option value="4" @(Model.Rating == ProspectRating.Star_4 ? "selected" : "")>4 stars</option>
                            <option value="5" @(Model.Rating == ProspectRating.Star_5 ? "selected" : "")>5 stars (high quality)</option>
                        </select>
                    </div>

                    <label for="potentialValue" style="color: #333;">Potential value</label>
                    <div class="input-group">
                        <span class="input-group-addon">@currencySettings.CurrencySymbol</span>
                        <input type="number" id="potentialValue" name="potentialValue" value="@Model.PotentialValue" class="form-control" onkeyup="$('#app-marketing-pipeline-contact-manage').html(''); savePipelineContact(@Model.Id)">
                    </div>
                </div>
                <div style="padding: 0 20px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <button class="btn btn-primary community-button" onclick="$('.contact').hide(); $('.contact-list').show(); LoadExistPipelineContacts($('#txtPipelineContactSearch').val(), @Model.Pipeline.Id)"><i class="fa fa-angle-left"></i> &nbsp; Contact list</button>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <button class="btn btn-danger remove-user community-button" onclick="$('.contact').hide(); $('.contact-list').show(); removePipelineContact(@Model.Id)"><i class="fa fa-trash"></i> &nbsp; Remove</button>

                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>