@using Qbicles.BusinessRules.Model
@{
    var pageGroup = (dynamic)ViewBag.GroupList;
    var listAccountSocialNetwork = (List<AccountSocialNetwork>)ViewBag.ListAccountSocialNetwork;
    var accessToken = (string)ViewBag.AccessToken;
}
<div class="modal fade left" id="app-marketing-social-facebook-group-add" role="dialog" aria-labelledby="app-marketing-social-facebook-group-add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Link your Facebook Group</h5>
            </div>
            <div class="modal-body">
                <form id="frm-facebook-group" method="post" action="/SalesMarketing/FacebookAuth" novalidate="novalidate">
                    <input type="hidden" name="FacebookType" value="2" />
                    <div class="activity-overview task" style="padding: 20px 20px 15px 20px;">
                        <h5>Authorising Qbicles on Facebook</h5>
                        <p style="font-size: 12px;">In order to connect a Facebook Group to your Qbicles account, we'll need to authenticate through your personal Facebook Profile that has the Admin role on the Group you're looking to connect. It's impossible to connect Groups that you are only a member of. Learn more about Facebook Group Roles <a href="https://www.facebook.com/help/www/901690736606156" target="_blank">here</a>.</p>

                        <p>Connecting Facebook Groups requires an additional step of adding the Qbicles Sales &amp; Marketing app within your Group settings in Facebook itself.</p>
                    </div>
                    <br />

                    <div class="activity-overview alert-detail" style="padding: 20px 20px 15px 20px;">
                        <h5>Please note:</h5>
                        <p>All posts published to a Facebook Group will appear as being posted by the Facebook member who connected the Group. </p>
                    </div>

                    <br />
                    <div class="activity-overview task" style="padding: 20px 20px 15px 20px;">
                        <div id="fg-list">
                            @if (pageGroup != null)
                            {
                                if (pageGroup.data.Count > 0)
                                {
                                    foreach (var item in pageGroup.data)
                                    {
                                        if (item.administrator == true)
                                        {
                                            if (listAccountSocialNetwork != null)
                                            {
                                                var ginstalled = listAccountSocialNetwork.Where(x => x.SocialNetworkId == long.Parse(item.id)).ToList();
                                                if (ginstalled.Count == 0)
                                                {
                                                    <div class="row" id="fg_@item.id">
                                                        <div class="col-xs-12 col-sm-12">
                                                            <div class="form-group">
                                                                <div class="col-xs-3 col-sm-3">
                                                                    <img style="width:100%" src="@item.picture.data.url" />
                                                                </div>
                                                                <div class="col-xs-5 col-sm-5">
                                                                    <label>@item.name</label>
                                                                </div>
                                                                <div class="col-xs-3 col-sm-3">
                                                                    <a href="javascript:;" class="btn btn-primary" onclick="AddProfileFacebookGroup('@item.id', '@item.name','@item.picture.data.url', '@accessToken')">Add profile</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="row" id="fg_@item.id">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <div class="form-group">
                                                            <div class="col-xs-3 col-sm-3">
                                                                <img style="width:100%" src="@item.picture.data.url" />
                                                            </div>
                                                            <div class="col-xs-5 col-sm-5">
                                                                <label>@item.name</label>
                                                            </div>
                                                            <div class="col-xs-3 col-sm-3">
                                                                <a href="javascript:;" class="btn btn-primary" onclick="AddProfileFacebookGroup('@item.id', '@item.name','@item.picture.data.url', '@accessToken')">Add profile</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                                @*else
                                {
                                    <div style="padding: 20px 20px 15px 20px; border-style:dashed; border: 1px solid #F44336">
                                        <p style="font-size: 12px;">Your account doesn’t have a Group that supports this action. Please try logging in to a different account that allows you to create a Group</p>
                                    </div>
                                }*@
                            }
                            @*else
                            {
                                <div style="padding: 20px 20px 15px 20px; border-style:dashed; border: 1px solid #F44336">
                                    <p style="font-size: 12px;">Your account doesn’t have a Page that supports this action. Please try logging in to a different account that allows you to create a Page</p>
                                </div>
                            }*@
                        </div>
                    </div>
                    @*<div class="activity-overview alert-detail" style="padding: 20px 20px 15px 20px;">

                            @if (pageGroup != null)
                            {
                                if (pageGroup.data.Count > 0)
                                {
                                    int i = 0;

                                    <h5>You have installed the following profile(s)</h5>
                                    foreach (var item in pageGroup.data)
                                    {
                                        i = i + 1;
                                        if (listAccountSocialNetwork != null)
                                        {
                                            var ginstalled = listAccountSocialNetwork.Where(x => x.SocialNetworkId == long.Parse(item.id)).ToList();
                                            if (ginstalled.Count() > 0)
                                            {
                                                <div class="row" id="fg_@item.id">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <div class="form-group">
                                                            <div class="col-xs-3 col-sm-3">
                                                                <img style="width:100%" src="@item.picture.data.url" />
                                                            </div>
                                                            <div class="col-xs-5 col-sm-5">
                                                                <label>@item.name</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        if(i == pageGroup.data.Count)
                                        {
                                            <div id="pg_installed"></div>
                                        }
                                    }
                                }
                            }
                        </div>*@

                    <button type="submit" class="btn btn-primary community-button"><i class="fa fa-facebook-square"></i> &nbsp; Authorise Qbicles on Facebook</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->