@using Qbicles.BusinessRules.Model
@{
    var pageList = (dynamic)ViewBag.PageList;
    var listAccountSocialNetwork = (List<AccountSocialNetwork>)ViewBag.ListAccountSocialNetwork;
}
<div class="modal fade left" id="app-marketing-social-facebook-page-add" role="dialog" aria-labelledby="app-marketing-social-facebook-page-add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Link your Facebook Page</h5>
            </div>
            <div class="modal-body">
                <form id="frm-facebook" method="post" action="/SalesMarketing/FacebookAuth" novalidate="novalidate">
                    <input type="hidden" name="FacebookType" value="1" />
                    <div class="activity-overview task" style="padding: 20px 20px 15px 20px;">
                        <h5>Authorising Qbicles on Facebook</h5>
                        <p style="font-size: 12px;">To get started please log in to your personal Facebook Profile that has the required permissions (i.e. Page Admin or Page Editor Role on the Page you're trying to connect to). This will allow you to authorise Qbicles to access the page using the button below...</p>
                    </div>
                    <div class="activity-overview task" style="padding: 20px 20px 15px 20px;">
                        <div id="fp-list">
                            @if (pageList != null)
                            {
                                if (pageList.data.Count > 0)
                                {
                                    foreach (var item in pageList.data)
                                    {
                                        if (listAccountSocialNetwork != null)
                                        {
                                            var ginstalled = listAccountSocialNetwork.Where(x => x.SocialNetworkId == long.Parse(item.id)).ToList();
                                            if (ginstalled.Count() == 0)
                                            {
                                                <div class="row" id="fp_@item.id">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <div class="form-group">
                                                            <div class="col-xs-3 col-sm-3">
                                                                <img style="width:100%" src="@item.picture.data.url" />
                                                            </div>
                                                            <div class="col-xs-5 col-sm-5">
                                                                <label>@item.name</label>
                                                            </div>
                                                            <div class="col-xs-3 col-sm-3">
                                                                <a href="javascript:;" class="btn btn-primary" onclick="AddProfileFacebookPage('@item.id', '@item.name','@item.picture.data.url', '@item.access_token')">Add profile</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="row" id="fp_@item.id">
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-xs-3 col-sm-3">
                                                            <img style="width:100%" src="@item.picture.data.url" />
                                                        </div>
                                                        <div class="col-xs-5 col-sm-5">
                                                            <label>@item.name</label>
                                                        </div>
                                                        <div class="col-xs-3 col-sm-3">
                                                            <a href="javascript:;" class="btn btn-primary" onclick="AddProfileFacebookPage('@item.id', '@item.name','@item.picture.data.url', '@item.access_token')">Add profile</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                @*else
                                {
                                    <div style="padding: 20px 20px 15px 20px; border-style:dashed; border: 1px solid #F44336">
                                        <p style="font-size: 12px;">Your account doesn’t have a Page that supports this action. Please try logging in to a different account that allows you to create a Page</p>
                                    </div>
                                }*@
                            }
                            @*else
                            {
                                <div style="padding: 20px 20px 15px 20px; border-style:dashed; border: 1px solid #F44336">
                                    <p style="font-size: 12px;">Your account doesn’t have a Page that supports this action. Please try logging in to a different account that allows you to create a Page</p>
                                </div>
                            }*@
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary community-button"><i class="fa fa-facebook-square"></i> &nbsp; Authorise Qbicles on Facebook</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->