@using Qbicles.Models.SalesMkt;
@using Qbicles.BusinessRules;
@model List<SalesMarketingWorkGroup>
@{
    var dateFormat = ViewBag.CurrentDateFormat;
}
<input hidden="" id="swg" value="@(Model.Count > 0 ? 1 : -1)" />
<table id="workgroups-table" class="datatable table-hover table-striped" style="width: 100%;">
    <thead>
    <tr>
        <th data-priority="1">Name</th>
        <th data-priority="3">Creator</th>
        <th data-priority="3">Created</th>
        <th data-priority="2">Process(es)</th>
        <th data-priority="2">Members</th>
        <th data-priority="1" data-orderable="false">Options</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@(item.CreatedBy.Forename + " " + item.CreatedBy.Surname)</td>
            <td>@item.CreatedDate.ToString(dateFormat)</td>
            <td>
                @foreach (var prces in item.Processes)
                {
                    <span>@prces.Name</span><br />
                }
            </td>
            <td>@(item.Members.Count)</td>
            <td>
                <button class="btn btn-warning" data-toggle="modal" data-target="#app-marketing-workgroup-add" onclick="LoadModalWorkgroup(@item.Id);"><i class="fa fa-pencil"></i></button>
                <button data-target="#app-marketing-delete-workgroup" type="button" onclick="$('#wg-delete-id').val(@item.Id);" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    }
    </tbody>
</table>