@using Qbicles.Models.SalesMkt
@using Qbicles.BusinessRules.Model
@using Qbicles.BusinessRules
@using Qbicles.Models
@{
    ViewBag.Title = "Sales & Marketing > Profiles";
    var networkType = (List<NetworkType>)ViewBag.networkType ?? new List<NetworkType>();
    var listAccountSocialNetwork = (List<AccountSocialNetwork>)ViewBag.ListAccountSocialNetwork;
    var tabConfig = (ViewBag.TabConfig != null ? (bool)ViewBag.TabConfig : false);
    var facebookPage = (ViewBag.FacebookPage != null ? (bool)ViewBag.FacebookPage : false);
    var facebookType = ViewBag.FacebookType != null ? (int)ViewBag.FacebookType : 0;
    var pageList = (dynamic)ViewBag.PageList;
    var groupList = (dynamic)ViewBag.GroupList;
    var lstAllArea = (List<Area>)ViewBag.ListAreas ?? new List<Area>();
    var api = (string)ViewBag.DocRetrievalUrl;
    var lstUiSetting = (List<UiSetting>)ViewBag.UiSetting ?? new List<UiSetting>();
    var tabAcvtive = lstUiSetting.FirstOrDefault(s => s.Key == SaleMarketingStoreUiSettings.tabActive);
    var lstSegments = (List<Segment>)ViewBag.Segments;
}
<input type="hidden" id="api" value="@api">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative; top: -1px;">


    <!-- Main content -->
    <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin">


        <!-- App bar -->
        <div class="mdv2-col-app" style="margin-bottom: 0;">

            <div data-spy="affix" class="contained-sidebar">


                <ul class="subapps-nav" id="tab-apps" role="navigation" data-tooltip-stickto="bottom" style="margin-bottom: 30px;">
                    <li>
                        <a href="#app-brands" data-tooltip="Brands" data-toggle="tab" onclick="window.scrollTo(0, 0); manage_options('#options-brands'); $('.section-detail').hide(); $('.intro-brands').show(); $('.appnav').hide(); getTotalPageBrand();saveTabActive('Brands');">
                            <i class="fas fa-signature"></i>
                        </a>
                    </li>
                    <li>
                        <a id="contacts" href="#sm-contacts" data-tooltip="Contacts, Segments &amp; Lists" data-toggle="tab" onclick="window.scrollTo(0,0); manage_options('#options-contacts'); $('.section-detail').hide(); $('.intro-contacts').show(); $('.appnav').hide(); $('.nav-contacts').show();saveTabActive('Contacts');$('#subcontacts').click();">
                            <i class="fas fa-users"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#app-ideas" data-tooltip="Campaigns" data-toggle="tab" onclick="window.scrollTo(0, 0); manage_options('#options-campaigns'); $('.section-detail').hide(); $('.intro-campaigns').show(); $('.appnav').hide(); $('.nav-campaigns').show(); $('#tab-campaigns li:nth-child(1) a').trigger('click'); saveTabActive('Campaigns.Ideas')">
                            <i class="fas fa-bullhorn"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#app-pipelines" id="tab-pipelines" data-tooltip="Pipelines" data-toggle="tab" onclick="window.scrollTo(0, 0); manage_options('#options-pipelines'); $('.section-detail').hide(); $('.intro-pipeline').show(); $('.appnav').hide(); $('.nav-pipelines').show(); getTotalPagePipeline(); saveTabActive('Pipelines');">
                            <i class="fas fa-map-signs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#app-config" data-tooltip="App Configuration" id="config" data-toggle="tab" onclick="window.scrollTo(0,0); manage_options('#options-config'); $('.section-detail').hide(); $('.intro-config').show(); $('.appnav').hide(); LoadSocicalConfigs();saveTabActive('Configs');">
                            <i class="fas fa-cog"></i>
                        </a>
                    </li>
                </ul>

                <div class="qbicle-overview">

                    <div class="activity-overview plain company-overview welcome-info" style="flex: none; margin: 0; padding: 20px 20px 25px 20px; text-align: left;">


                        <div class="section-detail intro-brands">
                            <h2 style="font-weight: 500;">Brands</h2>
                            <p style="color: rgba(0, 0, 0, 0.5);">Manage brand attributes and value propositions</p>
                        </div>

                        <div class="section-detail intro-ideas" style="display: none;">
                            <h2 style="font-weight: 500;">Ideas &amp; Themes</h2>
                            <p style="color: rgba(0, 0, 0, 0.5);">Trends and initiatives management</p>
                        </div>

                        <div class="section-detail intro-contacts" style="display: none;">
                            <h2 style="font-weight: 500;">Contacts, Segments & Places</h2>
                            <p style="color: rgba(0, 0, 0, 0.5);">Build a coherent picture of your market, segment your audiences and store places of interest</p>
                        </div>

                        <div class="section-detail intro-campaigns" style="display: none;">
                            <h2 style="font-weight: 500;">Campaigns</h2>
                            <p style="color: rgba(0, 0, 0, 0.5);">Create and manage Marketing Campaigns and Ideas to promote and engage with your audience</p>
                        </div>

                        <div class="section-detail intro-pipeline" style="display: none;">
                            <h2 style="font-weight: 500;">Pipelines</h2>
                            <p style="color: rgba(0, 0, 0, 0.5);">Progress prospects through the sales cycle or perform other Pipeline activities</p>
                        </div>

                        <div class="section-detail intro-loyalty" style="display: none;">
                            <h2 style="font-weight: 500;">Loyalty</h2>
                            <p style="color: rgba(0, 0, 0, 0.5);">Manage rewards and loyalty schemes</p>
                        </div>

                        <div class="section-detail intro-config" style="display: none;">
                            <h2 style="font-weight: 500;">App Configuration</h2>
                            <p style="color: rgba(0, 0, 0, 0.5);">Configure your Sales &amp; Marketing experience, manage your social media accounts and assign Workgroups</p>
                        </div>
                    </div>

                </div>



                <div style="padding: 0 20px 20px 20px;">

                    <!-- Brands options -->
                    <div id="options-brands" class="sidebar-options">

                        <button class="btn btn-success community-button" data-toggle="modal" data-target="#app-marketing-brand-add" onclick="LoadModalBrandById(0)" style="margin-bottom: 30px;">
                            <i class="fa fa-plus"></i>
                            &nbsp; Add a Brand
                        </button>

                        <div class="well custom text-left" style="padding-bottom: 5px;">
                            <div class="form-group">
                                <label for="search">Search</label>
                                <input id="brandSearch" type="text" name="search" class="form-control">
                            </div>
                            <br />
                            <div class="form-group" style="margin: 0;">
                                <div class="checkbox toggle">
                                    <label>
                                        <input id="isLoadingHideBrand" data-toggle="toggle" data-onstyle="success" type="checkbox">
                                        Include hidden records
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- END Brands options -->
                    <!-- END Ideas options -->
                    <!-- Contacts nav -->
                    <div class="appnav nav-contacts" style="display: none;">
                        <ul class="subapps-nav" id="tab-contacts" role="navigation" data-tooltip-stickto="bottom">
                            <li class="active">
                                <a href="#sm-contacts" id="subcontacts" data-toggle="tab" onclick="window.scrollTo(0,0); $('.options-contacts-sub').hide(); $('.options-contacts').show();$('#tblSMContact').DataTable().ajax.reload();saveTabActive('Contacts');" data-tooltip="Contacts">
                                    <i class="fa fa-users"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#contacts-segments" data-toggle="tab" onclick="window.scrollTo(0,0); $('.options-contacts-sub').hide(); $('.options-contacts-1').show();segmentCountRecord = 0;getTotalPageSegment();;saveTabActive('Contacts.Segments');" data-tooltip="Segments">
                                    <i class="fa fa-pie-chart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#contacts-locations" id="locations" data-toggle="tab" onclick="window.scrollTo(0,0); $('.options-contacts-sub').hide(); $('.options-contacts-place').show(); $('#contacts-locations >ul li:nth-child(1) a').trigger('click')" ;saveTabActive('Contacts.Locations');" data-tooltip="Places">
                                    <i class="fa fa-map-marked-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#contacts-ages" data-toggle="tab" onclick="window.scrollTo(0,0); $('.options-contacts-sub').hide(); LoadContacts();saveTabActive('Contacts.Ages');" data-tooltip="Age Ranges" aria-expanded="true">
                                    <i class="fa fa-birthday-cake"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#contacts-criteria" data-toggle="tab" onclick="window.scrollTo(0,0); $('.options-contacts-sub').hide(); $('.options-contacts-4').show();SocialContactCriteriaContent();saveTabActive('Contacts.Criteria');" data-tooltip="Custom Criteria">
                                    <i class="fa fa-user-plus"></i>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <!-- Contacts options -->
                    <div id="options-contacts" class="sidebar-options" style="display: none;">

                        <div class="options-contacts-sub options-contacts-1" style="display: none;">

                            <button class="btn btn-success community-button" data-toggle="modal" data-target="#app-marketing-segment-add" onclick="LoadModalSegment(0)" style="margin-top: 15px; margin-bottom: 30px;">
                                <i class="fa fa-plus"></i>
                                &nbsp; Add a Segment
                            </button>

                            <div class="well custom" style="padding-bottom: 5px;">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" id="segmentSearch" name="search" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="type">Filter by type(s)</label>
                                    <select name="type" id="segmentTypes" class="form-control select2" style="width: 100%;" multiple>
                                        <option value="1">Behavioural</option>
                                        <option value="2">Demographic</option>
                                        <option value="3">Geographic</option>
                                        <option value="4">Psychographic</option>
                                    </select>
                                </div>
                                <br />
                                <div class="form-group" style="margin: 0;">
                                    <div class="checkbox toggle">
                                        <label>
                                            <input id="isLoadingHideSegment" data-toggle="toggle" data-onstyle="success" type="checkbox">
                                            Include hidden records
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="options-contacts-sub options-contacts">

                            <a class="btn btn-success community-button" href="#app-marketing-contact-add" data-toggle="modal" onclick="LoadModelAddSMContact()" style="margin-top: 15px; margin-bottom: 3px;">
                                <i class="fa fa-user-plus"></i>
                                &nbsp; Add a Contact
                            </a>
                            <div class="btn-group options" style="width: 100%; margin-bottom: 30px;">
                                <button class="btn btn-primary community-button" data-toggle="modal" data-target="#app-marketing-trader-sync" onclick="SyncTrader()">
                                    <i class="fa fa-sync"></i>
                                    &nbsp; Sync with Trader
                                </button>
                            </div>
                            <div class="well custom">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" name="search" id="smContactSearch" onkeyup="$('#tblSMContact').DataTable().ajax.reload();" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="options-contacts-sub options-contacts-place" style="display: none;">

                            <a class="btn btn-success community-button" href="#app-marketing-place-add" data-toggle="modal" onclick="LoadModalPlace(0)" style="margin-top: 15px; margin-bottom: 30px;">
                                <i class="fa fa-map-marked-alt"></i>
                                &nbsp; Add a place
                            </a>

                            <div class="well custom" style="padding-bottom: 5px;">
                                <div class="form-group">
                                    <label for="txtPlace">Search</label>
                                    <input type="text" id="txtPlace" name="txtPlace" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="slArea">Filter by area</label>
                                    <select id="slArea" name="slArea" class="form-control select2" style="width: 100%;" onchange="LoadPlace(true)">
                                        <option value="0">Show all</option>
                                        @foreach (var area in lstAllArea)
                                        {
                                            <option value="@area.Id">@area.Name</option>
                                        }
                                    </select>
                                </div>
                                <br />
                                <div class="form-group" style="margin: 0;">
                                    <div class="checkbox toggle">
                                        <label>
                                            <input id="isLoadingHidePlace" data-toggle="toggle" data-onstyle="success" type="checkbox">
                                            Include hidden records
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="options-contacts-sub options-contacts-area" style="display: none;">

                            <a class="btn btn-success community-button" data-toggle="modal" href="#app-marketing-area-add" onclick="LoadModalArea(0)" style="margin-top: 15px; margin-bottom: 30px;">
                                <i class="fa fa-map"></i>
                                &nbsp; Add an area
                            </a>

                            <div class="well custom" style="padding-bottom: 5px;">
                                <div class="form-group">
                                    <label for="txtArea">Search</label>
                                    <input type="text" id="txtArea" name="txtArea" class="form-control">
                                </div>
                                <br />
                                <div class="form-group" style="margin: 0;">
                                    <div class="checkbox toggle">
                                        <label>
                                            <input id="isLoadingHideArea" data-toggle="toggle" data-onstyle="success" type="checkbox">
                                            Include hidden records
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="options-contacts-sub options-contacts-4" style="display: none;">

                            <button class="btn btn-success community-button" data-toggle="modal" data-target="#app-marketing-contact-criteria-add" style="margin-top: 15px; margin-bottom: 30px;">
                                <i class="fa fa-map-marker"></i>
                                &nbsp; Add Custom Criteria
                            </button>

                            <div class="well custom">
                                <div class="form-group" style="margin: 0;">
                                    <label for="search">Search</label>
                                    <input type="text" id="txtCriteriaSearch" name="search" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Contacts options -->



                    <div class="appnav nav-campaigns" style="display: none; margin-bottom: 30px;">
                        <ul class="subapps-nav" id="tab-campaigns" role="navigation" data-tooltip-stickto="bottom">
                            <li class="active">
                                <a href="#app-ideas" data-toggle="tab" onclick="window.scrollTo(0,0); $('.options-campaigns-sub').hide(); $('.options-campaigns-0').show();getTotalPageIdea();saveTabActive('Campaigns.Ideas');" data-tooltip="Ideas">
                                    <i class="fa fa-lightbulb"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#campaigns-social" data-toggle="tab" onclick="window.scrollTo(0,0); $('.options-campaigns-sub').hide(); $('.options-campaigns-3').show(); LoadSocicalCampains(true);saveTabActive('Campaigns.Social')" data-tooltip="Social">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#campaigns-email" data-toggle="tab" onclick="window.scrollTo(0,0); $('.options-campaigns-sub').hide(); $('.options-campaigns-2').show();LoadEmailCampaigns(true);saveTabActive('Campaigns.Emails')" data-tooltip="Email">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>


                    <!-- Campaigns options -->
                    <div id="options-campaigns" class="sidebar-options" style="display: none;">
                        <div class="options-campaigns-sub options-campaigns-0">

                            <button class="btn btn-success community-button" data-toggle="modal" data-target="#app-marketing-idea-add" onclick="LoadModalIdea(0)" style="margin-bottom: 30px;">
                                <i class="fa fa-plus"></i>
                                &nbsp; Add a Campaign Idea
                            </button>

                            <div class="well custom" style="padding-bottom: 5px;">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input id="txtIdeaKeyword" type="text" name="search" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="type">Filter by status</label>
                                    <select id="slIdeaStatus" onchange="getTotalPageIdea();" name="type" class="form-control select2" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                        <option value="0" selected="">Show all</option>
                                        <option value="1">Disabled</option>
                                        <option value="2">Enabled</option>
                                    </select>
                                </div>
                                <br />
                                <div class="form-group" style="margin: 0;">
                                    <div class="checkbox toggle">
                                        <label>
                                            <input id="isLoadingHideIdea" data-toggle="toggle" data-onstyle="success" type="checkbox" onchange="$('.theme-hidden').toggle();">
                                            Include hidden records
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="options-campaigns-sub options-campaigns-1" style="display: none;">

                            <button class="btn btn-success community-button" style="margin-bottom: 30px;" data-toggle="modal" data-target="#app-marketing-ad-campaign-add">
                                <i class="fa fa-plus"></i>
                                &nbsp; New Ad/Design Campaign
                            </button>

                            <div class="well custom">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" name="search" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="type">Filter by objective</label>
                                    <select name="type" class="form-control select2" style="width: 100%;">
                                        <option value="0" selected>All</option>
                                        <option value="Sales">Sales</option>
                                        <option value="Brand Awareness">Brand Awareness</option>
                                        <option value="Product Engagement">Product Engagement</option>
                                    </select>
                                </div>
                                <div class="form-group" style="margin: 0;">
                                    <label for="type">Filter by date(s)</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control daterange" data-drops="up">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="options-campaigns-sub options-campaigns-2" style="display: none;">

                            <div class="activity-overview generic help-text animated bounce">
                                <i class="fa fa-info-circle"></i>
                                <h5>Your mailing lists</h5>
                                <p>
                                    When you create an Email Marketing Campaign you'll be asked to select Customer Segments to include. The people in these Segments will comprise your mailing list. Individual Campaign Posts can use the entire list, or a subset of Segments of your choosing.
                                </p>
                            </div>

                            <button class="btn btn-success community-button" onclick="DPEmailCampaignAdd()" style="margin-bottom: 30px;">
                                <i class="fa fa-plus"></i>
                                &nbsp; New Email Campaign
                            </button>


                            <div class="well custom">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" id="email-campaign-search" name="search" class="form-control">
                                </div>
                                <div class="form-group" style="margin-bottom: 0px">
                                    <label for="type">Filter by target Segments</label>
                                    <select id="target-segment-search" class="form-control select2" style="width: 100%;" multiple>
                                        @if (lstSegments != null)
                                        {

                                            var lstBehavioural = lstSegments.Where(s => s.Type == SegmentType.Behavioural).ToList();
                                            var lstDemographic = lstSegments.Where(s => s.Type == SegmentType.Demographic).ToList();
                                            var lstGeographic = lstSegments.Where(s => s.Type == SegmentType.Geographic).ToList();
                                            var lstPsychographic = lstSegments.Where(s => s.Type == SegmentType.Psychographic).ToList();

                                            if (lstBehavioural.Count() > 0)
                                            {
                                                <optgroup label="Behavioural">
                                                    @foreach (var item in lstBehavioural)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </optgroup>
                                            }

                                            if (lstDemographic.Count() > 0)
                                            {
                                                <optgroup label="Demographic">
                                                    @foreach (var item in lstDemographic)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </optgroup>
                                            }
                                            if (lstGeographic.Count() > 0)
                                            {
                                                <optgroup label="Geographic">
                                                    @foreach (var item in lstGeographic)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </optgroup>
                                            }
                                            if (lstPsychographic.Count() > 0)
                                            {
                                                <optgroup label="Psychographic">
                                                    @foreach (var item in lstPsychographic)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </optgroup>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="options-campaigns-sub options-campaigns-3" style="display: none">
                            @if (listAccountSocialNetwork == null || listAccountSocialNetwork.Count == 0)
                            {
                                <div class="activity-overview generic help-text animated bounce">
                                    <i class="fa fa-info-circle"></i>
                                    <h5>Your social network accounts</h5>
                                    <p>
                                        You haven't linked any social network accounts yet! You can still create posts and collaborate in Qbicles, but the ability to queue and post
                                        to networks is disabled until a valid network is connected. You can connect to your social networks in <a href="#" onclick="$('#config').trigger('click');">App Config.</a>
                                    </p>
                                </div>
                            }

                            <button class="btn btn-success community-button" data-toggle="modal" data-target="#app-marketing-social-campaign-start" style="margin-bottom: 30px;">
                                <i class="fa fa-plus"></i>
                                &nbsp; New Social Campaign
                            </button>

                            <div class="well custom">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input id="social-cmp-search" type="text" name="social-cmp-search" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="type">Filter by Campaign type</label>
                                    <select id="social-cmp-campaign-type" name="social-cmp-campaign-type" class="form-control select2" style="width: 100%;">
                                        <option value="3">Show all</option>
                                        <option value="1">Automated</option>
                                        <option value="2">Manual</option>
                                    </select>
                                </div>
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <label for="type">Filter by target network(s)</label>
                                    <select id="social-cmp-target-type" name="social-cmp-target-type" class="form-control select2" style="width: 100%;" multiple>
                                        @foreach (var item in networkType)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <br />
                                @*<div class="form-group" style="margin: 0;">
                                        <div class="checkbox toggle">
                                            <label>
                                                <input data-toggle="toggle" data-onstyle="success" type="checkbox" onchange="$('.campaign-social-auto-hidden, .campaign-social-manual-hidden').toggle();">
                                                Include hidden records
                                            </label>
                                        </div>
                                    </div>*@
                            </div>
                        </div>



                        <div class="options-campaigns-sub options-campaigns-4" style="display: none;">

                            <button class="btn btn-success community-button" style="margin-bottom: 30px;">
                                <i class="fa fa-plus"></i>
                                &nbsp; New Multi Channel Campaign
                            </button>

                            <div class="well custom">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" name="search" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="type">Filter by segment</label>
                                    <select name="type" class="form-control select2" style="width: 100%;" multiple>
                                        <optgroup label="Behavioural">
                                            <option value="2">Occasional buyer</option>
                                        </optgroup>
                                        <optgroup label="Demographic">
                                            <option value="0">Baby boomers</option>
                                            <option value="1">Millennials</option>
                                        </optgroup>
                                        <optgroup label="Geographic">
                                            <option value="3">Suburban</option>
                                        </optgroup>
                                        <optgroup label="Psychographic">
                                            <option value="0">Health focused leader</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="form-group" style="margin: 0;">
                                    <label for="type">Filter by location</label>
                                    <select name="type" class="form-control select2" style="width: 100%;" multiple>
                                        <option value="0">Nigeria</option>
                                        <option value="1">United Kingdom</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- END Campaigns options -->
                    <!-- Pipeline options -->
                    <div id="options-pipelines" class="sidebar-options" style="display: none;">

                        <div class="options-pipelines-sub options-pipelines-2">

                            <button class="btn btn-success community-button" data-toggle="modal" data-target="#app-marketing-pipeline-addedit" onclick="LoadModalPipeline(0)" style="margin-top: 15px; margin-bottom: 30px;">
                                <i class="fa fa-plus"></i>
                                &nbsp; Add a Pipeline
                            </button>

                            <div class="well custom" style="padding-bottom: 5px;">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" id="txtPipeline" name="search" class="form-control">
                                </div>
                                <br />
                                <div class="form-group" style="margin: 0;">
                                    <div class="checkbox toggle">
                                        <label>
                                            <input id="isLoadingHidePipeline" data-toggle="toggle" data-onstyle="success" type="checkbox">
                                            Include hidden records
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- END Pipeline options -->
                    <!-- Config -->
                    <div id="options-config" class="sidebar-options" style="display: none;">

                        <div class="btn-group options" style="width: 100%; margin-bottom: 3px;">
                            <button class="btn btn-success community-button dropdown-toggle" onclick="$('#settings').trigger('click');" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-plus"></i>
                                &nbsp; Add a Social Account
                            </button>
                            <ul class="dropdown-menu" style="min-width: 100%; top: 47px;">
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#app-marketing-social-facebook-page-add" onclick="SocialFacebookPage(); $('#fp-list').remove();">Facebook Page</a>
                                    <a href="#" data-toggle="modal" data-target="#app-marketing-social-facebook-group-add" onclick="SocialFacebookGroup(); $('#fg-list').remove();">Facebook Group</a>
                                    @* <a href="#" data-toggle="modal" data-target="#app-marketing-social-instagram-add" onclick="SocialInstagram()">Instagram</a>*@
                                    <a href="#" data-toggle="modal" data-target="#app-marketing-social-twitter-add" onclick="SocialTwitter()">Twitter</a>
                                </li>
                            </ul>
                        </div>

                        <button id="btn-addWorkgroup" class="btn btn-info community-button" data-toggle="modal" data-target="#app-marketing-workgroup-add" onclick="LoadModalWorkgroup(0);"><i class="fa fa-users"></i> &nbsp; Add a Workgroup</button>
                    </div>
                    <!-- END Config -->

                </div>

            </div>
        </div>
        <!-- END App bar -->
        <!-- Main area -->
        <div class="mdv2-col-dash" style="min-width: 0;">

            <div class="spacing">

                <div class="tab-content">
                    <!-- Brands -->
                    <div class="tab-pane fade" id="app-brands">
                        <div class="flex-grid-quarters-lg from-community c1" style="width: 100%;"></div>
                        <br><div id="brandPaginateTemplate" style="float:left; display: none"></div><div class="clearfix"></div>
                    </div>
                    <!-- END Brands -->
                    <!-- Ideas -->
                    <div class="tab-pane fade" id="app-ideas">
                        <div class="flex-grid-quarters-lg from-community c1" style="width: 100%;"></div>
                        <br><div id="ideaPaginateTemplate" style="float:left; display: none"></div><div class="clearfix"></div>
                    </div>
                    <!-- END Ideas -->
                    <!-- Contacts (Segments) -->
                    <div class="tab-pane fade" id="contacts-segments">

                        <div class="flex-grid-quarters-lg from-community c1" style="width: 100%;">
                        </div>
                        <br><div id="segmentPaginateTemplate" style="float:left; display: none"></div><div class="clearfix"></div>

                    </div>

                    <!-- Contacts -->
                    <div class="tab-pane fade" id="sm-contacts">


                        <table class="datatable table-striped table-hover" id="tblSMContact" style="width: 100%;" data-order='[[ 1, "asc" ],[2, "asc" ],[ 3, "asc" ],[ 4, "asc" ],[ 5, "asc" ]]'>
                            <thead>
                                <tr>
                                    <th style="width: 40px;" data-orderable="false"></th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone number</th>
                                    <th>Source</th>
                                    <th>Receive emails</th>
                                    <th data-orderable="false">Options</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                    <!-- Age Ranges -->
                    <div class="tab-pane fade" id="contacts-ages">
                        <div class="spacing">

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END Age Ranges -->
                    <!-- END Contacts -->
                    <!-- Locations -->
                    <div class="tab-pane fade" id="contacts-locations" style="margin: -40px -40px">

                        <ul class="subapps-nav" role="navigation" data-tooltip-stickto="bottom">
                            <li class="active">
                                <a href="#" data-toggle="tab" data-target="#location-places" onclick="$('.options-contacts-sub').hide(); $('.options-contacts-place').show(); getTotalPagePlace()" data-tooltip="Places" aria-expanded="true">
                                    <i class="fa fa-map-marked-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="tab" data-target="#location-areas" onclick="$('.options-contacts-sub').hide(); $('.options-contacts-area').show(); getTotalPageArea()" data-tooltip="Areas" aria-expanded="true">
                                    <i class="fa fa-map"></i>
                                </a>
                            </li>
                        </ul>


                        <div class="tab-content">


                            <!-- Places -->
                            <div class="tab-pane fade in active" id="location-places">
                                <div class="spacing" style="padding-top: 20px;">
                                    <div id="content-place" class="flex-grid-quarters-lg from-community c1" style="width: 100%;"></div>
                                    <br><div id="placePaginateTemplate" style="float:left; display: none"></div><div class="clearfix"></div>
                                </div>

                            </div>
                            <!-- END Places -->
                            <!-- Areas -->
                            <div class="tab-pane fade" id="location-areas">

                                <div class="spacing" style="padding-top: 20px;">

                                    <div id="content-area" class="flex-grid-quarters-lg from-community c1" style="width: 100%;">
                                    </div>
                                    <br><div id="areaPaginateTemplate" style="float:left; display: none"></div><div class="clearfix"></div>
                                </div>

                            </div>
                            <!-- END Areas -->


                        </div>

                    </div>
                    <!-- END Locations -->
                    <div class="tab-pane fade" id="contacts-criteria">
                    </div>

                    <!-- END Campaigns (Ads) -->
                    <!-- Campaigns (Email) -->
                    <div class="tab-pane fade" id="campaigns-email">

                        <div class="flex-grid-thirds-lg from-community c1" style="width: 100%;">
                        </div>
                        <button id="load-email-camp" class="btn btn-info community-button" style="margin-top: 15px; max-width: 200px; display: none">Load more results</button>

                    </div>
                    <!-- END Campaigns (Email) -->
                    <!-- Campaigns (Social) -->
                    <div class="tab-pane fade" id="campaigns-social">

                        <div class="flex-grid-thirds-lg from-community c1" style="width: 100%;">



                        </div>
                        <button id="load-camp" class="btn btn-info community-button" style="margin-top: 15px; max-width: 200px; display: none">Load more results</button>

                    </div>
                    <!-- END Campaigns (Social) -->
                    <!-- Pipelines -->
                    <div class="tab-pane fade" id="app-pipelines" style="margin: -40px -40px">
                        <div class="spacing">
                            <div id="content-pipeline" class="flex-grid-quarters-lg from-community c1" style="width: 100%;"></div>
                            <br><div id="pipelinePaginateTemplate" style="float:left; display: none"></div><div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- END Pipelines -->
                    <!-- Loyalty -->
                    <div class="tab-pane fade" id="app-loyalty">
                        <div class="flex-grid-quarters-lg from-community c1" style="width: 100%;">
                        </div>
                    </div>
                    <!-- END Loyalty -->
                    <!-- Config -->
                    <div class="tab-pane fade @(tabConfig ? "active in":"")" id="app-config"></div>
                    <!-- END Config -->
                </div> <!-- ./tab-content -->
            </div>
        </div>

    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->


<div class="modal fade left" id="app-marketing-idea-add" role="dialog" aria-labelledby="app-marketing-idea-add" style="display: none;"></div>
<div class="modal fade left" id="app-marketing-segment-add" role="dialog" aria-labelledby="app-marketing-segment-add" style="display: none;"></div>

@Html.Partial("_Notifications")
@Html.Partial("_ADCampaignAdd")
@Html.Partial("_Config")
@Html.Partial("_LoyaltyAdd")
@Html.Partial("_PipelineProspectAdd")
@Html.Partial("_SocialFacebookPageAdd")
@Html.Partial("_SocialFacebookGroupAdd")
@Html.Partial("_SocialTwitterAdd")
<div class="modal fade left" id="app-marketing-brand-add" role="dialog" aria-labelledby="app-marketing-brand-add" style="display: none;"></div>
<div class="modal fade left" id="app-marketing-pipeline-addedit" role="dialog" aria-labelledby="app-marketing-pipeline-addedit"></div>
<div class="modal fade left" id="app-marketing-area-add" role="dialog" aria-labelledby="app-marketing-area-add" style="display: none;"></div>
<div class="modal fade left" id="app-marketing-place-add" role="dialog" aria-labelledby="app-marketing-place-add" style="display: none;"></div>
<div class="modal fade left" id="app-marketing-contact-add" role="dialog" aria-labelledby="app-marketing-contact-add" style="display: none;"></div>
<div class="modal fade left" id="app-marketing-social-campaign-add" role="dialog" aria-labelledby="app-marketing-social-campaign-add"></div>
<div class="modal fade" id="app-marketing-social-auto-dependencies" role="dialog" aria-labelledby="app-marketing-social-auto-dependencies"></div>
<div class="modal fade left" id="app-marketing-manual-social-campaign-add" role="dialog" aria-labelledby="app-marketing-manual-social-campaign-add"></div>
<div class="modal fade left" id="app-marketing-email-campaign-add" role="dialog" aria-labelledby="app-marketing-email-campaign-add"></div>
<div class="modal fade left" id="app-marketing-workgroup-add" role="dialog" aria-labelledby="app-marketing-workgroup-add" style="display: none;"></div>
<div class="modal fade left" id="app-marketing-contact-criteria-add" role="dialog" aria-labelledby="app-marketing-contact-criteria-add" style="display: none;">
    @{
        Html.RenderAction("GenerateModalCriteriaAddEdit", "SalesMarketingContact", new { criteriaId = 0 });
    }
</div>
<div class="modal fade left" id="app-marketing-manual-social-campaign-edit" role="dialog" aria-labelledby="app-marketing-manual-social-campaign-edit" style="display: none;"></div>
<div class="modal fade left" id="app-marketing-social-campaign-edit" role="dialog" aria-labelledby="app-marketing-social-campaign-edit" style="display: none;"></div>
<div class="modal fade left" id="sm-verify-email" role="dialog" aria-labelledby="sm-verify-email">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Verify your email address</h5>
            </div>
            <div class="modal-body">

                <div class="well custom">
                    <div class="form-group" style="margin: 0;">
                        <label for="name">Email address</label>
                        <input type="email" name="name" onchange="CheckEmailVerifyAvailable()" id="ses-email-identity" class="form-control">
                    </div>
                </div>

                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button onclick="VerifyEmailSES()" id="ses-identity-confirm-btn" class="btn btn-success" disabled>Confirm</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade left" id="app-marketing-email-campaign-edit" role="dialog" aria-labelledby="app-marketing-email-campaign-edit" style="display: none;"></div>
<div class="modal fade" id="app-marketing-delete-workgroup" role="dialog" aria-labelledby="app-marketing-delete-workgroup" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Confirm delete</h5>
            </div>
            <div class="modal-body">

                <div class="activity-overview alert-detail animated bounce" style="padding: 20px;">
                    <h5>Warning!</h5>
                    <br>
                    <input id="wg-delete-id" type="hidden" value="0" />
                    <p>
                        Are you sure you want to delete this Workgroup?
                    </p>

                    <br>
                    <div class="text-right">
                        <button class="btn btn-success" onclick="DeleteWorkgroup();"><i class="fa fa-trash"></i> &nbsp; Delete</button>
                        <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> &nbsp; Cancel</button>
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="app-marketing-delete-socialnetwork" role="dialog" aria-labelledby="app-marketing-delete-socialnetwork" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Confirm delete</h5>
            </div>
            <div class="modal-body">

                <div class="activity-overview alert-detail animated bounce" style="padding: 20px;">
                    <h5>Warning!</h5>
                    <br>
                    <input id="sn-delete-id" type="hidden" value="0" />
                    <p>
                        Are you sure you want to delete this social network?
                    </p>

                    <br>
                    <div class="text-right">
                        <button class="btn btn-success" onclick="DeleteSocialNetwork();"><i class="fa fa-trash"></i> &nbsp; Delete</button>
                        <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> &nbsp; Cancel</button>
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="app-marketing-social-campaign-start" role="dialog" aria-labelledby="app-marketing-social-campaign-start">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Choose Campaign type</h5>
            </div>
            <div class="modal-body">

                <div class="qbicles-list" style="padding: 15px 0;">

                    <div class="flex-grid-half-lg qbicles-dash-grid">

                        <article class="col" style="margin-bottom: 0;">
                            <div class="qbicle-opts">
                            </div>
                            <a href="#" data-toggle="modal" onclick="SocialCampaignAdd()" data-dismiss="modal">
                                <div class="avatar" style="background-image: url('@Url.Content("/Content/DesignStyle/img/icon_socialpost.png")'); border-radius: 0;">&nbsp;</div>
                                <h1 style="color: #333;">Automated Campaign</h1>
                            </a>
                            <p class="qbicle-detail">Create a Social Campaign specifically for Facebook and/or Twitter Posts, with automatic submission available either immediately, or scheduled for a later date and time of your choosing.</p>
                        </article>

                        <article class="col" style="margin-bottom: 0;">
                            <div class="qbicle-opts">
                            </div>
                            <a href="#" data-toggle="modal" onclick="ManualSocialCampaignAdd()" data-dismiss="modal">
                                <div class="avatar" style="background-image: url('@Url.Content("/Content/DesignStyle/img/icon_socialpost_manual.png")'); border-radius: 0;">&nbsp;</div>
                                <h1 style="color: #333;">Manual Campaign</h1>
                            </a>
                            <p class="qbicle-detail">Create a Social Campaign that allows you to track and approve Posts that can be downloaded when the time comes to submit them to your various networks.</p>
                        </article>

                    </div>


                </div>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade left" id="app-marketing-trader-sync" role="dialog" aria-labelledby="app-marketing-trader-sync">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Synchronising Contacts with Trader...</h5>
            </div>
            <div class="modal-body">

                <div class="text-center loading" style="margin: 15px auto 50px auto;"><img src="~/Content/DesignStyle/img/loading-new.gif" style="width: 200px; height: auto;"></div>

                <div class="affected" style="display: none;">

                </div>

                <br />
                <button class="btn btn-primary" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="app-marketing-halt-campaign" role="dialog" aria-labelledby="app-marketing-halt-campaign">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="activity-overview generic" style="padding: 20px;">
                    <h5>Please confirm</h5>
                    <br />

                    <p>You're about to halt this Campaign. This will <strong>immediately stop all automated actions</strong> like posts and notifications, and move your approved posts from <i>Queued</i> back to <i>Approved</i>.</p>

                    <p>Halting your Campaign will allow you to delete it permanently if you wish, or simply allow you to requeue items for posting at different dates and times.</p>

                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <button class="btn btn-primary community-button" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <button id="btnRemoveQueue" class="btn btn-danger community-button" data-dismiss="modal" data-id="" data-type="" onclick="RemoveQueue()">Halt Campaign</button>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<link href="~/Content/DesignStyle/css/quill.snow.css" rel="stylesheet">
@{
    <script>
        var brandPageSize = @(HelperClass.brandPageSize);
        var segmentPageSize= @(HelperClass.segmentPageSize);
        var placePageSize = @HelperClass.placePageSize;
        var areaPageSize = @HelperClass.areaPageSize;
        var pipelinePageSize = @HelperClass.pipelinePageSize;
        var ideaPageSize = @HelperClass.ideaPageSize;
        var tabConfig = '@(tabConfig?tabConfig.ToString():tabAcvtive?.Value.ToString())';
        var facebookPage = '@facebookPage';
        var facebookType = '@facebookType';
        var facebookPageCount = '@(pageList != null ? pageList.data.Count > 0 ? pageList.data.Count: 0 : 0)';
        var facebookGroupCount = '@(groupList != null ? groupList.data.Count > 0 ? groupList.data.Count: 0 : 0)';
    </script>

    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.js"></script>
        <script src="~/Scripts/dev/salemarketing.socialcampaign.addedit.js"></script>
        <script src="~/Scripts/dev/salesmarketing.social.app.js"></script>
        @*<script src="~/Content/DesignStyle/js/pagination.js"></script>
            <link href="/Content/DesignStyle/css/pagination.css" rel="stylesheet">*@
    }
    else
    {
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
        <script src="~/Scripts/dev/salemarketing.socialcampaign.addedit.js"></script>
        <script src="~/Scripts/dev/salesmarketing.social.app.js"></script>
        @*<script src="~/Content/DesignStyle/js/pagination.min.js"></script>
            <link href="/Content/DesignStyle/css/pagination.min.css" rel="stylesheet">*@
    }

    <script>
        initSESIdentitiesTable();
    </script>

}
