
@{
    ViewBag.Title = "SocialPost";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative;">


    <!-- Main content -->
    <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin" style="border-top: 1px solid #f1f1f1;">


        <!-- App bar -->
        <div class="mdv2-col-app" style="margin-bottom: 0;">

            <div data-spy="affix" class="contained-sidebar">

                <div class="activity-overview plain company-overview welcome-info" style="text-align: left !important; flex: none; margin: 0 0 30px 0; padding-top: 30px; padding-bottom: 0;">

                    <div class="pull-left" style="margin-bottom: 15px;">
                        <a href="dashboardv2-qbicle.php" class="btn btn-primary"><i class="fa fa-angle-up"></i> &nbsp; Qbicle</a>
                        <a href="#app-marketing-social-post-edit" data-toggle="modal" class="btn btn-warning"><i class="fa fa-pencil"></i> &nbsp; Edit</a>
                    </div>
                    <div class="clearfix"></div>

                    <br />

                    <h1 style="line-height: 1.2;">My First Social Post</h1>
                    <span class="label label-lg label-primary"><i class="fa fa-facebook"></i></span>
                    <span class="label label-lg label-info"><i class="fa fa-twitter"></i></span>
                    <span class="label label-lg label-warning">Awaiting approval</span>


                    <br /><br /><br />
                    <p style="color: rgba(0, 0, 0, 0.5);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et ornare ante, et mattis ante. Cras pellentesque, metus eget semper posuere, ex nisl congue ex, et laoreet neque enim eu libero..</p>


                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <label>Target networks</label><br />
                            <p>Facebook, Twitter
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label>Theme</label><br />
                            <p>Seasonal</p>
                        </div>
                    </div>

                    <br />

                    <a href="#discuss" style="margin: 15px 0;" class="btn btn-info community-button jump-to"><i class="fa fa-comments"></i> &nbsp; Discuss this post</a>

                </div>


                <h5 style="padding-left: 30px;">Social accounts targeted</h5>

                <ul class="avatar-listing unstyled" style="margin-bottom: 0 !important;">
                    <li>
                        <a href="#">
                            <div class="owner-avatar">
                                <div class="avatar-sm" style="background: url('dist/img/contact-2.jpg');"></div>
                                <span class="network facebook"></span>
                            </div>
                            <h5>Luke Skywalker<br /><small>luke.skywalker.123</small></h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="owner-avatar">
                                <div class="avatar-sm" style="background: url('dist/img/contact-5.jpg');"></div>
                                <span class="network twitter"></span>
                            </div>
                            <h5>Boba Fett<br /><small>@@bobothebountyhunter</small></h5>
                        </a>
                    </li>
                </ul>


                <br /><br />

            </div>
        </div>
        <!-- END App bar -->
        <!-- Main area -->
        <div class="mdv2-col-dash">

            <div class="spacing-new">


                <div class="text-center animated bounce" style="margin: 20px 0 60px 0;">
                    <div style="width: 400px; max-width: 100%; margin: 0 auto">
                        <p>Is this post approved for submission?</p>

                        <ul class="nav nav-pills nav-justified audit-choices">
                            <li><a href="#" class="danger" data-value="No" data-toggle="modal" data-target="#app-marketing-discard-post">No</a></li>
                            <li class="active"><a href="#" class="info" data-value="Not yet">Not yet</a></li>
                            <li><a href="#" class="success" data-value="Yes" data-toggle="modal" data-target="#app-marketing-approve-post">Yes</a></li>
                        </ul>
                    </div>
                </div>



                <div class="social-post" style="margin: 0 auto; border: 1px solid #e1e1e1; max-width: 800px;">
                    <div class="social-heading">
                        <div class="social-avatar" style="background-image: url('dist/img/apps/companies/roadchef.png');"></div>
                        <div class="social-content">
                            <small><strong style="color: #14171a;">RoadChef Drive Thru</strong><br />@@weareroadchef</small>
                        </div>
                    </div>
                    <div class="thepost">
                        <p>I am an example post of type image/text and I contain a sample <a href="#">#hashtag</a></p>

                        <img class="img-responsive" src="dist/img/community/flowers.jpg" alt="Associated image">
                    </div>

                </div>




                <br />
                <a id="discuss"></a>
                <div class="app_topnav entity_adds" style="background: #fff; padding: 0;">
                    <ul class="nav nav-pills app_main_nav">
                        <?php if(!isset($no_comments)): ?>
                        <li role="presentation" class="active">
                            <a href="#tab1" data-toggle="tab">
                                <i class="fa fa-comments"></i>
                                Comments
                            </a>
                        </li>
                        <?php endif; ?>
                        <?php if(!isset($no_files)): ?>
                        <li role="presentation">
                            <a href="#tab2" data-toggle="tab">
                                <i class="fa fa-folder-open"></i>
                                Files
                            </a>
                        </li>
                        <?php endif; ?>
                        <?php if(isset($supports_tasks)): ?>
                        <li role="presentation">
                            <a href="#tab3" data-toggle="tab">
                                <i class="fa fa-file-text-o"></i>
                                Tasks
                            </a>
                        </li>
                        <?php endif; ?>
                        <?php if(isset($supports_approvals)): ?>
                        <li role="presentation">
                            <a href="#tab4" data-toggle="tab">
                                <i class="fa fa-thumbs-up"></i>
                                Approvals / Requests
                            </a>
                        </li>
                        <?php endif; ?>
                        <?php if(isset($supports_alerts)): ?>
                        <li role="presentation">
                            <a href="#tab5" data-toggle="tab">
                                <i class="fa fa-bell"></i>
                                Alerts
                            </a>
                        </li>
                        <?php endif; ?>
                        <?php if(isset($supports_events)): ?>
                        <li role="presentation">
                            <a href="#tab6" data-toggle="tab">
                                <i class="fa fa-calendar"></i>
                                Events
                            </a>
                        </li>
                        <?php endif; ?>
                    </ul>
                </div>

                <br />

                <div class="row">
                    <div class="col-xs-12">

                        <div class="tab-content">

                            <div class="tab-pane fade <?php if(!isset($attachments)): ?>in active<?php endif; ?>" id="tab1">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="well" style="max-width: 800px;">
                                            <div class="form-group">
                                                <label for="add-comment">Add a comment</label>
                                                <textarea name="add-comment" class="form-control"></textarea>
                                            </div>

                                            <button class="btn btn-success">Submit</button>
                                        </div>

                                        <br />
                                    </div>
                                </div>


                                <!-- General post -->
                                <article class="activity post">
                                    <div class="activity-avatar" style="background-image: url('dist/img/user4-160x160.jpg');"></div>
                                    <div class="activity-detail">
                                        <div class="activity-meta">
                                            <h4>Mila Kunis</h4>
                                            <small>01.02.2018, 4pm</small>
                                        </div>

                                        <div class="activity-overview media-comment">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas ultrices tortor at varius. Nulla facilisi. In ut lacus et ex rhoncus rhoncus at quis leo.</p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </article>
                                <!-- END General post -->
                                <!-- General post -->
                                <article class="activity post">
                                    <div class="activity-avatar" style="background-image: url('dist/img/user3-160x160.jpg');"></div>
                                    <div class="activity-detail">
                                        <div class="activity-meta">
                                            <h4>Hideo Kojima</h4>
                                            <small>01.02.2018, 3pm</small>
                                        </div>

                                        <div class="activity-overview media-comment">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </article>
                                <!-- END General post -->
                                <!-- General post -->
                                <article class="activity post">
                                    <div class="activity-avatar" style="background-image: url('dist/img/user1-160x160.jpg');"></div>
                                    <div class="activity-detail">
                                        <div class="activity-meta">
                                            <h4>Tim Cook</h4>
                                            <small>01.02.2018, 1pm</small>
                                        </div>

                                        <div class="activity-overview media-comment">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas ultrices tortor at varius. Nulla facilisi. In ut lacus et ex rhoncus rhoncus at quis leo.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas ultrices tortor at varius. Nulla facilisi. In ut lacus et ex rhoncus rhoncus at quis.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </article>
                                <!-- END General post -->


                                <button class="btn btn-info">Load older posts</button>
                            </div>


                            <div class="tab-pane fade <?php if(isset($attachments)): ?>in active<?php endif; ?>" id="tab2">

                                <br />
                                <a href="#" class="btn btn-success" data-toggle="modal" data-target="#create-media"><i class="fa fa-upload"></i> &nbsp; Upload a file</a>
                                <br /><br />

                                <!-- Media post -->
                                <article class="activity media">
                                    <div class="activity-avatar" style="background-image: url('dist/img/user3-160x160.jpg');"></div>
                                    <div class="activity-detail">
                                        <div class="activity-meta">
                                            <h4>Hideo Kojima</h4>
                                            <small>Today, 10:15am</small>
                                            <br class="visible-xs">
                                        </div>

                                        <div class="activity-overview media">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-5 col-md-6 col-lg-5">
                                                    <a href="media-item.php">
                                                        <img src="dist/img/earlyaccess-bg.jpg" class="img-responsive">
                                                    </a>
                                                </div>
                                                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7 description">
                                                    <h5>Media item title</h5>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel ipsum pellentesque, elementum lacus eu, lacinia tellus. Suspendisse commodo arcu vitae bibendum pretium.
                                                        Quisque et egestas quam, ac gravida urna.
                                                    </p>
                                                    <small>JPEG image | Updated 13.02.2018 1:15pm</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </article>
                                <!-- END Media post -->
                                <!-- Media post -->
                                <article class="activity media">
                                    <div class="activity-avatar" style="background-image: url('dist/img/user4-160x160.jpg');"></div>
                                    <div class="activity-detail">
                                        <div class="activity-meta">
                                            <h4>Mila Kunis</h4>
                                            <small>11.02.2018, 10:15am</small>
                                            <br class="visible-xs">
                                        </div>

                                        <div class="activity-overview media">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-5 col-md-6 col-lg-5">
                                                    <a href="media-item.php">
                                                        <img src="dist/img/media-item-doc.jpg" class="img-responsive">
                                                    </a>
                                                </div>
                                                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7 description">
                                                    <h5>Example Word Doc</h5>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel ipsum pellentesque, elementum lacus eu, lacinia tellus. Suspendisse commodo arcu vitae bibendum pretium.
                                                        Quisque et egestas quam, ac gravida urna.
                                                    </p>
                                                    <small>Word Document | Updated 12.02.2018 3:00pm</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </article>
                                <!-- END Media post -->


                            </div>



                            <div class="tab-pane fade" id="tab3">

                                <br />
                                <a href="#" class="btn btn-success" data-toggle="modal" data-target="#create-task"><i class="fa fa-plus"></i> &nbsp; Add a task</a>
                                <br /><br /><br />


                                <!-- Task post -->
                                <article class="activity task_snippet">
                                    <div class="activity-avatar" style="background-image: url('dist/img/user1-160x160.jpg');"></div>
                                    <div class="activity-detail">
                                        <div class="activity-meta">
                                            <h4>Tim Cook</h4>
                                            <small>Today, 12:45pm</small>
                                            <br class="visible-xs">
                                            <a href="topic.php" class="topic-label"><span class="label label-info">Maintenance</span></a>
                                            <span class="label label-default pin-this"><i class="fa fa-thumb-tack"></i></span>
                                        </div>

                                        <a href="task.php">
                                            <div class="activity-overview task">
                                                <h5><span>Task /</span> Replace valves</h5>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel ipsum pellentesque, elementum lacus eu, lacinia tellus. Suspendisse commodo arcu vitae bibendum pretium.
                                                    Quisque et egestas quam, ac gravida urna.
                                                </p>
                                            </div>
                                            <div class="activity-specifics">
                                                <ul>
                                                    <li><i class="fa fa-columns"></i> Daily Opening Check List</li>
                                                    <li><i class="fa fa-warning"></i> High priority</li>
                                                    <li><i class="fa fa-clock-o"></i> 2d 3h 14m</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </article>
                                <!-- END Task post -->

                            </div>



                            <div class="tab-pane fade" id="tab4">

                                <br />
                                <a href="#" class="btn btn-success" data-toggle="modal" data-target="#create-approval"><i class="fa fa-plus"></i> &nbsp; Issue a request</a>
                                <br /><br /><br />


                                <!-- Approval -->
                                <article class="activity approval_snippet">
                                    <div class="activity-avatar" style="background-image: url('dist/img/user4-160x160.jpg');"></div>
                                    <div class="activity-detail">
                                        <div class="activity-meta">
                                            <h4>Mila Kunis</h4>
                                            <small>Today, 4pm</small>
                                            <br class="visible-xs">
                                            <a href="topic.php" class="topic-label"><span class="label label-info">Topic title</span></a>
                                            <span class="label label-warning">Pending</span>
                                            <span class="label label-default pin-this"><i class="fa fa-thumb-tack"></i></span>
                                        </div>

                                        <a href="approval.php">
                                            <div class="activity-overview approval-detail">
                                                <h5><span>Approval Request /</span> Procurement</h5>
                                                <p>We're going to need 8 replacement KV350-12345 valves ahead of the scheduled maintenance this week.</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </article>
                                <!-- END Approval -->

                            </div>



                            <div class="tab-pane fade" id="tab5">

                                <br />
                                <a href="#" class="btn btn-success" data-toggle="modal" data-target="#create-alert"><i class="fa fa-plus"></i> &nbsp; Add an alert</a>
                                <br /><br /><br />


                                <!-- Alert -->
                                <article class="activity alert_snippet">
                                    <div class="activity-avatar" style="background-image: url('dist/img/user4-160x160.jpg');"></div>
                                    <div class="activity-detail">
                                        <div class="activity-meta">
                                            <h4>Mila Kunis</h4>
                                            <small>11th Jan 2018, 3:22pm</small>
                                            <br class="visible-xs">
                                            <a href="topic.php" class="topic-label"><span class="label label-info">Topic title</span></a>
                                            <span class="label label-default pin-this pinned"><i class="fa fa-thumb-tack"></i></span>
                                        </div>

                                        <a href="alert.php">
                                            <div class="activity-overview alert-detail">
                                                <h5><span>Alert /</span> Alert title here</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas ultrices tortor at varius. Nulla facilisi. In ut lacus et ex rhoncus rhoncus at quis leo.</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </article>
                                <!-- END Alert -->

                            </div>




                            <div class="tab-pane fade" id="tab6">

                                <br />
                                <a href="#" class="btn btn-success" data-toggle="modal" data-target="#create-event"><i class="fa fa-plus"></i> &nbsp; Add an event</a>
                                <br /><br /><br />


                                <!-- Event -->
                                <article class="activity event_snippet">
                                    <div class="activity-avatar" style="background-image: url('dist/img/user4-160x160.jpg');"></div>
                                    <div class="activity-detail">
                                        <div class="activity-meta">
                                            <h4>Mila Kunis</h4>
                                            <small>Today, 3:44pm</small>
                                            <br class="visible-xs">
                                            <a href="topic.php" class="topic-label"><span class="label label-info">Topic title</span></a>
                                            <span class="label label-default pin-this pinned"><i class="fa fa-thumb-tack"></i></span>
                                            <span class="label label-trans"><i class="fa fa-check green"></i> &nbsp; I'm attending</span>
                                        </div>

                                        <a href="event.php">
                                            <div class="activity-overview event-detail">
                                                <h5><span>Event /</span> General Annual Meeting</h5>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel ipsum pellentesque, elementum lacus eu, lacinia tellus. Suspendisse commodo arcu vitae bibendum pretium.
                                                    Quisque et egestas quam, ac gravida urna.
                                                </p>
                                            </div>
                                            <div class="activity-specifics">
                                                <ul>
                                                    <li><i class="fa fa-calendar"></i> 31.01.2018</li>
                                                    <li><i class="fa fa-clock-o"></i> 2:15pm - 5pm</li>
                                                    <li><i class="fa fa-map-marker"></i> The Hilton Hotel, Glasgow</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </article>
                                <!-- END Event -->

                            </div>


                        </div>


                    </div>
                </div>


                <br /><br /><br />

            </div>

        </div>


    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->
<!-- ./wrapper -->
@Html.Partial("_Notifications")
@Html.Partial("_SearchMini")
@Html.Partial("_SocialPostEdit")
@*@Html.Partial("_DiscardPost")*@
@Html.Partial("_ApprovePost")
@Html.Partial("_DomainChange")
