@using Qbicles.Models.Trader.Payments
@using Qbicles.BusinessRules
@model BalanceAllocation
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var dateFormat = (string)ViewBag.CurrentDateFormat;
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
}


<div class="content-wrapper qbicle-detail" id="discussion-thread">
    <div class="tabnav-spacer hidden-xs"></div>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12 item_detail" style="padding-left: 15px;">

                <br />

                <div class="mod_title">
                    <h5>Trader &gt; Contacts &gt; @Model.Contact.Name</h5>
                    <h4>Allocation #@Model.Reference.FullRef</h4>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="app_filter">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="/Trader/AppTrader" onclick="setTabTrader('contacts')" class="btn btn-primary"><i class="fa fa-th"></i> &nbsp; Contacts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12">


                <br /><br />

                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="app_upper_dash verbose text-center">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-4">
                                    <div class="stat_label">
                                        <span>Ref</span>
                                        <h3>#@Model.Reference.FullRef</h3>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-4">
                                    <div class="stat_label">
                                        <span>Value</span>
                                        <h3>@Model.Value.ToCurrencySymbol(currencySettings)</h3>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4">
                                    <div class="stat_label">
                                        <span>Invoice</span>
                                        @if (Model.Invoice != null && Model.Invoice.Reference != null)
                                        {
                                            <h3>Invoice #@Model.Invoice.Reference.FullRef</h3>
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-4">
                                    <div class="stat_label" style="padding-bottom: 10px;">
                                        <span>Allocated</span>
                                        @if (Model.AllocatedDate != DateTime.MinValue)
                                        {
                                            <h3>@Model.AllocatedDate.ToString(dateFormat + " hh:mmtt")</h3>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="activity-overview task" style="padding: 20px; margin-top: 5px;">
                            <div class="row">
                                <div class="col-xs-12 col-lg-5">

                                    <div class="flex-avatar">
                                        <div class="col-thumb" style="flex: 0 0 80px;">
                                            <a href="#"><img src="@api@Model.Contact.AvatarUri" class="img-circle img-responsive"></a>
                                        </div>
                                        <div class="col">
                                            <h5 style="font-family: 'Roboto'; margin-top: 0;">Contact: @Model.Contact.Name</h5>
                                            @if (Model.Invoice != null)
                                            {
                                                <a href="/TraderInvoices/InvoiceManage?key=@Model.Invoice.Key" class="btn btn-info"><i class="fa fa-eye"></i> &nbsp; View Invoice</a>
                                            }
                                            else
                                            {
                                                <a href="#" class="btn btn-info"><i class="fa fa-eye"></i> &nbsp; View Invoice</a>
                                            }
                                        </div>
                                    </div>
                                    <br class="hidden-lg">

                                </div>
                                <div class="col-xs-12 col-lg-7">
                                    <h5>Notes</h5>
                                    <p>@Model.Description</p>
                                </div>
                            </div>
                        </div>

                        <br /><br /><br />
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- ./content -->

</div>