
<div class="modal-dialog" role="document">
    <input type="hidden" id="till-id" value="@(Model?.Id ?? 0)" />
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model.Id != null && Model.Id > 0)
            {
                <h5 class="modal-title">Edit Virtual Till @Model.Name</h5>
            }
            else
            {
                <h5 class="modal-title">Add a Virtual Till</h5>
            }

        </div>
        <div class="modal-body">

            <div class="well custom">

                <div class="row">
                    <form class="form-group" id="form_till_add">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="till-name">Till name <span class="red">*</span></label>
                                <input type="text" id="till-name" name="Name" class="form-control" required="required" value="@(Model.Name ?? "")">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group" style="margin: 0;">
                                <label for="PosDevices">Linked POS Devices</label>
                                <select id="PosDevices" name="PosDevices" class="hidden form-control checkmulti" style="width: 100%;" multiple>
                                    @foreach (var posDeviceItem in ViewBag.ListPosDevices)
                                    {
                                        var isPosDeviceUsed = posDeviceItem.Till == null ? false : true;
                                        var isDisabledOrChecked = isPosDeviceUsed ? "disabled" : "";
                                        var isInUsedString = isPosDeviceUsed ? @"(in use)" : "";

                                        if (Model.PosDevices.Contains(posDeviceItem))
                                        {
                                            isDisabledOrChecked = "selected";
                                            isInUsedString = "";
                                        }

                                        <option value="@posDeviceItem.Id" @isDisabledOrChecked>@posDeviceItem.Name @isInUsedString</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <br />
            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" onclick="SaveTill()">Confirm</button>



        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->