@using Qbicles.Models.TraderApi
@using Qbicles.Models.Trader.DDS
@using Qbicles.Models.Trader.ODS
@model PrepQueue
@{
    var prepQueue = (PrepQueue)ViewBag.PrepQueue;

    var ddsQueue = (DeliveryQueue)ViewBag.DeliveryQueue;
    var prepQueueList = (List<PrepQueue>)ViewBag.PrepQueueList;


    var queueType = (QueueType)ViewBag.QueueType;
    var queueId = ViewBag.Id;
    var queueName = "";
    switch (queueType)
    {
        case QueueType.All:
            break;
        case QueueType.Order:
            queueName = prepQueue.Name;
            break;
        case QueueType.Delivery:
            queueName = ddsQueue.Name;
            break;
    }
}
<input hidden="" id="prep-queue-id" value="@queueId" />
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">@(queueId == 0 ? "Add a Queue" : "Edit Queue")</h5>
        </div>
        <div class="modal-body">

            <div class="well custom">
                <form id="prep-queue-form" class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Name <span>*</span></label>
                            <input required="" id="prep-queue-name" type="text" name="queuename" class="form-control" value="@queueName">
                        </div>
                    </div>
                    @*<div class="col-xs-12">
                        <div class="form-group" style="margin: 0;">
                            <label for="name">Queue type <span>*</span></label>
                            @{
                                if (queueId > 0)
                                {
                                    <select id="queue-type" name="type" class="form-control select2" style="width: 100%;" disabled="">
                                        <option value="@((int)queueType)" selected="">@queueType</option>
                                    </select>
                                }
                                else
                                {
                                    <select id="queue-type" name="type" class="form-control select2" style="width: 100%;" onchange="if($(this).val() === '2') { $('.prepqueue').show(); } else { $('.prepqueue').hide(); }">
                                        <option value=1>Order</option>
                                        <option value=2>Delivery</option>
                                    </select>
                                }
                            }

                        </div>
                    </div>*@
                    @*<div class="col-xs-12 prepqueue" style="display: @display;">
                        <div class="form-group" style="margin: 15px 0 0 0;">
                            <label for="name">Associate with Order Queue <span>*</span></label>
                            <select required="" id="prep-queue-select" name="prepqueueselect" class="form-control select2" style="width: 100%;">
                                @foreach (var q in prepQueueList)
                                {
                                    var qId = ddsQueue?.PrepQueue?.Id ?? 0;
                                    if (qId == q.Id)
                                    {
                                        <option selected="" value="@q.Id">@q.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@q.Id">@q.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>*@
                </form>
            </div>


            <br />
            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button onclick="SavePrepQueue()" class="btn btn-success">Confirm </button>

        </div>
    </div><!-- /.modal-content -->
</div>

<script>
    $("#queue-type").select2();
    $("#prep-queue-select").select2();
</script>

<style>
    #prep-queue-select + label.error {
        position: absolute;
        top: 75px;
        right: 15px;
    }

    #prep-queue-select + label.error + span {
        border: 1px solid #b84c4c
    }
</style>