@using Qbicles.Models.Trader.ODS
@using Qbicles.Models.Trader.PoS
@using Qbicles.BusinessRules
@model OdsDeviceType
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var status = (ICollection<HelperClass.EnumModel>)ViewBag.Status;
    var posOrderTypes = (List<PosOrderType>)ViewBag.PosOrderTypes;
    var title = "Add a PDS Device Type";
    if (Model?.Id > 0)
    {
        title = "Edit PDS Device Type";
    }
}
<input hidden="" id="ods-device-type-id" value="@(Model?.Id??0)" />
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">@title</h5>
        </div>
        <div class="modal-body">

            <div class="well custom">

                <form id="ods-devie-type-form" class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Name <span class="red">*</span></label>
                            <input required id="ods-devie-type-name" type="text" name="namedevicetype" class="form-control" value="@(Model?.Name)">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group" style="margin: 0;">
                            <label for="serial">Type(s) <span class="red">*</span></label>
                            <select id="ods-devie-type-type" class="form-control select2All" multiple style="width: 100%;">
                                @foreach (var item in posOrderTypes)
                                {
                                    if (Model != null && Model.AssociatedOrderTypes.Any(e => e.Id == item.Id))
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group" style="margin: 0;">
                            <label for="serial">Status(es) <span class="red">*</span></label>
                            <select id="ods-devie-type-status" class="form-control select2All" multiple style="width: 100%;">
                                @foreach (var item in status)
                                {
                                    if (Model != null && Model.OrderStatus.Any(e => e.Status == (PrepQueueStatus)item.Key))
                                    {
                                        <option value="@item.Key" selected>@item.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </form>

            </div>

            <br />
            <a class="btn btn-danger" data-dismiss="modal">Cancel</a>
            <a onclick="SaveOdsDeviceType()" class="btn btn-success">Confirm</a>



        </div>
    </div><!-- /.modal-content -->
</div>

<script>
    $('select.select2All').select2({ placeholder: 'Please select' });

</script>