@using Qbicles.Models.Trader.ODS
@model List<PrepDisplayDevice>
@{

}

<div class="well custom" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="search">Search PDS Devices</label>
                <input type="text" id="pds-search" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <label for="">Options</label><br>
            <button class="btn btn-success" onclick="PrepDisplayDeviceAddEdit(0)"><i class="fa fa-plus"></i> &nbsp; Add a PDS Device</button>
        </div>
    </div>
</div>

<br />
<div id="pds-list" class="flex-grid-thirds-lg qbicles-dash-grid">
    @foreach (var q in Model)
    {
        <article id="pds-item-@q.Id" class="col">
            <span class="last-updated">
                <span id='pds-queue-name-main-@q.Id'>@q.Queue.Name</span>
            </span>
            <span style="top: 40px !important;" class="last-updated"><span id='pds-type-main-@q.Id'>@(q.Type?.Name ?? "Device type is empty")</span></span>
            <div class="qbicle-opts">
                <div class="dropdown">
                    <a href='javascript:' class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right primary">
                        <li>
                            <a href='javascript:' onclick="PrepDisplayDeviceAddEdit(@q.Id)">Edit</a>
                        </li>
                        <li>
                            <a href='javascript:' onclick='ConfirmDeletePrepDisplayDevice(@q.Id)'>Delete</a>
                        </li>
                    </ul>
                </div>

            </div>
            <a href='javascript:' style="cursor: initial !important;">
                <div class="avatar" style="border-radius: 0; background-image: url('/Content/DesignStyle/img/icon_order.png');">&nbsp;</div>
                <h1 style="color: #333;"><span id='pds-name-main-@q.Id'>@q.Name</span></h1>
            </a>
            <br />
            <p class="qbicle-detail">
                <label style="color: #333;">Administrators</label><br />
                <span id='pds-admins-name-main-@q.Id'>@(string.Join(",", q.Administrators.Select(e => e.DisplayUserName)))</span>
            </p>
        </article>
    }
</div>


<div class="modal fade left" id="app-trader-pds-add-edit" role="dialog" aria-labelledby="app-trader-ods-queue-edit">

</div><!-- /.modal -->


@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/pds.preparationdisplaysystem.js"></script>
    }
    else
    {
<script src="~/Scripts/dev/pds.preparationdisplaysystem.js"></script>
    }
}
@if (Model.Count > 0)
{
    <script>
        $('#found-prequeue').show();
    </script>

}