@using Qbicles.Models.TraderApi
@model List<PrepQueueModel>
@{

}

@foreach (var q in Model)
{
    switch (q.QueueType)
    {
        case QueueType.Order:
            <article id="prep-queue-item-@q.Id" class="col">
                <div class="qbicle-opts">
                    <div class="dropdown">
                        <a href='javascript:' class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right primary">
                            <li>
                                <a href='javascript:' onclick="QueueAddEdit(@q.Id,1)">Edit</a>
                            </li>
                            @if (!q.CanDelete)
                            {
                                <li>
                                    <a href='javascript:' onclick='ConfirmDeletePrepQueue(@q.Id,1)'>Delete</a>
                                </li>
                            }
                        </ul>
                    </div>

                </div>
                <a href='javascript:' style="cursor: initial !important;">
                    <div class="avatar" style="border-radius: 0; background-image: url('/Content/DesignStyle/img/order.png');">&nbsp;</div>
                    <h1 style='color: #333;'><span id='prep-queue-name-main-@q.Id'>@q.Name</span></h1>
                </a>
                <br />
                <p class="qbicle-detail">
                    <label style="color: #333;">POS devices</label><br />
                    @q.PosDevices
                    <br />
                    <label style="color: #333;">PDS Devices</label><br />
                    @q.PdsDevices
                </p>
            </article>
            break;
        case QueueType.Delivery:
            <article id="dds-queue-item-@q.Id" class="col">
                <div class="qbicle-opts">
                    <div class="dropdown">
                        <a href='javascript:' class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right primary">
                            <li>
                                <a href='javascript:' onclick="QueueAddEdit(@q.Id,2)">Edit</a>
                            </li>
                            @if (!q.CanDelete)
                            {
                                <li>
                                    <a href='javascript:' onclick='ConfirmDeletePrepQueue(@q.Id,2)'>Delete</a>
                                </li>
                            }
                        </ul>
                    </div>

                </div>
                <a href="javascript:" style="cursor: initial !important;">
                    <div class="avatar" style="border-radius: 0; background-image: url('/Content/DesignStyle/img/takeaway.png');">&nbsp;</div>
                    <h1 style='color: #333;'><span id='dds-queue-name-main-@q.Id'>@q.Name</span></h1>
                </a>
                <br />
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <p class="qbicle-detail">
                            <label style="color: #333;">DDS devices</label><br />
                            @q.DdsDevices
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <p class="qbicle-detail">
                            <label style="color: #333;">Order Queue</label><br />
                            <span id='dds-queue-main-@q.Id'>@q.OrderQueue</span>
                        </p>
                    </div>
                </div>
            </article>
            break;
    }

}
