@using Qbicles.Models.Operator;
@using Qbicles.Models.Operator.Goals;
@using Qbicles.Models.Form;
@model FormDefinition
@{
    var tags = (List<OperatorTag>)ViewBag.tags;
    var measures = (List<Measure>)ViewBag.measures;
}
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h5 class="modal-title">@(Model.Id > 0 ? "Edit Form" : "Add a Form")</h5>
        </div>
        <div class="modal-body">
            <form id="frmForm" method="post" action="/Operator/SaveForm">
                <div class="row">
                    <div class="col-xs-12">
                        <ul id="tabForm" class="app_subnav admintabs" style="padding-top: 0;">
                            <li class="active"><a href="#form-0" data-toggle="tab" aria-expanded="true">Specifics</a></li>
                            <li class=""><a href="#form-1" data-toggle="tab" aria-expanded="false">Form Builder</a></li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="tab-content">

                    <!-- Specifics -->
                    <div class="tab-pane fade active in" id="form-0">

                        <div class="row">

                            <div class="col-xs-12 col-sm-4 col-lg-3">

                                <div class="activity-overview generic help-text animated bounce">
                                    <i class="fa fa-info-circle"></i>
                                    <p>When building your form you can drag and drop questions to reorder them, and optionally include scoring for individual questions, with results feeding into any Measure you desire. This will, in turn, allow you to track your Measure and progress towards any Goals it may be part of.</p>
                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-8 col-lg-9">

                                <div class="well custom">

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="name">Form title</label>
                                                <input type="text" class="form-control" name="Title" value="@Model.Title">
                                                <input type="hidden" name="Id" value="@Model.Id" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="EstimatedTime">Estimated duration (minutes)</label>
                                                <input type="number" class="form-control" name="EstimatedTime" value="@Model.EstimatedTime">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group" style="margin: 0;">
                                                <label for="Description">Description</label>
                                                <textarea name="Description" class="form-control" style="max-width: 100%; height: 80px;">@Model.Description</textarea>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group" style="margin: 0;">
                                                <label for="Tags">Tags</label>
                                                <select name="Tags" class="form-control checkmulti" onchange="if ($(this).val() != '') { $('#frmForm select[name=Tags]').valid(); }" multiple="">
                                                    @foreach (var item in tags)
                                                    {
                                                        <option value="@item.Id" @(Model.Tags != null && Model.Tags.Any(s => s.Id == item.Id) ? "selected" : "")>@item.Name</option>
                                                    }
                                                </select>
                                                <label id="Tags-error" class="error" for="Tags" style="display: none;"></label>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>

                        <br>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success btnNext">Proceed &nbsp; <i class="fa fa-angle-right"></i></button>

                    </div>
                    <!-- END Specifics -->
                    <!-- Form builder -->
                    <div class="tab-pane fade" id="form-1">

                        <div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative; margin: 0px; min-height: 549px;">

                            <!-- Main content -->
                            <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin" style="min-height: 100vh; margin-top: 0; padding-top: 0;">


                                <!-- App bar -->
                                <div class="mdv2-col-app" style="margin-bottom: 0;">


                                    <div class="activity-overview plain company-overview welcome-info" style="text-align: left !important; flex: none; margin: 0; padding: 0 30px 0 0;">

                                        <div class="activity-overview generic help-text animated bounce">
                                            <i class="fa fa-info-circle"></i>
                                            <p>Click any field type to add it to your form. Once added you can click to manage the question and any options available to it. You can also drag and drop fields to change their order.</p>
                                        </div>


                                        <div class="activity-overview generic" style="padding: 5px 5px 1px 5px;">

                                            <ul class="fieldtypes">
                                                <li>
                                                    <a href="#" data-type="text">
                                                        <p>Free text</p>
                                                        <smaller>Get a text response from a user, e.g. ask a question</smaller>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-type="boolean">
                                                        <p>True or false</p>
                                                        <smaller>A boolean yes or no field</smaller>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-type="number">
                                                        <p>Number</p>
                                                        <smaller>e.g. record a freezer temperature</smaller>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-type="date">
                                                        <p>Date</p>
                                                        <smaller>Record a date</smaller>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>


                                        <br><br>
                                        <button class="btn btn-warning btnPrevious community-button" style="margin-bottom: 5px;" aria-expanded="false"><i class="fa fa-angle-left"></i> &nbsp; Previous</button>
                                        @if (Model.Id == 0 || (Model.Id > 0 && Model.IsDraft))
                                        {
                                            <button type="button" value="true" class="btn btn-primary community-button submit-status" style="display: block; margin-bottom: 5px;">Save as draft</button>
                                        }
                                        <button type="button" value="false" class="btn btn-success community-button submit-status" style="display: block; margin-bottom: 30px;">Finish &amp; save</button>
                                        <input type="checkbox" name="IsDraft" style="display:none" />

                                    </div>




                                </div>
                                <!-- END App bar -->
                                <!-- Main area -->
                                <div class="mdv2-col-dash">

                                    <div class="activity-overview task form-config" style="background: #f5f5f5 !important; padding: 30px;">

                                        <div class="form-row sortable ui-sortable" id="sortable">
                                            @if (Model.Elements != null)
                                            {
                                                foreach (var item in Model.Elements)
                                                {
                                                    <div id="fe_@item.Id">
                                                        <div class="row preview-area" onclick="$(this).next('.row-options').slideToggle();">
                                                            <div class="col-xs-12 col-sm-9">
                                                                <h5>
                                                                    @switch (item.Type)
                                                                    {
                                                                        case FormElementType.Date:
                                                                            <span>Date</span>
                                                                            break;
                                                                        case FormElementType.Number:
                                                                            <span>Number</span>
                                                                            break;
                                                                        case FormElementType.TrueOrFalse:
                                                                            <span>True or false</span>
                                                                            break;
                                                                        default:
                                                                            <span>Free text</span>
                                                                            break;
                                                                    }
                                                                    &nbsp; <i class="fe_@(item.Id)title">@item.Label</i>
                                                                </h5>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-3"><a href="#" class="remove" onclick="$('#fe_@item.Id').remove();"><i class="fa fa-remove"></i></a></div>
                                                        </div>
                                                        <div class="row-options">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <input type="hidden" name="FEId" value="@item.Id" />
                                                                    <textarea name="Label" class="form-control" onkeyup="$('.fe_@(item.Id)title').html($(this).val());" placeholder="Enter a label or question">@item.Label</textarea>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-3">
                                                                    <div class="form-group checkbox toggle">
                                                                        <label style="font-weight: 500 !important; padding: 0;">Allow photo</label><br />
                                                                        <input name="AllowPhotos" data-toggle="toggle" data-onstyle="success" type="checkbox" @(item.AllowPhotos?"checked":"")>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-3">
                                                                    <div class="form-group checkbox toggle">
                                                                        <label style="font-weight: 500 !important; padding: 0;">Allow document</label><br />
                                                                        <input name="AllowDocs" data-toggle="toggle" data-onstyle="success" type="checkbox" @(item.AllowDocs?"checked":"")>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-3">
                                                                    <div class="form-group checkbox toggle">
                                                                        <label style="font-weight: 500 !important; padding: 0;">Allow score</label><br />
                                                                        <input name="AllowScore" data-toggle="toggle" data-onstyle="success" type="checkbox" @(item.AllowScore?"checked":"") onchange="$('.scoring').toggle();">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-3">
                                                                    <div class="form-group checkbox toggle">
                                                                        <label style="font-weight: 500 !important; padding: 0;">Allow notes</label><br />
                                                                        <input name="AllowNotes" data-toggle="toggle" data-onstyle="success" type="checkbox" @(item.AllowNotes?"checked":"")>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="scoring well custom" style="display:@(item.AllowScore?"block":"none") ; margin-top: 15px; margin-bottom: 0;">
                                                                <label>Which Measure should be used?</label>
                                                                <select name="AssociatedMeasureId" class="form-control select2" style="width: 100%;">
                                                                    @if (measures != null)
                                                                    {
                                                                        foreach (var measure in measures)
                                                                        {
                                                                            <option value="@measure.Id" @(item.AssociatedMeasure!=null&&item.AssociatedMeasure.Id==measure.Id?"selected":"")>@measure.Name</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                }
                                            }else if (Model.Id==0)
                                            {
                                                var uniqueId = Guid.NewGuid().ToString();
                                                    <div id="fe_@uniqueId">
                                                        <div class="row preview-area" onclick="$(this).next('.row-options').slideToggle();">
                                                            <div class="col-xs-12 col-sm-9">
                                                                <h5><span>Free text</span>&nbsp; <i class="fe_@(uniqueId)title">Click to configure</i></h5>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-3"><a href="#" class="remove" onclick="$('#fe_@(uniqueId)').remove();"><i class="fa fa-remove"></i></a></div>
                                                        </div>
                                                        <div class="row-options">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <input type="hidden" name="FEId" value="0" />
                                                                    <textarea name="Label" class="form-control" onkeyup="$('.fe_@(uniqueId)title').html($(this).val());" placeholder="Enter a label or question"></textarea>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-3">
                                                                    <div class="form-group checkbox toggle">
                                                                        <label style="font-weight: 500 !important; padding: 0;">Allow photo</label><br />
                                                                        <input name="AllowPhotos" data-toggle="toggle" data-onstyle="success" type="checkbox">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-3">
                                                                    <div class="form-group checkbox toggle">
                                                                        <label style="font-weight: 500 !important; padding: 0;">Allow document</label><br />
                                                                        <input name="AllowDocs" data-toggle="toggle" data-onstyle="success" type="checkbox">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-3">
                                                                    <div class="form-group checkbox toggle">
                                                                        <label style="font-weight: 500 !important; padding: 0;">Allow score</label><br />
                                                                        <input name="AllowScore" data-toggle="toggle" data-onstyle="success" type="checkbox" onchange="$('#fe_@uniqueId .scoring').toggle();">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-3">
                                                                    <div class="form-group checkbox toggle">
                                                                        <label style="font-weight: 500 !important; padding: 0;">Allow notes</label><br />
                                                                        <input name="AllowNotes" data-toggle="toggle" data-onstyle="success" type="checkbox">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="scoring well custom" style="display: none; margin-top: 15px; margin-bottom: 0;">
                                                                <label>Which Measure should be used?</label>
                                                                <select name="AssociatedMeasureId" class="form-control select2" style="width: 100%;">
                                                                    @if (measures != null)
                                                                    {
                                                                        foreach (var measure in measures)
                                                                        {
                                                                            <option value="@measure.Id">@measure.Name</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                            }
                                        </div>


                                    </div>

                                </div>


                            </section>
                            <!-- ./content -->

                        </div>

                    </div>
                    <!-- END Form builder -->
                </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
