@using Qbicles.Models.Operator.Goals;
@model List<Goal>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var currentUserId = (string)ViewBag.CurrentUserId;
    var count = Model.Count;
    var extraCol = (Model.Count() % 4 == 0 ? 0 : 4) - count % 4;
}
@if (count > 0)
{
    foreach (var item in Model)
    {
        <div class="col article-feature @(item.isHide?"goal-hidden":"")">
            <a href="/Operator/Goal?id=@item.Id">
                <div class="article-feature-img" style="background: url('@(api+item.FeaturedImageUri)');">&nbsp;</div>
            </a>

            <div class="info">

                <div class="btn-group optsnew defaulted dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#" onclick="loadModalGoal(@item.Id);">Edit</a></li>
                        @if (!item.isHide)
                        {
                            <li><a href="#" onclick="updateOptionGoal(@item.Id,true);">Hide</a></li>
                        }
                        else
                        {
                            <li><a href="#" onclick="updateOptionGoal(@item.Id,false);">show</a></li>
                        }
                    </ul>
                </div>

                <a href="/Operator/Goal?id=@item.Id">
                    <smaller></smaller>

                    <h1>@item.Name</h1>
                    <p>@item.Summary</p>

                    <div style="padding: 5px 20px 0 20px;">
                        @foreach (var tag in item.Tags)
                        {
                            <span class="label label-lg label-info">@tag.Name</span>
                        }
                    </div>
                </a>
            </div>
        </div>
    }
    for (int i = 1; i <= extraCol; i++)
    {
        <div class="col">&nbsp;</div>
    }
}

