@using Qbicles.BusinessRules.Model;
@model List<OperatorMeasureModel>
@{ 
    var leadingMeasures = Model.Where(s => s.Type == Qbicles.Models.Operator.Goals.GoalMeasureTypeEnum.LeadingIndicator).ToList();
    var goalMeasures = Model.Where(s => s.Type == Qbicles.Models.Operator.Goals.GoalMeasureTypeEnum.GoalMeasure).ToList();
}
<div class="spacing">

    <h5>Progress (@ViewBag.TitleTimeframe)</h5>
    <br>

    <ul class="nav nav-pills traderv2" style="padding-top: 0;">
        <li class="active"><a href="#measures-leading" data-toggle="tab" aria-expanded="true">Leading indicators</a></li>
        <li><a href="#measures-lagging" data-toggle="tab" aria-expanded="true">Goal measures</a></li>
    </ul>

    <br><br>


    <div class="tab-content">

        <!-- Leading indicators -->
        <div class="tab-pane fade in active" id="measures-leading">

            <div class="flex-grid-thirds-lg qbicles-dash-grid marketing restyle" data-tooltip-color="slate" data-tooltip-stickto="right">
                @foreach (var item in leadingMeasures)
                {
                    <article id="gm_@item.Id" class="col">

                        <div class="btn-group optsnew defaulted dropdown">
                            <button type="button" onclick="deleteGoalMeasure(@item.Id)" class="btn btn-default">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>

                        <h1 style="color: #333; margin-top: 15px;">@item.MeasureName</h1>
                        <p class="qbicle-detail" style="text-align: center;">@item.MeasureDesc</p>

                        <br>
                        <div style="padding: 0 15px 10px 15px;">
                            @for (int i = 0; i < (item.Score.HasValue? item.Score.Value:0); i++)
                            {
                                <i class="fa fa-star yellow-text"></i>
                            }
                        </div>
                        @*<p>Based on 3 submissions</p>*@
                    </article>
                }
            </div>

        </div>
        <!-- END Leading indicators -->
        <!-- Goal Measures -->
        <div class="tab-pane fade" id="measures-lagging">

            <div class="flex-grid-thirds-lg qbicles-dash-grid marketing restyle" data-tooltip-color="slate" data-tooltip-stickto="right">
                @foreach (var item in goalMeasures)
                {
                    <article id="gm_@item.Id" class="col">

                        <div class="btn-group optsnew defaulted dropdown">
                            <button type="button" onclick="deleteGoalMeasure(@item.Id)" class="btn btn-default">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>

                        <h1 style="color: #333; margin-top: 15px;">@item.MeasureName</h1>
                        <p class="qbicle-detail" style="text-align: center;">@item.MeasureDesc</p>

                        <br>
                        <div style="padding: 0 15px 10px 15px;">
                            @for (int i = 0; i < (item.Score.HasValue ? item.Score.Value : 0); i++)
                            {
                                <i class="fa fa-star yellow-text"></i>
                            }
                        </div>
                        @*<p>Based on 3 submissions</p>*@
                    </article>
                }
            </div>

        </div>
        <!-- END Goal Measures -->

    </div>

</div>
