@using Qbicles.BusinessRules.Model;
@model List<OperatorMeasureModel>

<div class="spacing">

    <h5>Progress (@ViewBag.TitleTimeframe)</h5>
    <br>


    <div class="flex-grid-thirds-lg qbicles-dash-grid marketing restyle" data-tooltip-color="slate" data-tooltip-stickto="right">
        @foreach (var item in Model)
        {
        <article id="gm_@item.Id" class="col">

            <div class="btn-group optsnew defaulted dropdown">
                <button type="button" onclick="deletePerformanceMeasure(@item.Id)" class="btn btn-default">
                    <i class="fa fa-trash"></i>
                </button>
            </div>

            <h1 style="color: #333; margin-top: 15px;">@item.MeasureName</h1>
            <p class="qbicle-detail" style="text-align: center;">@item.MeasureDesc</p>

            <br>
            <div style="padding: 0 15px 10px 15px;">
                @for (int i = 0; i < item.Score; i++)
                {
                    <i class="fa fa-star yellow-text"></i>
                }
            </div>
            <p>Based on @item.SubmitCount submissions</p>

        </article>
        }
    </div>


</div>
