@using Qbicles.Models.Operator.Team;
@using Qbicles.BusinessRules;
@model List<PerformanceTracking>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var currentUserId = (string)ViewBag.CurrentUserId;
    var extraCol = (Model.Count() % 4 == 0 ? 0 : 4) - Model.Count() % 4;
}
@foreach (var item in Model)
{
<div class="col article-feature @(item.IsHide ? "performance-hidden" : "")">
    <a href="/Operator/DetailPerformanceTracking?id=@item.Id">
        <div class="article-feature-img" style="background: url('@api@item.Team.User.ProfilePic');">
        </div>
    </a>
    <div class="info">

        <div class="btn-group optsnew defaulted dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#" data-toggle="modal" data-target="#app-operator-performance-addedit" onclick="LoadPerformanceTrackingModal(@item.Id)">Edit</a></li>
                @if (item.IsHide)
                {
                    <li><a href="#" onclick="ShowOrHidePerformanceTracking(@item.Id, false)">Show</a></li>
                }
                else
                {
                    <li><a href="#" onclick="ShowOrHidePerformanceTracking(@item.Id, true)">Hide</a></li>
                }

            </ul>
        </div>

        <a href="/Operator/DetailPerformanceTracking?id=@item.Id">
            <smaller>@item.TrackingMeasures.Select(t => t.Measure).Count(s => s.FormElements.Any(f => f.FormElementDatas.Any())) Forms</smaller>
            <smaller></smaller>
            <h1>@HelperClass.GetFullNameOfUser(item.Team.User, currentUserId)'s Performance</h1>
            <p>@item.Description</p>
        </a>
    </div>
</div>
}
@for (int i = 1; i <= extraCol; i++)
{
    <div class="col">&nbsp;</div>
}