@using Qbicles.Models.Operator.Team
@using Qbicles.BusinessRules;
@using Qbicles.Models
@model MediaFolder
@{
    var qbicleTopics = ViewBag.topics != null? (List<ItemTopic>)ViewBag.topics : new List<ItemTopic>();
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Add a Resource</h5>
        </div>
        <div class="modal-body">
            <form id="form_media_addedit" method="post" action="/Operator/SaveResource" enctype="multipart/form-data">
                <input type="hidden" id="mediaFolderId" name="mediaFolderId" value="@(Model?.Id??0)">
                <div class="well custom">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="media-title">Document name</label>
                                <input type="text" name="name" required class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="topic">Choose a topic</label>
                                <select name="topicId" class="form-control select2" style="width: 100%;">
                                    @foreach (var item in qbicleTopics)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="account_number">Choose a file</label>
                                <input type="file" class="form-control previewimgresource" id="mediaAttachments" name="mediaAttachments" data-target='#preview'>
                            </div>

                            <img id="preview" src="" alt="Your image" style="display: none; width: 100%; height: auto; margin-bottom: 30px;" />
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="tags">Destination folder</label>
                                <select name="mediaFolder" class="form-control select2" style="width: 100%;" disabled>
                                    <option value="@(Model?.Id??0)" selected>@(Model?.Name ?? "")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="media-description">Add a description</label>
                                <textarea name="description" class="form-control" required style="height: 80px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                <button class="btn btn-success" type="submit">Add media</button>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->