@using System.Data
@model DataTable
@{
    var colNameIgnore = new string[] { "PersonId", "PersonName", "PersonUrl", "PersonJobtile" };
    var columns = Model.Columns.Cast<DataColumn>();
}
<table class="datatable table-striped table-hover" style="width: 100%;" id="@ViewBag.tableId" data-paging="false">
    <thead>
        <tr>

            <th data-priority="1">Employee</th>
            @foreach (var item in columns)
            {
                if (!colNameIgnore.Contains(item.ColumnName))
                {
                    <th data-priority="1" data-orderable="false">@item.ColumnName</th>
                }
            }
            <th data-priority="2">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rows.Cast<DataRow>())
        {
            double rowtotal = 0;
            <tr>
                <td>
                    <ul class="avatar-listing unstyled" style="margin-bottom: 0 !important;">
                        <li>
                            <a href="/Community/UserProfilePage?uId=@item["PersonId"]" style="text-decoration: none !important; background: transparent !important; padding: 0;">
                                <div class="owner-avatar">
                                    <div class="avatar-sm" style="background: url('@item["PersonUrl"]');"></div>
                                </div>
                                <h5>@item["PersonName"]<br><small>@item["PersonJobtile"]</small></h5>
                            </a>
                        </li>
                    </ul>
                </td>
                @foreach (var cl in columns)
                {
                    if (!colNameIgnore.Contains(cl.ColumnName))
                    {
                        var colval = Convert.ToDouble(item[cl.ColumnName]);
                        <td>
                            @if (colval > 0)
                            {
                                <span data-toggle="modal" data-target="#app-operator-time-logging" data-tooltip="In: 9am, Out: 5pm" style="font-weight: 700;">@(colval.ToString("F2"))</span>
                            }
                            else
                            {
                                @Html.Raw(colval.ToString("F2"))
                            }
                        </td>
                        rowtotal += colval;
                    }
                }
                <td>@rowtotal.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>
