@using Qbicles.Models.Operator.Team
@using Qbicles.BusinessRules

@model TeamPerson
@{
    var currentUserId = (string)ViewBag.CurrentUserId;
    var api = (string)ViewBag.DocRetrievalUrl;
    var fullName = HelperClass.GetFullNameOfUser(@Model.User, currentUserId);
    var hasPermisionAddingResource = Model.User.TeamMembers?.Where(t => t.WorkGroup.TeamMembers.Any(t1 => t1.Member.Id == currentUserId
                                        && (t1.TeamPermission == Qbicles.Models.Operator.TeamPermissionTypeEnum.Manager || 
                                        t1.TeamPermission == Qbicles.Models.Operator.TeamPermissionTypeEnum.Supervisor))).Any() ?? false;
}
<!-- Content Wrapper. Contains page content -->
<input type="hidden" id="mediaFolderId" value="@(Model.ResourceFolder?.Id??0)">
<input type="hidden" id="operatorQbicleId" value="@(Model.ResourceFolder?.Qbicle?.Id??0)">

<div class="content-wrapper qbicle-detail">
    <!-- Main content -->
    <section class="content">

        <br /><br />

        <div class="mod_title">
            <h5>Operator &gt; People &amp; Skills</h5>
            <h4>@fullName</h4>
        </div>


        <div class="app_filter">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/Operator" class="btn btn-primary"><i class="fa fa-angle-left"></i> &nbsp; Team</a>
                </div>
            </div>
        </div>


        <br />


        <div class="app_general">

            <br />

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-3">

                    <div class="community-side">
                        <div class="community-avatar" style="margin: 0 auto; background-image: url('@api@Model.User.ProfilePic'); background-position: center center;"></div>

                        <div class="text-center">
                            <h2>@fullName</h2>
                            <h5>@string.Join(", ", Model.Roles.Select(r => r.Name))</h5>
                        </div>


                        <br /><br /><br />
                        <div class="office-location">
                            <i class="fa fa-map-marker"></i>
                            <p>
                                <strong>Address</strong><br />
                                @string.Join(", ", Model.Locations.Select(r => r.Name))
                            </p>
                        </div>

                        <div class="clearfix"></div>

                        <br />
                        <div class="office-location">
                            <i class="fa fa-phone"></i>
                            <p>
                                <strong>Tel</strong><br />
                                <a href="tel:@Model.User.Tell">@Model.User.Tell</a>
                            </p>
                        </div>

                        <div class="clearfix"></div>

                        <br />
                        <div class="office-location">
                            <i class="fa fa-at"></i>
                            <p>
                                <strong>Email</strong><br />
                                <a href="mailto:@Model.User.Email">@Model.User.Email</a>
                            </p>
                        </div>

                    </div>


                </div>
                <div class="col-xs-12 col-sm-8 col-lg-9">

                    <div class="well custom" style="padding-bottom: 5px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" id="personResourceSearch" class="form-control" name="search">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-lg-3">
                                <div class="form-group">
                                    <label for="type">Filter by type</label>
                                    <select name="folder" id="sl-media-type" class="form-control select2" style="width: 100%;">
                                        <option></option>
                                        <option value="All">Show all</option>
                                        <option value="Documents">Documents</option>
                                        <option value="Image File">Photos</option>
                                        <option value="Video File">Videos</option>
                                    </select>
                                </div>
                            </div>
                            @if (hasPermisionAddingResource)
                            {
                                <div class="col-xs-12 col-sm-4 col-lg-5">
                                    <div class="form-group" style="margin: 0;">
                                        <label>&nbsp;</label><br />
                                        <button class="btn btn-success" data-toggle="modal" data-target="#create-resource" onclick="LoadResourceModal(@Model.ResourceFolder.Id)"><i class="fa fa-plus"></i> &nbsp; Add a File</button>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <br />

                    <div id="asset-resources" class="flex-grid-thirds-lg">

                    </div>



                </div>
            </div>

        </div>

    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->
<div class="modal fade left" id="create-resource" role="dialog" aria-labelledby="create-resource"></div>
@{
    <link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.js"></script>
        <script src="~/Scripts/dev/operator.teamperson.detail.js"></script>
    }
    else
    {
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
        <script src="~/Scripts/dev/operator.teamperson.detail.min.js"></script>
    }
}

