@using Qbicles.Models.Highlight
@using Qbicles.BusinessRules
@model ArticleHighlight
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var timeZone = (string)ViewBag.TimeZone;
    var datetimeformat = (string)ViewBag.DateTimeFormat;
    var newsImg = @"/Content/DesignStyle/img/banner-news.jpg";
    Model.ImgUri = string.IsNullOrEmpty(Model.ImgUri) ? newsImg : (api + Model.ImgUri);
    var tagString = "";
    if (Model.Tags != null && Model.Tags.Count > 0)
    {
        foreach (var tagItem in Model.Tags)
        {
            tagString += string.IsNullOrEmpty(tagString) ? "" : " ";
            tagString += "#" + tagItem.Name;
        }
    }
}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body" style="padding: 0;">


            <div class="community-v2-content" style="padding: 0;">

                <!-- Hero -->
                <div class="hero" style="background-image: url('@Model.ImgUri');">

                    <div class="v2-content">

                        <ul class="sharing">
                            @if (!string.IsNullOrEmpty(tagString.Trim()))
                            {
                                <li class="link">
                                    <div class="sharing-icon" style="background: url('/Content/DesignStyle/img/icon_topics.png');"></div> &nbsp;
                                    <p data-href="share link">@tagString</p>
                                </li>
                            }
                            <li class="link">
                                <div class="sharing-icon" style="background: url('/Content/DesignStyle/img/icon_calendar.png');"></div> &nbsp;
                                <p data-href="share link">@(Model.CreatedDate.ConvertTimeFromUtc(timeZone).ToString(datetimeformat))</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END Hero -->
                <!-- Article main -->
                <article class="v2-full">

                    <h1 style="margin: 30px 0 20px 0;">@(Model.Title)</h1>

                    <div id="article-content" class="ql-editor" style="padding: 0"></div>

                    <br /><br /><br /><br />
                    <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>

                </article>
                <!-- END Article main -->

            </div>
            <!-- END Main block -->
        </div>
    </div>
</div>
<link href="/Content/DesignStyle/css/quill.snow.css" rel="stylesheet">
<script>
    var bodycontent = '@(Html.Raw(HttpUtility.UrlDecode(Model?.ArticleBody ?? "")))';
    $("#article-content").html(bodycontent);
</script>