@using Qbicles.Models.Highlight
@using Qbicles.Models.B2B
@model B2BProfile
@{
    ViewBag.Title = $"{Model.BusinessName} | Manage your public content & network";
    var eventRefs = (List<string>)ViewBag.EventRefs;
    var jobRefs = (List<string>)ViewBag.JobRefs;
    var realestateRefs = (List<string>)ViewBag.RealEstate;

    var isNewsRequestApproved = (bool)ViewBag.IsNewRequestApproved;
    var isArticleRequestApproved = (bool)ViewBag.IsArticleRequestApproved;
    var isKnowledgeRequestApproved = (bool)ViewBag.IsKnowledgeRequestApproved;
    var isEventRequestApproved = (bool)ViewBag.IsEventRequestApproved;
    var isJobRequestApproved = (bool)ViewBag.IsJobRequestApproved;
    var isRealEstateRequestApproved = (bool)ViewBag.IsRealEstateRequestApproved;
}

<!--Hidden fields-->
<input type="hidden" id="hlnews-type" value="@HighlightPostType.News" />
<input type="hidden" id="hlarticle-type" value="@HighlightPostType.Article" />
<input type="hidden" id="hlknowledge-type" value="@HighlightPostType.Knowledge" />
<input type="hidden" id="hllisting-type" value="@HighlightPostType.Listings" />
<input type="hidden" id="listingevent-type" value="@((int)ListingType.Event)" />
<input type="hidden" id="listingjob-type" value="@((int)ListingType.Job)" />
<input type="hidden" id="listingrealestate-type" value="@((int)ListingType.RealEstate)" />
<!--END Hidden fields-->
<!-- Content wrapper -->
<div class="content-wrapper qbicle-detail" style="background: #f4f6f9; padding-top: 85px;">

    <!-- Main content -->
    <section class="content nopad profilev2">

        <div class="container-lg">

            <div class="row">
                <div class="col-xs-12">

                    <div class="activity-overview plain rounded businesscard" style="padding: 20px 30px;">

                        <a href="#" style="display: block; text-align: center; margin: 0 auto;">
                            <div class="business-logo" style="position: relative; background-image: url('/Content/DesignStyle/img/icon_candidates.png');"></div>
                        </a>


                        <div class="business-info">

                            <h1>@Model.BusinessName Network &amp; listings</h1>
                            <p class="summ">Create public content, track responses and shortlist candidates</p>

                        </div>


                        <div class="business-options">

                            <a href="~/Commerce/BusinessProfile" class="btn btn-primary community-button" style="margin-bottom: 3px;">Public profile</a>
                            <a href="~/Commerce/BusinessProfileTrading" class="btn btn-info community-button">Trading options</a>

                        </div>

                    </div>

                </div>
            </div>






            <div class="row">
                <div class="col-xs-12">


                    <ul class="profilenav" role="navigation" data-tooltip-stickto="bottom" data-tooltip-max-width="150" data-tooltip-color="teal" style="width: 400px; max-width: 100%;">
                        <li class="active">
                            <a href="#network-create" data-toggle="tab" data-tooltip="Create &amp; manage">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#network-network" data-toggle="tab" data-tooltip="Network">
                                <i class="fa fa-users"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#network-interest" data-toggle="tab" onclick="$('a[href=#replies-events]').click()" data-tooltip="Interest &amp; responses">
                                <i class="fa fa-smile-o"></i>
                            </a>
                        </li>
                    </ul>



                    <a id="topjump"></a>


                    <div class="tab-content">


                        <!-- Create -->
                        <div class="tab-pane fade in active" id="network-create">


                            <div class="activity-overview plain rounded" style="padding-bottom: 20px;">
                                <div class="titlezone">
                                    <h5>Create &amp; manage</h5>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <ul class="nav nav-pills traderv2" style="padding-top: 0;">
                                            <li class="active"><a href="#manage-events" data-toggle="tab">Events</a></li>
                                            <li><a href="#manage-jobs" data-toggle="tab">Jobs</a></li>
                                            <li><a href="#manage-news" data-toggle="tab">News</a></li>
                                            <li><a href="#manage-article" data-toggle="tab">Articles</a></li>
                                            <li><a href="#manage-knowledge" data-toggle="tab">Knowledge</a></li>
                                            @*<li><a href="#manage-listings" data-toggle="tab">Business listings</a></li>*@
                                            <li><a href="#manage-realestate" data-toggle="tab" aria-expanded="false">Real estate</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <br /><br />


                                <div class="tab-content">

                                    <!-- Events -->
                                    <div class="tab-pane fade in active" id="manage-events">

                                        <div class="well custom" style="padding-bottom: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="search">Search</label>
                                                        <input type="text" id="event-searchkey" placeholder="Search by title..." onchange="reloadDataTable('hlevent-table')" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="status">Status</label>
                                                        <select name="status" id="event-searchstatus" onchange="reloadDataTable('hlevent-table')" class="form-control select2" style="width: 100%;">
                                                            <option value="0" selected>Show all</option>
                                                            <option value="1">Live</option>
                                                            <option value="2">Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <label>Options</label><br />
                                                    @if (isEventRequestApproved)
                                                    {
                                                        <button class="btn btn-success" onclick="showEventAddView(0)"><i class="fa fa-plus"></i> &nbsp; Add an event</button>
                                                    }
                                                    else
                                                    {
                                                        <span data-tooltip="This feature can be enabled through an Extension Request by any Domain Administrator">
                                                            <button class="btn btn-success" disabled><i class="fa fa-plus"></i> &nbsp; Add an event</button>
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <table class="datatable table-striped table-hover" data-order='[[2, "desc"]]' id="hlevent-table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th data-orderable="false">Reference</th>
                                                    <th>Added</th>
                                                    <th>Status</th>
                                                    <th data-orderable="false">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>
                                    <!-- END Events -->
                                    <!-- Jobs -->
                                    <div class="tab-pane fade" id="manage-jobs">

                                        <div class="well custom" style="padding-bottom: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="search">Search</label>
                                                        <input type="text" id="job-searchkey" placeholder="Search by title..." onchange="reloadDataTable('hlevent-table')" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="status">Status</label>
                                                        <select name="status" id="job-searchstatus" placeholder="Search by title..." onchange="reloadDataTable('hljob-table')" class="form-control select2" style="width: 100%;">
                                                            <option value="0" selected>Show all</option>
                                                            <option value="1">Live</option>
                                                            <option value="2">Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <label>Options</label><br />
                                                    @if (isJobRequestApproved)
                                                    {
                                                         <button class="btn btn-success" onclick="showJobAddView(0)"><i class="fa fa-plus"></i> &nbsp; Add a job</button>
                                                    }
                                                    else
                                                    {
                                                        <span data-tooltip="This feature can be enabled through an Extension Request by any Domain Administrator">
                                                            <button class="btn btn-success" disabled><i class="fa fa-plus"></i> &nbsp; Add a job</button>
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <table class="datatable table-striped table-hover" data-order='[[2, "desc"]]' id="hljob-table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th data-orderable="false">Reference</th>
                                                    <th>Added</th>
                                                    <th>Status</th>
                                                    <th data-orderable="false">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>
                                    <!-- END Jobs -->
                                    <!-- News -->
                                    <div class="tab-pane fade" id="manage-news">

                                        <div class="well custom" style="padding-bottom: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="search">Search</label>
                                                        <input type="text" id="news-searchkey" placeholder="Search by title..." onchange="reloadDataTable('hlnews-table')" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="status">Status</label>
                                                        <select name="status" id="news-searchstatus" onchange="reloadDataTable('hlnews-table')" class="form-control select2" style="width: 100%;">
                                                            <option value="0" selected>Show all</option>
                                                            <option value="1">Live</option>
                                                            <option value="2">Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <label>Options</label><br />
                                                    @if (isNewsRequestApproved)
                                                    {
                                                        <button class="btn btn-success" onclick="showNewsAddView(0)"><i class="fa fa-plus"></i> &nbsp; Add news</button>
                                                    }
                                                    else
                                                    {
                                                        <span data-tooltip="This feature can be enabled through an Extension Request by any Domain Administrator">
                                                            <button class="btn btn-success" disabled><i class="fa fa-plus"></i> &nbsp; Add news</button>
                                                        </span>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <table class="datatable table-striped table-hover" id="hlnews-table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Added</th>
                                                    <th>Status</th>
                                                    <th data-orderable="false">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                    <!-- END News -->
                                    <!-- Newsletter -->
                                    <div class="tab-pane fade" id="manage-article">

                                        <div class="well custom" style="padding-bottom: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="search">Search</label>
                                                        <input type="text" id="article-searchkey" placeholder="Search by title..." onchange="reloaddatatable('hlarticle-table')" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="status">Status</label>
                                                        <select name="status" id="article-searchstatus" onchange="reloaddatatable('hlarticle-table')" class="form-control select2" style="width: 100%;">
                                                            <option value="0" selected>Show all</option>
                                                            <option value="1">live</option>
                                                            <option value="2">inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <label>Options</label><br />
                                                    @if (isArticleRequestApproved)
                                                    {
                                                        <button class="btn btn-success" onclick="showArticleAddView(0)"><i class="fa fa-plus"></i> &nbsp; Add an article</button>
                                                    }
                                                    else
                                                    {
                                                        <span data-tooltip="This feature can be enabled through an Extension Request by any Domain Administrator">
                                                            <button class="btn btn-success" disabled><i class="fa fa-plus"></i> &nbsp; Add an article</button>
                                                        </span>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <table class="datatable table-striped table-hover" data-order='[[2, "desc"]]' id="hlarticle-table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Added</th>
                                                    <th>Status</th>
                                                    <th data-orderable="false">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <!-- END Newsletter -->
                                    <!-- Knowledge -->
                                    <div class="tab-pane fade" id="manage-knowledge">

                                        <div class="well custom" style="padding-bottom: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="search">Search</label>
                                                        <input type="text" id="knowledge-searchkey" placeholder="Search by title..." onchange="reloadDataTable('hlknowledge-table')" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="status">Status</label>
                                                        <select name="status" id="knowledge-searchstatus" onchange="reloadDataTable('hlknowledge-table')" class="form-control select2" style="width: 100%;">
                                                            <option value="0" selected>Show all</option>
                                                            <option value="1">Live</option>
                                                            <option value="2">Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <label>Options</label><br />
                                                    @if (isKnowledgeRequestApproved)
                                                    {
                                                        <button class="btn btn-success" onclick="showKnowledgeAddView(0)"><i class="fa fa-plus"></i> &nbsp; Add knowledge</button>
                                                    }
                                                    else
                                                    {
                                                        <span data-tooltip="This feature can be enabled through an Extension Request by any Domain Administrator">
                                                            <button class="btn btn-success" disabled><i class="fa fa-plus"></i> &nbsp; Add knowledge</button>
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <table class="datatable table-striped table-hover" data-order='[[2, "desc"]]' id="hlknowledge-table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Added</th>
                                                    <th>Status</th>
                                                    <th data-orderable="false">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                    <!-- END Knowledge -->
                                    <!-- Business listings -->
                                    @*<div class="tab-pane fade" id="manage-listings">
                                        <div class="well custom" style="padding-bottom: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="search">Search</label>
                                                        <input type="text" onchange="reloadDataTable('hllisting-table')" id="listing-searchkey" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="listingtype">Types</label>
                                                        <select id="listingtype" onchange="reloadDataTable('hllisting-table')" name="listingtype" class="hidden form-control checkmulti" multiple>
                                                            @foreach (ListingType lsType in (ListingType[])Enum.GetValues(typeof(ListingType)))
                                                            {
                                                                <option value="@((int)lsType)" selected>@lsType</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="status">Status</label>
                                                        <select name="status" id="listing-searchstatus" onchange="reloadDataTable('hllisting-table')" class="form-control select2" style="width: 100%;">
                                                            <option value="0" selected>Show all</option>
                                                            <option value="1">Live</option>
                                                            <option value="2">Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <label>Options</label><br />
                                                    @if (isEventRequestApproved || isJobRequestApproved || isRealEstateRequestApproved)
                                                    {
                                                        <button class="btn btn-success" onclick="showListingAddView(0, 0)"><i class="fa fa-plus"></i> &nbsp; Add a listing</button>
                                                    }
                                                    else
                                                    {
                                                        <span data-tooltip="This feature can be enabled through an Extension Request by any Domain Administrator">
                                                            <button class="btn btn-success" disabled><i class="fa fa-plus"></i> &nbsp; Add a listing</button>
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <table class="datatable table-striped table-hover" data-order='[[4, "desc"]]' id="hllisting-table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Country</th>
                                                    <th>Category</th>
                                                    <th>Added</th>
                                                    <th>Status</th>
                                                    <th data-orderable="false">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>*@
                                    <!-- END Business listings -->
                                    <!-- Real estate -->
                                    <div class="tab-pane fade" id="manage-realestate">

                                        <div class="well custom" style="padding-bottom: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="search">Search</label>
                                                        <input type="text" id="realestate-searchkey" placeholder="Search by title..." onchange="reloadDataTable('hlrealestate-table')" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="status">Status</label>
                                                        <select name="status" id="realestate-searchstatus" onchange="reloadDataTable('hlrealestate-table')" class="form-control select2" style="width: 100%;">
                                                            <option value="0" selected>Show all</option>
                                                            <option value="1">Live</option>
                                                            <option value="2">Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <label>Options</label><br />
                                                    @if (isRealEstateRequestApproved)
                                                    {
                                                        <button class="btn btn-success" onclick="showRealEstateAddView(0)"><i class="fa fa-plus"></i> &nbsp; Add a property</button>
                                                    }
                                                    else
                                                    {
                                                        <span data-tooltip="This feature can be enabled through an Extension Request by any Domain Administrator">
                                                            <button class="btn btn-success" disabled><i class="fa fa-plus"></i> &nbsp; Add a property</button>
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <table class="datatable table-striped table-hover" data-order='[[2, "desc"]]' id="hlrealestate-table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th data-orderable="false">Property ref</th>
                                                    <th>Added</th>
                                                    <th>Status</th>
                                                    <th data-orderable="false">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>
                                    <!-- END Real estate -->
                                </div>
                            </div>





                        </div>
                        <!-- END Info -->
                        <!-- Network -->
                        <div class="tab-pane fade" id="network-network">

                            <div class="activity-overview plain rounded" style="padding-bottom: 20px;">
                                <div class="titlezone">
                                    <h5>Network</h5>
                                </div>


                                <div class="tab-content">

                                    <!-- Groups -->
                                    <div class="tab-pane fade in active" id="manage-groups">


                                        <div class="tab-content">


                                            <!-- Group list -->
                                            <div class="tab-pane fade in active" id="group-list">

                                                <div class="well custom" style="padding-bottom: 5px;">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                                            <div class="form-group">
                                                                <label for="search">Search</label>
                                                                <input type="text" onchange="showListShortlistGroups()" id="slgroup-search" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                                            <div class="form-group">
                                                                <label for="source">Options</label><br />
                                                                <button class="btn btn-success" onclick="showAddEditSlGroupModal(0)"><i class="fa fa-plus"></i> &nbsp; Add a Group</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />

                                                <div class="flex-grid-quarters-lg gridfix qbicles-dash-grid marketing restyle" id="slgroup-list" data-tooltip-color="slate" data-tooltip-stickto="right">



                                                </div>

                                            </div>
                                            <!-- END Group list -->
                                            <!-- Group contents -->
                                            <div class="tab-pane fade" id="group-contents">
                                                <input type="hidden" value="0" id="candidate-id" />

                                                <button class="btn btn-primary" data-toggle="tab" data-target="#group-list"><i class="fa fa-angle-left"></i> &nbsp; Back</button>
                                                <br /><br /><br />

                                                <h1 id="slGroupName"></h1>
                                                <br />

                                                <div class="well custom" style="padding-bottom: 5px;">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                                            <div class="form-group">
                                                                <label for="search">Search</label>
                                                                <input type="text" id="candidate-search-key" onchange='$("#candidate-list").DataTable().ajax.reload();' class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />

                                                <table class="datatable table-hover table-striped" id="candidate-list" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th data-priority="1">Name</th>
                                                            <th data-priority="2">Email</th>
                                                            <th data-priority="1">Tel</th>
                                                            <th data-priority="1">Job</th>
                                                            <th data-priority="1">Connected with me</th>
                                                            <th data-priority="1" data-orderable="false">Options</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>

                                            </div>
                                            <!-- END Group contents -->



                                        </div> <!-- ./tab-content -->


                                    </div>
                                    <!-- END Groups -->


                                </div>

                            </div>


                        </div>
                        <!-- END Network -->
                        <!-- Interest -->
                        <div class="tab-pane fade" id="network-interest">

                            <div class="activity-overview plain rounded" style="padding-bottom: 20px;">
                                <div class="titlezone">
                                    <h5>Interest &amp; responses</h5>
                                </div>


                                <div class="row">
                                    <div class="col-xs-12">
                                        <ul class="nav nav-pills traderv2" style="padding-top: 0;">
                                            <li class="active"><a href="#replies-events" data-toggle="tab">Events</a></li>
                                            <li><a href="#replies-jobs" data-toggle="tab">Jobs</a></li>
                                            <li><a href="#replies-realestate" data-toggle="tab">Real estate</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <br /><br />


                                <div class="tab-content">
                                    <!-- Replies > Events -->
                                    <div class="tab-pane fade in active" id="replies-events">

                                        <div class="well custom" style="padding-bottom: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="search">Search</label>
                                                        <input onchange="reloadDataTable('listing-event-table')" placeholder="Search by title..." type="text" id="event-searchkey-1" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="property">Event</label>
                                                        <select name="property" id="event-searchref" onchange="reloadDataTable('listing-event-table')" class="form-control select2" style="width: 100%;">
                                                            <option value=" " selected>Show all</option>
                                                            @foreach (var eventRefItem in eventRefs)
                                                            {
                                                                <option value="@eventRefItem">@eventRefItem</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <table class="datatable table-striped table-hover" id="listing-event-table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Person</th>
                                                    <th>Title</th>
                                                    <th>Event ref</th>
                                                    <th>Date &amp; time</th>
                                                    <th data-orderable="false">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <!-- END Replies > Events -->
                                    <!-- Replies > Jobs -->
                                    <div class="tab-pane fade" id="replies-jobs">

                                        <div class="well custom" style="padding-bottom: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="search">Search</label>
                                                        <input type="text" id="job-searchkey-1" placeholder="Search by title..." onchange="reloadDataTable('listing-job-table')" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="property">Job</label>
                                                        <select name="property" id="job-searchref" onchange="reloadDataTable('listing-job-table')" class="form-control select2" style="width: 100%;">
                                                            <option value=" " selected>Show all</option>
                                                            @foreach (var jobRefItem in jobRefs)
                                                            {
                                                                <option value="@jobRefItem">@jobRefItem</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <table class="datatable table-striped table-hover" id="listing-job-table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Person</th>
                                                    <th>Title</th>
                                                    <th>Job ref</th>
                                                    <th>Date &amp; time</th>
                                                    <th data-orderable="false">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <!-- END Replies > Jobs -->
                                    <!-- Replies > Real Estate -->
                                    <div class="tab-pane fade" id="replies-realestate">

                                        <div class="well custom" style="padding-bottom: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="search">Search</label>
                                                        <input type="text" id="realestate-searchkey-1" placeholder="Search by title..." onchange="reloadDataTable('listing-realestate-table')" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label for="property">Property</label>
                                                        <select name="property" id="realestate-searchref" onchange="reloadDataTable('listing-realestate-table')" class="form-control select2" style="width: 100%;">
                                                            <option value=" " selected>Show all</option>
                                                            @foreach (var realesateRefItem in realestateRefs)
                                                            {
                                                                <option value="@realesateRefItem">@realesateRefItem</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <table class="datatable table-striped table-hover" id="listing-realestate-table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Person</th>
                                                    <th>Title</th>
                                                    <th>Property ref</th>
                                                    <th>Date &amp; time</th>
                                                    <th data-orderable="false">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <!-- END Replies > Real estate -->
                                </div>
                            </div>

                        </div>
                        <!-- END Interest -->
                    </div>
                </div>
            </div>
            <br /><br />
        </div>

    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->
<!--START Modals-->
<!--News-->
<div class="modal fade left" id="highlight-news-add" role="dialog" aria-labelledby="highlight-news-add"></div>
<!--Article-->
<div class="modal fade left" id="highlight-article-add" role="dialog" aria-labelledby="highlight-newsletter-add"></div>
<!--Knowledge-->
<div class="modal fade left" id="highlight-knowledge-add" role="dialog" aria-labelledby="highlight-knowledge-add"></div>
<!--Listing-->
@*<div class="modal fade left" id="create-b2c-listing" role="dialog" aria-labelledby="create-b2c-listing"></div>*@
<!--Shortlist-->
<div class="modal fade left" id="networklistings-group-add" role="dialog" aria-labelledby="networklistings-group-add"></div>
<!--END Modals-->
<div class="modal fade left" id="shortlist-candidate" role="dialog" aria-labelledby="networklistings-group-add"></div>
<!--END Modals-->
<div class="modal fade left" id="highlight-event-add" role="dialog" aria-labelledby="highlight-event-add" style="display: none;"></div>
<div class="modal fade left" id="highlight-job-add" role="dialog" aria-labelledby="highlight-job-add" style="display: none;"></div>
<div class="modal fade left" id="highlight-realestate-add" role="dialog" aria-labelledby="highlight-job-add" style="display: none;"></div>

@{
    <link rel="stylesheet" href="~/Content/DesignStyle/css/tagify.css">
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/social.highlight.js"></script>
        <link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.js"></script>   
        <script src="~/Scripts/dev/network.shortlist.js"></script>
        <script src="~/Scripts/dev/Community.userprofilesetup.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/social.highlight.js"></script>
        <script src="~/Scripts/dev/network.shortlist.min.js"></script>
        <link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
        <script src="~/Scripts/dev/Community.userprofilesetup.min.js"></script>
    }
}

<script>
    $('.checkmulti').multiselect({
        includeSelectAllOption: false,
        enableFiltering: false,
        buttonWidth: '100%',
        maxHeight: 400,
        enableClickableOptGroups: true
    });
    $(document).ready(function () {
        initHighlightBusiness();
        showListShortlistGroups();
    })
</script>
