@using System.Diagnostics
@using Qbicles.Models.Highlight
@using Qbicles.BusinessRules
@model HighlightModel

@{

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative; min-height: 0; height: auto;">


    <!-- Main content -->
    <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin">



        <!-- Main area -->
        <div class="mdv2-col-dash" style="background: #f5f5f5; min-width: 0;">



            <div class="tab-content community-v2">


                <!-- Highlights -->
                <div class="tab-pane fade in active community-v2-content" id="highlights" style="padding-left: 0; padding-right: 0;">

                    <div class="spacing" style="max-width: 1000px; margin: 0 auto; position: relative;">

                        <div class="row">
                            <div class="col-xs-12">

                                <div class="followingblock ani">

                                    <button class="btn btn-primary" onclick="window.location.href='/Social/HighlightPost';" style="margin-bottom: 20px;"><i class="fa fa-angle-left"></i> &nbsp; All Highlights</button>

                                </div>
                            </div>
                        </div>

                        <br /><br /><br />



                        @if (Model.Type == HighlightPostType.News)
                        {
                            <article class="promo-block">
                                <div class="what">
                                    <div class="user-options" style="margin-left: 0;">

                                        <div style="display: flex; flex-direction: row;">
                                            <div class="who"><div class="who-avatar" style="background-image: url('@Model.LogoUri');"></div></div>

                                            <div class="user-metainfo">
                                                <h5>@Model.BusinessName</h5><br />
                                                <smaller>@Model.CreatedDate.GetTimeRelative()</smaller>

                                                <div class="highlight-opts">
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                                                        <ul class="dropdown-menu hlnav dropdown-menu-right">
                                                            @if (!string.IsNullOrEmpty(Model.HyperLink))
                                                            {
                                                                <li><a href="#" onclick="window.open('https://@Model.HyperLink', '_blank')">Open external site</a></li>
                                                            }
                                                            @if (Model.IsDomainFollowedByCurrentUser)
                                                            {
                                                                <li><a style="cursor: pointer;" onclick="updateDomainFollowStatus('@Model.DomainKey', 2)" class="red">Unfollow</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a style="cursor: pointer;" onclick="updateDomainFollowStatus('@Model.DomainKey', 1)">Follow</a></li>
                                                            }

                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="post-body">
                                            <div class="labelling">
                                                <label class="label label-lg label-primary">News</label>
                                            </div>

                                            <div class="highlight-img full" style="background-image: url('@Model.ImageUri');">&nbsp;</div>

                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-xs-5"><a href="#" class="likecount" style="font-weight: 500; position: relative;">@Model.LikeStatusString</a></div>
                                                    <div class="col-xs-7">
                                                        <ul class="hlopts">
                                                            <li><a href="javascript:void(0)" onclick="ShowingSharingHLPostPartialView(@Model.Id)"><i class="fa fa-share-alt"></i></a></li>
                                                            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                            @if (Model.IsBookmarkedByCurrentUser)
                                                            {
                                                                <li><a style="cursor: pointer" onclick="updateHLBookmarkStatus(@Model.Id, 2, this)"><i class="fa fa-bookmark red"></i></a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a style="cursor: pointer" onclick="updateHLBookmarkStatus(@Model.Id, 1, this)"><i class="fa fa-bookmark-o"></i></a></li>
                                                            }
                                                            @if (!Model.IsCreatedByCurrentUser)
                                                            {
                                                                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                                if (Model.IsLikedByCurrentUser)
                                                                {
                                                                    <li><a style="cursor: pointer" onclick="updateHLLikeStatus(@Model.Id, 2, this)"><i class="fa fa-heart red"></i></a></li>
                                                                }
                                                                else
                                                                {
                                                                    <li><a style="cursor: pointer" onclick="updateHLLikeStatus(@Model.Id, 1, this)"><i class="fa fa-heart-o"></i></a></li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="user-post">
                                                <h1>@Model.Title</h1>

                                                @if (Model.Tags != null && Model.Tags.Count > 0)
                                                {
                                                    <div class="tag-list">
                                                        @foreach (var tagItem in Model.Tags)
                                                        {
                                                            <a href="#" class="label label-soft">#@tagItem.Name</a>
                                                        }
                                                    </div>
                                                }

                                                <br /><br />
                                                <p style="white-space: pre-line;">@Model.Content</p>

                                                @if (!string.IsNullOrEmpty(Model.Citation))
                                                {
                                                    <br /> <br />
                                                    <i>via @Model.Citation</i>
                                                }

                                                <br />

                                                @if (!string.IsNullOrEmpty(Model.HyperLink))
                                                {
                                                    <button class="btn btn-info community-button w-auto" onclick="window.open('https://@Model.HyperLink', '_blank')" style="margin-top: 15px;"><i class="fa fa-external-link"></i> &nbsp; Open external site</button>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                        else if (Model.Type == HighlightPostType.Article)
                        {
                            <article class="promo-block">
                                <div class="what">
                                    <div class="user-options" style="margin-left: 0;">

                                        <div style="display: flex; flex-direction: row;">
                                            <div class="who"><div class="who-avatar" style="background-image: url('@Model.LogoUri');"></div></div>

                                            <div class="user-metainfo">
                                                <h5>@Model.BusinessName</h5><br />
                                                <smaller>@Model.CreatedDate.GetTimeRelative()</smaller>

                                                <div class="highlight-opts">
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                                                        <ul class="dropdown-menu hlnav dropdown-menu-right">
                                                            <li><a href="javascript:void(0)" onclick="showArticleContentModal(@Model.Id)">Read full article</a></li>
                                                            @if (Model.IsDomainFollowedByCurrentUser)
                                                            {
                                                                <li><a style="cursor: pointer;" onclick="updateDomainFollowStatus('@Model.DomainKey', 2)" class="red">Unfollow</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a style="cursor: pointer;" onclick="updateDomainFollowStatus('@Model.DomainKey', 1)">Follow</a></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="post-body">
                                            <div class="labelling">
                                                <label class="label label-lg label-primary">Newsletter</label>
                                            </div>

                                            <div class="highlight-img full" style="background-image: url('@Model.ImageUri');">&nbsp;</div>


                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-xs-5"><a href="#" class="likecount" style="font-weight: 500; position: relative;">@Model.LikeStatusString</a></div>
                                                    <div class="col-xs-7">
                                                        <ul class="hlopts">
                                                            <li><a href="javascript:void(0)" onclick="ShowingSharingHLPostPartialView(@Model.Id)"><i class="fa fa-share-alt"></i></a></li>
                                                            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                            @if (Model.IsBookmarkedByCurrentUser)
                                                            {
                                                                <li><a style="cursor: pointer" onclick="updateHLBookmarkStatus(@Model.Id, 2, this)"><i class="fa fa-bookmark red"></i></a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a style="cursor: pointer" onclick="updateHLBookmarkStatus(@Model.Id, 1, this)"><i class="fa fa-bookmark-o"></i></a></li>
                                                            }
                                                            @if (!Model.IsCreatedByCurrentUser)
                                                            {
                                                                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                                if (Model.IsLikedByCurrentUser)
                                                                {
                                                                    <li><a style="cursor: pointer" onclick="updateHLLikeStatus(@Model.Id, 2, this)"><i class="fa fa-heart red"></i></a></li>
                                                                }
                                                                else
                                                                {
                                                                    <li><a style="cursor: pointer" onclick="updateHLLikeStatus(@Model.Id, 1, this)"><i class="fa fa-heart-o"></i></a></li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="user-post">
                                                <h1>@Model.Title</h1>

                                                @if (Model.Tags != null && Model.Tags.Count > 0)
                                                {
                                                    <div class="tag-list">
                                                        @foreach (var tagItem in Model.Tags)
                                                        {
                                                            <a href="#" class="label label-soft">#@tagItem.Name</a>
                                                        }
                                                    </div>
                                                }

                                                <br /><br />
                                                <p style="white-space: pre-line;">@Model.Content</p>

                                                <br />

                                                <button class="btn btn-info community-button w-auto" style="margin-top: 15px;"
                                                        onclick="showArticleContentModal(@Model.Id)">
                                                    <i class="fa fa-eye"></i> &nbsp; Read article
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                        else if (Model.Type == HighlightPostType.Knowledge)
                        {
                            <article class="promo-block">
                                <div class="what">
                                    <div class="user-options" style="margin-left: 0;">

                                        <div style="display: flex; flex-direction: row;">
                                            <div class="who"><div class="who-avatar" style="background-image: url('@Model.LogoUri');"></div></div>

                                            <div class="user-metainfo">
                                                <h5>@Model.BusinessName</h5><br />
                                                <smaller>@Model.CreatedDate.GetTimeRelative()</smaller>

                                                <div class="highlight-opts">
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                                                        <ul class="dropdown-menu hlnav dropdown-menu-right">
                                                            @if (!string.IsNullOrEmpty(Model.HyperLink))
                                                            {
                                                                <li><a href="#" onclick="window.open('https://@Model.HyperLink', '_blank')" data-toggle="modal">Open external site</a></li>
                                                            }

                                                            @if (Model.IsDomainFollowedByCurrentUser)
                                                            {
                                                                <li><a class="red" onclick="updateDomainFollowStatus('@Model.DomainKey', 2)" href="#">Unfollow</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a onclick="updateDomainFollowStatus('@Model.DomainKey', 1)" href="#">Follow</a></li>
                                                            }
                                                            <!--<li><a href="#">View insights</a></li>-->
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="post-body">
                                            <div class="labelling">
                                                <label class="label label-lg label-primary">Knowledge</label>
                                            </div>
                                            <div class="highlight-img full" style="background-image: url('@Model.ImageUri');">&nbsp;</div>

                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-xs-5"><a href="#" class="likecount" style="font-weight: 500; position: relative;">@Model.LikeStatusString</a></div>
                                                    <div class="col-xs-7">
                                                        <ul class="hlopts">
                                                            <li><a href="javascript:void(0)" onclick="ShowingSharingHLPostPartialView(@Model.Id)"><i class="fa fa-share-alt"></i></a></li>
                                                            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                            @if (Model.IsBookmarkedByCurrentUser)
                                                            {
                                                                <li><a style="cursor: pointer" onclick="updateHLBookmarkStatus(@Model.Id, 2, this)"><i class="fa fa-bookmark red"></i></a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a style="cursor: pointer" onclick="updateHLBookmarkStatus(@Model.Id, 1, this)"><i class="fa fa-bookmark-o"></i></a></li>
                                                            }
                                                            @if (!Model.IsCreatedByCurrentUser)
                                                            {
                                                                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                                if (Model.IsLikedByCurrentUser)
                                                                {
                                                                    <li><a style="cursor: pointer" onclick="updateHLLikeStatus(@Model.Id, 2, this)"><i class="fa fa-heart red"></i></a></li>
                                                                }
                                                                else
                                                                {
                                                                    <li><a style="cursor: pointer" onclick="updateHLLikeStatus(@Model.Id, 1, this)"><i class="fa fa-heart-o"></i></a></li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="user-post">
                                                <h1>@Model.Title</h1>

                                                @if (Model.Tags != null && Model.Tags.Count > 0)
                                                {
                                                    <div class="tag-list">
                                                        @foreach (var tagItem in Model.Tags)
                                                        {
                                                            <a href="#" class="label label-soft">#@tagItem.Name</a>
                                                        }
                                                    </div>
                                                }

                                                <br /><br />
                                                <p style="white-space: pre-line;">
                                                    @Model.Content
                                                </p>

                                                @if (!string.IsNullOrEmpty(Model.HyperLink))
                                                {
                                                    <br />
                                                    <button class="btn btn-info community-button w-auto" onclick="window.open('https://@Model.HyperLink', '_blank')" style="margin-top: 15px;"><i class="fa fa-external-link"></i> &nbsp; Open external site</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                        else if (Model.Type == HighlightPostType.Listings && Model.HLListingType == ListingType.Event)
                        {
                            <article class="promo-block">
                                <div class="what">
                                    <div class="user-options" style="margin-left: 0;">

                                        <div style="display: flex; flex-direction: row;">
                                            <div class="who"><div class="who-avatar" style="background-image: url('@Model.LogoUri&T');"></div></div>

                                            <div class="user-metainfo">
                                                <h5>@Model.BusinessName</h5><br />
                                                <smaller>@(Model.CreatedDate.GetTimeRelative())</smaller>

                                                <div class="highlight-opts">
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                                                        <ul class="dropdown-menu hlnav dropdown-menu-right">
                                                            @if (Model.IsFlaggedByCurrentUser)
                                                            {
                                                                <li><a style="cursor: pointer;" class="red flag" data-toggle="modal" onclick="updateHLFlagStatus(@Model.Id, 2, this)">I'm not interested</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a style="cursor: pointer;" data-toggle="modal" class="flag" onclick="updateHLFlagStatus(@Model.Id, 1, this)">I'm interested</a></li>
                                                            }
                                                            @if (Model.IsDomainFollowedByCurrentUser)
                                                            {
                                                                <li><a style="cursor: pointer;" onclick="updateDomainFollowStatus('@Model.DomainKey', 2)" class="red">Unfollow</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a onclick="updateDomainFollowStatus('@Model.DomainKey', 1)" style="cursor: pointer;">Follow</a></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="post-body">
                                            <div class="labelling">
                                                <label class="label label-lg label-primary">Event</label>
                                                @{
                                                    var eventCountry = "Available everywhere";
                                                    var eventArea = "";
                                                    if (!string.IsNullOrEmpty(Model.CountryName))
                                                    {
                                                        eventCountry = Model.CountryName;
                                                        eventArea = Model.AreaName ?? "";
                                                        if (!string.IsNullOrEmpty(eventArea))
                                                        {
                                                            eventCountry = eventArea + ", " + eventCountry;
                                                        }
                                                    }
                                                }
                                                <label class="label label-lg label-info">@(eventCountry)</label>
                                            </div>
                                            <div class="highlight-img full" style="background-image: url('@Model.ImageUri');">&nbsp;</div>

                                            <div class="post-options">
                                                <div class="row">

                                                    <div class="col-xs-5"><a href="#" class="likecount" style="font-weight: 500; position: relative;">@Model.LikeStatusString</a></div>
                                                    <div class="col-xs-7">
                                                        <ul class="hlopts">
                                                            <li><a href="javascript:void(0)" onclick="ShowingSharingHLPostPartialView(@Model.Id)"><i class="fa fa-share-alt"></i></a></li>
                                                            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                            @if (Model.IsBookmarkedByCurrentUser)
                                                            {
                                                                <li><a style="cursor: pointer;" onclick="updateHLBookmarkStatus(@Model.Id, 2, this)"><i class="fa fa-bookmark red"></i></a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a style="cursor: pointer;" onclick="updateHLBookmarkStatus(@Model.Id, 1, this)"><i class="fa fa-bookmark-o"></i></a></li>
                                                            }
                                                            @if (!Model.IsCreatedByCurrentUser)
                                                            {
                                                                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                                if (Model.IsLikedByCurrentUser)
                                                                {
                                                                    <li><a style="cursor: pointer;" onclick="updateHLLikeStatus(@Model.Id, 2, this)"><i class="fa fa-heart red"></i></a></li>
                                                                }
                                                                else
                                                                {
                                                                    <li><a style="cursor: pointer;" onclick="updateHLLikeStatus(@Model.Id, 1, this)"><i class="fa fa-heart-o"></i></a></li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="user-post">
                                                <h1>@Model.Title</h1>

                                                @if (Model.Tags != null && Model.Tags.Count > 0)
                                                {
                                                    <div class="tag-list">
                                                        @foreach (var tagItem in Model.Tags)
                                                        {
                                                            <a href="#" class="label label-soft">#@tagItem.Name</a>
                                                        }
                                                    </div>
                                                }

                                                <br /><br />
                                                <p style="white-space: pre-line;">@Model.Content</p>

                                                <br />

                                                <table class="table app_specific table-borderless highlinfo valigntop">
                                                    <tbody>
                                                        <tr>
                                                            <td><strong>When</strong></td>
                                                            <td>@Model.StartTimeString - @Model.EndTimeString</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Where</strong></td>
                                                            <td>@Model.EventLocation</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                @{
                                                    var FlagUp = Model.IsFlaggedByCurrentUser ? "display: none" : "";
                                                    var FlagDown = Model.IsFlaggedByCurrentUser ? "" : "display: none";
                                                }
                                                <button class="btn btn-primary community-button w-auto flag" style="margin-top: 15px; @FlagUp"
                                                        onclick="updateHLFlagStatus(@Model.Id, 1, this)">
                                                    I'm interested
                                                </button>
                                                <button class="btn btn-danger community-button w-auto flag" style="margin-top: 15px; @FlagDown"
                                                        onclick="updateHLFlagStatus(@Model.Id, 2, this)">
                                                    I'm not interested
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                        else if (Model.Type == HighlightPostType.Listings && Model.HLListingType == ListingType.Job)
                        {
                            <article class="promo-block" id="topjump">
                                <div class="what">
                                    <div class="user-options hl" style="margin-left: 0;">

                                        <div style="display: flex; flex-direction: row;">
                                            <div class="who"><div class="who-avatar" style="background-image: url('@Model.LogoUri');"></div></div>

                                            <div class="user-metainfo">
                                                <h5>@Model.BusinessName</h5><br />
                                                <smaller>@Model.CreatedDate.GetTimeRelative()</smaller>

                                                <div class="highlight-opts">
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                                                        <ul class="dropdown-menu hlnav dropdown-menu-right">
                                                            @if (Model.IsFlaggedByCurrentUser)
                                                            {
                                                                <li><a class="red flag" href="#" onclick="updateHLFlagStatus(@Model.Id, 2, this)">I'm not interested</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a style="cursor: pointer" class="flag" onclick="updateHLFlagStatus(@Model.Id, 1, this)">I'm interested</a></li>
                                                            }
                                                            @if (Model.IsDomainFollowedByCurrentUser)
                                                            {
                                                                <li><a class="red" onclick="updateDomainFollowStatus('@Model.DomainKey', 2)" href="#">Unfollow</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a onclick="updateDomainFollowStatus('@Model.DomainKey', 1)" href="#">Follow</a></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="post-body">
                                            <div class="labelling">
                                                <label class="label label-lg label-primary">Job</label>
                                                @{
                                                    var jobCountry = "Available everywhere";
                                                    var jobArea = "";
                                                    if (!string.IsNullOrEmpty(Model.CountryName))
                                                    {
                                                        jobCountry = Model.CountryName;
                                                        jobArea = Model.AreaName ?? "";
                                                        if (!string.IsNullOrEmpty(jobArea))
                                                        {
                                                            jobCountry = jobArea + ", " + jobCountry;
                                                        }
                                                    }
                                                }
                                                <label class="label label-lg label-info">@(jobCountry)</label>
                                            </div>

                                            <div class="highlight-img full" style="background-image: url('@Model.ImageUri');">&nbsp;</div>

                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-xs-5"><a href="#" class="likecount" style="font-weight: 500; position: relative; top: 0;">@Model.LikeStatusString</a></div>
                                                    <div class="col-xs-7">
                                                        <ul class="hlopts">
                                                            <li><a href="javascript:void(0)" onclick="ShowingSharingHLPostPartialView(@Model.Id)"><i class="fa fa-share-alt"></i></a></li>
                                                            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                            @if (Model.IsBookmarkedByCurrentUser)
                                                            {
                                                                <li><a style="cursor: pointer" onclick="updateHLBookmarkStatus(@Model.Id, 2, this)"><i class="fa fa-bookmark red"></i></a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a style="cursor: pointer" onclick="updateHLBookmarkStatus(@Model.Id, 1, this)"><i class="fa fa-bookmark-o"></i></a></li>
                                                            }
                                                            @if (!Model.IsCreatedByCurrentUser)
                                                            {
                                                                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                                if (Model.IsLikedByCurrentUser)
                                                                {
                                                                    <li><a style="cursor: pointer" onclick="updateHLLikeStatus(@Model.Id, 2, this)"><i class="fa fa-heart red"></i></a></li>
                                                                }
                                                                else
                                                                {
                                                                    <li><a style="cursor: pointer" onclick="updateHLLikeStatus(@Model.Id, 1, this)"><i class="fa fa-heart-o"></i></a></li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="user-post">
                                                <h1>@Model.Title</h1>

                                                @if (Model.Tags != null && Model.Tags.Count > 0)
                                                {
                                                    <div class="tag-list">
                                                        @foreach (var tagItem in Model.Tags)
                                                        {
                                                            <a href="#" class="label label-soft">#@tagItem.Name</a>
                                                        }
                                                    </div>
                                                }

                                                <br /><br />
                                                <p style="white-space: pre-line;">
                                                    @Model.Content
                                                </p>

                                                <br />
                                                <table class="table app_specific table-borderless highlinfo valigntop">
                                                    <tbody>
                                                        <tr>
                                                            <td><strong>Salary</strong></td>
                                                            <td>@Model.Salary</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Skills required</strong></td>
                                                            <td style="white-space: pre-line;">@Model.SkillRequired</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <br />
                                                @{
                                                    var FlagUp = Model.IsFlaggedByCurrentUser ? "display: none" : "";
                                                    var FlagDown = Model.IsFlaggedByCurrentUser ? "" : "display: none";
                                                }
                                                <button class="btn btn-primary community-button w-auto flag" style="margin-top: 15px;@FlagUp"
                                                        onclick="updateHLFlagStatus(@Model.Id, 1, this)">
                                                    I'm interested
                                                </button>
                                                <button class="btn btn-danger community-button w-auto flag" style="margin-top: 15px;@FlagDown"
                                                        onclick="updateHLFlagStatus(@Model.Id, 2, this)">
                                                    I'm not interested
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                        else if (Model.Type == HighlightPostType.Listings && Model.HLListingType == ListingType.RealEstate)
                        {
                            <article class="promo-block">
                                <div class="what">
                                    <div class="user-options" style="margin-left: 0;">

                                        <div style="display: flex; flex-direction: row;">
                                            <div class="who"><div class="who-avatar" style="background-image: url('@Model.LogoUri');"></div></div>

                                            <div class="user-metainfo">
                                                <h5>@Model.BusinessName</h5><br />
                                                <smaller>@Model.CreatedDate.GetTimeRelative()</smaller>

                                                <div class="highlight-opts">
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                                                        <ul class="dropdown-menu hlnav dropdown-menu-right">
                                                            <li><a style="cursor: pointer" onclick="showRealEstateInfoModal(@Model.Id)">View property info</a></li>
                                                            @if (Model.IsFlaggedByCurrentUser)
                                                            {
                                                                <li><a class="red flag" style="cursor: pointer" data-toggle="modal" onclick="updateHLFlagStatus(@Model.Id, 2, this)">I'm not interested</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a style="cursor: pointer" class="flag" data-toggle="modal" onclick="updateHLFlagStatus(@Model.Id, 1, this)">I'm interested</a></li>
                                                            }

                                                            @if (Model.IsDomainFollowedByCurrentUser)
                                                            {
                                                                <li><a class="red" onclick="updateDomainFollowStatus('@Model.DomainKey', 2)" style="cursor: pointer">Unfollow</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a onclick="updateDomainFollowStatus('@Model.DomainKey', 1)" style="cursor: pointer">Follow</a></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="post-body">
                                            <div class="labelling">
                                                <label class="label label-lg label-primary">Real Estate</label>
                                                @{
                                                    var reCountry = "Available everywhere";
                                                    var reArea = "";
                                                    if (!string.IsNullOrEmpty(Model.CountryName))
                                                    {
                                                        reCountry = Model.CountryName;
                                                        reArea = Model.AreaName ?? "";
                                                        if (!string.IsNullOrEmpty(reArea))
                                                        {
                                                            reCountry = reArea + ", " + reCountry;
                                                        }
                                                    }
                                                }
                                                <label class="label label-lg label-info">@(reCountry)</label>
                                            </div>

                                            <div class="highlight-img full" style="background-image: url('@Model.ImageUri');">&nbsp;</div>

                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-xs-5"><a href="#" class="likecount" style="font-weight: 500; position: relative;">@Model.LikeStatusString</a></div>
                                                    <div class="col-xs-7">
                                                        <ul class="hlopts">
                                                            <li><a href="javascript:void(0)" onclick="ShowingSharingHLPostPartialView(@Model.Id)"><i class="fa fa-share-alt"></i></a></li>
                                                            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                            @if (Model.IsBookmarkedByCurrentUser)
                                                            {
                                                                <li><a style="cursor: pointer" onclick="updateHLBookmarkStatus(@Model.Id, 2, this)"><i class="fa fa-bookmark red"></i></a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a style="cursor: pointer" onclick="updateHLBookmarkStatus(@Model.Id, 1, this)"><i class="fa fa-bookmark-o"></i></a></li>
                                                            }
                                                            @if (!Model.IsCreatedByCurrentUser)
                                                            {
                                                                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                                if (Model.IsLikedByCurrentUser)
                                                                {
                                                                    <li><a style="cursor: pointer" onclick="updateHLLikeStatus(@Model.Id, 2, this)"><i class="fa fa-heart red"></i></a></li>
                                                                }
                                                                else
                                                                {
                                                                    <li><a style="cursor: pointer" onclick="updateHLLikeStatus(@Model.Id, 1, this)"><i class="fa fa-heart-o"></i></a></li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="user-post">
                                                <h1>@Model.Title</h1>

                                                @if (Model.Tags != null && Model.Tags.Count > 0)
                                                {
                                                    <div class="tag-list">
                                                        @foreach (var tagItem in Model.Tags)
                                                        {
                                                            <a href="#" class="label label-soft">#@tagItem.Name</a>
                                                        }
                                                    </div>
                                                }

                                                <br /><br />
                                                <p style="white-space: pre-line;">
                                                    @Model.Content
                                                </p>

                                                <br /><br />
                                                @{
                                                    var FlagUp = Model.IsFlaggedByCurrentUser ? "display: none" : "";
                                                    var FlagDown = Model.IsFlaggedByCurrentUser ? "" : "display: none";
                                                }
                                                <button class="btn btn-info community-button w-auto" onclick="showRealEstateInfoModal(@Model.Id)"><i class="fa fa-home"></i> &nbsp; Property info</button>
                                                <button class="btn btn-primary community-button w-auto flag" style="@FlagUp"
                                                        onclick="updateHLFlagStatus(@Model.Id, 1, this)">
                                                    I'm interested
                                                </button>
                                                <button class="btn btn-danger community-button w-auto flag" style="@FlagDown"
                                                        onclick="updateHLFlagStatus(@Model.Id, 2, this)">
                                                    I'm not interested
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                </div>
                <!-- END Highlights -->
            </div> <!-- ./tab-content -->
        </div>
    </section>
    <!-- ./content -->
</div>
<!-- /.content-wrapper -->
<!--Modals-->
<div class="modal fade left" id="share-content" role="dialog" aria-labelledby="share-content"></div>
<div class="modal fade left" id="highlight-article" role="dialog" aria-labelledby="highlight-article"></div>
<div class="modal fade left" id="highlight-realestate-info" role="dialog" aria-labelledby="highlight-realestate-info"></div>
<!--END: Modals-->

<script src="~/Content/DesignStyle/js/jquery.waypoints.min.js"></script>
<script src="/Content/DesignStyle/js/owl.carousel.min.js"></script>
<script src="~/Content/DesignStyle/js/ion.rangeSlider.min.js"></script>
<link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
<link rel="stylesheet" href="~/Content/DesignStyle/css/ion.rangeSlider.min.css">
<script src="~/Content/DesignStyle/js/select2.full.min.js"></script>
@if (System.Diagnostics.Debugger.IsAttached)
{
    <script src="~/Scripts/dev/social.highlight.js"></script>
}
else
{
    <script src="~/Scripts/dev/social.highlight.js"></script>
}