@using Qbicles.Models.SalesMkt;
@using Qbicles.BusinessRules;
@model List<Brand>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var count = Model.Count;
    var extraCol = (Model.Count() % 4 == 0 ? 0 : 4) - count % 4;
}

@if (count > 0)
{
    foreach (var item in Model)
    {
        <div class="col article-feature @(item.IsHidden?"brand-hidden":"")">
            <a href="/SalesMarketingBrand/Detail?brandId=@item.Id">
                <div class="article-feature-img" style="background: url('@(api+item.FeaturedImageUri + "&size=M")');"></div>
            </a>
            <div class="info">
                <div class="btn-group optsnew defaulted dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#app-marketing-brand-add" onclick="LoadModalBrandById(@item.Id)">Edit</a></li>
                        <li><a href="javascript:void(0)" onclick="ShowOrHideBrand(@item.Id);">@(item.IsHidden ? "Show" : "Hide")</a></li>
                    </ul>
                </div>
                <a>
                    <h1>@item.Name</h1>
                    <p>@item.Description</p>
                </a>
            </div>

        </div>
    }
    for (int i = 1; i <= extraCol; i++)
    {
        <div class="col">&nbsp;</div>
    }
}






