@using Qbicles.Models.SalesMkt
@{
    var attributes = (List<Qbicles.Models.SalesMkt.Attribute>)ViewBag.Attributes;
    var propositions = (List<ValueProposition>)ViewBag.Propositions;
    var products = (List<BrandProduct>)ViewBag.Products;
    var api = ViewBag.DocRetrievalUrl;
}

<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">@ViewBag.Name Brand Elements</h5>
        </div>
        <div class="modal-body qbicle-detail" style="background: #f5f5f5;">

            <div class="row setup-ui brand-usage">

                <div class="col-xs-12 col-sm-5 col-md-4">

                    <div class="activity-overview plain" style="margin-bottom: 30px;">
                        <h3>Brand Attributes</h3>
                        <p>The following Attributes are associated with this Campaign...</p>
                        <br />

                        <ul style="margin-bottom: 0;">
                            @foreach (var item in attributes)
                            {
                                <li>@item.Name</li>
                            }

                        </ul>
                    </div>

                    <div class="activity-overview plain">
                        <h3>Value Propositions</h3>
                        <p>The following Value Propositions are associated with this Campaign...</p>
                        <br />
                        @foreach (var item in propositions)
                        {
                            <blockquote>"Our <b>@item.BrandProduct.Name</b> helps <b>@(string.Join(",",item.Segments.Select(s => s.Name).ToArray()))</b> who <b>@item.WhoWantTo</b> by <b>@item.By</b>".</blockquote>
                            <br />
                        }
                    </div>

                </div>

                <div class="col-xs-12 col-sm-7 col-md-8">


                    <div class="activity-overview plain" style="padding-bottom: 0;">
                        <h3>Brand Products</h3>
                        <p>The following Brand Products have been associated with this Campaign...</p>
                        <br />

                        <div class="flex-grid-thirds-lg qbicles-dash-grid marketing restyle" style="margin-bottom: 0;">
                            @foreach (var item in products)
                            {
                                <article class="col" style="border: 0 !important;">
                                    <div class="avatar" style="background-image: url('@(api + item.FeaturedImageUri)');">&nbsp;</div>
                                    <a href="#">
                                        <h1 style="color: #333; margin-top: 15px;">@item.Name</h1>
                                    </a>
                                    <p class="qbicle-detail" style="text-align: center;">@item.Summary.</p>
                                </article>
                            }

                        </div>

                    </div>
                </div>
            </div>

            <br />
            <button class="btn btn-primary" data-dismiss="modal">Close</button>



        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
