@using Qbicles.Models.SalesMkt
@model List<ValueProposition>
@foreach (var item in Model)
{
    <article class="col @(item.IsHidden?"brand-valueprop-hidden":"")">
        <div class="btn-group optsnew defaulted dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="javascript:void(0)" onclick="SocialBrandValueProEdit(@item.Id);">Edit</a></li>
                <li><a href="javascript:void(0)" onclick="ShowOrHideValueProp(@item.Id)">@(item.IsHidden?"Show":"Hide")</a></li>
            </ul>
        </div>

        <h1 style="color: #333; margin: 0; padding: 15px 0;">@item.BrandProduct.Name value proposition</h1>
        <p class="value-prop" style="text-align: center;">"Our <b>@item.BrandProduct.Name</b> helps <b>@(string.Join(",", item.Segments.Select(s => s.Name).ToArray()))</b> who <b>@item.WhoWantTo</b> by <b>@item.By"</b>.</p>
    </article>
}

