@using Qbicles.Models.Trader
@using Qbicles.Models.Trader.Resources
@model AccessArea
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var locations = (List<TraderLocation>)ViewBag.TraderLocations;
    var types = Enum.GetNames(typeof(AccessAreaType)).ToList();
    if (Model.Description == null)
    {
        Model.Description = "";
    }
    var imgAcceptedFile = (string)ViewBag.ImageAcceptedExtensions;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <input type="hidden" value="@Model.Id" id="access_id" />
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model.Id > 0)
            {
                <h5 class="modal-title">Edit an Item Access Point</h5>
            }
            else
            {
                <h5 class="modal-title">Add an Item Access Point</h5>
            }

        </div>
        <div class="modal-body">

            <div class="well custom">
                <form name="media-overview" id="access_form">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="access-title">Name</label>
                                <input type="text" name="access_title" value="@Model.AreaName" id="access_name" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="access-img">Featured image</label>
                                <input type="hidden" value="@Model.ImageUri" id="access_image" />
                                <input type="file" accept="@imgAcceptedFile" name="access_file" id="access_file" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="access-img">Location</label>
                                <select name="access_loc" id="access_location" class="form-control select2" style="width: 100%;">
                                    <option value=""></option>
                                    @foreach (var location in locations)
                                    {
                                        if (Model.Location != null && Model.Location.Id == location.Id)
                                        {
                                            <option value="@location.Id" selected>@location.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@location.Id">@location.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="access-img">Type of area</label>
                                <select name="access_type" id="access_type" class="form-control select2" style="width: 100%;">
                                    @foreach (var type in types)
                                    {
                                        if (Model.Type.ToString() == type)
                                        {
                                            <option value="@type" selected>@type</option>
                                        }
                                        else
                                        {
                                            <option value="@type">@type</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group" style="margin: 0;">
                                <label for="access-desc">Description</label>
                                <textarea name="access-desc" id="access_description" class="form-control" style="height: 80px">@Html.Raw(Model.Description.Replace(Environment.NewLine, "<br/>"))</textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
            <a href="#" class="btn btn-success" onclick="saveAccess()">Confirm</a>


        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $('#access_location').select2({ placeholder: "Please select" });
    $('#access_type').select2({ placeholder: "Please select" });
</script>