@using Qbicles.Models.Trader.Resources
@model AdditionalInfoType
    <div class="well custom" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @if (Model == AdditionalInfoType.Brand)
                    {
                        <label for="search">Search brands</label>
                    }
                    else if (Model == AdditionalInfoType.Need)
                    {
                        <label for="search">Search needs</label>
                    }
                    else if (Model == AdditionalInfoType.QualityRating)
                    {
                        <label for="search">Search quality indicators</label>
                    }
                    else if (Model == AdditionalInfoType.ProductTag)
                    {
                        <label for="search">Search additional tags</label>
                    }
                    <input type="text" name="search" id="key_search_brand" onkeyup="searchOnDataBrand()" class="form-control" placeholder="Search for...">
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <label>Options</label><br />
                @if (Model == AdditionalInfoType.Brand)
                {
                    <button class="btn btn-success" data-toggle="modal" onclick="addEditBrand(0, '@Model.ToString()')" data-target="#app-trader-resources-brand-add"><i class="fa fa-plus"></i> &nbsp; New brand</button>
                }
                else if (Model == AdditionalInfoType.Need)
                {
                    <button class="btn btn-success" data-toggle="modal" onclick="addEditBrand(0, '@Model.ToString()')" data-target="#app-trader-resources-brand-add"><i class="fa fa-plus"></i> &nbsp; New need</button>
                }
                else if (Model == AdditionalInfoType.QualityRating)
                {
                    <button class="btn btn-success" data-toggle="modal" onclick="addEditBrand(0, '@Model.ToString()')" data-target="#app-trader-resources-brand-add"><i class="fa fa-plus"></i> &nbsp; New indicator</button>
                }
                else if (Model == AdditionalInfoType.ProductTag)
                {
                    <button class="btn btn-success" data-toggle="modal" onclick="addEditBrand(0, '@Model.ToString()')" data-target="#app-trader-resources-brand-add"><i class="fa fa-plus"></i> &nbsp; New tag</button>
                }

            </div>
        </div>
    </div>

<br />

<div id="resource_brand_data"></div>

<div class="modal fade left" id="app-trader-resources-brand-add" role="dialog" aria-labelledby="app-trader-resources-brand-add">

</div><!-- /.modal -->

<script>
    getDataBrands('@Model.ToString()');
</script>


