@using Qbicles.Models.Trader.Resources
@model List<ResourceDocument>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var dateFormat = (string)ViewBag.CurrentDateFormat;
}

<table class="datatable table-striped table-hover" id="resource_document_datatable" style="width: 100%;">
    <thead>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Type</th>
        <th>Description</th>
        <th>Uploaded</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        if (item.Description == null)
        {
            item.Description = "";
        }
        <tr>
            <td><a href="@api@item.FileUri">@item.Name</a></td>
            <td>@item.Category.Name</td>
            <td>@item.Type.Extension.ToUpper()</td>
            <td>@Html.Raw(item.Description.Replace(Environment.NewLine, "<br/>"))</td>
            <td>@item.CreatedDate.ToString(dateFormat)</td>
            <td><button class="btn btn-danger" onclick="deleteResourceDocument('@item.Id', '@item.Name')"><i class="fa fa-trash"></i></button></td>
        </tr>
    }
    </tbody>
</table>