@using Qbicles.Models.Trader.Resources
@model ResourceImage
@{
    var categoryResources = (List<ResourceCategory>)ViewBag.ResourceCategorys;
    var api = (string)ViewBag.DocRetrievalUrl;
    var imgAcceptedFile = (string)ViewBag.ImageAcceptedExtensions;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <input type="hidden" value="@Model.Id" id="re_image_id" />
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model.Id > 0)
            {
                <h5 class="modal-title">Edit an image Resource</h5>
            }
            else
            {
                <h5 class="modal-title">Add an image Resource</h5>
            }

        </div>
        <div class="modal-body">

            <div class="well custom">
                <form name="media-overview" id="re_image_form">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="media-title">Image title</label>
                                <input type="text" id="re_image_name" value="@Model.Name" name="re_image_name" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="account_number">Choose your new image</label>
                                <input type="hidden" value="@Model.FileUri" id="re_image_filevalue" />
                                <input type="hidden" id="re_image_qbliclefiletype" value="@Model.Type?.Extension" />
                                <input type="file" id="re_image_file" accept="@imgAcceptedFile" class="form-control previewimg" onchange="selectImageReImage(this)" name="featuredimg" data-target='#preview'>
                            </div>

                            @if (Model.Id > 0)
                            {
                                <img id="preview" src="@api@Model.FileUri" alt="Your image" style="width: 100%; height: auto; margin-bottom: 30px;" />
                            }
                            else
                            {
                                <img id="preview" src="" alt="Your image" style="display: none; width: 100%; height: auto; margin-bottom: 30px;" />
                            }

                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="tags">Image Category</label>
                                <select name="re_image_category" class="form-control select2 valid-select" id="re_image_category" style="width: 100%;">
                                    <option value=""></option>
                                    @foreach (var cate in categoryResources)
                                    {
                                        if (Model.Category != null && Model.Id > 0 && cate.Id == Model.Category.Id)
                                        {
                                            <option value="@cate.Id" selected>@cate.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@cate.Id">@cate.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group" style="margin: 0;">
                                <label for="media-description">Add a description</label>
                                <textarea name="media-description" id="re_image_description" class="form-control" style="height: 80px;">@Model.Description</textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
            <a href="#" class="btn btn-success" onclick="saveImage()">Confirm</a>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $('#re_image_category').select2({ placeholder: "Please select" });
    initValidate();
   
</script>