@using Qbicles.BusinessRules;
@{
    ViewBag.Title = "Transaction Matching tasks";
    var pageTitle = ViewBag.PageTitle as string;
    List<AnalysisModel> model = (List<AnalysisModel>)ViewBag.data;
}


<!-- Report view -->
<div id="modal-tm-report-view" class="modal fade in" role="dialog">
    <div class="modal-dialog large">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Task Execution Report</h4>
            </div>
            <div class="modal-body">
                <table class="table" id="tableReport1">
                    <thead>
                        <tr>
                            <th>Executed By</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Group</th>
                            <th>Using</th>
                            <th style="width: 90px;">Automatic</th>
                            <th style="width: 90px;">Manual</th>
                            <th style="width: 90px;">Deferred</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">RichardBranson</a></td>
                            <td>08.06.2016</td>
                            <td>16:47</td>
                            <td>RoadChef</td>
                            <td>N/L Account May 2016 vs GTBank 1 Statement May 2016</td>
                            <td>752</td>
                            <td>3</td>
                            <td>11</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="task_progress">
                            <label>Reconciliation Progress</label>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="bottom" title="Automatically reconciled records" style="width: 76%;">
                                    76%
                                </div>
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="bottom" title="Manually reconciled records" style="width: 4%;">
                                    4%
                                </div>
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="bottom" title="Deferred records" style="width: 20%;">
                                    20%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <label>Automatically Reconciled Records</label>
                        <br><br>
                        <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <table class="datatable table table-hover dataTable" id="tableReport2" cellspacing="0" width="100%" id="DataTables_Table_2" role="grid" aria-describedby="DataTables_Table_2_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Date: activate to sort column descending" style="width: 263px;">Date</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Notes: activate to sort column ascending" style="width: 336px;">Notes</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Credit: activate to sort column ascending" style="width: 230px;">Credit</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Debit: activate to sort column ascending" style="width: 201px;">Debit</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">Date</th>
                                        <th rowspan="1" colspan="1">Notes</th>
                                        <th rowspan="1" colspan="1">Credit</th>
                                        <th rowspan="1" colspan="1">Debit</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <label>Manually Reconciled Records</label>
                        <br><br>
                        <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <table class="datatable table table-hover dataTable " id="tableReport3" cellspacing="0" width="100%" id="DataTables_Table_3" role="grid" aria-describedby="DataTables_Table_3_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Date: activate to sort column descending" style="width: 263px;">Date</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" aria-label="Notes: activate to sort column ascending" style="width: 336px;">Notes</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" aria-label="Credit: activate to sort column ascending" style="width: 230px;">Credit</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" aria-label="Debit: activate to sort column ascending" style="width: 201px;">Debit</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">Date</th>
                                        <th rowspan="1" colspan="1">Notes</th>
                                        <th rowspan="1" colspan="1">Credit</th>
                                        <th rowspan="1" colspan="1">Debit</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <label>Deferred Records</label>
                        <br><br>
                        <div id="DataTables_Table_4_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                            <table class="datatable table table-hover dataTable" id="tableReport4" cellspacing="0" width="100%" id="DataTables_Table_4" role="grid" aria-describedby="DataTables_Table_4_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Date: activate to sort column descending" style="width: 263px;">Date</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" aria-label="Notes: activate to sort column ascending" style="width: 336px;">Notes</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" aria-label="Credit: activate to sort column ascending" style="width: 230px;">Credit</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_4" rowspan="1" colspan="1" aria-label="Debit: activate to sort column ascending" style="width: 201px;">Debit</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">Date</th>
                                        <th rowspan="1" colspan="1">Notes</th>
                                        <th rowspan="1" colspan="1">Credit</th>
                                        <th rowspan="1" colspan="1">Debit</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">09.06.2016</td>
                                        <td>Client payment</td>
                                        <td>£1872.00</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-wrapper qbicle-detail" style="background: #ececec;">
    <section class="content" data-tooltip-animate-function="fadein" data-tooltip-delay="300" data-tooltip-stickTo="top" data-tooltip-stickDistance="30">
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body padding-top">
                <div class="page-heading">
                    <div class="page-title">
                        <div class="title">@pageTitle</div>
                        <div class="page-action">
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">My Tasks</div>
                            <div class="panel-body">
                                <!-- Table -->
                                <table class="table t1style no-margin-top">
                                    <thead>
                                        <tr>
                                            <th style="width: 15%;">Name</th>
                                            <th style="width: 100px;">Instances</th>
                                            <th style="width: 100px;">Frequency</th>
                                            <th style="width: 100px;">Last Run</th>
                                            <th>Description</th>
                                            <th style="width: 100px;">Options</th>
                                            <th style="width: 100px;">Data Status</th>
                                        </tr>
                                    </thead>
                                    <!-- N/L Accounts Demo -->
                                    <tbody id="trans_demo_1">
                                        @if (model != null)
                                        {
                                            foreach (var b in model)
                                            {
                                                <tr>
                                                    <td>
                                                        @b.Name
                                                        @if (@b.Overdue != null)
                                                        {
                                                            <span class="text-error">Overdue</span>
                                                        }
                                                    </td>
                                                    <td><a href="#" data-toggle="modal" onclick="ViewInstanceMatchingTask(@b.TaskId,'@b.Name')" data-target="#modal-task-instances">@b.InstanceActive active</a></td>
                                                    <td>@b.Interval</td>
                                                    <td>@(b.dateexcuted == null ? null : String.Format("{0:d}", b.dateexcuted)) </td>
                                                    <td>@b.Description</td>
                                                    <td>
                                                        @if (b.IsComplete == 0)
                                                        {
                                                            <span data-toggle="tooltip" title="There is an instance of this task already in progress" data-placement="top">Run</span>
                                                        }
                                                        else
                                                        {
                                                            <a href="javascript:void(0)" onclick="ViewUser('@b.AccountName',@b.AccountId,'@b.AccountName2',@b.AccountId2,@b.TaskId,'@b.Name',@b.TransactionMatchingTypeId,@b.TaskInstanceId)">Run</a>
                                                        }
                                                    </td>
                                                    <td>
                                                        @switch (b.Status)
                                                        {
                                                            case "status_ok":
                                                                <i class="fa fa-circle status_ok" data-toggle="tooltip" data-placement="top"
                                                                   title="The data supplied is up to date and ready for use"></i>
                                                                break;
                                                            case "status_amber":
                                                                <i class="fa fa-circle status_amber" data-toggle="tooltip" data-placement="top"
                                                                   title="The data supplied is outdated and needs updated prior to running this task"></i>
                                                                break;
                                                            case "status_error":
                                                                <i class="fa fa-circle status_error" data-toggle="tooltip" data-placement="top"
                                                                   title="The data supplied is outdated and needs updated prior to running this task"></i>
                                                                break;
                                                            case "status_warrning":
                                                                <i class="fa fa-circle status_warrning" data-toggle="tooltip" data-placement="top"
                                                                   title="The data supplied is outdated and needs updated prior to running this task"></i>
                                                                break;
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                        <!-- Add group modal -->
                        <div id="modal-task-instances" class="modal fade" role="dialog">
                            <div class="modal-dialog large">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Transaction Matching "<span class="modal-taskname"></span>"</h4>
                                        <h5>Active Instances</h5>
                                    </div>
                                    <div class="modal-body">

                                        <table class="table" id="tblInstanceTask">
                                            <thead>
                                                <tr>
                                                    <th>Date &amp; Time</th>
                                                    <th>Run By</th>
                                                    <th>Status</th>
                                                    <th>Options</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                        <div class="row">
                                            <div class="col-md-12 col-lg-12" style="margin-bottom: 0;">
                                                <button class="btn btn-success" data-dismiss="modal" id="btnfinish">Finish</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Report view -->
<div id="modal-tm-report-view2" class="modal fade" role="dialog">
    <div class="modal-dialog large">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Transaction Matching Report</h4>
            </div>
            <div class="modal-body">

                <table class="table " id="tabRunby">
                    <thead>
                        <tr>
                            <th>Executed By</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Using</th>
                            <th style="width: 90px;">Automatic</th>
                            <th style="width: 90px;">Manual</th>
                            <th style="width: 90px;">Unreconciled</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <hr />

                <div class="row">
                    <div class="col-md-12 col-lg-12">

                        <div class="task_progress">
                            <label>Reconciliation Progress</label>
                            <div class="progress" id="progressReport2">
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <br />

                <input type="hidden" id="hdAccount1Id" />
                <input type="hidden" id="hdAccount1Name" />
                <input type="hidden" id="hdAccount2Id" />
                <input type="hidden" id="hdAccount2Name" />
                <input type="hidden" id="hdtransactionMatchingtaskId" />
                <input type="hidden" id="hdtaskId" />
                <button id="btnDownLoad" style="float: right; margin-top: -15px;" onclick="Dowloading()"><i class="fa fa-download"></i> DownLoad </button>
                <br />

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#sectionA">Reconciliation Statement</a></li>
                    <li><a data-toggle="tab" id="Account1Unmatched" href="#sectionB">Summary</a></li>
                    <li><a data-toggle="tab" id="Account2Unmatched" href="#sectionC">Unreconciled</a></li>
                    <li><a data-toggle="tab" id="Account1Matched" href="#sectionD">Reconciled</a></li>
                    <li><a data-toggle="tab" id="Account2Matched" href="#sectionE">Adjustments</a></li>
                </ul>

                <div class="tab-content">
                    <div id="sectionA" class="tab-pane fade in active">
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background:#ffffff">Reconciliation Report</div>
                            <div class="panel-body">
                                <div id="hasValueReconciliationReport2">
                                </div>
                                <div class="hidden" id="divErrReconciliationReport2">
                                    <div>A Reconciliation report has not been generate for this Transaction Matching task because:</div>
                                    <br />
                                    <div id="contentErrReconciliationReport2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sectionB" class="tab-pane fade">
                        <br />
                        <table class="datatable table table-hover " id="tabAccount1Unmatched" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Reference</th>
                                    <th>Description</th>
                                    <th>Debit</th>
                                    <th>Credit</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                    <div id="sectionC" class="tab-pane fade">
                        <br />
                        <table class="datatable table table-hover " id="tabAccount2Unmatched" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Reference</th>
                                    <th>Description</th>
                                    <th>Debit</th>
                                    <th>Credit</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                    <div id="sectionD" class="tab-pane fade">
                        <br />
                        <table class="datatable table table-hover " id="tabAccount1Matched" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Reference</th>
                                    <th>Description</th>
                                    <th>Debit</th>
                                    <th>Credit</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div id="sectionE" class="tab-pane fade">
                        <br />
                        <table class="datatable table table-hover " id="tabAccount2Matched" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Reference</th>
                                    <th>Description</th>
                                    <th>Debit</th>
                                    <th>Credit</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <br /><br />

            </div>
        </div>
    </div>
</div>
<script>
    var $hidden_accountName = $("input[name='accountName']"),
           $hidden_accountId = $("input[name='accountId']"),
           $hidden_taskid = $("input[name='taskid']"),
           $hidden_taskname = $("input[name='taskname']"),
           $table_instancetask = $("#tblInstanceTask"),
           $tableReport1 = $("#tableReport1"),
           $tableReport2 = $("#tableReport2"),
           $tableReport3 = $("#tableReport3"),
           $tableReport4 = $("#tableReport4"),
           $table_profile = $("#tableprofile"),
           $input_profileName = $("input[name='profile_name']"),
           $input_profileFlag = $("input[name='profile_flag']"),
           $hidden_profileNo = $("#hdprifleNo"),
           $hidden_profileNoDelete = $("#hddeleteprofileNo"),
           $modal_profile = $("#modal-filter-management"),
           $modal_editprofile = $("#modal-filter-edit"),
           $modal_delete = $("#modal-delete"),
           $trDelete = null,
           $tdDelete = null
    ;
    $(document).ready(function () {

        var $trs = $(".t1style");
        $trs.DataTable({
            "dom": '<"top"fl<"clear">>rt<"bottomtable"ip<"clear">>',
            "bInfo": true,
            "bFilter": true,
            "bPaginate": true,
            "bSearchable": false,
            "sPaginationType": "numbers",
            "pageLength": 10,
            "columnDefs": [{
                "targets": 5,
                "orderable": false
            }, {
                "targets": 6,
                "orderable": false
            }]

        });


        $("#modal-tm-report-view").on('hidden.bs.modal', function () {
            $('#modal-task-instances').modal('show');
        });


    });
    function ViewUser(accountName, accountId, accountName2, accountId2, taskid, taskname, transactionMatchingTypeId, taskinstanceId) {
        $.ajax({
            type: 'post',
            url: '/Home/RedirectTransactionMatching',
            dataType: 'json',
            data: {
                accountName: accountName,
                accountId: accountId,
                accountName2: accountName2,
                accountId2: accountId2,
                taskid: taskid,
                taskname: taskname,
                transactionMatchingTypeId: transactionMatchingTypeId,
                transactionanalysistaskId: 0,
                taskInstanceId: taskinstanceId
            },
            success: function (response) {
                if (response.result = true)
                    window.location.href = "/TransactionMatching/TransactionMatchingRecords";
            }
        });

    }

    function ViewInstanceMatchingTask(taskid, taskname) {
        $(".modal-taskname").text(taskname);
        $.ajax({
            type: 'post',
            url: '/TransactionMatching/GetTaskInstanceMatching',
            dataType: 'json',
            data: {
                taskid: taskid
            },
            success: function (response) {
                $table_instancetask.dataTable().fnDestroy();
                $table_instancetask.find("tbody").find("tr").remove();

                $table_instancetask.find("tbody").append(response.msg);
                var table = $table_instancetask.DataTable({
                    retrieve: true,
                    "dom": '<"top"fl<"clear">>rt<"bottomtable"ip<"clear">>',
                    "bInfo": true,
                    "bFilter": true,
                    "bPaginate": true,
                    "bSearchable": false,
                    "sPaginationType": "numbers",
                    "pageLength": 10,
                    "columnDefs": [{
                        "targets": 3,
                        "orderable": false
                    }]

                });
            }
        });
    }

    function ViewExcuteTransaction(accountName, accountId, accountName2, accountId2, taskid, taskname, transactionMatchingTypeId, transactionmatchingtaskId, taskInstanceId) {
        $.LoadingOverlay("show");
        $.ajax({
            type: 'post',
            url: '/Home/RedirectTransactionMatching',
            dataType: 'json',
            data: {
                accountName: accountName,
                accountId: accountId,
                accountName2: accountName2,
                accountId2: accountId2,
                taskid: taskid,
                taskname: taskname,
                transactionMatchingTypeId: transactionMatchingTypeId,
                transactionmatchingtaskId: transactionmatchingtaskId,
                taskInstanceId: taskInstanceId
            },
            success: function (response) {
                if (response === true) {
                    $.LoadingOverlay("show");
                    window.location.href = "/TransactionMatching/TransactionMatchingRecords";
                }
            },
            error: function (er) {
                cleanBookNotification.error("Have an error, detail: " + er.error, "Qbicles");
                LoadingOverlayEnd();
            }
        }).always(function () {
            LoadingOverlayEnd();
        });
    }
    function ViewExcuteTransaction2(accountName, accountId, accountName2, accountId2, taskid, taskname, transactionMatchingTypeId, transactionmatchingtaskId, taskInstanceId, userName, date, time, countTransactionsMatched, countTransactionsManual, countTransactionsUnMatched) {
        Loading('Transaction Matching Report');
        $("#progressReport2").empty();
        $("#progressReport2").append($("#" + taskInstanceId).html());
        $("#tabRunby tbody tr").remove();
        var str = "<tr>";
        str += " <td><a href='#'>" + userName + "</a></td>";
        str += "<td>" + date + "</td>";
        str += "<td>" + time + "</td>";
        str += "<td>" + accountName + " vs " + accountName2 + "</td>";
        str += "<td>" + countTransactionsMatched + "</td>";
        str += "<td>" + countTransactionsManual + "</td>";
        str += "<td>" + countTransactionsUnMatched + "</td>";
        str += "</tr>";
        $("#tabRunby tbody").append(str);
        $("#Account1Unmatched").html(accountName + ' Unmatched');
        $("#Account2Unmatched").html(accountName2 + ' Unmatched');
        $("#Account1Matched").html(accountName + ' Matched');
        $("#Account2Matched").html(accountName2 + ' Matched');
        $('#modal-tm-report-view2').modal('show');

        bindingForReconciliationStatement(accountId, accountName, accountId2, accountName2, taskid, transactionmatchingtaskId);
        $("#transaction tbody tr").remove();
        $("#hdAccount1Id").val(accountId);
        $("#hdAccount1Name").val(accountName);
        $("#hdAccount2Id").val(accountId2);
        $("#hdAccount2Name").val(accountName2);
        $("#hdtransactionMatchingtaskId").val(transactionmatchingtaskId);
        $("#hdtaskId").val(taskid);
        //account 1 unmatched
        $("#tabAccount1Unmatched").dataTable().fnDestroy();
        $("#tabAccount1Unmatched").dataTable({
            "dom": '<"top"fl<"clear">>rt<"bottomtable"ip<"clear">>',
            "processing": true, // control the processing indicator.
            "serverSide": true, // recommended to use serverSide when data is more than 10000 rows for performance reasons
            "info": true,   // control table information display field
            "stateSave": true,  //restore table state on page reload,
            "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],    // use the first inner array as the page length values and the second inner array as the displayed options
            "ajax": {
                "url": "/TransactionMatchingReport/binTableMatchingReport",
                "type": "GET",
                "data": { accountId1: accountId, accountId2: accountId2, transactionmatchingtaskId: transactionmatchingtaskId, type: 1 }
            },
            "columns": [
                { "data": "Date", "class": "Date", "orderable": true },
                { "data": "Reference", "class": "Reference", "orderable": true },
                { "data": "Description", "class": "Description", "orderable": true },
                  { "data": "Debit", "class": "Debit", "orderable": true },
                { "data": "Credit", "class": "Credit", "orderable": true }
            ],
            "order": [[0, "asc"]]
        });

        // account 2 unmatched
        $("#tabAccount2Unmatched").dataTable().fnDestroy();
        $("#tabAccount2Unmatched").dataTable({
            "dom": '<"top"fl<"clear">>rt<"bottomtable"ip<"clear">>',
            "processing": true, // control the processing indicator.
            "serverSide": true, // recommended to use serverSide when data is more than 10000 rows for performance reasons
            "info": true,   // control table information display field
            "stateSave": true,  //restore table state on page reload,
            "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],    // use the first inner array as the page length values and the second inner array as the displayed options
            "ajax": {
                "url": "/TransactionMatchingReport/binTableMatchingReport",
                "type": "GET",
                "data": { accountId1: accountId, accountId2: accountId2, transactionmatchingtaskId: transactionmatchingtaskId, type: 2 }
            },
            "columns": [
                { "data": "Date", "class": "Date", "orderable": true },
                { "data": "Reference", "class": "Reference", "orderable": true },
                { "data": "Description", "class": "Description", "orderable": true },
                 { "data": "Debit", "class": "Debit", "orderable": true },
                { "data": "Credit", "class": "Credit", "orderable": true }
            ],
            "order": [[0, "asc"]]
        });
        // account 1 Matched
        $("#tabAccount1Matched").dataTable().fnDestroy();
        $("#tabAccount1Matched").dataTable({
            "dom": '<"top"fl<"clear">>rt<"bottomtable"ip<"clear">>',
            "processing": true, // control the processing indicator.
            "serverSide": true, // TODO: recommended to use serverSide when data is more than 10000 rows for performance reasons
            "info": true,   // control table information display field
            "stateSave": true,  //restore table state on page reload,
            "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],    // use the first inner array as the page length values and the second inner array as the displayed options
            "ajax": {
                "url": "/TransactionMatchingReport/binTableMatchingReport",
                "type": "GET",
                "data": { accountId1: accountId, accountId2: accountId2, transactionmatchingtaskId: transactionmatchingtaskId, type: 3 }
            },
            "columns": [
                { "data": "Date", "class": "Date", "orderable": true },
                { "data": "Reference", "class": "Reference", "orderable": true },
                { "data": "Description", "class": "Description", "orderable": true },
                 { "data": "Debit", "class": "Debit", "orderable": true },
                { "data": "Credit", "class": "Credit", "orderable": true }
            ],
            "order": [[0, "asc"]]
        });
        // account 2 Matched
        $("#tabAccount2Matched").dataTable().fnDestroy();
        $("#tabAccount2Matched").dataTable({
            "dom": '<"top"fl<"clear">>rt<"bottomtable"ip<"clear">>',
            "processing": true, // control the processing indicator.
            "serverSide": true, // recommended to use serverSide when data is more than 10000 rows for performance reasons
            "info": true,   // control table information display field
            "stateSave": true,  //restore table state on page reload,
            "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],    // use the first inner array as the page length values and the second inner array as the displayed options
            "ajax": {
                "url": "/TransactionMatchingReport/binTableMatchingReport",
                "type": "GET",
                "data": { accountId1: accountId, accountId2: accountId2, transactionmatchingtaskId: transactionmatchingtaskId, type: 4 }
            },
            "columns": [
                { "data": "Date", "class": "Date", "orderable": true },
                { "data": "Reference", "class": "Reference", "orderable": true },
                { "data": "Description", "class": "Description", "orderable": true },
                { "data": "Debit", "class": "Debit", "orderable": true },
                { "data": "Credit", "class": "Credit", "orderable": true }
            ],
            "order": [[0, "asc"]]
        });
        EndLoading2();
    }

    function bindingForReconciliationStatement(accountId, accountName, accountId2, accountName2, taskid, transactionmatchingtaskId) {
        var arrResult = [];
        $.ajax({
            type: 'GET',
            url: '/TransactionMatchingReport/bindingForReconciliationStatement',
            dataType: 'json',
            data: { accountId: accountId, accountId2: accountId2, transactionmatchingtaskId: transactionmatchingtaskId, taskId: taskid },
            success: function (rs) {

                if (rs.kq == "Succ") {
                    if (rs.resultObj.TransactionMatchingTypeId == 3) {
                        var html = "  Balance of " + accountName + ": " + rs.resultObj.Acc1Balance + "<br/><br/>";
                        html += "Less " + accountName + " unmatched debit transactions: " + rs.resultObj.Acc1UnMatchedDebits + "<br/>";
                        html += "Plus " + accountName + " unmatched credit transactions: " + rs.resultObj.Acc1UnMatchedCredits + "<br/><br/>";
                        html += "Less " + accountName2 + " unmatched debit transactions: " + rs.resultObj.Acc2UnMatchedDebits + "<br/>";
                        html += "Plus " + accountName2 + " unmatched credit transactions: " + rs.resultObj.Acc2UnMatchedCredits + "<br/><br/>";
                        html += "Adjusted balance of " + accountName + ": " + rs.resultObj.Acc1AdjustedBalance + "<br/><br/>";
                        html += "Balance of " + accountName2 + ": " + rs.resultObj.Acc2Balance;
                        $("#hasValueReconciliationReport2").html(html);
                    } else if (rs.resultObj.TransactionMatchingTypeId == 2) {
                        var html = "Balance of " + accountName + ": " + rs.resultObj.Acc1Balance + "<br/><br/>";
                        html += "Plus " + accountName + " unmatched debit transactions: " + rs.resultObj.Acc1UnMatchedDebits + "<br/>";
                        html += "Less " + accountName + " unmatched credit transactions: " + rs.resultObj.Acc1UnMatchedCredits + "<br/><br/>";
                        html += "Less " + accountName2 + " unmatched debit transactions: " + rs.resultObj.Acc2UnMatchedDebits + "<br/>";
                        html += "Plus " + accountName2 + " unmatched credit transactions: " + rs.resultObj.Acc2UnMatchedCredits + "<br/><br/>";
                        html += "Adjusted balance of " + accountName + ": " + rs.resultObj.Acc1AdjustedBalance + "<br/><br/>";
                        html += "Balance of " + accountName2 + ": " + rs.resultObj.Acc2Balance;
                        $("#hasValueReconciliationReport2").html(html);
                    }
                } else {
                    var errhtml = "";
                    for (var i = 0; i < rs.listErr.length; i++) {
                        errhtml += (i + 1) + ". " + rs.listErr[i] + "<br/>";
                    }
                    $("#contentErrReconciliationReport2").html(errhtml);
                    $("#hasValueReconciliationReport2").addClass("hidden");
                    $("#divErrReconciliationReport2").removeClass("hidden");
                }
            }
        });
        return arrResult;
    }


    function Dowloading() {
        Loading('Downloading')
        $.ajax({
            type: 'post',
            url: '/TransactionMatchingReport/ExportToExcel',
            dataType: 'json',
            data: {
                accountId1: $("#hdAccount1Id").val(),
                account1Name: $("#hdAccount1Name").val(),
                accountId2: $("#hdAccount2Id").val(),
                account2Name: $("#hdAccount2Name").val(),
                transactionmatchingtaskId: $("#hdtransactionMatchingtaskId").val(),
                taskId: $("#hdtaskId").val()
            },
            success: function (response) {
                if (response.result == true) {
                    window.location.href = response.Object;
                }
                EndLoading();
            },
            error: function () {
                EndLoading();
            }
        });
    }
</script>
<style type="text/css">
    .tooltip {
        position: absolute !important;
        z-index: 11111;
    }

    .modal {
        overflow-y: scroll;
    }
</style>