@using System.Diagnostics
@using Qbicles.BusinessRules;
@using Qbicles.Models.Trader.SalesChannel;

@model PosSettings
@{
    var speedDistances = HelperClass.EnumModel.GetEnumValuesAndDescriptions<SpeedDistance>();
}

<!-- General -->
<div class="well custom" style="padding-bottom: 5px;">
    <input type="hidden" value="@Model.Id" id="setting_id" name="settingid">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="refresh">
                    Refresh timer (seconds)
                    <i class="fa fa-info-circle blue" data-tooltip="Specify a timeframe in which refreshing of data is expected to occur."></i>
                </label>
                <input type="number" onchange="updateDeliveryDisplayRefresh(this)" min="0" value="@Model.DeliveryDisplayRefreshInterval" class="form-control" name="refresh">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="linger">
                    Linger time (minutes)
                    <i class="fa fa-info-circle blue" data-tooltip="Allow extra time for extraneous factors during deliveries (time taken to walk from vehicle to door and back, for example.)"></i>
                </label>
                <input type="number" onchange="SaveDeliveryLingerTime(this)" min="0" value="@Model.LingerTime" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="speed">
                    Show speed/distance in
                    <i class="fa fa-info-circle blue" data-tooltip="Istances in metric or imperial measurements on the Delivery app."></i>
                </label>
                <select id="spedd-distance" name="location" class="form-control select2All" style="width: 100%;" onchange="SaveSpeedDistance()">
                    <option value=""></option>
                    @foreach (var item in speedDistances)
                    {
                        if ((SpeedDistance)item.Key == Model.SpeedDistance)
                        {
                            <option selected value="@item.Key">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="linger">
                    Time to delivery calculation interval (minutes)
                    <i class="fa fa-info-circle blue" data-tooltip="The Time and Distance from the Driver location to the Order Location must be calculated"></i>
                </label>
                <input type="number" onchange="SaveThresholdTimeInterval(this)" min="0" value="@Model.APICallThresholdTimeInterval" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="longitude">Latitude</label>
                <input type="text" class="form-control" value="@(Model.Location.Address?.Latitude)" disabled="">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="latitude">Longitude</label>
                <input type="text" class="form-control" value="@(Model.Location.Address?.Longitude)" disabled="">
            </div>
        </div>
    </div>
</div>
<!-- END General -->
<script src="~/Content/DesignStyle/js/html5tooltips.js"></script>
@{

    if (Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/dds.driver.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/dds.driver.js"></script>
    }
}
<script>
    $('select.select2All').select2({ placeholder: 'Please select' });
</script>