@using Qbicles.Models.Trader.DDS
@model List<DdsDevice>
@{

}

@foreach (var device in Model)
{
    <article id="dds-device-item-@device.Id" class="col">
        <span class="last-updated"><span id="device-queue-main-@device.Id">@device.Queue.Name</span></span>
        <span style="top: 40px !important;" class="last-updated"><span id="device-type-main-@device.Id">@(device.Type?.Name?? "Device type is empty")</span></span>

        <div class="qbicle-opts">
            <div class="dropdown">
                <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right primary">
                    <li><a onclick="DdsDeviceAddEdit(@device.Id)">Edit</a></li>
                    <li><a onclick="ConfirmDeleteDevice(@device.Id)">Delete</a></li>
                </ul>
            </div>

        </div>
        <a href="javascript:" style="cursor: initial !important;">
            <div class="avatar" style="border-radius: 0; background-image: url('/Content/DesignStyle/img/dds.png');">&nbsp;</div>
            <h1 style="color: #333;"><span id="device-name-main-@device.Id">@device.Name</span></h1>
        </a>
        <br />
        <p class="qbicle-detail">
            <label style="color: #333;">Administrators</label><br />
            @{
                var admins = string.Join(", ", device.Administrators.Select(e => e.DisplayUserName));

            }
            <span id="device-admin-name-@device.Id">@admins</span>
        </p>
        <br />
        <p class="qbicle-detail">
            <label style="color: #333;">Users</label><br />
            @{
                var users = string.Join(", ", device.Users.Select(e => e.User.DisplayUserName));

            }
            <span id="device-user-name-@device.Id">@users</span>
        </p>
        <br />
        <p class="qbicle-detail">
            <label style="color: #333;">Serial Number</label><br />
            <span>@device.SerialNumber</span>
        </p>
    </article>
}