@using Qbicles.BusinessRules
@using Qbicles.Models
@using Qbicles.Models.Trader
@model Invoice
@{
    ViewBag.Title = "Bill #" + Model.Reference?.FullRef ?? Model.Id.ToString();

    var timeZone = (string)ViewBag.CurrentTimeZone ?? "";

    var api = (string)ViewBag.DocRetrievalUrl;
    var pageSize = HelperClass.activitiesPageSize;
    var dateTimeFormat = (string)ViewBag.CurrentDateTimeFormat;
    var userId = ViewBag.CurrentUserId;
    var userAvatar = ViewBag.CurrentUserAvatar;
    var userRight = "none";
    var traderAppRight = (IsReviewerAndApproverModel)ViewBag.TraderApprovalRight;

    //o1
    if (!traderAppRight.IsInitiators && !traderAppRight.IsReviewer && !traderAppRight.IsApprover)
    {
        userRight = "none";

    }//hiden approval, no edit
     //o2
    else if (traderAppRight.IsInitiators && !traderAppRight.IsReviewer && !traderAppRight.IsApprover)
    { userRight = "initiator"; } // readonly approval, no edit
                                 //o3
    else if (traderAppRight.IsReviewer && Model.InvoiceApprovalProcess.RequestStatus == ApprovalReq.RequestStatusEnum.Pending)
    {
        userRight = "reviewer";
    }//If the user is an ApprovalReq.ApprovalRequestDefinition.Reviewer and the Status of the ApprovalReq is Pending, the drop down displays the items Discard, or Send to Approval.
     //o4
    else if (traderAppRight.IsApprover && Model.InvoiceApprovalProcess.RequestStatus == ApprovalReq.RequestStatusEnum.Reviewed)
    {
        userRight = "approver";
    }
    //o4.1
    else if (traderAppRight.IsApprover && Model.InvoiceApprovalProcess.RequestStatus == ApprovalReq.RequestStatusEnum.Pending)
    {
        userRight = "initiator";
    }
    //o5
    else if (Model.InvoiceApprovalProcess.RequestStatus == ApprovalReq.RequestStatusEnum.Approved
             || Model.InvoiceApprovalProcess.RequestStatus == ApprovalReq.RequestStatusEnum.Denied
             || Model.InvoiceApprovalProcess.RequestStatus == ApprovalReq.RequestStatusEnum.Discarded)
    {
        userRight = "completed";
    }

    var confirm = "";
    var isChange = "";
    if (userRight == "initiator" || userRight == "completed" || userRight == "none")
    {
        isChange = "disabled";
        confirm = "hidden";
    }
    if (Model.InvoiceApprovalProcess?.RequestStatus != ApprovalReq.RequestStatusEnum.Pending)
    {
    }
    if (isChange == "disabled")
    {
        confirm = "hidden";
    }

    var invoiceTotal = (decimal)ViewBag.InvoiceTotal;
    var invoiceSaleTax = (decimal)ViewBag.InvoiceSaleTax;
    var subtotal = (decimal)ViewBag.SubTotal;

    var billImage = ViewBag.BillImage;
    var purchaseRef = Model.Purchase?.Reference?.FullRef ?? Model.Id.ToString();
    var billRef = Model.Reference?.FullRef ?? Model.Id.ToString();
    var dateFormat = (string)ViewBag.CurrentDateFormat;
    var today = (DateTime)ViewBag.Today;
    var timeline = (List<ApprovalStatusTimeline>)ViewBag.Timeline;
    var timelineDate = (List<DateTime>)ViewBag.TimelineDate;
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
}

<!-- App bar -->
<div class="mdv2-col-app" style="margin-bottom: 0;">

    <div data-spy="affix" class="contained-sidebar">

        <div class="activity-overview plain company-overview welcome-info" style="text-align: left !important; flex: none; margin: 0 0 30px 0; padding-top: 30px; padding-bottom: 0;">

            <div class="pull-left" style="margin-bottom: 15px;">
                <a onclick="QbicleSelected('@(Model.Workgroup?.Qbicle.Key??"0")','Dashboard')" class="btn btn-primary"><i class="fa fa-angle-up"></i> &nbsp; Qbicle</a>
                <a href="/TraderPurchases/PurchaseMaster?id=@Model.Purchase.Id" class="btn btn-info"><i class="fa fa-eye"></i> &nbsp; View Purchase</a>
            </div>
            <div class="clearfix"></div>

            <br />

            <h6 class="subhead">Trader Bill Approval Request</h6>
            <h1 style="line-height: 1.2;">Bill #@billRef</h1>
            @{
                var css = "";
                var status = Model.Status.GetDescription();
                switch (Model.Status)
                {
                    case TraderInvoiceStatusEnum.PendingReview:
                        css = StatusLabelStyle.Pending;
                        break;
                    case TraderInvoiceStatusEnum.PendingApproval:
                        css = StatusLabelStyle.Reviewed;
                        break;
                    case TraderInvoiceStatusEnum.InvoiceApproved:
                        css = StatusLabelStyle.Approved;
                        break;
                    case TraderInvoiceStatusEnum.Draft:
                        css = StatusLabelStyle.Draft;
                        break;
                    case TraderInvoiceStatusEnum.InvoiceDenied:
                        css = StatusLabelStyle.Denied;
                        break;
                    case TraderInvoiceStatusEnum.InvoiceDiscarded:
                        css = StatusLabelStyle.Discarded;
                        break;
                }
            }

            @if (Model.Workgroup != null)
            {
                <span class="label label-lg label-primary">@Model.Workgroup.Topic.Name</span>
            }
            <span class="label label-lg @css">@status</span>
            <div class="clearfix"></div>


            <br /><br /><br />
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <label>Created</label><br />
                    <p>@Model.CreatedDate.FormatDateTimeByUser(dateTimeFormat)
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label>Creator</label><br />
                    <p><a href="/Community/UserProfilePage?uId=@(Model.CreatedBy.Id)">@HelperClass.GetFullNameOfUser(Model.CreatedBy)</a></p>
                </div>
            </div>


            <br /><br />
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <button class="btn btn-primary community-button" style="margin-bottom: 3px;" data-toggle="modal" data-target="#team-view">
                        <i class="fa fa-users"></i> &nbsp; Team
                    </button>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <button class="btn btn-info community-button" onclick="$('#view-timeline').empty(); $('#view-timeline').append($('#timeline_review').html());" data-toggle="modal" data-target="#history-view"><i class="fa fa-history"></i> &nbsp; History</button>
                </div>
            </div>

        </div>


    </div>
</div>
<!-- END App bar -->
<!-- Main area -->
<div class="mdv2-col-dash">

    <div class="spacing">

        <div style="width: 500px; max-width: 100%; margin-bottom: 40px;">
            <div class="alert activity-overview generic reviewer" style="padding: 10px 20px !important; margin: 0;">
                <form name="action" method="post" action="" style="padding: 10px 0;">
                    <label for="status">Approval options available to you</label>
                    <div class="input-group" style="width: 100%;">
                        @if (Model.InvoiceApprovalProcess != null)
                        {
                            <input type="hidden" id="action_approval_default" value="@Model.InvoiceApprovalProcess.RequestStatus" />
                        }
                        else
                        {
                            <input type="hidden" id="action_approval_default" value="" />
                        }
                        <select @isChange id="action_approval" name="action_element" class="form-control select2" data-placeholder="Please choose...">
                            @{
                                switch (userRight)
                                {
                                    case "initiator":
                                        if (Model.InvoiceApprovalProcess != null)
                                        {
                                            <option>@Model.InvoiceApprovalProcess.RequestStatus</option>
                                        }
                                        else
                                        {
                                            <option></option>
                                        }
                                        break;
                                    case "reviewer":
                                        <option value="Reviewed" selected>Send to Approval</option>
                                        <option value="Discarded">Discard</option>
                                        break;
                                    case "approver":
                                        <option value="Approved" selected>Approve</option>
                                        <option value="Pending">Send back to Review</option>
                                        <option value="Denied">Deny</option>
                                        break;
                                    case "completed":
                                        if (Model.InvoiceApprovalProcess != null)
                                        {
                                            <option>@Model.InvoiceApprovalProcess.RequestStatus</option>
                                        }
                                        else
                                        {
                                            <option></option>
                                        }
                                        break;
                                }
                            }
                        </select>
                        <span class="input-group-btn">
                            @{if (confirm == "")
                                {
                                    var approvalId = Model.InvoiceApprovalProcess?.Id.Encrypt();
                                    <button type="button" onclick="javascript:UpdateStatusApproval('@approvalId');" class="btn btn-success @confirm">Confirm</button>
                                }
                            }
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <br />

        <section class="associated_forms">

            <ul class="nav nav-pills alt" style="margin: 0 0 30px 0;">
                <li class="active"><a href="#" data-toggle="tab" data-target="#approval-0">Overview</a></li>
                <li><a href="#" data-toggle="tab" data-target="#approval-1">Items &amp; Products</a></li>
                <li><a href="#" data-toggle="tab" data-target="#approval-2">Comments &amp; Files</a></li>
            </ul>


            <div class="tab-content">


                <!-- Overview -->
                <div class="tab-pane fade in active" id="approval-0">

                    <div class="row">
                        <div class="col-xs-12">

                            <div class="app_upper_dash text-center">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <div class="stat_label text-center" style="text-align: center !important;">
                                            <span>Total</span>
                                            <h3>@invoiceTotal.ToCurrencySymbol(currencySettings)</h3>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <div class="stat_label" style="padding-bottom: 10px; text-align: center !important;">
                                            <span>Due</span>
                                            <h3>@Model.DueDate.ConvertTimeFromUtc(timeZone).ToString(dateFormat)</h3>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <div class="stat_label" style="padding-bottom: 10px; text-align: center !important;">
                                            <span>For</span>
                                            <h3>#@purchaseRef</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-xs-12">

                            <div class="flex-grid-fluid-lg from-community c1" style="width: 100%;">
                                <div class="col" style="width: 100%; max-width: 400px; flex: 0;">

                                    <div class="article-feature">
                                        <div class="info" style="padding-top: 15px;">

                                            <ul class="avatar-listing unstyled" style="margin: 0 15px !important;">
                                                <li>
                                                    <a href="#" style="cursor: initial !important; padding-left: 5px; background: #fff !important;">
                                                        <div class="owner-avatar">
                                                            <div class="avatar-sm" style="background: url('@billImage');"></div>
                                                        </div>
                                                        <h5>Notes &amp; options<br><small>for this bill</small></h5>
                                                    </a>
                                                </li>
                                            </ul>
                                            @if (!string.IsNullOrEmpty(Model.PaymentDetails))
                                            {
                                                <br />
                                                <p>
                                                    @Html.Raw(Model.PaymentDetails?.Replace(Environment.NewLine, "<br />").Replace("\n", "<br />"))
                                                </p>
                                            }
                                            <div style="padding: 0 20px 10px 20px;">
                                                @if (!string.IsNullOrEmpty(Model.InvoicePDF))
                                                {
                                                    <a href="@api@Model.InvoicePDF" target="_blank" class="btn btn-info"><i class="fa fa-download"></i> &nbsp; Download Bill</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-warning">No bill uploaded</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
                <!-- END Overview -->
                <!-- Items & Products -->
                <div class="tab-pane fade" id="approval-1">

                    <table class="datatable table-striped table-hover" style="width: 100%;" data-order='[[1, "asc"]]'>
                        <thead>
                            <tr>
                                <th data-priority="5" style="width: 60px;" data-orderable="false"></th>
                                <th data-priority="1">Item</th>
                                <th data-priority="1">Unit</th>
                                <th data-priority="2">Qty</th>
                                <th data-priority="3">Discount</th>
                                <th data-priority="2">Tax <strong>(@currencySettings.CurrencySymbol)</strong></th>
                                <th data-priority="2">Purchase value</th>
                                <th data-priority="3">Billed qty</th>
                                <th data-priority="3">Bill tax <strong>(@currencySettings.CurrencySymbol)</strong></th>
                                <th data-priority="3">Bill discount</th>
                                <th data-priority="3">Bill total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.InvoiceItems)
                            {
                                string taxrateName = "(Tax free)";
                                decimal taxRate = 0;
                                decimal taxValue = 0;
                                if (item.TransactionItem.Taxes != null)
                                {
                                    taxRate = item.TransactionItem.SumTaxRates();
                                    taxrateName = item.TransactionItem.StringTaxRates(currencySettings);


                                    var priceIncludeTax = item.TransactionItem.CostPerUnit * item.TransactionItem.Quantity * (1 - (item.TransactionItem.Discount / 100)) * (1 + taxRate);
                                    var priceExcludeTax = priceIncludeTax / (1 + taxRate);
                                    taxValue = priceIncludeTax - priceExcludeTax;
                                }
                                <tr>
                                    <td>
                                        <div class="table-avatar mini" style="background-image: url('@api@item.TransactionItem.TraderItem.ImageUri');">&nbsp;</div>
                                    </td>
                                    <td>@item.TransactionItem.TraderItem.Name</td>
                                    <td>@item.TransactionItem.Unit.Name</td>
                                    <td>@item.TransactionItem.Quantity.ToDecimalPlace(currencySettings)</td>
                                    <td>@item.TransactionItem.Discount.ToDecimalPlace(currencySettings)%</td>
                                    <td>
                                        @Html.Raw(taxrateName)
                                    </td>
                                    <td><span>@item.TransactionItem.Cost.ToDecimalPlace(currencySettings)</span></td>
                                    <td>@item.InvoiceItemQuantity</td>
                                    <td>
                                        <span style="display:@(Model.Id > 0?"none":"block")">@(item.InvoiceTaxValue.HasValue ? item.InvoiceTaxValue.Value.ToDecimalPlace(currencySettings) : ((decimal)0).ToDecimalPlace(currencySettings))</span>
                                        <div style="@(Model.Id>0?"":"display:none;")">
                                            @Html.Raw(taxrateName)
                                        </div>
                                    </td>
                                    <td>@item.InvoiceDiscountValue.ToDecimalPlace(currencySettings)%</td>
                                    <td>@item.InvoiceValue.ToDecimalPlace(currencySettings)</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <!-- END Items & Products -->
                <!-- Comments & Files -->
                <div class="tab-pane fade" id="approval-2">

                    <div class="app_topnav entity_adds" style="background: #fff; padding: 0;">
                        <ul class="nav nav-pills app_main_nav">
                            <li role="presentation" class="active">
                                <a href="#tab1" data-toggle="tab">
                                    <i class="fa fa-comments"></i>
                                    Comments
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#tab2" data-toggle="tab">
                                    <i class="fa fa-folder-open"></i>
                                    Files
                                </a>
                            </li>
                        </ul>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="well" style="max-width: 800px;">
                                                <div class="form-group">
                                                    <label for="add-comment">Add a comment</label>
                                                    <textarea id="txt-comment-approval" name="add-comment" class="form-control"></textarea>
                                                    <label id="addcomment-error" class="error" for="addcomment" style="display: none;">Your post is longer than the 1,500 character limit. Please reduce the length, or split it across multiple posts</label>
                                                </div>
                                                <button onclick="addCommentForApproval('@(Model.InvoiceApprovalProcess?.Key ?? "")')" class="btn btn-success">Submit</button>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                    <div id="list-comments-approval">
                                        @if (Model.InvoiceApprovalProcess != null)
                                        {
                                            foreach (var post in Model.InvoiceApprovalProcess.Posts.OrderByDescending(x => x.StartedDate).Take(pageSize))
                                            {

                                                <!-- General post -->
                                                var fullName = HelperClass.GetFullNameOfUser(post.CreatedBy, userId);
                                                <article id="post-@post.Id" class="activity post">
                                                    <img style="background-image: url('@api@post.CreatedBy.ProfilePic')" class="activity-avatar" />
                                                    <div class="activity-detail">
                                                        <div class="activity-meta">
                                                            <h4>@fullName</h4>
                                                            <small>@post.StartedDate.ConvertTimeFromUtc(timeZone).ToString(dateFormat + ", hh:mmtt")</small>
                                                        </div>
                                                        <div class="activity-overview media-comment">
                                                            <p>
                                                                @Html.Raw(post.Message.Replace(Environment.NewLine, "<br />"))
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </article>
                                                <!-- END General post -->
                                            }
                                        }

                                    </div>
                                    @if (Model.InvoiceApprovalProcess != null && Model.InvoiceApprovalProcess.Posts.Count() > pageSize)
                                    {
                                        <button id="btnLoadPosts" onclick="LoadMorePosts('@Model.InvoiceApprovalProcess.Key', @pageSize, 'list-comments-approval')" class="btn btn-info trigger_load">Load older posts</button>
                                    }
                                </div>

                                <div class="tab-pane fade" id="tab2">
                                    <br />
                                    <a href="javascript:void(0)" class="btn btn-success" id="btnAddFile" data-toggle="modal" data-target="#create-media"><i class="fa fa-upload"></i> &nbsp; Upload a file</a>

                                    <br /><br />
                                    <div id="list-medias">
                                        @if (Model.InvoiceApprovalProcess != null && Model.InvoiceApprovalProcess.SubActivities.Count > 0)
                                        {
                                            foreach (var item in Model.InvoiceApprovalProcess.SubActivities.OrderByDescending(x => x.Id).Take(pageSize))
                                            {
                                                var media = (QbicleMedia)item;
                                                var createdByName = HelperClass.GetFullNameOfUser(media.StartedBy, userId);
                                                var createdDate = media.StartedDate.Date == DateTime.UtcNow.Date ? "Today, " + media.StartedDate.ConvertTimeFromUtc(timeZone).ToString("hh:mmtt").ToLower() : media.StartedDate.ConvertTimeFromUtc(timeZone).ToString(dateFormat + " hh:mmtt").ToLower();
                                                var mediaLastupdate = media.VersionedFiles.Where(e => !e.IsDeleted).OrderByDescending(x => x.UploadedDate).First() ?? null;
                                                var lastUpdateFile = mediaLastupdate != null ? (mediaLastupdate.UploadedDate.ConvertTimeFromUtc(timeZone).Date == DateTime.UtcNow.Date ? "Today, " + mediaLastupdate.UploadedDate.ConvertTimeFromUtc(timeZone).ToString("hh:mmtt").ToLower() : mediaLastupdate.UploadedDate.ConvertTimeFromUtc(timeZone).ToString(dateFormat + " hh:mmtt").ToLower()) : createdDate;
                                                //Media post
                                                <article class="activity media">
                                                    <img style="background-image: url('@api@media.StartedBy.ProfilePic')" class="activity-avatar" />
                                                    <div class="activity-detail">
                                                        <div class="activity-meta">
                                                            <h4>@createdByName</h4>
                                                            <small>@createdDate</small>
                                                            <br class="visible-xs">
                                                        </div>
                                                        <div class="activity-overview media">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-5 col-md-6 col-lg-5">
                                                                    <a href="javascript:void(0)" onclick="ShowMediaPage('@media.Key')">
                                                                        @if (media.FileType.Type == "Image File")
                                                                        {
                                                                            <img id="media-@item.Id" class="img-responsive" src='@api@mediaLastupdate.Uri' />
                                                                        }
                                                                        else
                                                                        {
                                                                            <img src="@media.FileType.IconPath" class="img-responsive">
                                                                        }
                                                                    </a>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7 description">
                                                                    <h5>@media.Name</h5>
                                                                    <p>
                                                                        @media.Description
                                                                    </p>
                                                                    <small>@media.FileType.Type | Update @lastUpdateFile</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </article>
                                                <!-- END Media post -->
                                            }
                                        }
                                    </div>
                                    @if (Model.InvoiceApprovalProcess != null && Model.InvoiceApprovalProcess.SubActivities.Count() > pageSize)
                                    {
                                        <button id="btnLoadMedias" onclick="LoadMoreMedias(@Model.InvoiceApprovalProcess.Id, @pageSize, 'list-medias')" class="btn btn-info trigger_load">Load older medias</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- END Comments & Files -->


            </div>

        </section>

        <br /><br /><br />

    </div>

</div>

<div id="timeline_review" style="display: none;">
    <ul class="timeline">

        @foreach (var date in timelineDate)
        {
            var dateStart = date.ConvertTimeFromUtc(timeZone).DatetimeToOrdinal();
            var dateStr = date.Date == today.Date ? "Today" : dateStart;

            <li class="time-label">
                <span class="label label-lg label-info">
                    @date.ConvertTimeFromUtc(timeZone).FormatDateTimeByUser(dateFormat)
                </span>
            </li>
            foreach (var tl in timeline.Where(d => d.LogDate.Date == date.Date))
            {
                <li>
                    <div class="person" style="background-image: url('@api@tl.UserAvatar');"></div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> @tl.Time</span>
                        <h4 class="timeline-header">@tl.Status</h4>
                    </div>
                </li>
            }
            <br />
        }

    </ul>
</div>


<script>

    $('#bill-content .select2').select2();
</script>