@using Qbicles.Models.B2B
@using Qbicles.BusinessRules
@using Qbicles.Models
@using Qbicles.BusinessRules.Model
@model B2BLogisticsAgreement
@{
    var currentDomain = (QbicleDomain)ViewBag.CurrentDomain;
    var api = (string)ViewBag.DocRetrievalUrl;
    var verhicleTypeIcons = B2bVerhicleTypeIcon.vehicleTypes;
    var currencySettings = (CurrencySetting)ViewBag.CurrencySettings;
}
@if (Model != null)
{
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">@Model.PriceList.PriceList.Name for your location</h5>
            </div>
            <div class="modal-body">


                <div class="flex-grid-fluid-lg qbicles-dash-grid criteria-tables">
                    @foreach (var item in Model.PriceList.ChargeFrameworks.Where(s => s.IsActive))
                    {
                        <article class="col">
                            <a href="#" style="cursor: initial !important;">
                                <div class="avatar" style="border-radius: 0; background-image: url('@(Url.Content(verhicleTypeIcons.FirstOrDefault(s=>s.Key==item.VehicleType).Value))');">&nbsp;</div>
                                <h1 style="color: #333;">@item.Name</h1>
                            </a>
                            <br>

                            <div class="text-left">
                                <table class="table app_specific table-borderless">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Distance travelled</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 70%;">Flat fee</td>
                                            <td>@item.DistanceTravelledFlatFee.ToCurrencySymbol(currencySettings)</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 70%;">Per km</td>
                                            <td>@item.DistanceTravelPerKm.ToCurrencySymbol(currencySettings)</td>
                                        </tr>
                                    </tbody>
                                </table>


                                <table class="table app_specific table-borderless">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Time taken</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 70%;">Flat fee</td>
                                            <td>@item.TimeTakenFlatFee.ToCurrencySymbol(currencySettings)</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 70%;">Per second</td>
                                            <td>@item.TimeTakenPerSecond.ToCurrencySymbol(currencySettings)</td>
                                        </tr>
                                    </tbody>
                                </table>


                                <table class="table app_specific table-borderless" style="margin-bottom: 0;">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Value of delivery</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 70%;">Flat fee</td>
                                            <td>@item.ValueOfDeliveryFlatFee.ToCurrencySymbol(currencySettings)</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 70%;">Percentage</td>
                                            <td>@item.ValueOfDeliveryPercentTotal%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </article>
                    }
                </div>

                <br>
                <button class="btn btn-primary" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
}

