@using Qbicles.BusinessRules.Model
@using Qbicles.Models.B2B
@model B2BInvitation
@{
    var providerLocations = (List<B2bLocationsModel>)ViewBag.providerLocations;
    var rowindex = (int)ViewBag.RowIndex;
    //var colId = (int)ViewBag.ColIndex;
    var id = Guid.NewGuid();
}
<div id="@id" data-index="@(rowindex)" class="well custom proposed-provider" style="padding-bottom: 5px;position: relative;">
    <a href="#" style="font-size: 11px; font-family: 'Roboto', sans-serif; position: absolute; top: 8px; right: 10px;" onclick="$(this).parent().remove();">Remove</a>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group proposedloc">
                <label>Proposed provider</label>
                <select required name="ProposedList[@(rowindex)].ProviderId" class="form-control select2" style="width: 100%;" onchange="loadPriceListByLocationId($(this), @(rowindex));">
                    <option value=""></option>
                    @foreach (var l in providerLocations)
                    {
                        <option value="@l.Id" @(!l.AllowSelect?"disabled":"")>@l.Name</option>
                    }
                </select>
                <label id="ProposedList[@(rowindex)].ProviderId-error" class="error" for="ProposedList[@(rowindex)].ProviderId" style="display:none">This field is required.</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group priceloc_row@(rowindex)" style="display:none">
                <label>Price list to use</label>
                <select name="ProposedList[@(rowindex)].PricelisId" class="form-control select2 pricelistbyloc" style="width: 100%;">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function () {
        $('#@(id) .select2').select2({ placeholder: "Please select"});
    });
    </script>
</div>
