@using Qbicles.Models.B2B
@model List<B2BPost>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var isFeatured = (bool)ViewBag.IsFeatured;
}
@foreach (var item in Model)
{
    var content = item.Content.Length <= 400 ? item.Content : item.Content.Substring(0, 397) + "...";
    <div class="col">
        <div class="article-feature">
            @if (!string.IsNullOrEmpty(item.FeaturedImageUri))
            {
                <div class="article-feature-img" style="background: url('@(api+item.FeaturedImageUri)');"></div>
            }
            <div class="info" style="padding-bottom: 0;">

                <div class="btn-group optsnew defaulted dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="javascript:void(0);" onclick="initModalPost(@item.Id,@(isFeatured?"true":"false"))">Edit</a></li>
                        <li><a href="javascript:void(0);" onclick="deletePost(@item.Id,@(isFeatured?"true":"false"))">Delete</a></li>
                    </ul>
                </div>

                <h1>@item.Title</h1>
                <p class="block-with-text">@Html.Raw(content.Replace(Environment.NewLine,"<br />"))</p>
            </div>
        </div>
    </div>
}
