@*@using Qbicles.Models.B2B
@model B2BTradingItem
@{ 
    var profileProvider = (B2BProfile)ViewBag.profileProvider;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">&nbsp;</h5>
        </div>
        <div class="modal-body" style="padding: 0;">
            <form id="frmlinkconsumeritem" action="~/Commerce/SaveLinkConsumerItem" method="post">
                <br />
                <div class="product-sell">

                    <br />
                    <h1 id="tin">@(profileProvider.BusinessName)'s proposed name</h1>
                    <input type="hidden"  name="TradingItemId" value="@Model.Id"/>
                    <br />

                    <p>Summary, lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec elementum ante. Vivamus vitae lacus pellentesque, sodales dolor ac, molestie massa.</p>

                    <br />

                    <table class="table table-striped app_specific">
                        <tbody>
                            <tr>
                                <td><strong>Item name</strong></td>
                                <td>@Model.TradingName</td>
                            </tr>
                            <tr>
                                <td><strong>SKU</strong></td>
                                <td>@Model.CatalogItem.Item.SKU</td>
                            </tr>
                            <tr>
                                <td><strong>Unit</strong></td>
                                <td>@Model.CatalogItem.ProviderUnit.Name</td>
                            </tr>
                            <tr>
                                <td><strong>Location(s)</strong></td>
                                <td>@(string.Join(", ", Model.CatalogItem.ProviderLocations.Select(s => s.Name)))</td>
                            </tr>
                        </tbody>
                    </table>


                    <br /><hr /><br />
                    <div class="well custom" style="padding-bottom: 5px;">
                        <div class="form-group">
                            <label for="title">Trading item name</label>
                            <input name="TradingName" style="border: 1px solid #e1e1e1;" type="text" class="form-control" value="@Model.TradingName" onkeyup="$('#tin').html($(this).val());">
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="item">Choose an item to link this to from your inventory</label><br />
                                <div class="input-group" style="margin-bottom: 15px;">
                                    <select name="ConsumerItemId" class="form-control select2" style="width: 100%;" data-placeholder="Choose an item" onchange="$(this).valid();$('#frmlinkconsumeritem select[name=ConsumerUnitId]').removeAttr('disabled'); $('.myproduct').fadeIn();">
                                        @if (Model.ConsumerDomainItem != null)
                                        {
                                            <option value="@Model.ConsumerDomainItem.Id" selected>@Model.ConsumerDomainItem.Name</option>
                                        }
                                    </select>
                                    <label id="ConsumerItemId-error" class="error" for="ConsumerItemId" style="display:none">This field is required.</label>
                                    <div class="input-group-btn" style="min-width: 100px;vertical-align:top">
                                        <select name="ConsumerUnitId" class="form-control select2" style="width: 100%;" data-placeholder="Unit" @(Model.ConsumerUnit!=null?"":"disabled")>
                                            <option value=""></option>
                                            @if (Model.ConsumerUnit != null)
                                            {
                                                <option value="@Model.ConsumerUnit.Id" selected>@Model.ConsumerUnit.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row myproduct" style="@(Model.ConsumerDomainItem != null?"":"display: none;")">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>SKU</label><br />
                                    <input name="SKU" type="text" class="form-control" value="@(Model.ConsumerDomainItem?.SKU)" disabled>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="ConsumerLocations">Locations</label>
                                    <select name="ConsumerLocations" class="form-control checkmulti" multiple>
                                        @if (Model.ConsumerDomainItem != null && Model.ConsumerDomainItem.Locations.Any())
                                        {
                                            foreach (var item in Model.ConsumerDomainItem.Locations)
                                            {
                                                <option value="@item.Id" @(Model.ConsumerLocations.Any(s=>s.Id==item.Id)?"selected":"")>@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <label id="ConsumerLocations-error" class="error" for="ConsumerLocations" style="display:none">This field is required.</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <button type="submit" class="btn btn-success community-button">Confirm</button>
                </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->*@