@using Qbicles.Models.B2B
@using Qbicles.BusinessRules
@using Qbicles.Models
@using Qbicles.Models.SystemDomain
@model B2BOrderCreation
@{
    var b2bqbicle = Model.Qbicle as B2BQbicle;
    var currencySetting = (CurrencySetting)ViewBag.currencySetting;
    var api = (string)ViewBag.DocRetrievalUrl;
    var allowUpload = (Model != null && Model.ExpiryDate == null) || (Model.ExpiryDate.HasValue && Model.ExpiryDate.Value > DateTime.UtcNow);
    var currentUserId = (string)ViewBag.CurrentUserId;
    string currentTimeZone = ViewBag.currentTimeZone;
    var dateFormat = (string)ViewBag.CurrentDateFormat;
    var totalPriceString = (string)ViewBag.TotalPriceStr;
    var pageSize = HelperClass.activitiesPageSize;
    var Comments = Model != null ? Model.Posts.OrderByDescending(x => x.StartedDate).Take(pageSize).ToList() : new List<QbiclePost>();
    var count_Comments = Model != null ? Model.Posts.Count() : 0;
    var count_Medias = Model.SubActivities.Count();
    var locationDeliverTo = Model.TradeOrder.DestinationLocation;
    var statusLabel = "";

    switch((int)(Model.TradeOrder?.OrderStatus)){
        case 0: statusLabel = "label-info";
            break;
        case 1:
        case 2: statusLabel = "label-primary";
            break;
        case 3: statusLabel = "label-success";
            break;
        case 4: statusLabel = "label-danger";
            break;
    }
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative;">
    <input type="hidden" id="hdfOrderKey" value="@Model.TradeOrder.Id.Encrypt()" />
    <input type="hidden" id="discussionKey" value="@Model.Key" />
    <input type="hidden" id="providerDomainKey" value="@Model.TradeOrder.SellingDomain.Key" />
    @*<input type="hidden" id="isDomainBuy" value="false" />*@

    <!-- Main content -->
    <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin" style="border-top: 1px solid #f1f1f1;">


        <!-- Main area -->
        <div class="mdv2-col-dash mdlock">

            <div class="spacing">

                <div class="row">
                    <div class="col-xs-12 col-md-6">

                        <div class="welcome-info" style="margin: 0 0 20px 0;">
                            <div class="pull-left" style="margin-bottom: 15px;">
                                <a href="javascript:void(0)" onclick="QbicleSelected('@Model.Qbicle.Key','Dashboard')" class="btn btn-primary"><i class="fa fa-angle-left"></i> &nbsp; Back</a>
                            </div>
                            <div class="clearfix"></div>


                            <br />
                            <h1 style="line-height: 1.2; margin-bottom: 0;">Order #@(Model.TradeOrder.OrderReference?.FullRef ?? "")</h1>
                            <h4>@(Model.TradeOrder?.ProductMenu?.Name ?? "")</h4>
                            <div class="clearfix"></div>

                            <br />
                                <label id="b2b-order-status" class="label label-lg @statusLabel">@(Model.TradeOrder?.OrderStatus.GetDescription())</label>
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-6">

                        <div class="well custom rounded" style="padding-bottom: 10px; margin: 38px 0 0 0;">
                            <div class="row">
                                @if (locationDeliverTo != null)
                                {
                                    <div class="col-xs-12 col-sm-6">
                                        <p><strong>Deliver to</strong></p>
                                        <p>
                                            @Html.Raw(locationDeliverTo?.TraderLocationToAddress() ?? "")<br /><br />
                                            @if (locationDeliverTo.Address?.Latitude != 0 && locationDeliverTo.Address?.Longitude != 0)
                                            {
                                                <a href="https://www.google.com/maps/@("@"+locationDeliverTo.Address.Latitude),@(locationDeliverTo.Address.Longitude),15z" target="_blank">View map</a>
                                            }
                                        </p>
                                    </div>
                                }

                                <div class="col-xs-12 col-sm-6">
                                    <p><strong>Dispatch address</strong></p>
                                    <p>@Html.Raw(Model.TradeOrder.ProductMenu.Location?.TraderLocationToAddress() ?? "")</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <br />
                <div class="app_topnav entity_adds" style="background: #fff; padding: 0; margin-top: 0;">
                    <ul class="nav nav-pills app_main_nav">
                        <li role="presentation" class="active">
                            <a href="#tab0" data-toggle="tab">
                                <i class="fa fa-file-text"></i>
                                Order
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tabadd" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-plus"></i>
                                Add items
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#tab2" data-toggle="tab" id="docs">
                                <i class="fa fa-file-text-o"></i>
                                Documents
                            </a>
                        </li>
                        
                    </ul>
                </div>

                <br /><br />

                <div class="row">
                    <div class="col-xs-12">

                        <div class="tab-content">

                            <!-- Order -->
                            <div class="tab-pane fade in active" id="tab0">
                                <div id="cart-empty" style="display:none">
                                    <p>Your cart is currently empty. Any items you add to your order will appear here.</p>
                                </div>
                                <div id="cart">
                                    <table class="datatable table-striped table-hover theorder" id="order-list" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th data-priority="1">Category item</th>
                                                <th data-priority="3">Category</th>
                                                <th data-priority="1" data-orderable="false">Quantity</th>
                                                <th data-priority="2">Initial price (@currencySetting.CurrencySymbol)</th>
                                                <th data-priority="1" data-orderable="false">Discount (%)</th>
                                                <th data-priority="1" data-orderable="false">Taxes</th>
                                                <th data-priority="1" data-orderable="false">Price (@currencySetting.CurrencySymbol)</th>
                                                <th data-priority="1" data-orderable="false">Options</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                    <br />
                                    <h5>Order total</h5>
                                    <h3 id="totalpricestr" style="margin: 0; font-family: 'Lato'; font-weight: 400;"></h3>
                                    <br /><br />
                                    <div class="btn-block-submit">
                                        @Html.Partial("_OrderButtonSubmit", Model.TradeOrder)
                                    </div>
                                </div>
                            </div>
                            <!-- END Order -->
                            <!-- Add item -->
                            <div class="tab-pane fade" id="tabadd">

                                    <div class="well custom" style="padding-bottom: 5px;">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="search">Search</label>
                                                    <input id="orer-item-search-text" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="search">Categories</label>
                                                    <select id="orer-item-search-categories" class="form-control checkmulti" multiple>
                                                        @foreach (var catItem in Model.TradeOrder.ProductMenu.Categories.Where(e=>e.IsVisible).OrderBy(n=>n.Name))
                                                        {
                                                            <option value="@catItem.Id" selected>@catItem.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />

                                    <div id="items-container" class="flex-grid-quarters-lg gridfix" style="width: 100%; padding: 0;">

                                    </div>
                                    <div id="pagiation-items" style="float: right;"></div>

                                </div>
                            <!-- End add item -->
                            <!-- Documents -->
                            <div class="tab-pane fade" id="tab2">

                                @if (allowUpload)
                                {
                                    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#create-media"><i class="fa fa-upload"></i> &nbsp; Upload a file</a>
                                }
                                <br><br><br>


                                <!-- Media post -->
                                <div id="list-medias">
                                    @if (count_Medias > 0)
                                    {
                                        foreach (var item in Model.SubActivities.OrderByDescending(x => x.Id).Take(pageSize))
                                        {
                                            var med = (QbicleMedia)item;
                                            var createdByName = med.StartedBy.Id == currentUserId ? "Me" : HelperClass.GetFullNameOfUser(med.StartedBy);
                                            var createdDate = med.StartedDate.Date == DateTime.Now.Date ? "Today, " + med.StartedDate.ToString("hh:mmtt") : med.StartedDate.ToString(dateFormat + " hh:mmtt");
                                            var lastUpdateFile = "";
                                            var mediaLastupdate = med.VersionedFiles.Where(e => !e.IsDeleted).OrderByDescending(x => x.UploadedDate).FirstOrDefault() ?? null;
                                            if (mediaLastupdate != null)
                                            {
                                                lastUpdateFile = mediaLastupdate?.UploadedDate.Date == DateTime.Now.Date ? "Today, " + mediaLastupdate.UploadedDate.ToString("hh:mmtt") : mediaLastupdate.UploadedDate.ToString(dateFormat + " hh:mmtt");
                                            } //Media post
                                            <!-- Media post -->
                                            <article class="activity media">
                                                <div class="activity-avatar" style="background-image: url('@api@(med.StartedBy.ProfilePic)&size=T');"></div>
                                                <div class="activity-detail" style="width: 100%; max-width: 100%;">
                                                    <div class="activity-meta">
                                                        <h4>@createdByName</h4>
                                                        <small>@createdDate</small>
                                                        <br class="visible-xs">
                                                    </div>

                                                    <div class="activity-overview media">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-5 col-lg-4">
                                                                <a href="javascript:void(0)" onclick="ShowMediaPage('@med.Key')">
                                                                    @if (med.FileType.Type == "Image File")
                                                                    {
                                                                        <img id="media-@item.Id" class="img-responsive" src='@api@(mediaLastupdate.Uri)&size=M' />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="@med.FileType.ImgPath" class="img-responsive">
                                                                    }
                                                                </a>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-7 col-lg-8 description" style="padding-top: 0;">
                                                                <h5>@med.Name</h5>
                                                                <p>
                                                                    @med.Description
                                                                </p>
                                                                <small>@Utility.GetFileTypeDescription(med.FileType.Extension) | Update @lastUpdateFile</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </article>
                                            <!-- END Media post -->
                                        }
                                    }
                                    @if (count_Medias > pageSize)
                                    {
                                        <button id="btnLoadMedias" onclick="LoadMoreMediasDiscussion(@Model.Id, @pageSize, 'list-medias')" class="btn btn-info">Load older medias</button>
                                    }
                                </div>
                                <!-- END Media post -->


                            </div>
                            <!-- END Documents -->

                        </div>
                    </div>
                </div>


                <br /><br /><br />

            </div>

        </div>


        <div class="mdv2-col-user mdfix">

            @if (allowUpload)
            {
                <div class="form-group">
                    @Html.Partial("_ChatPartial", new ViewDataDictionary { { "qbicleTopics", null }, { "chatType", ChatType.Order }, { "OrderCreation", @Model }, { "OrderChatTo", OrderChatTo.Business } })

                </div>
            }

            <br /><br />
            <div class="scroller-tall">

                <div id="list-comments-discussion" discussionType="b2b-sellingdomain" class="column-comments">
                    @if (Comments != null && count_Comments > 0)
                    {
                        foreach (var item in Comments)
                        {
                            <div class="activity-overview post-mini animated fadeInUp newpost">
                                <p>@Html.Raw(item.Message.Replace(Environment.NewLine, "<br/>"))</p>

                                <a href="#">
                                    <div class="activity-avatar" style="background-image: url('@(api+item.CreatedBy.ProfilePic)&size=T');"></div>
                                    <h5>@HelperClass.GetFullNameOfUser(item.CreatedBy, currentUserId), @item.StartedDate.GetTimeRelative()</h5>
                                </a>
                            </div>
                        }
                    }
                </div>
                @if (count_Comments > pageSize)
                {
                    <button id="btnLoadPosts" onclick="loadMorePostsDiscussion('@Model.Key', @pageSize, 'list-comments-discussion')" class="btn btn-info">Load older posts</button>
                }


            </div>

        </div>


    </section>
    <!-- ./content -->

</div>
<div class="modal fade" id="choose-wg" role="dialog" aria-labelledby="choose-wg" style="display: none; padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Choose a workgroup</h5>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade left" id="b2b-seller-add-item" role="dialog" aria-labelledby="b2b-seller-add-item" style="display: none; padding-right: 17px;">
</div>
<!-- /.content-wrapper -->
<link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
@*<link href="~/Content/DesignStyle/css/pagination.css" rel="stylesheet" />
    <script src="~/Content/DesignStyle/js/pagination.min.js"></script>*@
<script src="~/Content/DesignStyle/js/html5tooltips.js"></script>
@{
    Html.RenderAction("GenerateModalMedia", "Qbicles");
}
@if (System.Diagnostics.Debugger.IsAttached)
{
    <script src="~/Scripts/dev/b2b.discussionorder.js"></script>
}
else
{
    <script src="~/Scripts/dev/b2b.discussionorder.js"></script>
}
<script>
    var currencySetting = {
        currencyGroupSeparator: ',',
        CurrencySymbol: '@currencySetting.CurrencySymbol',
        SymbolDisplay: @((int)currencySetting.SymbolDisplay),
        DecimalPlace: @((int)currencySetting.DecimalPlace)
    };
    initProviderDiscussionPage();
</script>