@*@using Qbicles.BusinessRules.Model
@using Qbicles.BusinessRules
@using Qbicles.Models
@model List<B2bRelationshipManagersModel>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var currentDomain = (QbicleDomain)ViewBag.CurrentDomain;
}
<div class="well custom" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label for="search">Search</label>
                <input id="txtSearchFilter" type="text" name="search" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label for="RelationshipManagers">Relationship managers</label>
                <select id="slRelationshipManagers" name="RelationshipManagers" class="form-control select2" style="width: 100%;">
                    <option value="0" selected>Show all</option>
                    @foreach (var item in currentDomain.Users)
                    {
                        <option value="@item.Id">@HelperClass.GetFullNameOfUser(item)</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<br />
<table class="table-hover datatable table-striped" id="tblRelationships" style="width: 100%;">
    <thead>
        <tr>
            <th data-priority="1">Partner</th>
            <th data-priority="3">Relationship manager(s)</th>
            <th data-priority="1">Options</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="app_commerce--logistics-friend.php" target="_blank">
                            <div class="table-avatar mini pull-left" style="background-image: url('@(api+item.PartnerLogoUri)');"></div>
                            <div class="avatar-name pull-left" style="color: #333; line-height: 4; padding-left: 15px;">@item.PartnerName</div>
                            <div class="clearfix"></div>
                        </a>
                    </td>
                    <td>
                        <ul style="padding-left: 15px;">
                            @foreach (var user in item.RelationshipManagers)
                            {
                                <li>@HelperClass.GetFullNameOfUser(user)</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" onclick="loadRelationshipManagersModal(@item.RelationshipId)"><i class="fa fa-pencil"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>*@