@*@using Qbicles.Models.B2B
@using Qbicles.BusinessRules
@model List<B2BWorkgroup>
@{
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
    var timezone = (string)ViewBag.CurrentTimeZone;
}
<table class="table-hover datatable table-striped" id="tbl-workgroups" style="width: 100%;">
    <thead>
        <tr>
            <th data-priority="1">Name</th>
            <th data-priority="3">Location</th>
            <th data-priority="3">Created</th>
            <th data-priority="2">Process</th>
            <th data-priority="2">Members</th>
            <th data-priority="1">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Location.Name</td>
                <td>@item.CreatedDate.ConvertTimeFromUtc(timezone)</td>
                <td>
                    @{
                        var process = item.Processes.Any() ? string.Join("<br />", item.Processes.Select(s => s.Name)) : "";
                        @Html.Raw(process)
                }
            </td>
            <td>@item.Members.Count</td>
            <td>
                <button type="button" class="btn btn-warning" onclick="loadWorkgroupModal(@item.Id)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger" onclick="deleteWorkgroup(@item.Id)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    }

    </tbody>
</table>*@
