@*@using Qbicles.Models.B2B
@using Qbicles.Models.Trader
@using Qbicles.Models
@model B2BWorkgroup
@{
    var process = (List<B2BProcess>)ViewBag.process;
    var locations = (List<TraderLocation>)ViewBag.locations;
    var qbicles = (List<Qbicle>)ViewBag.qbicles;
    var topics = (List<Qbicles.BusinessRules.ItemTopic>)ViewBag.topics;
    var api = (string)ViewBag.DocRetrievalUrl;
}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h5 class="modal-title">@(Model.Id > 0 ? "Edit workgroup" : "Add a Workgroup")</h5>
        </div>
        <div class="modal-body">
            <form id="frmb2bworkgroup" method="post">
                <div class="row">
                    <div class="col-xs-12">
                        <ul id="tabb2bworkgroup" class="app_subnav" style="list-style-type: none;">
                            <li class="active"><a href="#add-specifics" data-toggle="tab" aria-expanded="true">Specifics</a></li>
                            <li class=""><a href="#add-members" data-toggle="tab" aria-expanded="false">Members &amp; roles</a></li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="tab-content">
                    <!-- Specifics -->
                    <div class="tab-pane fade active in" id="add-specifics">
                        <div class="well custom" style="padding-bottom: 5px;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Workgroup name</label>
                                        <input type="hidden" name="Id" value="@Model.Id" />
                                        <input type="text" name="Name" class="form-control" value="@Model.Name" style="border: 1px solid #e1e1e1;">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="Location">Location</label>
                                        <select name="Location" onchange="$(this).valid()" class="form-control select2" style="width: 100%;">
                                            @if (locations != null)
                                            {
                                                foreach (var item in locations)
                                                {
                                                    <option value="@item.Id" @(Model.Location != null && Model.Location.Id == item.Id ? "selected" : "")>@item.Name</option>
                                                }
                                            }
                                        </select>
                                        <label id="Location-error" class="error" for="Location" style="display: none;">This field is required.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="Qbicle">Qbicle</label>
                                        <select name="Qbicle" id="wg-qbicle" class="form-control select2" onchange="reloadDefaultTopic(@(Model!=null&&Model.DefaultTopic!=null?Model.DefaultTopic.Id:0));" style="width: 100%;">
                                            @if (qbicles != null)
                                            {
                                                foreach (var item in qbicles)
                                                {
                                                    <option value="@item.Id" @(Model.SourceQbicle!=null&&Model.SourceQbicle.Id==item.Id?"selected":"")>@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="qbicle">Default topic</label>
                                        <select name="Topic" id="wg-topic" class="form-control select2" style="width: 100%;">
                                            @if (topics != null)
                                            {
                                                foreach (var item in topics)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="Process">Associated processes</label>
                                        <select name="Process" onchange="$(this).valid()" class="form-control select2" style="width: 100%;" multiple="">
                                            <option value=""></option>
                                            @if (process != null)
                                            {
                                                foreach (var item in process)
                                                {
                                                    <option value="@item.Id" @(Model.Processes.Any(s => s.Id == item.Id) ? "selected" : "")>@item.Name</option>
                                                }
                                            }
                                        </select>
                                        <label id="Process-error" class="error" for="Process" style="display: none;">This field is required.</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <a href="#add-members" data-toggle="tab" class="btn btn-success btnNext" aria-expanded="true">Next &nbsp; <i class="fa fa-angle-right"></i></a>
                    </div>
                    <!-- END Specifics -->
                    <!-- Members -->
                    <div class="tab-pane fade" id="add-members">

                        <div class="well custom" style="padding-bottom: 5px;">

                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="search_dt">Search workgroup</label>
                                        <input type="text" name="search_dt" id="txt-member-search" class="form-control" placeholder="...">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="search_dt">Show me</label>
                                        <select name="role" id="slTypeProcess" class="form-control select2" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                            <option value="0">All members</option>
                                            <option value="Approver">Approvers</option>
                                            <option value="Reviewer">Reviewers</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <label>Options</label><br>
                                    <button type="button" class="btn btn-info" onclick="showMembersChoose()"><i class="fa fa-user-edit"></i> &nbsp; Manage members</button>
                                </div>
                            </div>

                        </div>

                        <br><br>
                        <table class="datatable our-people table-hover table-striped" id="tblmembers" style="width: 100%;" data-order='[[ 1, "asc" ]]'>
                            <thead>
                                <tr>
                                    <th data-priority="3" data-orderable="false" style="width: 80px;"></th>
                                    <th data-priority="1">Name</th>
                                    <th data-priority="1">Approver</th>
                                    <th data-priority="1">Reviewer</th>
                                    <th data-priority="1">Options</th>
                                    <th data-priority="1">SearchApprover</th>
                                    <th data-priority="1">SearchReviewer</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var u in Model.Members)
                                {
                                    var app = Model.Approvers.Any(a => a.Id == u.Id) ? "checked" : "";
                                    var rev = Model.Reviewers.Any(a => a.Id == u.Id) ? "checked" : "";
                                <tr id="tr_user_@u.Id">
                                    <td>
                                        @(api+u.ProfilePic+"&size=T")
                                    </td>
                                    <td>
                                        @Qbicles.BusinessRules.HelperClass.GetFullNameOfUser(u)
                                    </td>
                                    <td>
                                        @u.Id
                                    </td>
                                    <td>
                                        @u.Id
                                    </td>
                                    <td>
                                        @u.Id
                                    </td>
                                    <td>@(app == "checked" ? "Approver" : "")</td>
                                    <td>@(rev == "checked" ? "Reviewer" : "")</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <br>
                        <a href="#add-specifics" data-toggle="tab" class="btn btn-warning btnPrevious" aria-expanded="false"><i class="fa fa-angle-left"></i> &nbsp; Previous</a>
                        <button type="submit" class="btn btn-success">Confirm</button>

                    </div>
                    <!-- END Members -->
                </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div>*@
