@using Qbicles.Models.Catalogs
@model Catalog
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative;">


    <!-- Main content -->
    <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin" style="border-top: 1px solid #f1f1f1;">


        <!-- App bar -->
        <div class="mdv2-col-app" style="margin-bottom: 0;">

            <div data-spy="affix" class="contained-sidebar">

                <div class="activity-overview plain company-overview welcome-info" style="text-align: left !important; flex: none; margin: 0 0 30px 0; padding-top: 30px; padding-bottom: 0;">

                    <div class="pull-left" style="margin-bottom: 15px;">
                        <a href="~/Commerce" class="btn btn-primary"><i class="fa fa-angle-left"></i> &nbsp; Back</a>
                    </div>
                    <div class="clearfix"></div>

                    <br /><br />

                    <h1 style="line-height: 1.2; margin-bottom: 8px;">@Model.Name</h1>
                    <h4>@Model.Location.Name</h4>
                    <input type="hidden" id="domainid" value="@Model.Location.Domain.Id" />
                    <input type="hidden" id="domain-key" value="@Model.Location.Domain.Key" />
                    <input type="hidden" id="hdfrelationshipId" value="@(((int)ViewBag.relationshipId).ToString())" />
                    <div class="clearfix"></div>
                    <br /><br />

                    <p style="color: rgba(0, 0, 0, 0.5);">
                        @Model.Description
                    </p>

                    <br /><br />
                    <div class="activity-overview generic help-text animated bounce">
                        <i class="fa fa-info-circle"></i>
                        <p><strong>Prices shown are guideline only.</strong> If you want more information about any specific items you can hit the Discuss button below and one of our team will be happy to assist.</p>
                    </div>

                    <a href="/Commerce" class="btn btn-info community-button"><i class="fa fa-comments"></i> &nbsp; Discuss</a>
                </div>

            </div>
        </div>
        <!-- END App bar -->
        <!-- Main area -->
        <div class="mdv2-col-dash">

            <div class="spacing">

                <div class="row">
                    <div class="col-xs-12">

                        <div class="tab-content">

                            <!-- Menu -->
                            <div class="tab-pane fade in active" id="tab0">

                                <div class="well custom" style="padding-bottom: 5px;">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="search">Search</label>
                                                <input type="text" class="form-control" name="search">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="search">Categories</label>
                                                <select name="groups" class="form-control checkmulti" multiple>
                                                    @foreach (var category in Model.Categories.Where(e => e.IsVisible).OrderBy(n => n.Name))
                                                    {
                                                        <option value="@category.Id" selected>@category.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div id="items-container" class="flex-grid-thirds-lg gridfix mydeskmarket mdogrid mydeskmarketitems" style="width: 100%; padding: 0;">

                                </div>
                                <div id="pagiation-items" style="float: right;"></div>
                            </div>
                            <!-- END Menu -->


                        </div>

                        <br /><br /><br />
                    </div>
                </div>


            </div>

        </div>


    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->
<div class="modal fade left" id="product-more-catalogue" role="dialog" aria-labelledby="product-more-catalogue">

</div><!-- /.modal -->

<div class="modal fade left" id="add-category" role="dialog" aria-labelledby="add-category">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Add a category</h5>
            </div>
            <div class="modal-body">

                <div class="well custom">
                    
                    <div class="form-group" style="margin: 0;">
                        <label for="name">Category name</label>
                        <input type="text" class="form-control" id="form_group_add">
                    </div>

                </div>

                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success" onclick="addgroup()">Confirm</button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@{
    <link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/Content/DesignStyle/css/slick.css" rel="stylesheet" />
    <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
    <script src="~/Content/DesignStyle/js/slick.min.js"></script>
    @*<link href="~/Content/DesignStyle/css/pagination.css" rel="stylesheet" />
        <script src="~/Content/DesignStyle/js/pagination.min.js"></script>*@
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/b2bcataloguedistributor.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/b2bcataloguedistributor.js"></script>
    }
}