@using Qbicles.Models.B2B
@using Qbicles.Models.Trader
@using Qbicles.Models
@using Qbicles.Models.Trader.SalesChannel
@model B2BProfile
@{
    ViewBag.Title = $"Qbicles | {Model.BusinessName} Profile";
    var api = (string)ViewBag.DocRetrievalUrl;
    var timezone = (string)ViewBag.CurrentTimeZone;
    var currentDomainId = (int)ViewBag.CurrentDomainId;
    var currentDomain = (QbicleDomain)ViewBag.CurrentDomain;
    var locationsProvider = (List<TraderLocation>)ViewBag.LocationsProvider;
    var locationsConsumer = (List<TraderLocation>)ViewBag.LocationsConsumer;
    var relationship = (B2BRelationship)ViewBag.Relationship;
    var providerconfig = (B2BSettings)ViewBag.ProviderConfig;
    var groups = (List<TraderGroup>)ViewBag.Groups;
    var parnershipGroups = (List<TraderGroup>)ViewBag.ParnershipGroups; 
    var profileProvider=(B2BProfile)ViewBag.ProfileProvider;
}
<div class="community-profile-upper" style="margin-top: 50px; height: 250px; background-image: url('@(api+Model.BannerUri)'); background-attachment: scroll; background-position: center center;"></div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail" style="background: #f5f5f5;">
    <!-- Main content -->
    <section class="content nopad">

        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-3">

                <a href="~/Commerce" class="btn btn-primary" style="position: absolute; top: 15px; left: 15px;"><i class="fa fa-angle-left"></i> &nbsp; Businesses</a>
                <div class="community-avatar" style="margin-top: -110px; background-image: url('@(api+Model.LogoUri)&size=T'); background-position: center center;"></div>

                <div class="mydesk in-community" style="min-height: 0;">
                    <h3 class="text-center">@Model.BusinessName</h3>
                    <input type="hidden" id="hdfrelationshipid" name="RelationshipId" value="@relationship.Id" />
                    <input id="hdfdomainParnershipId" type="hidden" value="@Model.Domain.Id" name="domainParnershipId" />
                    <br />
                    <div class="activity-overview plain nopad">

                        <div class="panel-group community-competencies services b2balt" id="accordion-competencies" role="tablist" aria-multiselectable="true" style="margin-bottom: 15px;">

                            <!-- Proficiency 0 -->
                            <div class="panel panel-default" style="margin-top: 0;">
                                <div class="panel-heading" role="tab" id="heading-0">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion-competencies" href="#collapse-0" aria-expanded="true" aria-controls="collapse-0" class="" onclick="$('.mdo-cats li').removeClass('active'); $('.mdo-cats li a.sublink').removeClass('active');$('.tab-pane').removeClass('in active'); $('#partner-home').addClass('in active');">
                                            Home
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-0" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-0" aria-expanded="true" style="">
                                </div>
                            </div>
                            <!-- END Proficiency 0 -->
                            <!-- Proficiency 1 -->
                            <div class="panel panel-default" style="margin-top: 0;">
                                <div class="panel-heading" role="tab" id="heading-7">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion-competencies" href="#collapse-7" aria-expanded="false" aria-controls="collapse-7" class="collapsed">
                                            Partnerships
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-7" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body" style="padding: 20px;">

                                        <ul class="mdo-cats" style="margin-bottom: 0;">
                                            @*<li class=""><a href="#partner-franchise" class="sublink" onclick="$('.sublink').removeClass('active'); $(this).addClass('active');" data-toggle="tab" aria-expanded="false">Franchise</a></li>
                                <li class=""><a href="#partner-sale" class="sublink" onclick="$('.sublink').removeClass('active'); $(this).addClass('active');" data-toggle="tab" aria-expanded="false">General Sale</a></li>*@
                                            <li class=""><a href="#partner-logistics" class="sublink" onclick="$('.mdo-cats li').removeClass('active'); $('.sublink').removeClass('active'); $(this).addClass('active');" data-toggle="tab" aria-expanded="true">Logistics</a></li>
                                            @*<li><a href="#partner-purchase" class="sublink" onclick="$('.sublink').removeClass('active'); $(this).addClass('active');" data-toggle="tab">Purchase</a></li>*@
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <!-- END Proficiency 1 -->
                            <div class="panel panel-default" style="margin-top: 0;">
                                <div class="panel-heading" role="tab" id="heading-8">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion-competencies" href="#collapse-8" aria-expanded="false" aria-controls="collapse-8" class="collapsed">
                                            Trading Items
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-8" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body" style="padding: 20px;">

                                        <ul class="mdo-cats" style="margin-bottom: 0;">
                                            @if ((bool)ViewBag.ShowMenuSellToOther)
                                            {
                                                <li class=""><a href="#trading-cat-setup" class="sublink" onclick="$('.mdo-cats li').removeClass('active'); $('.sublink').removeClass('active'); $(this).addClass('active'); reloadTblTradingItems();" data-toggle="tab" aria-expanded="true">Sell to @Model.BusinessName</a></li>
                                            }
                                            <li class="menu-catalogue-ispublish" @*style="@(relationship.IsProductCatalogDisplayed?"":"display:none;")"*@><a href="#trading-cat" class="sublink" onclick="$('.mdo-cats li').removeClass('active'); $('.sublink').removeClass('active'); $(this).addClass('active'); loadTradingItemsParnership();" data-toggle="tab">Buy from @Model.BusinessName</a></li>
                                            <li><a href="#trading-items" class="sublink" onclick="$('.mdo-cats li').removeClass('active'); $('.sublink').removeClass('active'); $(this).addClass('active'); reloadTblTradingItemsOfRelationship();" data-toggle="tab">Items we trade</a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <button class="btn btn-info community-button" onclick="window.location.href='';"><i class="fa fa-comment"></i> &nbsp; Talk to us</button>
                </div>


            </div>
            <div class="col-xs-12 col-md-8 col-lg-9">
                <div class="tab-content" style="padding-top: 30px;">
                    <div class="tab-pane fade in active" id="partner-home">
                        @Html.Partial("_HomeProfileContent", Model)
                    </div>
                    <div class="tab-pane fade community-v2-content" id="partner-logistics" style="padding-left: 0;">

                        <div class="hero" style="height: 300px; background-position: left center; background-image: url('@Url.Content("~/Content/DesignStyle/img/banner-logistics-partnership.jpg")');">
                        </div>

                        <article class="v2-full" style="padding-bottom: 0;">
                            <br>

                            <h1>Logistics</h1>
                            @if (relationship.Partnerships == null || !relationship.Partnerships.Any() @*|| relationship.Partnerships.Any(s => s.Status == PartnershipStatus.Rejected)*@)
                            {
                                <div class="log-promo">
                                    <h5>Establish a logistics partnership with us today!</h5>
                                    <br>

                                    <p>
                                        Do you need some additional drivers to manage your deliveries? We're an established logistics provider that can help. Click the button below to initiate a logistics
                                        partnership with us. We'll ask which of our divisions are of interest to you, and which of your locations require coverage. With that information we'll be able to provide
                                        some pricing options to you which, if agreed, will allow us to be up and running in no time at all.
                                    </p>
                                    <p>If you have any enquiries or would like to discuss your options, you can chat with one of our representatives in your <a href="#">@(relationship.CommunicationQbicle?.Name)</a>.</p>
                                </div>
                                <br>
                                if (providerconfig.IsLogistics)
                                {
                                    <a href="#b2b-form-partnership-logistics" class="btn btn-success community-button w-auto aboutreq" style="margin-bottom: 50px;" data-toggle="modal"><i class="fa fa-handshake"></i> &nbsp; Form a logistics partnership</a>
                                }
                                <div class="reqsent animated jelly" style="display: none; padding-bottom: 10px;">
                                    <div class="activity-overview generic help-text animated bounce">
                                        <i class="fa fa-info-circle"></i>
                                        <p style="margin: 0; padding: 0 0 5px 0;">
                                            <strong>Thanks for your submission</strong><br><br>We'll review your requirements and be in touch soon
                                            with our proposal. If you'd like to contact us in the meantime you can do so using our private B2B Qbicle.

                                            <br><br>
                                        </p>
                                    </div>
                                </div>
                            }
                            else if (relationship.Partnerships != null /*&& relationship.Partnerships.Any(s => s.Status == PartnershipStatus.Pending)*/)
                            {
                                <div class="reqsent animated jelly" style="display: block; padding-bottom: 10px;">
                                    <div class="activity-overview generic help-text animated bounce">
                                        <i class="fa fa-info-circle"></i>
                                        <p style="margin: 0; padding: 0 0 5px 0;">
                                            <strong>Thanks for your submission</strong><br><br>We'll review your requirements and be in touch soon
                                            with our proposal. If you'd like to contact us in the meantime you can do so using our private B2B Qbicle.

                                            <br><br>
                                        </p>
                                    </div>

                                </div>
                            }
                            else
                            {
                                <div class="logistics">

                                    <h5>Partnership details</h5>

                                    <div class="flex-grid-half gridfix qbicles-dash-grid marketing restyle" style="margin-bottom: 0;" data-tooltip-color="slate" data-tooltip-stickto="right">
                                        @foreach (var item in relationship.Partnerships@*.Where(s => s.Status == PartnershipStatus.Accepted)*@)
                                        {
                                            <article class="col">
                                                <div class="avatar" style="background-image: url('@Url.Content("~/Content/DesignStyle/img/icon_driver.png")');">&nbsp;</div>

                                                <a href="#" data-toggle="modal" data-target="#app-marketing-attribute-edit">
                                                    @*<h1 style="color: #333; margin-top: 15px;">@(item.ConsumerLocation?.Name)</h1>*@
                                                </a>
                                                @*<p class="qbicle-detail" style="text-align: center; margin-bottom: 10px;">Coverage for this location will be provided by:<br><strong>@(item.ProviderLocation?.Name)</strong> division</p>*@

                                                <br>
                                                <button class="btn btn-info community-button"><i class="fa fa-cog"></i> &nbsp; Options</button>

                                            </article>
                                        }
                                    </div>

                                </div>
                            }
                        </article>

                    </div>
                    <!-- Catalogue config -->
                    <div class="tab-pane fade community-v2-content" id="trading-cat-setup" style="padding-left: 0;">

                        <!-- Article main -->
                        <article class="v2-full" style="padding-bottom: 20px;">
                            <br />

                            <h1>Your catalogue</h1>


                            <h5>Manage the items you want to make available to @(Model.BusinessName).</h5>

                            <p>You can use your existing catalogue from App Config verbatim, or alternatively you can exclude some items as part of your partnership with @(Model.BusinessName). When you're ready, hit the button below to publish your catalogue and make it visible to @(Model.BusinessName).</p>


                            @*<button class="btn @(relationship.IsProductCatalogDisplayed ? "btn-danger" : "btn-success") community-button w-auto" style="margin-bottom: 50px;" onclick="publishCatalogue(this,@(relationship.Id),@(relationship.IsProductCatalogDisplayed?"false":"true"));">
                                @(relationship.IsProductCatalogDisplayed ? "Unpublish" : "Publish now")
                            </button>*@

                            <div class="well custom" style="padding-bottom: 5px;">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-lg-3">
                                        <div class="form-group">
                                            <label>Search</label>
                                            <input name="tradingitem-filter-search" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-lg-3">
                                        <div class="form-group">
                                            <label>Product Groups</label>
                                            <select name="tradingitem-filter-groups" class="form-control checkmulti" multiple>
                                                @foreach (var item in groups)
                                                {
                                                    <option value="@item.Id" selected>@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-lg-3">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <select name="tradingitem-filter-status" class="form-control select2" style="width: 100%;">
                                                <option value="0">Show all</option>
                                                <option value="1">Hidden</option>
                                                <option value="2">Shown</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-lg-3">
                                        <div class="form-group">
                                            <label for="">&nbsp;</label><br />
                                            <div class="btn-group options">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Catalogue options &nbsp; <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu primary">
                                                    <li><a href="#" data-order="asc" class="disabled">Order by price</a></li>
                                                    <li><a href="#" data-order="asc" onclick="orderbyTblTradingItems(0,this)">Order by name</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <table class="table-hover datatable table-striped" id="tblB2bTradingItems" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th data-priority="1">Item</th>
                                        <th data-priority="1">Trading name</th>
                                        <th data-priority="3">SKU</th>
                                        <th data-priority="1">Product group</th>
                                        <th data-priority="1">Unit</th>
                                        <th data-priority="2" data-orderable="false">Location(s)</th>
                                        <th data-priority="2">Status</th>
                                        <th data-priority="1" data-orderable="false">Options</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </article>

                    </div>
                    <!-- END Cat config -->
                    <div class="tab-pane fade community-v2-content" id="trading-cat" style="padding-left: 0;">
                        <!-- Article main -->
                        <article class="v2-full" style="padding-bottom: 20px;">
                            <br>

                            <h1>@(Model.BusinessName)'s catalogue</h1>
                            <h5>Buy direct from @(Model.BusinessName) as part of your partnership benefits.</h5>
                            <br>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a magna interdum, gravida justo vitae, laoreet lorem. Aenean quis urna ut neque volutpat aliquam. Vivamus luctus magna vel elit fringilla blandit. Aenean eget nisl sapien. Phasellus interdum dui sit amet massa tempus fermentum. Sed nec lobortis dolor, ut lacinia mauris. Pellentesque hendrerit vehicula rhoncus. Phasellus sed vestibulum augue. Donec luctus maximus lectus, ac malesuada ex porta quis.</p>


                            <div class="well custom" style="padding-bottom: 5px;">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label for="search">Search catalogue</label>
                                            <input name="tradingitemparnership-filter-search" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label for="search">Product Groups</label>
                                            <span class="multiselect-native-select">
                                                <select name="tradingitemparnership-filter-groups" class="form-control checkmulti" multiple="">
                                                    @foreach (var item in parnershipGroups)
                                                    {
                                                        <option value="@item.Id" selected>@item.Name</option>
                                                    }
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label for="">&nbsp;</label><br>
                                            <div class="btn-group options">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Catalogue options &nbsp; <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu primary">
                                                    <li><a href="#" class="disabled">Order by price</a></li>
                                                    <li><a href="#" data-order="asc" onclick="orderbyTblTradingItemsParnership('TradingName', this)">Order by name</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div id="content-tradingitems-parnership" class="flex-grid-quarters-lg gridfix mydeskmarket mdogrid mydeskmarketitems" style="min-height:260px;">
                            </div>

                        </article>
                    </div>
                    <!-- Trading items -->
                    <div class="tab-pane fade" id="trading-items">

                        <div class="row profile-view commstab" id="items" data-tooltip-delay="0" data-tooltip-maxwidth="200" data-tooltip-color="slate">
                            <div class="col-xs-12">

                                <div class="activity-overview plain" style="padding: 30px;">

                                    <h4 style="padding: 5px 0 0 0;">Items and services we trade</h4>

                                    <br />
                                    <div class="well custom" style="padding-bottom: 5px;">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <div class="form-group">
                                                    <label for="search">Search</label>
                                                    <input name="tradingitemrelationship-filter-search" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-lg-3">
                                                <div class="form-group">
                                                    <label for="search">@Model.BusinessName link</label>
                                                    <select name="tradingitemrelationship-filter-islinked" class="form-control select2" style="width: 100%;">
                                                        <option value="0" selected>Show all</option>
                                                        <option value="1">Ready</option>
                                                        <option value="2">Not ready</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <table class="datatable table-striped table-hover" id="tblTradingItemsOfRelationship" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Trading item name</th>
                                                <th>Unit</th>
                                                <th>SKU</th>
                                                <th>@Model.BusinessName link</th>
                                                <th data-orderable="false">Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- END Trading items -->

                </div>

            </div>

        </div>

        <br /><br />

    </section>
    <!-- ./content -->
</div>
<!-- /.content-wrapper -->
@if (providerconfig.IsLogistics && (relationship.Partnerships == null || !relationship.Partnerships.Any() @*|| relationship.Partnerships.Any(s => s.Status == PartnershipStatus.Rejected)*@))
{
    <div class="modal fade left" id="b2b-form-partnership-logistics" role="dialog" aria-labelledby="b2b-form-partnership-logistics" style="display: none; padding-right: 17px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h5 class="modal-title">Form a Logistics Partnership with @Model.BusinessName</h5>
                </div>
                <div class="modal-body">
                    <form id="frmpartnershiplogistics" method="post" action="~/Commerce/SaveLogisticsPartnership">
                        <div class="activity-overview generic help-text animated bounce">
                            <i class="fa fa-info-circle"></i>
                            <p>
                                To assess your requirements, we first need you to specify one or more of our Countries of Operation that interest you and then the areas you require coverage in. We'll
                                review your requirements and send you a pricing proposal for each of your areas, and indicate which of our divisions will be providing the services.
                            </p>
                        </div>
                        <input type="hidden" name="RelationshipId" value="@relationship.Id" />
                        <input type="hidden" name="ReceivedDomain.Id" value="@Model.Domain.Id" />
                        <div class="well custom" style="padding-bottom: 5px;">
                            <div class="form-group">
                                <label for="ProviderLocations">Which of our Countries of Operation interest you?</label>
                                <span class="multiselect-native-select">
                                    <select name="ProviderLocations" onchange="$(this).valid()" class="form-control checkmulti" multiple="">
                                        @foreach (var item in locationsProvider)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                    <label id="ProviderLocations-error" class="error" for="ProviderLocations" style="display:none">This field is required.</label>
                                </span>

                            </div>
                            <div class="form-group mylocations" style="">
                                <label for="ConsumerLocations">Which of your locations require coverage?</label>
                                <span class="multiselect-native-select">
                                    <select name="ConsumerLocations" onchange="$(this).valid();" class="form-control checkmulti" multiple="">
                                        @foreach (var item in locationsConsumer)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                    <label id="ConsumerLocations-error" class="error" for="ConsumerLocations" style="display:none">This field is required.</label>
                                </span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}
    <div class="modal fade left" id="b2b-product-more" role="dialog" aria-labelledby="b2b-product-more"></div>
@{
    <link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.js"></script>
        <script src="~/Scripts/dev/commerce.b2bprofilefriend.js"></script>
    }
    else
    {
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
        <script src="~/Scripts/dev/commerce.b2bprofilefriend.min.js"></script>
    }
}

