@using Qbicles.Models.SalesMkt;
@model List<SMContact>
@{ 
    var api = (string)ViewBag.DocRetrievalUrl;
    var _currentContacts= (List<int>)ViewBag.cContacts;
}
<select name="Contacts" id="hdfSelectContacts" multiple style="display:none">
    @foreach (var item in Model)
    {
    <option value="@item.Id" @(_currentContacts==null||(_currentContacts!=null&&_currentContacts.Any(s=>s==item.Id))?"selected":"")>@item.Name</option>
    }
</select>
<table id="lst-contacts" class="datatable table-striped table-hover" style="width: 100%; background: #fff;">
    <thead>
        <tr>
            <th style="width: 40px;"></th>
            <th>Name</th>
            <th>Included?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><div class="table-avatar mini" style="background-image: url('@(api+item.AvatarUri + "&size=T")');"></div></td>
                <td>@item.Name</td>
                <td>
                    <div class="checkbox toggle">
                        <label>
                            <input value="@item.Id" name="chkContacts" onchange="bindValCheckbox(this)" data-toggle="toggle" data-onstyle="success" data-on="Yes" data-off="No" type="checkbox" @(_currentContacts==null||(_currentContacts!=null&&_currentContacts.Any(s=>s==item.Id))?"checked":"") >
                        </label>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
