@using Qbicles.Models.SalesMkt;
@model List<Segment>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var extraCol = (Model.Count() % 4 == 0 ? 0 : 4) - Model.Count() % 4;
}
@foreach (var item in Model)
{
    <div class="col article-feature  @(item.IsHidden?"segment-hidden":"")">
        <a href="/SalesMarketingSegment/Detail?id=@item.Id">
            <div class="article-feature-img" style="background: url('@(api+item.FeaturedImageUri + "&size=M")');">
                <span class="label label-lg event">@item.Type.ToString()</span>
            </div>
        </a>
        <div class="info">
            <div class="btn-group optsnew defaulted dropdown">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#" data-toggle="modal" data-target="#app-marketing-segment-add" onclick="LoadModalSegment(@item.Id)">Edit</a></li>
                    <li><a href="#" onclick="ShowOrHideSegment(@item.Id)">@(item.IsHidden ? "Show" : "Hide")</a></li>
                </ul>
            </div>
            <a href="/SalesMarketingSegment/Detail?id=@item.Id">
                <smaller>@(item.Contacts.Any() ? item.Contacts.Count().ToString("N0") : "0") contacts</smaller>
                <smaller></smaller>
                <h1>@(item.Name)</h1>
                <p>@(item.Summary)</p>
            </a>
        </div>

    </div>
}
@for (int i = 1; i <= extraCol; i++)
{
    <div class="col">&nbsp;</div>
}


