@using Qbicles.BusinessRules
@using Qbicles.BusinessRules.Model
@using Qbicles.Models.B2B
@model List<ChargeFramework>
@{
    var verhicleTypeIcons = B2bVerhicleTypeIcon.vehicleTypes;
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
    var count = Model.Count;
    var extraCol = (Model.Count() % 3 == 0 ? 0 : 3) - count % 3;
    var pricelist = (PriceList)ViewBag.PriceList;
}

<div class="well custom">
    <button type="button" class="btn btn-info" onclick="$('#framework-1').hide(); $('.pricelists').fadeIn();"><i class="fa fa-angle-left"></i> &nbsp; Back to list</button>
    <button type="button" class="btn btn-success" onclick="loadModalDeliveryChargeFramework(0,@(pricelist.Id))"><i class="fa fa-plus"></i> &nbsp; Add a type</button>
    <input type="hidden" id="hdfPriceListId" name="hdfPriceListId" value="@(pricelist.Id)" />
</div>
<br>
<h6 class="subhead">Logistics Charge Framework</h6>
<h1 style="font-size: 22px; margin: 0; padding: 4px 0 25px 0;">@pricelist.Name</h1>
<div class="clearfix"></div>
<div class="flex-grid-thirds-lg qbicles-dash-grid criteria-tables">
    @if (count > 0)
    {
        foreach (var item in Model)
        {
            <article class="col">
                <div class="qbicle-opts">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right primary">
                            <li><a href="#" onclick="loadModalDeliveryChargeFramework(@item.Id,@pricelist.Id)">Edit</a></li>
                            <li><a href="#" onclick="deleteChargeFramework(@item.Id)">Delete</a></li>
                        </ul>
                    </div>

                </div>
                <a href="#" style="cursor: initial !important;">
                    <div class="avatar" style="border-radius: 0; background-image: url('@(Url.Content(verhicleTypeIcons.FirstOrDefault(s=>s.Key==item.VehicleType).Value))');">&nbsp;</div>
                    <h1 style="color: #333;">@item.Name</h1>
                </a>
                <br>

                <div class="text-left">
                    <table class="table app_specific table-borderless">
                        <thead>
                            <tr>
                                <th colspan="2">Distance travelled</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 70%;">Flat fee</td>
                                <td>@item.DistanceTravelledFlatFee.ToCurrencySymbol(currencySettings)</td>
                            </tr>
                            <tr>
                                <td style="width: 70%;">Per km</td>
                                <td>@item.DistanceTravelPerKm.ToCurrencySymbol(currencySettings)</td>
                            </tr>
                        </tbody>
                    </table>


                    <table class="table app_specific table-borderless">
                        <thead>
                            <tr>
                                <th colspan="2">Time taken</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 70%;">Flat fee</td>
                                <td>@item.TimeTakenFlatFee.ToCurrencySymbol(currencySettings)</td>
                            </tr>
                            <tr>
                                <td style="width: 70%;">Per second</td>
                                <td>@item.TimeTakenPerSecond.ToCurrencySymbol(currencySettings)</td>
                            </tr>
                        </tbody>
                    </table>


                    <table class="table app_specific table-borderless" style="margin-bottom: 0;">
                        <thead>
                            <tr>
                                <th colspan="2">Value of delivery</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 70%;">Flat fee</td>
                                <td>@item.ValueOfDeliveryFlatFee.ToCurrencySymbol(currencySettings)</td>
                            </tr>
                            <tr>
                                <td style="width: 70%;">Percentage</td>
                                <td>@(item.ValueOfDeliveryPercentTotal)%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </article>
        }
    }
    @for (int i = 1; i <= extraCol; i++)
    {
        <article class="col" style="background: transparent; box-shadow: none;"></article>
    }
</div>
