@using Qbicles.BusinessRules
@model Qbicles.BusinessRules.PosRoleUsersViewModel
@using Qbicles.Models.Trader
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var locations = (List<TraderLocation>)ViewBag.Locations;
    var locationDefaultId = (int)ViewBag.LocationDefaultId;
}
<a href="#" id="lnkBackSearch" class="btn btn-info" onclick="$('.contact-add').hide(); $('.contact-invite').fadeIn(); $('.contact-list-found').fadeIn();"><i class="fa fa-angle-left"></i> &nbsp; Back to search</a>
<div class="activity-overview plain company-overview welcome-info" style="flex: none; margin: 0; padding-top: 15px;">
    <a href="app_community_vendor_profile.php">
        <div class="contact-avatar-profile" style="background-image:url('@(api+Model.User?.ProfilePic)&size=T')">&nbsp;</div>
        <input id="hdfPosUid" type="hidden" value="@Model.Id" name="Id" />
        <input id="hdfUserid" type="hidden" value="@Model.User.Id" />
        <h2>@(HelperClass.GetFullNameOfUser(Model.User))</h2>
        <p>@(Model.User?.Profile)</p>
    </a>

    <br>
    <div class="well custom text-left" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="role">Email address</label>
                    <input type="email" name="email" class="form-control" value="@(Model.User?.Email)" disabled="">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="role">Tel</label>
                    <input type="text" name="tel" class="form-control" value="@(Model.User?.PhoneNumber)" disabled="">
                </div>
            </div>
            @*This is the code use for Business profile*@
            @if (locations != null)
            {
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="LocationId">Location</label>
                        <select id="slLocationIdForDriver" name="LocationId" required class="form-control select2" style="width: 100%;">
                            <option value=""></option>
                            @foreach (var item in locations)
                            {
                                if (locationDefaultId == item.Id)
                                {
                                    <option selected value="@item.Id">@item.Name</option>

                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>

                                }
                            }
                        </select>
                    </div>
                </div>
            }

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="role">MyBankMate account name</label>
                    <input type="text" name="mbm" class="form-control" value="@(HelperClass.GetFullNameOfUser(Model.User))-MyBankMate" disabled="">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <input id="hdfAccountId" name="accountId" type="hidden" value="0">
                    <label for="customer-account">Bookkeeping account</label><br>
                    <button type="button" onclick="LoadAccountTree()" class="btn btn-info addbtnaccount" data-toggle="modal" data-target="#app-bookkeeping-treeview">Choose account</button>
                    <p class="accountInfo" style="display: inline; padding-left: 5px; font-size: 12px;">No account selected</p>
                    <button type="button" class="btn btn-small btn-warning editbtnaccount" style="display:none" data-toggle="modal" onclick="LoadAccountTree()" data-target="#app-bookkeeping-treeview">
                        <i class="fa fa-pencil"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <button type="button" onclick="saveMember()" class="btn btn-success community-button"><i class="fa fa-check"></i> &nbsp; Add as a Driver</button>

</div>

<script>
    $('#slLocationIdForDriver').select2({ placeholder: 'Please select' });
</script>