@using Qbicles.Models.Trader
@model List<TraderLocation>
@{
    var driver = (Qbicles.Models.Trader.DDS.Driver)ViewBag.Driver;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h5 class="modal-title">Transfer driver to another location</h5>
        </div>
        <div class="modal-body">
            <form id="frmLocationchange" method="post" action="~/TraderChannels/UpdateLocationDriver">
                <div class="choose-location">

                    <div class="activity-overview generic help-text animated bounce">
                        <i class="fa fa-info-circle"></i>
                        <p>Choose the location you wish to move this driver to. Once confirmed, the driver will no longer appear at your current location and instead be available in the destination location.</p>
                    </div>


                    <div class="well custom" style="padding-bottom: 5px;">
                        <div class="form-group">
                            <label for="destination">Where do you want to move this driver?</label>
                            <input type="hidden" value="@driver.Id" name="Id" />
                            <select name="EmploymentLocation.Id" class="form-control select2" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                @foreach (var item in Model)
                                {
                                <option value="@item.Id" @(item.Id == driver.EmploymentLocation.Id ? "disabled" : "")>@item.Name @(item.Id == driver.EmploymentLocation.Id ? "(current)" : "")</option>
                                }
                            </select>
                        </div>
                    </div>

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Confirm</button>
                </div>
            </form>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
