@model List<Qbicles.BusinessRules.PosUserModel>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
}
<ul class="widget-contacts">
    @{
        var members = Model.OrderBy(o => o.ForenameGroup).ToList();
        var groupName = "";
        foreach (var item in members)
        {
            var onclick = "loadContentMemberDetail()";
            if (item.Id != 0)
            {
                onclick = $"loadContentMemberDetail({item.Id})";
            }
            else
            {
                onclick = $"loadContentMemberDetail('{item.UserId}')";
            }
            if (item.ForenameGroup != "" && groupName != item.ForenameGroup.Substring(0, 1))
            {
                groupName = item.ForenameGroup;
                <li class="letters">@item.ForenameGroup.Substring(0, 1).ToUpper()</li>
            }
            <li>
                <a href="#" onclick="@onclick">
                    <div class="contact-avatar">
                        <div style="background-image: url('@(api+item.Avatar)&size=T');">&nbsp;</div>
                    </div>
                    <div class="contact-info">
                        <h5>@item.Name</h5>
                        <p>@item.JobTitle</p>
                    </div>
                </a>
            </li>
        }
    }
</ul>
