@using Qbicles.BusinessRules
@using Qbicles.BusinessRules.Model
@using Qbicles.Models.B2B
@model ChargeFramework
@{
    var verhicleTypeIcons = B2bVerhicleTypeIcon.vehicleTypes;
    var verhicleTypes = HelperClass.EnumModel.GetEnumValuesAndDescriptions<VehicleType>();
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h5 class="modal-title">@(Model.Id==0? "Add a charge framework":"Edit charge framework")</h5>
        </div>
        <div class="modal-body">
            <form id="frmChargeFramework" action="~/TraderChannels/SaveChargeFramework" method="post">
                <div class="well custom">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="Name" type="text" class="form-control" value="@Model.Name">
                        <input type="hidden" name="Id" value="@Model.Id"/>
                        <input type="hidden" name="PriceList.Id" value="@Model.PriceList.Id"/>
                    </div>

                    <div class="avatarpickermini">
                        <div class="form-group" style="margin: 0;">
                            <label for="VehicleType">Choose a vehicle type</label>
                            <select name="VehicleType" class="form-control select2avatar-delivery" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                @foreach (var item in verhicleTypes)
                                {
                                    var iconurl = verhicleTypeIcons.FirstOrDefault(s => (int)s.Key == item.Key);
                                    <option data-iconurl="@(Url.Content(iconurl.Value))" value="@item.Key" @(Model.VehicleType.ToString()==item.Value?"selected":"")>@(item.Value)</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>


                <br>
                <h5>Distance travelled</h5>
                <div class="well custom">

                    <div class="row">
                        <div class="col-xs-6">
                            <label>Flat fee</label>
                            <div class="input-group">
                                <span class="input-group-addon">@currencySettings.CurrencySymbol</span>
                                <input name="DistanceTravelledFlatFee" type="number" class="form-control" value="@Model.DistanceTravelledFlatFee.ToInputNumberFormat(currencySettings)">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label>Per km</label>
                            <div class="input-group">
                                <span class="input-group-addon">@currencySettings.CurrencySymbol</span>
                                <input name="DistanceTravelPerKm" type="number" class="form-control" value="@Model.DistanceTravelPerKm.ToInputNumberFormat(currencySettings)">
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <h5>Time taken</h5>
                <div class="well custom">

                    <div class="row">
                        <div class="col-xs-6">
                            <label>Flat fee</label>
                            <div class="input-group">
                                <span class="input-group-addon">@currencySettings.CurrencySymbol</span>
                                <input name="TimeTakenFlatFee" type="number" class="form-control" value="@Model.TimeTakenFlatFee.ToInputNumberFormat(currencySettings)">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label>Per second</label>
                            <div class="input-group">
                                <span class="input-group-addon">@currencySettings.CurrencySymbol</span>
                                <input name="TimeTakenPerSecond" type="number" class="form-control" value="@Model.TimeTakenPerSecond.ToInputNumberFormat(currencySettings)">
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <h5>Value of delivery</h5>
                <div class="well custom">

                    <div class="row">
                        <div class="col-xs-6">
                            <label>Flat fee</label>
                            <div class="input-group">
                                <span class="input-group-addon">@currencySettings.CurrencySymbol</span>
                                <input name="ValueOfDeliveryFlatFee" type="number" class="form-control" value="@Model.ValueOfDeliveryFlatFee.ToInputNumberFormat(currencySettings)">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label>% of total</label>
                            <div class="input-group">
                                <input name="ValueOfDeliveryPercentTotal" type="number" min="0" max="100" class="form-control" value="@Model.ValueOfDeliveryPercentTotal">
                                <span class="input-group-addon">%</span>
                            </div>
                            <label id="ValueOfDeliveryPercentTotal-error" class="error" for="ValueOfDeliveryPercentTotal" style="display: none;"></label>
                        </div>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Confirm</button>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
