@using Qbicles.BusinessRules
@model  Qbicles.Models.Trader.TraderItem
@{
   
    var baseUnits = (List<UnitModel>)ViewBag.BaseUnits;
    var unit = (string)ViewBag.UnitName;
}
<select name="unit" onchange="SelectedChangeBu(@Model.Id)" class="form-control select2 transfer_td_tran_unit" style="width: 100%;">
    @foreach (var bu in baseUnits)
    {
        if (bu.Name == unit)
        {
            <option value="@bu.Group|@bu.Id|@bu.QuantityOfBaseunit" selected>@bu.Name</option>
        }
        else
        {
            <option value="@bu.Group|@bu.Id|@bu.QuantityOfBaseunit">@bu.Name</option>
        }
    }
</select>
<script>
    $("select").not(".multi-select").select2();
</script>
