@using Qbicles.Models.SalesMkt;
@model CustomCriteriaDefinition
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">@(Model != null && Model.Id > 0 ? "Edit Custom Contact Criteria" : "Add Custom Contact Criteria")</h5>
        </div>
        <div class="modal-body">
            <form id="frmContactCriteria" method="post" action="/SalesMarketingContact/SaveContactCriteria">
                @if (Model == null || Model.Id == 0)
                {
                    <div class="activity-overview generic help-text animated bounce">
                        <i class="fa fa-info-circle"></i>
                        <p>
                            Your newly created custom criteria will be used whenever you enhance a Contact. The extra fields you create will be added
                            to the form and can be optionally enabled/disabled as you require.
                        </p>
                    </div>
                }
                <div class="well custom">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="label">Field label <span class="red">*</span></label>
                                <input type="text" name="Label" value="@(Model!=null?Model.Label:"")" required class="form-control">
                                <input type="hidden" id="hdfCriteriaId" name="Id" value="@(Model!=null?Model.Id:0)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="label">Is this a mandatory field? <span class="red">*</span></label>
                                <div class="checkbox toggle">
                                    <label>
                                        <input id="chkmandatoryfield" @(Model != null && Model.IsMandatory ? "checked" : "") name="IsMandatory" value="true" data-toggle="toggle" data-onstyle="success" type="checkbox" data-on="Yes" data-off="No">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 box-custome-option">
                            @if (Model != null)
                            {
                                for (int i = 0; i < Model.CustomOptions.Count; i++)
                                {
                                    var _copv = Model.CustomOptions[i];
                                    if (i < 2)
                                    {
                                        <div class="form-group">
                                            <input type="hidden" name="Options[@i].Id" value="@_copv.Id" />
                                            <input type="text" name="Options[@i].Label" value="@_copv.Label" required class="form-control" placeholder="Option 1">
                                            <input type="hidden" name="Options[@i].DisplayOrder" value="@_copv.DisplayOrder" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="input-group option@(i)" style="margin-bottom: 15px;">
                                            <input type="hidden" class="ipId" name="Options[@i].Id" value="@_copv.Id" />
                                            <input type="hidden" class="ipDisplayOrder" name="Options[@i].DisplayOrder" value="@_copv.DisplayOrder" />
                                            <input type="text" class="ipLabel form-control" required name="Options[@i].Label" value="@_copv.Label" placeholder="Option @(_copv.DisplayOrder)">
                                            <span class="input-group-btn">
                                                <button class="btn btn-danger" type="button" onclick="$(this).parent().parent().remove();"><i class="fa fa-trash"></i></button>
                                            </span>
                                        </div>
                                    }

                                }
                            }
                            else
                            {
                                <div class="form-group">
                                    <input type="hidden" name="Options[0].Id" value="0" />
                                    <input type="text" name="Options[0].Label" required class="form-control" placeholder="Option 1">
                                    <input type="hidden" name="Options[0].DisplayOrder" value="1" />
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="Options[1].Id" value="0" />
                                    <input type="text" name="Options[1].Label" required class="form-control" placeholder="Option 2">
                                    <input type="hidden" name="Options[1].DisplayOrder" value="2" />
                                </div>
                            }
                            <button id="btnaddoption" class="btn btn-success" type="button" onclick="SocialCustomOptionAdd();"><i class="fa fa-plus"></i> &nbsp; Add an option</button>
                        </div>
                    </div>
                </div>
                <br />
                <button data-dismiss="modal" type="button" class="btn btn-danger">Cancel</button>
                <button class="btn btn-success" type="submit">Finish</button>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div>