@using Qbicles.Models.SalesMkt;
@model List<CustomCriteriaDefinition>
@{
    var _countCri = 1;
    var _count = Model.Count;
}
<table id="tblCriteriaDef" class="datatable table-striped table-hover" style="width: 100%;" data-ordering="false">
    <thead>
        <tr>
            <th style="width: 120px;" data-priority="1">Display order</th>
            <th data-priority="1">Label</th>
            <th data-priority="2">Choices</th>
            <th data-priority="2">Status</th>
            <th data-priority="1" data-orderable="false">Options</th>
            <th style="display:none">Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.DisplayOrder</td>
            <td>@item.Label</td>
            <td>
                <ul style="margin-left: 10px;">
                    @if (item.CustomOptions.Any())
                    {
                        foreach (var ov in item.CustomOptions)
                        {
                            <li>@ov.Label</li>
                        }
                    }
                </ul>
            </td>
            <td>
                @if (item.Status == CustomCriteriaStatus.Active)
                {
                    <span class="label label-lg label-success">Active</span>
                }
                else
                {
                    <span class="label label-lg label-danger">Disabled</span>
                }
            </td>
            <td>
                <div class="btn-group options">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" style="right: 0;">
                        @if (_countCri > 1)
                        {
                            <li><a href="#" class="dtMoveUp">Move up</a></li>
                        }
                        @if (_count != _countCri)
                        {
                            <li><a href="#" class="dtMoveDown">Move down</a></li>
                        }
                        @if (item.Status == CustomCriteriaStatus.Active)
                        {
                            <li><a href="#" onclick="SocialContactCriteriaStatus(@item.Id,false);">Disable</a></li>
                        }
                        else
                        {
                            <li><a href="#" onclick="SocialContactCriteriaStatus(@item.Id,true);">Active</a></li>
                        }
                        <li><a href="#" onclick="SocialContactCriteriaEdit(@item.Id);">Edit</a></li>
                        <li><a href="#" onclick="SocialContactCriteriaRemove(@item.Id);">Remove</a></li>
                    </ul>
                </div>
            </td>
            <td style="display:none">@item.Id</td>
        </tr> 
            ++_countCri;
        }
    </tbody>
</table>
