@using Qbicles.Models.Community;
@using Qbicles.BusinessRules;
@{
    var callBack = (bool)ViewBag.CallBack;
    var pages = (List<CommunityPage>)ViewBag.Pages;
    var userId = (string)ViewBag.UserId;
}
<table class="datatable app_specific table-hover table-striped table_pages" id="community-list" style="width: 100%;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Tags</th>
            <th>Followers</th>
            <th style="width: 80px;">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in pages)
        {
            <tr class="show_page_@item.Id">
                <td><a href="/Community/CommunityPage?id=@item.Id">@item.Title</a></td>
                <td>@item.LastUpdated.DatetimeToOrdinal() by <a href="/Community/DomainProfile">@item.Domain.Name</a></td>
                <td class="community-tags">
                    @foreach (var itemTag in item.Tags)
                    {
                        <a href="javascript:void(0);" class="topic-label"><span class="label label-info">@itemTag.Name</span></a>
                    } 
                </td>
                <td> <span id="folowed-@item.Id">@item.Followers.Count</span></td>
                <td>
                    @if (item.Followers.Where(q => q.Id == userId).Any())
                    {
                        <button class="unfollower btn btn-danger" onclick="unFollower(@item.Id,@((int)item.PageType),'showpage')"><i class="iconfollower fa fa-remove"></i> &nbsp; Unfollow</button>
                        <button class="follower hidden btn btn-success" onclick="follower(@item.Id,@((int)item.PageType),'showpage')"><i class="iconfollower fa fa-feed"></i> &nbsp; Follow</button>
                    }
                    else
                    {
                        <button class="unfollower hidden btn btn-danger" onclick="unFollower(@item.Id,@((int)item.PageType),'showpage')"><i class="iconfollower fa fa-remove"></i> &nbsp; Unfollow</button>
                        <button class="follower btn btn-success" onclick="follower(@item.Id,@((int)item.PageType),'showpage')"><i class="iconfollower fa fa-feed"></i> &nbsp; Follow</button>
                    } 
                </td>
            </tr>
        }
       
    </tbody>
</table>


@if (callBack)
{
    <script>
        $('table.table_pages').DataTable({
            responsive: true,
            "lengthChange": true,
            "pageLength": 10,
            "order": []
        });
        $('table.table_pages').show();
    </script>
}