@using Qbicles.Models.Community;
@{
    var callBack = (bool)ViewBag.CallBack;
    var users = (List<UserProfilePage>)ViewBag.UserProfiles;
}

<table class="datatable app_specific table-hover table-striped table_people" id="community-list" style="width: 100%;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tags</th>
            <th>Domain(s)</th>
            <th style="width: 110px;">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in users)
        {
            <tr>
                <td><a href="/Community/UserProfilePage?id=@item.Id">@item.AssociatedUser.Forename @item.AssociatedUser.Surname</a></td>
                <td class="community-tags">
                    @foreach (var itemTag in item.Tags)
                    {
                        <a href="javascript:void(0);" class="topic-label" data-tag="@itemTag.Name"><span class="label label-info">@itemTag.Name</span></a>
                    } 
                </td>
                <td>
                    @foreach (var domain in item.AssociatedUser.Domains)
                    {
                        <a href="javascript:void(0);">@domain.Name</a>
                    } 
                </td>
                <td>
                    <button class="btn btn-success"><i class="fa fa-plus"></i> &nbsp; Add to talent pool</button>
                </td>
            </tr>
        } 
    </tbody>
</table>

@if (callBack)
{
    <script>
        $('table.table_people').DataTable({
            responsive: true,
            "lengthChange": true,
            "pageLength": 10,
            "order": []
        });
        $('table.table_people').show();
    </script>
}