@using Qbicles.Models.Community;

@{
    ViewBag.Title = "Qbicles Community";
    var name = ViewBag.Name;
    var tags = (List<Tag>)ViewBag.Tags;
    var stringBusId = (string)ViewBag.StringBusId;
    var stringPeoId = (string)ViewBag.StringPeoId;
    var stringPageId = (string)ViewBag.StringPageId;
}

<div class="content-wrapper qbicle-detail community-top">

    <!-- Main content -->
    <section class="content">

        <div class="community-top-main">
            <h1>Qbicles Community</h1>
            <p>Get help, forge trading partnerships, apply for jobs and more with our comprehensive Qbicles Community component.</p>
        </div>

    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail">
    <input type="hidden" id="stringBusId" value="@stringBusId" />
    <input type="hidden" id="stringPeoId" value="@stringPeoId" />
    <input type="hidden" id="stringPageId" value="@stringPageId" />

    <!-- Main content -->
    <section class="content community-dash-main">

        <div class="categories">
            @Html.Partial("_NavigationCommunityPartial", new ViewDataDictionary { { "ShowData", true }, { "Busin", stringBusId }, { "Peo", stringPeoId }, { "Page", stringPageId } });
        </div>


        <div class="row" style="margin-top: 30px;">
            @Html.Partial("_NavigationPartial");
        </div>


        <div class="community-dash-body">
            <div class="row">
                <div class="col-xs-12">
                    @if (name == "businesses")
                    {

                        <div id="category_holder">
                            <h1>Showing all <strong>Businesses</strong></h1>

                            <div class="activity-overview generic" style="padding: 30px 30px 15px 30px;">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="search_dt">Search within results</label>
                                            <input type="text" onkeyup="searchInValue('businesses')" name="search_dt" id="search_dt" class="form-control" placeholder="Search for something">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="tags">Filter results using tags</label>
                                            <select name="tags" class="form-control select2" onchange="searchInValue('businesses')" style="width: 100%;" data-placeholder="Choose tags" id="tagselect" multiple>
                                                @foreach (var item in tags)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <br /><br />
                            <div id="businesse_table">
                                @{Html.RenderAction("BusinessesTable", "Community", new { lstId = stringBusId });}
                            </div>
                        </div>

                    }
                    else if (name == "people")
                    {
                        <div id="category_holder">
                            <h1>Showing all <strong>People</strong></h1>

                            <div class="activity-overview generic" style="padding: 30px 30px 15px 30px;">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="search_dt">Search within results</label>
                                            <input type="text" onkeyup="searchInValue('people')" name="search_dt" id="search_dt" class="form-control" placeholder="Search for something">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="tags">Filter results using tags</label>
                                            <select name="tags" class="form-control select2" onchange="searchInValue('people')" style="width: 100%;" data-placeholder="Choose tags" id="tagselect" multiple>
                                                @foreach (var item in tags)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <br /><br />
                            <div id="people_table">
                                @{Html.RenderAction("PeopleTable", "Community", new { lstId = stringPeoId });}
                            </div>

                        </div>

                    }
                    else if (name == "pages")
                    {
                        <div id="category_holder">
                            <h1>Showing all <strong>Pages</strong></h1>

                            <div class="activity-overview generic" style="padding: 30px 30px 15px 30px;">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="search_dt">Search within results</label>
                                            <input type="text" name="search_dt" onkeyup="searchInValue('pages')" id="search_dt" class="form-control" placeholder="Search for something">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="tags">Filter results using tags</label>
                                            <select name="tags" class="form-control select2" style="width: 100%;" onchange="searchInValue('pages')" data-placeholder="Choose tags" id="tagselect" multiple>
                                                @foreach (var item in tags)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <br /><br />
                            <div id="page_table">
                                @{Html.RenderAction("PagesTable", "Community", new { lstId = stringPageId });}
                            </div>

                        </div>
                    }
                </div> <!-- END .col-xs-12 -->
            </div></div>

    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->
<!-- ./wrapper -->
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/community.apps.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/community.apps.min.js"></script>

    }
}

<script>
    $('select').not('.multi-select').select2();
    getParamName();
</script>