@using Qbicles.Models
@using Qbicles.BusinessRules
@model ApplicationUser
@{
    ViewBag.Title = "Qbicles homepage";
    Layout = null;
    var contactNumber = (int)ViewBag.ContactNumber;
    var lstDomains = (List<QbicleDomain>)ViewBag.ListUserDomains;
    var domainNum = lstDomains.Count();
    var firstDomain = lstDomains.FirstOrDefault();
    var domainRequets = ViewBag.DomainRequests;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome to Qbicles | What would you like to do today?</title>

    <link rel="shortcut icon" type="image/x-icon" href="/Content/DesignStyle/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/DesignStyle/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/DesignStyle/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/DesignStyle/img/favicon-16x16.png">
    
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700|Lato:300,400,500,600,700" />
    @Styles.Render("~/Content/qbiclescss")
</head>


<body>

    <div class="wizard-full">

        <div class="helper contained-sidebar">

            <div>
                <div id="avatar" style="background-image: url('@(Model.ProfilePic.ToDocumentUri())');">&nbsp;</div>
                <h1>Welcome back, @(Model?.Forename ?? Model.DisplayUserName)</h1>

                <br />
                <div class="activity-overview plain rounded">
                    <p>To help you navigate Qbicles, we've pulled together a number of features for ease of access.</p>
                </div>
                <br />

                <button class="btn btn-primary community-button" onclick="window.location='/Administration/UserProfile'"
                        style="margin-bottom: 80px;">
                    My profile
                </button>

            </div>

        </div>

        <div class="tab-content wizard-steps">


            <!-- Step 1 -->
            <div class="tab-pane fade in active" id="s1">

                @*<a href="#">
                        <div class="activity-overview plain micropromo animated fadeInUp hidden-xs" style="width: 375px; max-width: 100%;">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="/Content/DesignStyle/img/b2b-buy.png" style="width: 70px; height: auto;">
                                </div>
                                <div class="col-xs-9">
                                    <h5 style="padding-top: 10px;">Qbicles on the move</h5>
                                    <p>We're pleased to announce Qbicles Micro, available now for Android and iOS!</p>
                                </div>
                            </div>
                        </div>
                    </a>*@


                <div class="spacing-new featuregrid">

                    <img src="/Content/DesignStyle/img/logo-h.png" class="qblogodecor">

                    <div class="qbicles-list-v2 flex-grid-thirds-lg qbicles-dash-grid marketing restyle" style="width: 100%;" data-tooltip-color="slate" data-tooltip-stickto="right">
                        @{
                            var c2cContactUrl = contactNumber == 0 ? "/C2C?tab=contacts" : "/C2C";
                        }
                        <a href="@c2cContactUrl" class="col">
                            <img src="/Content/DesignStyle/img/getstarted/chat.png">
                            <h1 style="color: #333; margin-top: 15px;">Connect &amp; chat</h1>
                            <p class="qbicle-detail" style="text-align: center;">Find, connect and interact with individuals and businesses in Qbicles Community.</p>
                        </a>

                        @*<a href="#" class="col" onclick="alert('Will navigate user to app store or equivalent - Micro CTA');">
                                <img src="/Content/DesignStyle/img/getstarted/contact.png">
                                <h1 style="color: #333; margin-top: 15px;">Import contacts</h1>
                                <p class="qbicle-detail" style="text-align: center;">Use Qbicles Micro on your phone or tablet to import contacts and migrate your network.</p>
                            </a>*@

                        @{
                            var domainTitle = "";
                            var href = "javascript:void(0)";
                            var onclick = "javascript:void(0)";
                            if (domainNum == 0)
                            {
                                href = "/Domain";
                                domainTitle = "Add my business";
                            }
                            else if (domainNum == 1)
                            {
                                onclick = $"DomainSelected('{firstDomain?.Key}')";
                                domainTitle = "Go to my business";

                            }
                            else if (domainNum > 1)
                            {
                                href = "/Domain";
                                domainTitle = "Manage my businesses";

                            }
                            <a href="@href" onclick="@onclick" class="col">
                                <img src="/Content/DesignStyle/img/getstarted/business.png">
                                <h1 style="color: #333; margin-top: 15px;">@domainTitle</h1>
                                @if (!string.IsNullOrEmpty(domainRequets))
                                {
                                    <small>Domain: @domainRequets pending</small>
                                }
                                <p class="qbicle-detail" style="text-align: center;">Add your existing business, or start a new one by securing a Qbicles Domain for business.</p>
                            </a>
                        }

                        <a href="/Monibac/MonibacManage" class="col">
                            <img src="/Content/DesignStyle/img/getstarted/deals.png">
                            <h1 style="color: #333; margin-top: 15px;">Find deals</h1>
                            <p class="qbicle-detail" style="text-align: center;">Take advantage of some incredible deals and prizes up for grabs in Qbicles Moniback.</p>
                        </a>

                        <a href="/C2C?tab=shopping" class="col">
                            <img src="/Content/DesignStyle/img/getstarted/shopping.png">
                            <h1 style="color: #333; margin-top: 15px;">Go shopping</h1>
                            <p class="qbicle-detail" style="text-align: center;">Buy direct from some of the biggest stores, and benefit from one-to-one support.</p>
                        </a>

                        <a href="/Social/HighlightPost" class="col">
                            <img src="/Content/DesignStyle/img/getstarted/bullhorn.png">
                            <h1 style="color: #333; margin-top: 15px;">See what's new</h1>
                            <p class="qbicle-detail" style="text-align: center;">Check out Qbicles Highlights, for the latest news, events and more from Qbicles Community.</p>
                        </a>

                    </div>

                </div>

            </div>
            <!-- END Step 1 -->


        </div>

    </div>

</body>

</html>

@{
    <script src="~/Content/DesignStyle/js/jquery.min.js"></script>
    <script src="~/Content/DesignStyle/js/loadingoverlay.min.js"></script>
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/qbicles.layout.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/qbicles.layout.js"></script>
    }
}
