@using Qbicles.Models.Trader
@using Qbicles.BusinessRules
@model TraderContact
@{ 
    var api = (string)ViewBag.DocRetrievalUrl;
    var jsonContact = new {
        Id=Model.Id,
        AvartarUri= api + Model.AvatarUri+ "&size=T",
        Name =Model.Name,
        Email=Model.Email,
        Phone=Model.PhoneNumber,
        Address= (Model.Address?.ToAddress() ?? "")
    };
}
<a href="#">
    <div class="contact-avatar-profile" style="background-image: url('@(jsonContact.AvartarUri)');">&nbsp;</div>
    <h2>@Model.Name</h2>
    @*<p></p>*@
</a>
<br><br>
<div class="text-left">
    <div class="form-group">
        <label>Email</label><br>
        <p><a href="mailto:@(Model.Email)">@Model.Email</a></p>
    </div>
    <div class="form-group">
        <label>Tel</label><br>
        <p>@Model.PhoneNumber</p>
    </div>
    <div class="form-group">
        <label>Trading address</label><br>
        <p>
            @(jsonContact.Address)
        </p>
    </div>
</div>
<br>
<div class="row text-left">
    <div class="col-xs-12">
        <input id="hdfContactJsonInfo" value="@Newtonsoft.Json.JsonConvert.SerializeObject(jsonContact)" type="hidden" />
        <button type="button" class="btn btn-primary community-button w-auto" onclick="chooseContact()"><i class="fa fa-check"></i> &nbsp; Choose contact</button>
    </div>
</div>
