@using Qbicles.Models.Trader;
@using Qbicles.BusinessRules;
@using Qbicles.Models.Trader.ODS;
@using Qbicles.Models;
@{
    var localtions = (List<TraderLocation>)ViewBag.Locations;
    var b2bSettings = (B2BOrderSettingDefault)ViewBag.B2BOrderSetting;
    var b2cSettings = (B2COrderSettingDefault)ViewBag.B2COrderSetting;
    var isShowB2b = b2bSettings != null && b2bSettings.LocationId > 0 ? true : false;
    var isShowB2c = b2cSettings != null && b2cSettings.LocationId > 0 ? true : false;
    var currentDomainPlan = (DomainPlan)ViewBag.CurrentDomainPlan ?? null;
    var currentDomainPlanLevel = currentDomainPlan?.Level?.Level ?? BusinessDomainLevelEnum.Free;
}
<div class="row">
    <div class="col-xs-12">
        <ul class="app_subnav admintabs" style="padding-top: 0; margin-top: -15px;">
            @if (currentDomainPlanLevel >= BusinessDomainLevelEnum.Standard)
            {
                <li class="active"><a href="#od-b2b" data-toggle="tab" aria-expanded="true">B2B</a></li>
            }
            @if (currentDomainPlanLevel >= BusinessDomainLevelEnum.Starter)
            {
                <li class=""><a href="#od-b2c" data-toggle="tab" aria-expanded="false">B2C</a></li>
            }
        </ul>
    </div>
</div>
<br />


<div class="tab-content">

    <!-- B2B defaults -->
    <div class="tab-pane fade in active" id="od-b2b">

        <div class="well custom" style="padding-bottom: 5px;">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="loc">Location to manage</label>
                        <select id="b2b-location-setting" onchange="B2BLocationChange()" placeholder="Choice an location" class="form-control select2" style="width: 100%;">
                            <option></option>
                            @foreach (var location in localtions)
                            {
                                <option value="@location.Id" @(b2bSettings != null && b2bSettings.LocationId == location.Id ? "selected" : "")>@location.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="defaults1" style="@(isShowB2b?"":"display: none;")">

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="init">Default initial status of B2B order</label>
                            <select id="b2b_order" onchange="ChangeB2bSetting()" class="form-control select2" style="width: 100%;"></select>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row defaults1" style="@(isShowB2b?"":"display: none;")">

            <div class="col-xs-12 col-sm-6">


                <div class="well custom" style="padding-bottom: 5px;">

                    <h5>Purchase defaults</h5>
                    <br />

                    <div class="form-group">
                        <label for="wg">Purchase processing</label>
                        <select id="b2bPurchaseWg" name="b2bPurchaseWg" onchange="ChangeB2bSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="b2bBillwg">Bill processing</label>
                        <select id="b2bBillwg" name="b2bBillwg" onchange="ChangeB2bSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="b2bPurchasePaymentWg">Purchase payment processing</label>
                        <select id="b2bPurchasePaymentWg" name="b2bPurchasePaymentWg" onchange="ChangeB2bSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="b2bPurchaseTransferWg">Purchase transfer processing</label>
                        <select id="b2bPurchaseTransferWg" name="b2bPurchaseTransferWg" onchange="ChangeB2bSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="b2bPurchasePaymentAccount">Purchase cash &amp; bank account</label>
                        <select id="b2bPurchasePaymentAccount" name="b2bPurchasePaymentAccount" onchange="ChangeB2bSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose an account">
                        </select>
                    </div>

                </div>


            </div>

            <div class="col-xs-12 col-sm-6">

                <div class="well custom" style="padding-bottom: 5px;">

                    <h5>Sale defaults</h5>
                    <br />

                    <div class="form-group">
                        <label for="b2bSaleWg">Sale processing</label>
                        <select id="b2bSaleWg" name="b2bSaleWg" onchange="ChangeB2bSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="b2bInvoiceWg">Invoice processing</label>
                        <select id="b2bInvoiceWg" name="b2bInvoiceWg" onchange="ChangeB2bSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="b2bSalePaymentWg">Sale payment processing</label>
                        <select id="b2bSalePaymentWg" name="b2bSalePaymentWg" onchange="ChangeB2bSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="b2bSaleTranferWg">Sale transfer processing</label>
                        <select id="b2bSaleTransferWg" name="b2bSaleTranferWg" onchange="ChangeB2bSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="b2bSaleCashBankAccount">Sale cash &amp; bank account</label>
                        <select id="b2bSaleCashBankAccount" name="b2bSaleCashBankAccount" onchange="ChangeB2bSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose an account">
                        </select>
                    </div>

                </div>
            </div>


        </div>

    </div>
    <!-- END B2B defaults -->
    <!-- B2C defaults -->
    <div class="tab-pane fade" id="od-b2c">

        <div class="well custom" style="padding-bottom: 5px;">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="loc">Location to manage</label>
                        <select id="b2c-location-setting" onchange="B2CLocationChange()" placeholder="Choice an location" class="form-control select2" style="width: 100%;">
                            <option></option>
                            @foreach (var location in localtions)
                            {
                                <option value="@location.Id" @(b2cSettings != null && b2cSettings.LocationId == location.Id ? "selected" : "")>@location.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="defaults2" style="@(isShowB2c?"":"display: none;")">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="init">Default initial status of B2C order</label>
                            <select id="b2c_order" onchange="ChangeB2cSetting()" class="form-control select2Setting" style="width: 100%;"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="defaults2" style="@(isShowB2c?"":"display: none;")">

            <div class="row">
                <div class="col-xs-12 col-md-6">

                    <div class="well custom" style="padding-bottom: 5px;">

                        <h5>B2C defaults</h5>
                        <br />
                        <div class="form-group">
                            <label for="b2cSaleWg">Sale processing</label>
                            <select id="b2cSaleWg" name="b2cSaleWg" onchange="ChangeB2cSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup">
                                <option value=""></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="b2cInvoiceWg">Invoice processing</label>
                            <select id="b2cInvoiceWg" name="b2cInvoiceWg" onchange="ChangeB2cSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup"></select>
                        </div>

                        <div class="form-group">
                            <label for="wg">Payment processing</label>
                            <select id="b2cPaymentWg" name="b2cPaymentDefault" onchange="ChangeB2cSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup"></select>
                        </div>

                        <div class="form-group">
                            <label for="wg">Transfer processing</label>
                            <select id="b2cTransferWg" name="b2cwgtransferdetault" onchange="ChangeB2cSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup"></select>
                        </div>

                        <div class="form-group">
                            <label for="b2cCashBankAccount">Cash &amp; bank account</label>
                            <select id="b2cCashBankAccount" name="b2cCashBankAccount" onchange="ChangeB2cSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose an account"></select>
                        </div>


                        <div class="form-group">
                            <label>Use these settings(default workgroup) for all future orders</label>
                            <div class="checkbox toggle">
                                <label>
                                    @{
                                        var onShift = ""; // not use
                                        if (b2cSettings.SaveSettings)
                                        {
                                            onShift = "checked";//use
                                        }
                                    }
                                    <input id="b2cSaveSettings" onchange="ChangeB2cSetting()" data-on="Yes" data-off="No" 
                                           class="apps-account" @onShift data-toggle="toggle" data-size="small" data-onstyle="success" type="checkbox">


                                </label>
                            </div>
                            @*<select id="b2cSaveSettings" name="b2cSaveSettings" onchange="ChangeB2cSetting()" class="form-control select2" style="width: 100%;" data-placeholder="Choose an account"></select>*@
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- END B2C defaults -->
</div> <!-- ./tab-content -->


@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/order-setting-defaults.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/order-setting-defaults.js"></script>
    }
}
<script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
<script>
    $('#b2cSaveSettings').bootstrapToggle();
</script>