@using Qbicles.BusinessRules;
@model List<TaxRateModel>
@{ 
    var canDel = Model.Count == 1 ? "disabled" : "";
}
<table id="tblTaxrates" class="table table-hover app_specfic datatable" style="width: 100%; background: #fff;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rate (%)</th>
            <th>
                Accounted for &nbsp;
                <i class="fa fa-info-circle" data-tooltip="Indicates whether or not this tax rate is taken into account"></i>
            </th>
            <th>Transaction type</th>
            <th>Credit or Debit</th>
            <th style="max-width:30%">Description</th>
            <th data-orderable="false">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Rate</td>
                <td>@(item.IsAccounted ? "Yes" : "No")</td>
                <td>@(item.IsPurchaseTax ? "Purchase" : "Sale")</td>
                <td>@(item.IsCreditToTaxAccount ? "Credit" : "Debit")</td>
                <td>@item.Description</td>
                <td>
                    <button class="btn btn-warning" onclick="editTaxRate(@item.Id)" data-toggle="modal" data-target="#app-coa-tax-edit"><i class="fa fa-pencil"></i></button>
                    <button @item.CanDelete @canDel class="btn btn-danger" onclick="confirmDeleteTaxRate(@item.Id, '@item.Name')" data-toggle="modal" data-target="#app-taxrate-confirm"> <i class="fa fa-trash"></i></button>
                </td>
            </tr>
        }

    </tbody>
</table>
