@using Qbicles.Models.Trader
@model List<TraderContact>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var groupName = "";
    var i = 0;
}
@if (Model.Any())
{
    foreach (var tradingContact in Model)
    {
        if (groupName != tradingContact.Name.Substring(0, 1))
        {
            groupName = tradingContact.Name.Substring(0, 1).ToUpper();
            if (i == 0)
            {
                <li class="letters" style="padding-top: 0;">@groupName</li>
            }
            else
            {
                <li class="letters">@groupName</li>
            }
        }
        <li>
            <a href="#" onclick="loadContactDetail(@tradingContact.Id)">
                <div class="contact-avatar">
                    <div style="background-image: url('@(api+tradingContact.AvatarUri)&size=T');">&nbsp;</div>
                </div>
                <div class="contact-info">
                    <h5>@tradingContact.Name</h5>
                    <p>@tradingContact.Email</p>
                </div>
            </a>
        </li>
        i++;
    }
}else
{
    <li style="padding-top: 0;">
        <a href="#">
            <div class="contact-info">
                <h5>Not found any contacts.</h5>
            </div>
        </a>
    </li>
}
