@using Qbicles.Models.Trader;
@using Qbicles.Models.Trader.Movement;
@{ 
    var lstIitems = (List<TraderItem>)ViewBag.ListItems;
    var lstItemAlertGroupXrefs = (List<Item_AlertGroup_Xref>)ViewBag.ListXrefs;
}

<table id="productGroup-items_table" class="datatable table-striped table-hover" style="width: 100%;">
    <thead>
        <tr>
            <th data-orderable="true">Item</th>
            <th data-orderable="true">SKU</th>
            <th data-orderable="false">No movement in threshold</th>
            <th data-orderable="false">No movement out threshold</th>
            <th data-orderable="false">Min inventory threshold</th>
            <th data-orderable="false">Max inventory threshold</th>
            <th data-orderable="false">Inventory accumulation threshold</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstIitems)
        {
            var xrefItem = lstItemAlertGroupXrefs.FirstOrDefault(p => p.Item.Id == item.Id);
            <tr>
                <td>@item.Name</td>
                <td>@item.SKU</td>
                <td>
                    <div class="input-group">
                        <input id="NoMovementInDaysThreshold-@xrefItem.id" onchange="UpdateItemAlertGroup(@xrefItem.id)" type="number" class="form-control threshold" value="@(xrefItem?.NoMovementInDaysThreshold ?? 0)">
                        <span class="input-group-addon">days</span>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input id="NoMovementOutDaysThreshold-@xrefItem.id" onchange="UpdateItemAlertGroup(@xrefItem.id)" type="number" class="form-control threshold" value="@(xrefItem?.NoMovementOutDaysThreshold ?? 0)">
                        <span class="input-group-addon">days</span>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input id="MinInventoryThreshold-@xrefItem.id" onchange="UpdateItemAlertGroup(@xrefItem.id)" type="number" class="form-control threshold" value="@(xrefItem?.MinInventoryThreshold ?? 0)">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input id="MaxInventoryThreshold-@xrefItem.id" onchange="UpdateItemAlertGroup(@xrefItem.id)" type="number" class="form-control threshold" value="@(xrefItem?.MaxInventoryThreshold ?? 0)">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input id="AccumulationTreshold-@xrefItem.id" onchange="UpdateItemAlertGroup(@xrefItem.id)" type="number" class="form-control threshold" value="@(xrefItem?.AccumulationTreshold ?? 0)">
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<script>
    $("#productGroup-items_table").dataTable();
</script>*@