@using System.Diagnostics
@using Qbicles.Models.Trader
@using Qbicles.BusinessRules.Helper;
@{
    var traderLocations = (List<TraderLocation>)ViewBag.Locations ?? (new List<TraderLocation>());
    var api = (string)ViewBag.DocRetrievalUrl;
    var locationManage = (int)ViewBag.CurrentLocationManage;
    var apiKey = ConfigManager.GoogleMapApiKey;

}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail">

    <!-- Main content -->
    <section class="content">
        <input type="hidden" value="@api" id="api_url" />

        <div id="local-manage-div" class="app_filter" style="margin: 5px 0 10px 0;">
            <div class="row">
                <div class="col-xs-12">
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <div class="input-group" style="flex: 1; max-width: 400px;">
                            <span class="input-group-addon"><strong>Location</strong></span>
                            <select id="local-manage-select" onchange="UpdateCurrentLocationManage()" class="form-control select2" style="width: 100%;">
                                @foreach (var l in traderLocations)
                                {
                                    if (l.Id == locationManage)
                                    {
                                        <option selected="" value="@l.Id">@l.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@l.Id">@l.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="menu_traderapp" class="app_topnav restyle">
            @{ Html.RenderAction("NavigationTraderPartial", "Trader");}
        </div>
        <div id="trader_content">
        </div>
    </section>
    <!-- ./content -->
</div>

<div class="modal fade" id="app-trader-product-group" role="dialog" aria-labelledby="app-trader-product-group" style="z-index:99999"></div>
<div class="modal fade left" id="app-trader-sale-return-add" role="dialog" aria-labelledby="app-trader-sale-return-add"></div><!-- /.modal -->
<div class="modal fade left" id="app-trader-workgroup-preview" role="dialog" aria-labelledby="app-trader-workgroup-preview"></div><!-- /.modal -->
<div class="modal fade left" id="app-bookkeeping-treeview" role="dialog" aria-labelledby="app-bookkeeping-treeview">
    @{ Html.RenderAction("TreeViewAccountPartial", "Bookkeeping");}
</div>

<!-- Modal Top sell-->
<div class="modal fade left" id="app-trader-sales-dash-list-topsell" role="dialog" aria-labelledby="app-trader-sales-dash-list">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseTopSell('app-trader-sales-dash-list-topsell')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Top Sellers by Product Group</h5>
            </div>
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal TopMargin-->
<div class="modal fade left" id="app-trader-sales-dash-list-margin" role="dialog" aria-labelledby="app-trader-sales-dash-list">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseTopSell('app-trader-sales-dash-list-margin')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Top margins by Product Group</h5>
            </div>
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal TopGrossMargin-->
<div class="modal fade left" id="app-trader-sales-dash-list-grossmargin" role="dialog" aria-labelledby="app-trader-sales-dash-list">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseTopSell('app-trader-sales-dash-list-grossmargin')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Contribution to gross margin by Product Group</h5>
            </div>
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade left" id="app-trader-pos-menu-devices" role="dialog" aria-labelledby="app-trader-pos-menu-devices"></div>

<div class="modal fade left" id="compound-item-history" role="dialog" aria-labelledby="compound-item-history">
</div>

@*<script src="https://maps.googleapis.com/maps/api/js?key=@apiKey&callback=initMap&libraries=&v=weekly" defer></script>*@
<script src="https://maps.googleapis.com/maps/api/js?key=@apiKey&libraries=&v=weekly" defer></script>
@if (Debugger.IsAttached)
{
    <script src="~/Scripts/dev/trader.app.js"></script>
}
else
{
    <script src="~/Scripts/dev/trader.app.min.js"></script>
}