@using Qbicles.BusinessRules
@using Qbicles.Models
@model Qbicles.Models.Trader.TraderSettings
@{
    var traderSetupInit = (TraderSetupInit)ViewBag.TraderSetupInit;

    var domainRoles = (List<DomainRole>)ViewBag.DomainRoles;
    var domain = (QbicleDomain)ViewBag.CurrentDomain;
    var api = (string)ViewBag.DocRetrievalUrl;
    ViewBag.Title = "Trader - Setup";

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail" style="background: #f5f5f5;">


    <!-- Main content -->
    <section class="content setup-ui">

        <br /><br />

        <div class="mod_title">
            <h5>Trader</h5>
            <h4>Initial Setup</h4>
        </div>
<br /><br />

        <div class="row">

            <div class="col-xs-12 col-sm-5 col-md-4">

                <div class="activity-overview plain" id="setup-wizard">
                    <h3>Getting started</h3>
                    <p>In order to use Trader we first need some information from you. This will preconfigure the app for your needs and streamline it.</p>
                    <input hidden="" id="locationCompleted" value="@traderSetupInit.LocationCompleted.ToString()" />
                    <input hidden="" id="productGroupCompleted" value="@traderSetupInit.ProductGroupCompleted.ToString()" />
                    <input hidden="" id="contactGroupCompleted" value="@traderSetupInit.ContactGroupCompleted.ToString()" />
                    <input hidden="" id="workGroupCompleted" value="@traderSetupInit.WorkgroupCompleted.ToString()" />
                    <input hidden="" id="accountingCompleted" value="@traderSetupInit.AccountingCompleted.ToString()" />
                    <input hidden="" id="isBookkeeping" value="@Model.IsQbiclesBookkeepingEnabled.ToString()" />

                    <ul class="wizard-steps tradersetup_ul">
                        <li class="tradersetup_location @traderSetupInit.LocationClass cursor-pointer" onclick="SelectLocation('location')">
                            <div class="step-circle">
                                <i class="fa fa-exclamation"></i>
                            </div>
                            <a href="javascript:void(0);" onclick="SelectLocation('location')" data-form="#show-locations"><h6>Add a <span class="cursor-pointer">Location</span></h6></a>
                        </li>
                        <li class="tradersetup_group @traderSetupInit.ProductGroupClass cursor-pointer" onclick="SelectGroup('group')">
                            <div class="step-circle">
                                <i class="fa fa-exclamation"></i>
                            </div>
                            <a href="javascript:void(0);" onclick="SelectGroup('group')" data-form="#show-product-groups"><h6>Add a <span class="cursor-pointer">Product Group</span></h6></a>
                        </li>
                        <li class="tradersetup_contact @traderSetupInit.ContactGroupClass cursor-pointer" onclick="SelectContact('contact')">
                            <div class="step-circle">
                                <i class="fa fa-exclamation"></i>
                            </div>
                            <a href="javascript:void(0);" onclick="SelectContact('contact')" data-form="#show-contact-groups"><h6>Add a <span class="cursor-pointer">Contact Group</span></h6></a>
                        </li>
                        <li class="tradersetup_wg @traderSetupInit.WorkgroupClass cursor-pointer" onclick="SelectWorkGroup('wg')">
                            <div class="step-circle">
                                <i class="fa fa-exclamation"></i>
                            </div>
                            <a href="javascript:void(0);" onclick="SelectWorkGroup('wg')" data-form="#show-workgroups"><h6>Add a <span class="cursor-pointer">Workgroup</span></h6></a>
                        </li>
                        <li class="tradersetup_accounting @traderSetupInit.AccountingClass cursor-pointer" onclick="SelectAccounting('accounting')">
                            <div class="step-circle">
                                <i class="fa fa-exclamation"></i>
                            </div>
                            <a href="javascript:void(0);" onclick="SelectAccounting('accounting')" data-form="#show-accounting"><h6>Configure <span class="cursor-pointer">Accounting</span></h6></a>
                        </li>
                        <li class="tradersetup_complete @traderSetupInit.SetupCompleteClass cursor-pointer" id="step-success" onclick="SelectComplete('complete')">
                            <div class="step-circle">
                                <i class="fa fa-check"></i>
                            </div>
                            <a href="javascript:void(0);" onclick="SelectComplete('complete')" data-form="#show-success"><h6>Setup <span class="cursor-pointer">Complete</span></h6></a>
                        </li>
                    </ul>
                </div>

            </div>

            <div id="show_content" class="col-xs-12 col-sm-7 col-md-8">

                @{
                    if (traderSetupInit.LocationClass.Contains("active"))
                    {
                        Html.RenderAction("ShowLocation", "TraderSetup");
                    }
                    else if (traderSetupInit.ProductGroupClass.Contains("active"))
                    {
                        Html.RenderAction("ShowProductGroup", "TraderSetup");
                    }
                    else if (traderSetupInit.ContactGroupClass.Contains("active"))
                    {
                        Html.RenderAction("ShowContactGroup", "TraderSetup");
                    }
                    else if (traderSetupInit.WorkgroupClass.Contains("active"))
                    {
                        Html.RenderAction("ShowWorkGroup", "TraderSetup");
                    }
                    else if (traderSetupInit.AccountingClass.Contains("active"))
                    {
                        Html.RenderAction("ShowAccounting", "TraderSetup");
                    }
                    else if (traderSetupInit.SetupCompleteClass.Contains("active"))
                    {
                        Html.RenderAction("ShowComplete", "TraderSetup");
                    }
                }

            </div>

        </div>

    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->

<div class="modal fade left" id="app-trader-location-add" role="dialog" aria-labelledby="app-trader-location-add">

</div><!-- /.modal -->

<div class="modal fade left" id="app-trader-product-group-add" tabindex="-1" role="dialog" aria-labelledby="app-trader-product-group-add">

</div><!-- /.modal -->

<div class="modal fade left" id="app-trader-contact-group-add" tabindex="-1" role="dialog" aria-labelledby="app-trader-contact-group-add">

</div><!-- /.modal -->

<div class="modal fade left" id="app-trader-unit-add" role="dialog" aria-labelledby="app-trader-unit-add">

</div><!-- /.modal -->

<div class="modal fade left" id="app-trader-group-add" role="dialog" aria-labelledby="app-trader-group-add">

</div><!-- /.modal -->

<div class="modal fade left" id="app-trader-tax-add" role="dialog" aria-labelledby="app-trader-tax-add">

</div> <!-- /.modal -->

<div class="modal fade left" id="app-trader-group-edit" role="dialog" aria-labelledby="app-trader-group-edit">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Edit Workgroup</h5>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-12">
                        <ul class="app_subnav" style="list-style-type: none;">
                            <li id="step_1" class="active disabled disabledTab">
                                <a id="step1-vtab" class=" disabled disabledTab" href="#edit-add-specifics" data-toggle="tab">Specifics</a>
                            </li>
                            <li id="step_2" class=" disabled disabledTab">
                                <a id="step2-vtab" href="#edit-add-members" data-toggle="tab">Members edit &amp; roles</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <br />



                <div id="workgroup-content-edit" class="tab-content">



                </div>



            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade left" id="app-trader-people-select" role="dialog" aria-labelledby="app-trader-people-select">
    <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Add people to your Workgroup</h5>
            </div>
            <div class="modal-body">

                <div class="activity-overview task" style="padding: 30px 30px 15px 30px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="search_dt">Search Qbicle members</label>
                                <input type="text" id="search-member-all" class="form-control" placeholder="Search for something">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="tags">Limit to app role(s)</label>
                                <select id="search-right-all" name="tags" class="form-control chosen-multiple" style="width: 100%;" data-placeholder="Show all roles" multiple>
                                    @foreach (var role in domainRoles)
                                    {
                                        <option value="@role.Name">@role.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <br />
                <table class="datatable our-people table-hover table-striped" id="user-list" style="width: 100%;" data-order='[[ 2, "asc" ]]'>
                    <thead>
                        <tr>
                            <th data-priority="3" data-orderable="false" style="width: 50px;"></th>
                            <th data-priority="1">Name</th>
                            <th data-priority="1">Domain App Role(s)</th>
                            <th data-priority="1">In this Workgroup</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in domain.Users)
                        {
                            var fullName = HelperClass.GetFullNameOfUser(u);
                            <tr>
                                <td>
                                    <div class="table-avatar mini" style="background-image: url('@api@u.ProfilePic');">&nbsp;</div>
                                </td>
                                <td>@fullName</td>
                                <td>
                                    @{
                                        var roleAll = "";
                                        foreach (var r in u.DomainRoles.Where(d => d.Domain.Id == domain.Id))
                                        {
                                            roleAll += @r.Name + ",";
                                            <span class="label label-lg label-info">@r.Name</span>
                                        }
                                        <span class="hidden">@roleAll</span>
                                    }
                                </td>
                                <td>
                                    <div class="checkbox toggle">
                                        <input data-fullname="@fullName" onchange="AddUsersToMembers(this.checked,'@u.Id',$(this).data('fullname'),'@api@u.ProfilePic')" class="check-right" data-toggle="toggle" data-onstyle="success" data-on="<i class='fa fa-check'></i>" data-off=" " type="checkbox">
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


                <br />
                <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp; Cancel</button>
                <button onclick="AddMemberToWorkgroup()" class="btn btn-success" data-dismiss="modal"><i class="fa fa-save"></i> &nbsp; Add</button>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.setup.js"></script>
        <script src="~/Scripts/dev/trader.domain.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.setup.js"></script>
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
    }
}
