@using Qbicles.BusinessRules;
@using Qbicles.Models.Invitation;
@{
    var api = (string)ViewBag.DocRetrievalUrl;
}

@model List<InvitationCustom>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="avatarwtitle">
                    <div class="theicon" style="background-image: url('@(item.DomainPic == null?"/Content/DesignStyle/img/icon_domain_default.png":api+""+item.DomainPic)');"></div>
                    <div class="thetitle">@item.DomainName</div>
                </div>
            </td>
            <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
            <td><a href="#">@item.InviteBy</a></td>
            <td>
                <div class="btn-group options">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options &nbsp; <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" style="right: 0;">
                        <li><a href="#" onclick="ApproverInvitation(@item.Id, @((int)InvitationStatusEnum.Accepted),'@item.DomainName','Accept invitation',@item.DomainId)">Accept invitation</a></li>
                        <li><a href="#" onclick="ApproverInvitation(@item.Id, @((int)InvitationStatusEnum.Rejected),'@item.DomainName','Reject invitation',@item.DomainId)">Reject invitation</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}