@using Qbicles.BusinessRules
@using Qbicles.BusinessRules.Helper
@model TraderSaleDashBoard
@{
    var saleModel = Model.ToJson();
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;

}
<div class="dash-concise" style="display: none;">
    <div class="row dash-collapse">
        <div class="hidden-xs col-lg-4">
            &nbsp;
        </div>
        <div class="col-lg-4">

            <div class="activity-overview plain" style="position: relative; padding: 0; margin-bottom: 30px;">
                <div class="block-content">
                    <label class="label label-lg label-info dash-label">Sales Summary</label>
                    <div class="row">
                        <div class="col-xs-12 text-center vmt" style="margin-bottom: 15px;">
                            <img src="../../Content/DesignStyle/img/icon_review.png" style="width: 90px; height: auto;">
                            <h2 class="totalValue_sale">@Model.TotalSaleValue</h2>
                            <h5><span class="totaltransaction">@Model.TotalApproved</span> Transactions</h5>

                            <br />
                            <button class="btn btn-primary community-button" style="max-width: 200px;"
                                    onclick="$('.dash-concise').fadeOut(); $('.dash-full.sales-summary').fadeIn();">
                                Show detailed stats
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="hidden-xs col-lg-4">
            &nbsp;
        </div>
    </div>
</div>


<!-- Sales Summary -->
<div class="dash-full sales-summary" style="display: none;">
    <div class="row dash-collapse">
        <div class="col-xs-12 col-lg-3">

            <div class="activity-overview plain" style="padding: 0; margin-bottom: 30px;">
                <div class="block-content">
                    <div class="row">
                        <div class="col-xs-12 text-center vmt">
                            <img src="../../Content/DesignStyle/img/icon_review.png" style="width: 90px; height: auto;">
                            <h2 class="totalValue_sale">@Model.TotalSaleValue</h2>
                            <h5><span class="totaltransaction">@Model.TotalApproved</span> Transactions</h5>

                            <br />
                            <button class="btn btn-primary community-button" onclick="$('.dash-full').fadeOut(); $('.dash-concise').fadeIn();">
                                <i class="fa fa-angle-left"></i> &nbsp; Return to Overview
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="activity-overview plain" style="padding: 0; margin-bottom: 20px;">
                <div class="block-content">
                    <div class="row">

                        <div class="col-xs-12">
                            <h1 class="app-dash-h1">Top sellers</h1>
                            <hr />

                            <div class="table-responsive">
                                <table class="table t1style table-borderless responsive table-striped valignm">
                                    <thead>
                                        <tr>
                                            <th>Product group</th>
                                            <th>Sale value <strong>(@currencySettings.CurrencySymbol)</strong></th>
                                            <th>% of total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.TopSells.Any())
                                        {
                                            foreach (var item in Model.TopSells.Take(4))
                                            {
                                                <tr>
                                                    <td><a href="javascript:void(0)" onclick="showDetailTraderItemByGroup('@item.TraderItemIds')" data-toggle="modal" data-target="#app-trader-product-group">@item.GroupName</a></td>
                                                    <td>@item.Value</td>
                                                    <td>@item.Percent%</td>
                                                </tr>

                                            }
                                            <tr>
                                                <td><button class="btn btn-info" onclick="ShowTopSell('app-trader-sales-dash-list-topsell')"><i class="fa fa-eye"></i> &nbsp; View all</button></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">

            <div class="activity-overview plain" style="padding: 0; margin-bottom: 20px;">
                <div class="block-content">
                    <div class="row">

                        <div class="col-xs-12">
                            <h1 class="app-dash-h1">Top margins</h1>
                            <hr />

                            <div class="table-responsive">
                                <table class="table t1style table-borderless responsive table-striped valignm">
                                    <thead>
                                        <tr>
                                            <th>Product Group</th>
                                            <th>Margin %</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.TopMargin.Any())
                                        {
                                            foreach (var item in Model.TopMargin.Take(4))
                                            {
                                                <tr>
                                                    <td><a href="javascript:void(0)" onclick="showDetailTraderItemByGroup('@item.TraderItemIds')" data-toggle="modal" data-target="#app-trader-product-group">@item.GroupName</a></td>
                                                    <td>@item.Percent%</td>
                                                </tr>

                                            }
                                            <tr>
                                                <td><button class="btn btn-info" onclick="ShowTopSell('app-trader-sales-dash-list-margin')"><i class="fa fa-eye"></i> &nbsp; View all</button></td>
                                                <td></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">

            <div class="activity-overview plain" style="padding: 0; margin-bottom: 20px;">
                <div class="block-content">
                    <div class="row">

                        <div class="col-xs-12">
                            <h1 class="app-dash-h1">Contribution to gross margin</h1>
                            <hr />

                            <div class="table-responsive">
                                <table class="table t1style table-borderless responsive table-striped valignm" style="margin-bottom: 0;">
                                    <thead>
                                        <tr>
                                            <th>Product Group</th>
                                            <th>Total <strong>(@currencySettings.CurrencySymbol)</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.TopGrossMargion.Any())
                                        {
                                            foreach (var item in Model.TopGrossMargion.Take(4))
                                            {
                                                <tr>
                                                    <td><a href="javascript:void(0)" onclick="showDetailTraderItemByGroup('@item.TraderItemIds')" data-toggle="modal" data-target="#app-trader-product-group">@item.GroupName</a></td>
                                                    <td>@item.Value</td>
                                                </tr>

                                            }
                                            <tr>
                                                <td><button class="btn btn-info" onclick="ShowTopSell('app-trader-sales-dash-list-grossmargin')"><i class="fa fa-eye"></i> &nbsp; View all</button></td>
                                                <td></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- END Sales Summary -->
<!-- Hourly Summary do not apply now-->
<div class="dash-full hourly-sales" style="display: none;">
    <div class="row dash-collapse">
        <div class="col-xs-12 col-lg-3">

            <div class="activity-overview plain" style="padding: 0; margin-bottom: 30px;">
                <div class="block-content">
                    <div class="row">
                        <div class="col-xs-12 text-center vmt">
                            <img src="~/Content/DesignStyle/img/icon_trader.png" style="width: 90px; height: auto;">
                            <h2>30,000/hour</h2>
                            <h5>Average &#8358;10,000 per sale</h5>

                            <br />
                            <button class="btn btn-primary community-button" onclick="$('.dash-full').hide(); $('.dash-concise').show();">
                                <i class="fa fa-angle-left"></i> &nbsp; Return to Overview
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="activity-overview plain" style="padding: 0; margin-bottom: 20px;">
                <div class="block-content">
                    <div class="row">

                        <div class="col-xs-12">
                            <h1 class="app-dash-h1">Top sellers</h1>
                            <hr />

                            <div class="table-responsive">
                                <table class="table t1style table-borderless responsive table-striped valignm">
                                    <thead>
                                        <tr>
                                            <th>Product Group</th>
                                            <th>Units sold</th>
                                            <th>% of total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Burgers</a></td>
                                            <td>278,000</td>
                                            <td>15%</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Office Supplies</a></td>
                                            <td>150,000</td>
                                            <td>9%</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Gifts</a></td>
                                            <td>278,000</td>
                                            <td>15%</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Admin Services</a></td>
                                            <td>278,000</td>
                                            <td>15%</td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-info" data-toggle="modal" data-target="#app-trader-sales-item-list"><i class="fa fa-eye"></i> &nbsp; Others</button></td>
                                            <td>690,000</td>
                                            <td>31%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">

            <div class="activity-overview plain" style="padding: 0; margin-bottom: 20px;">
                <div class="block-content">
                    <div class="row">

                        <div class="col-xs-12">
                            <h1 class="app-dash-h1">Top margins</h1>
                            <hr />

                            <div class="table-responsive">
                                <table class="table t1style table-borderless responsive table-striped valignm">
                                    <thead>
                                        <tr>
                                            <th>Product Group</th>
                                            <th>Margin %</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Burgers</a></td>
                                            <td>15%</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Office Supplies</a></td>
                                            <td>9%</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Gifts</a></td>
                                            <td>15%</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Admin Services</a></td>
                                            <td>15%</td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-info" data-toggle="modal" data-target="#app-trader-sales-item-list"><i class="fa fa-eye"></i> &nbsp; Others</button></td>
                                            <td>31%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">

            <div class="activity-overview plain" style="padding: 0; margin-bottom: 20px;">
                <div class="block-content">
                    <div class="row">

                        <div class="col-xs-12">
                            <h1 class="app-dash-h1">Contribution to gross margin</h1>
                            <hr />

                            <div class="table-responsive">
                                <table class="table t1style table-borderless responsive table-striped valignm" style="margin-bottom: 15px;">
                                    <thead>
                                        <tr>
                                            <th>Product Group</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Burgers</a></td>
                                            <td>&#8358;50,000</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Salads</a></td>
                                            <td>&#8358;25,000</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Gifts</a></td>
                                            <td>&#8358;11,000</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Admin Services</a></td>
                                            <td>&#8358;5,000</td>
                                        </tr>
                                        <tr>
                                            <td><strong>TOTAL</strong></td>
                                            <td><strong>&#8358;500,000</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- END Hourly Summary -->

<script>
    $(document).ready(function () {
        //$("#app-trader-sales-dash-list-topsell table").DataTable().draw();
        //$("#app-trader-sales-dash-list-margin table").DataTable().draw();
        //$("#app-trader-sales-dash-list-grossmargin table").DataTable().draw();

    });

    //function ShowTopSell(modalId) {
    //    var _paramaters = getParamaters('#sales');
    //    debugger;
    //    //ShowSaleDashboardDetail(modalId);
    //    $("#" + modalId).removeClass().addClass('modal left fade in');
    //    $("#" + modalId).show();
    //}
    //function CloseTopSell(modalId) {
    //    $("#" + modalId).removeClass();
    //    $("#" + modalId).hide()

    //    modal.style.display = "none";
    //    // Bỏ ngăn cuộn bên ngoài modal
    //    document.body.style.overflow = "auto";
    //    modalContent.removeEventListener("scroll", preventScroll);
    //}


    //// Hàm ngăn chặn sự kiện cuộn
    //function preventScroll(event) {
    //    event.preventDefault();
    //}









    @*function ShowSaleDashboardDetail(modalId) {
        debugger;

        //var sModel = '@saleModel';
        //$('#modalId').empty();
        //$('#modalId').load('/TraderSales/ShowSaleDashboardDetail', sModel, function () {
        //    $("#" + modalId).removeClass().addClass('modal left fade in');
        //    $("#" + modalId).show();
        //    //$('#section_dashboard').load("/TraderSales/TraderSaleGetDataDashBoard?keyword=" + $("#search_dt").val() + "&workGroupId=" + $("#subfilter-group").val() + "&datetime=" + $("#sale-input-datetimerange").val().replace(/\s/g, '%20') + "&channel=" + $("#subfilter-channel").val(), function () {

        //    //});
        //});
    };*@
</script>