@using Qbicles.BusinessRules
@model List<TraerItemByGroup>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
}

<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model.Count > 0)
            {
                <h5 class="modal-title">Items in @Model[0].TraderItem.Group.Name Product Group</h5>
            }
            else
            {
                <h5 class="modal-title">Items</h5>
            }
        </div>
        <div class="modal-body">


            <table class="datatable table-striped table-hover" style="width: 100%;" data-order='[[1, "desc"]]'>
                <thead>
                    <tr>
                        <th data-priority="5" style="width: 40px;" data-orderable="false"></th>
                        <th data-priority="1">Item</th>
                        <th data-priority="1">SKU</th>
                        <th data-priority="1">Barcode</th>
                        <th data-priority="3">Description</th>
                        <th data-priority="2">Quantity</th>
                        <th data-priority="2">Price <strong>(@currencySettings.CurrencySymbol)</strong></th>
                        <th data-priority="2">Cost <strong>(@currencySettings.CurrencySymbol)</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="table-avatar mini" style="background-image: url('@api@item.TraderItem.ImageUri');">&nbsp;</div>
                                </td>
                                <td>@item.TraderItem.Name</td>
                                <td>@item.TraderItem.SKU</td>
                                <td>@item.TraderItem.Barcode</td>
                                <td>@Html.Raw(item.TraderItem.Description)</td>
                                <td>@item.Quantity</td>
                                <td>@item.Price</td>
                                <td>@item.Cost</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>


            <br /><br />
            <button class="btn btn-primary" onclick="$('#app-trader-product-group').modal('hide')">Close</button>


        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


<script>
    $("#app-trader-product-group table").DataTable().draw();
</script>