@using Qbicles.Models.ProfilePage
@model BusinessPage
@{
    var allowedFileTypes = (string)ViewBag.ImageAcceptedExtensions;
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative; background: #f4f6f9;">
    <!-- Main content -->
    <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin" style="border-top: 1px solid #f1f1f1;">
        <!-- App bar -->
        <div class="mdv2-col-app" style="margin-bottom: 0; background: #fff;">

            <div data-spy="affix" class="contained-sidebar">

                <div class="activity-overview plain company-overview welcome-info" style="text-align: left !important; flex: none; margin: 0; padding-top: 30px; padding-bottom: 0;">

                    <div class="pull-left" style="margin-bottom: 15px;">
                        <a href="~/Commerce/BusinessProfile?tab=profile-pages" class="btn btn-primary"><i class="fa fa-angle-left"></i> &nbsp; All Pages</a>
                    </div>
                    <div class="clearfix"></div>

                    <br /><br />
                    <h1 style="line-height: 1.2;">Business Profile Page Builder</h1>
                    <br />

                    <p style="color: rgba(0, 0, 0, 0.5);">Why waste time and expense building a website many will never see? Instead, build and manage custom pages in your Business Profile to establish yourself in the thriving Qbicles Community.</p>

                    <br /><br />
                    <div class="well custom">
                        <form id="frmpageBuilder">
                            <div class="form-group">
                                <label for="name">Page title</label>
                                <input id="hdfPageID" type="hidden" name="Id" value="@(Model != null&&Model.Id>0?Model.Id:0)" data-bind="Id" />
                                <input type="text" name="PageTitle" class="form-control" required value="@(Model != null&&Model.Id>0?Model.PageTitle:"")" data-bind="PageTitle">
                            </div>


                            <button id="btnDiscardChange" type="button" onclick="window.location.reload(true);" class="btn btn-danger community-button w-auto" disabled>Discard changes</button>
                            <button type="button" onclick="saveBusinessPageBuilder('IsDraft')" class="btn btn-primary community-button w-auto">Save draft</button>

                            <br /><br /><br />
                            <hr /><br />
                            <label>Publish your page</label><br />
                            <p>
                                When you're happy, you can publish your page using the button below. Published pages immediately appear on your public profile, and can be edited or
                                unpublished at any time.
                            </p>
                            <br />
                            <button type="button" onclick="saveBusinessPageBuilder('IsActive')" class="btn btn-info community-button w-auto">Publish now</button>
                        </form>
                    </div>
                    <br /><br /><br /><br />
                </div>
            </div>
        </div>
        <!-- END App bar -->
        <!-- Main area -->
        <div class="mdv2-col-dash" style="min-width: 0;">

            <div id="page_templates_builder" class="spacing container" style="max-width: 100%;" data-tooltip-color="teal" data-tooltip-stickto="top" data-tooltip-maxwidth="150">
                @{
                    var showNewStart = Model != null && Model.Blocks.Any();
                }
                <div class="activity-overview plain rounded" id="newstart" style="padding-bottom: 20px;@(!showNewStart?"":"display:none;")">
                    <div class="titlezone">
                        <h5>Getting started</h5>
                    </div>
                    <p>
                        It looks like you haven't added any blocks to your new page yet. Your page will comprise one or more blocks that you can add, and edit as required.
                        To get started, add a block using the button in the lower right of your screen. When you're happy, you can publish your changes using the options in the
                        sidebar.
                    </p>

                    <br />
                    <button class="btn btn-success community-button w-auto" data-toggle="modal" data-target="#pages-blocks-templates"><i class="fa fa-plus"></i> &nbsp; Add my first block</button>
                </div>
                @if (showNewStart)
                {
                    @Html.Partial("_BlockTemplate", Model)
                }
            </div>

        </div>

    </section>
    <!-- ./content -->
    <div style="display:none">
        <!-- Hero -->
        <div class="profile-pageblock nvhero1 modify animated bounceIn" data-type="Hero" id="block-1" style="display: none;">
            <div class="editing">
                <div class="block-options">
                    <button class="btn btn-warning community-button w-auto btn-edit-block"
                            data-tooltip="Edit this block" style="margin-right:5px">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-primary community-button w-auto moveup"
                            data-tooltip="Move this block down the page" style="margin-right:5px">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                    <button class="btn btn-primary community-button w-auto movedown"
                            data-tooltip="Move this block down the page" style="margin-right:5px">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                    <button class="btn btn-danger community-button w-auto btn-delete-block"
                            data-tooltip="Delete this block" style="margin-right:5px">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>

            <h1 class="block-heading">Promotional <span>hero</span></h1>
            <h2 class="block-subheading">With a strapline included</h2>
            <img src="/Content/DesignStyle/img/pagebuilder/demos/mslogo.png" class="nvlogo">
            <img src="/Content/DesignStyle/img/pagebuilder/demos/nvfeature.png" class="nvfeature" style="bottom: -1px;">
        </div>
        <!-- END Hero -->
        <!-- Features -->
        <div class="profile-pageblock modify nvfeatures animated bounceIn" data-type="Features" id="block-2" style="display: none;">
            <div class="editing">
                <div class="block-options">
                    <button class="btn btn-warning community-button w-auto btn-edit-block"
                            data-tooltip="Edit this block" style="margin-right:5px">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-primary community-button w-auto moveup"
                            data-tooltip="Move this block up the page" style="margin-right:5px">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                    <button class="btn btn-primary community-button w-auto movedown"
                            data-tooltip="Move this block down the page" style="margin-right:5px">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                    <button class="btn btn-danger community-button w-auto btn-delete-block"
                            data-tooltip="Delete this block">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>

            <h1 class="block-heading">Subsection heading</h1>
            <h5 class="block-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin ante et ante pellentesque, at ultrices ipsum aliquet. Vestibulum semper et justo sed auctor.</h5>


            <div class="flex-grid-half-lg gridfix nvfeaturelist">

                <div class="col">
                    <div class="nvicon"><i class="fas fa-chalkboard"></i></div>
                    <div class="nvfeaturecontent">
                        <h6 class="block-feature-heading">Feature one</h6>
                        <p class="block-feature-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit tempor purus. Sed mollis, odio eu maximus iaculis, massa nunc porta orci, in porta erat leo quis risus. Etiam condimentum dolor a dolor rhoncus iaculis.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Features -->
        <!-- Text and image -->
        <div class="profile-pageblock modify nvtextimg animated bounceIn" data-type="TextAndImage" id="block-3" style="padding: 0; overflow: hidden; display: none;">
            <div class="editing">
                <div class="block-options">
                    <button class="btn btn-warning community-button w-auto btn-edit-block"
                            data-tooltip="Edit this block" style="margin-right:5px">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-primary community-button w-auto moveup"
                            data-tooltip="Move this block up the page" style="margin-right:5px">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                    <button class="btn btn-primary community-button w-auto movedown"
                            data-tooltip="Move this block down the page" style="margin-right:5px">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                    <button class="btn btn-danger community-button w-auto btn-delete-block"
                            data-tooltip="Delete this block">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>

            <div class="flexing">
                <div class="leftside">
                    <h1 class="block-heading">Text panel <span>with image</span></h1>
                    <p class="block-content" style="padding: 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo augue a metus interdum, ac tincidunt sapien semper. Nam consequat lorem a quam viverra, eu ornare eros condimentum. Aenean pulvinar vitae ligula vitae vulputate. Morbi odio eros, tincidunt in luctus eget, facilisis a ante. Etiam lobortis erat at libero ultricies ultrices.</p>

                    <button class="btn nvbutton" style="margin-top: 20px;">Button example</button>
                </div>
                <div class="rightside block-img" style="background-image: url('/Content/DesignStyle/img/pagebuilder/demos/thinking.jpg'); ">&nbsp;</div>
            </div>

        </div>
        <!-- END Text and image -->
        <!-- Testimonials -->
        <div class="profile-pageblock modify nvtestimonials animated bounceIn" data-type="Testimonial" id="block-4" style="background: transparent; padding: 0; display: none;">
            <div class="editing">
                <div class="block-options">
                    <button class="btn btn-warning community-button w-auto btn-edit-block"
                            data-tooltip="Edit this block" style="margin-right:5px">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-primary community-button w-auto moveup"
                            data-tooltip="Move this block up the page" style="margin-right:5px">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                    <button class="btn btn-primary community-button w-auto movedown"
                            data-tooltip="Move this block down the page" style="margin-right:5px">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                    <button class="btn btn-danger community-button w-auto btn-delete-block"
                            data-tooltip="Delete this block" style="margin-right:5px">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>

            <div class="owl-carousel owl-theme nvtestimonialsowl">

                <div class="item">
                    <div class="nvtestimonial">
                        <div class="nvavatar" style="background-image: url('/Content/DesignStyle/img/pagebuilder/demos/av_1.jpg');">&nbsp;</div>
                        <h2 class="testimonial-name">Sarah Price</h2>
                        <h3 class="testimonial-info">Graphic designer</h3>
                        <p class="testimonial-content">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo augue a metus interdum, ac tincidunt sapien semper. Nam consequat lorem a quam viverra, eu ornare eros condimentum."</p>
                    </div>
                </div>

                <div class="item">
                    <div class="nvtestimonial">
                        <div class="nvavatar" style="background-image: url('/Content/DesignStyle/img/pagebuilder/demos/av_2.jpg');background-size: cover;">&nbsp;</div>
                        <h2 class="testimonial-2-name">Richard McAllister</h2>
                        <h3 class="testimonial-2-info">UX consultant</h3>
                        <p class="testimonial-2-content">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo augue a metus interdum, ac tincidunt sapien semper. Nam consequat lorem a quam viverra, eu ornare eros condimentum."</p>
                    </div>
                </div>

                <div class="item">
                    <div class="nvtestimonial">
                        <div class="nvavatar" style="background-image: url('/Content/DesignStyle/img/pagebuilder/demos/av_3.jpg');background-size: cover;">&nbsp;</div>
                        <h2 class="testimonial-3-name">Peter Jones</h2>
                        <h3 class="testimonial-3-info">Web content admin</h3>
                        <p class="testimonial-3-content">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo augue a metus interdum, ac tincidunt sapien semper. Nam consequat lorem a quam viverra, eu ornare eros condimentum."</p>
                    </div>
                </div>

            </div>

        </div>
        <!-- END Testimonials -->
        <!-- Promo -->
        <div class="profile-pageblock modify nvpromo animated bounceIn" data-type="Promo" id="block-5" style="background: transparent; padding: 0; text-align: left !important; display: none;">
            <div class="editing">
                <div class="block-options">
                    <button class="btn btn-warning community-button w-auto btn-edit-block"
                            data-tooltip="Edit this block" style="margin-right:5px">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-primary community-button w-auto moveup"
                            data-tooltip="Move this block up the page" style="margin-right:5px">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                    <button class="btn btn-primary community-button w-auto movedown"
                            data-tooltip="Move this block down the page" style="margin-right:5px">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                    <button class="btn btn-danger community-button w-auto btn-delete-block"
                            data-tooltip="Delete this block">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12 col-md-6">

                    <h1 class="block-heading">Big feature or promotion here</h1>
                    <h3 class="block-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada dolor ut arcu maximus, sit amet pretium neque scelerisque. Curabitur vel diam arcu. Aliquam egestas sem ut tincidunt porttitor. Quisque porta massa sed porttitor rhoncus.</h3>

                    <br />
                    <ul class="promo-features">
                        <li><i class="fa fa-check green"></i> <span class="promo-list-item">Some descriptive text can be added here</span></li>
                        <li><i class="fa fa-check green"></i> <span class="promo-list-item">Some descriptive text can be added here</span></li>
                        <li><i class="fa fa-check green"></i> <span class="promo-list-item">Some descriptive text can be added here</span></li>
                    </ul>

                    <button class="btn nvbutton" style="margin-top: 15px;">Button example</button>
                </div>
                <div class="col-xs-12 col-md-6 text-center">
                    <img src="/Content/DesignStyle/img/pagebuilder/demos/promo-ex.jpg" class="promo-img">
                </div>
            </div>

        </div>
        <!-- END Promo -->
        <!-- Gallery -->
        <div class="profile-pageblock modify nvgallery animated bounceIn" data-type="Gallery" id="block-6" style="background: transparent; padding: 0; display: none;">
            <div class="editing">
                <div class="block-options">
                    <button class="btn btn-warning community-button w-auto btn-edit-block"
                            data-tooltip="Edit this block" style="margin-right:5px">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-primary community-button w-auto moveup"
                            data-tooltip="Move this block up the page" style="margin-right:5px">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                    <button class="btn btn-primary community-button w-auto movedown"
                            data-tooltip="Move this block down the page" style="margin-right:5px">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                    <button class="btn btn-danger community-button w-auto btn-delete-block"
                            data-tooltip="Delete this block">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>

            <div class="owl-carousel owl-theme nvgalleryowl">

                <div class="item">
                    <div class="nvgalleryitem" style="background-image: url('/Content/DesignStyle/img/pagebuilder/demos/bee.jpg');">
                        <div class="nvcaption">
                            <h5 class="block-gal-title">Gallery item title</h5>
                            <p class="block-gal-caption">Image caption content displayed here</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="nvgalleryitem" style="background-image: url('/Content/DesignStyle/img/pagebuilder/demos/tree.jpg');">
                        <div class="nvcaption">
                            <h5>Gallery item title</h5>
                            <p>Image caption content displayed here</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="nvgalleryitem" style="background-image: url('/Content/DesignStyle/img/pagebuilder/demos/cow.jpg');">
                        <div class="nvcaption">
                            <h5>Gallery item title</h5>
                            <p>Image caption content displayed here</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="nvgalleryitem" style="background-image: url('/Content/DesignStyle/img/pagebuilder/demos/woman.jpg');">
                        <div class="nvcaption">
                            <h5>Gallery item title</h5>
                            <p>Image caption content displayed here</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <!-- END Gallery -->
        <!-- Feature Items -->
        <div id="feaute-item-block" class="well custom item-block" style="display:none">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="colour">Feature title</label><br />
                        <input type="text" name="FeatureTitle" class="form-control" value="Feature one">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label for="icon">Icon &amp; colour</label><br />
                    <div class="input-group" style="margin-bottom: 15px;">
                        <input type="text" name="FeatureIcon" class="form-control fa-picker" value="fa-chalkboard">
                        <span class="input-group-btn">
                            <input type="color" name="FeatureColour" class="form-control" value="#333333">
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="content">Feature content</label>
                        <textarea name="FeatureContent" class="form-control" style="max-width: 100%; height: 80px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit tempor purus. Sed mollis, odio eu maximus iaculis, massa nunc porta orci, in porta erat leo quis risus. Etiam condimentum dolor a dolor rhoncus iaculis.</textarea>
                    </div>
                </div>
            </div>

            <br />
            <button class="btn btn-primary btn-movedown"><i class="fa fa-arrow-down"></i></button>
            <button class="btn btn-primary btn-moveup"><i class="fa fa-arrow-up"></i></button>
            <button class="btn btn-danger btn-delete"><i class="fa fa-trash"></i></button>
        </div>
        <!-- End Feature Items -->
        <!-- Promo Items-->
        <div id="promo-item-block" class="row listitem item-block" style="display:none">
            <div class="col-xs-12 col-sm-4">
                <label for="icon">Icon &amp; colour</label><br />
                <div class="input-group" style="margin-bottom: 15px;">
                    <input type="text" name="Icon" maxlength="50" class="form-control fa-picker" value="fa-check" />
                    <span class="input-group-btn">
                        <input type="color" name="Colour" maxlength="50" class="form-control" value="#5cb85c" />
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="form-group">
                    <label for="colour">Text</label><br />
                    <input type="text" name="Text" maxlength="250" class="form-control" value="Some descriptive text can be added here">
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label>&nbsp;</label><br />
                    <button class="btn btn-primary btn-movedown"><i class="fa fa-arrow-down"></i></button>
                    <button class="btn btn-primary btn-moveup"><i class="fa fa-arrow-up"></i></button>
                    <button class="btn btn-danger btn-delete"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
        <!-- End Promo Items-->
        <!-- Testimonial Items-->
        <div id="testimonial-item-block" class="well custom rounded item-block" style="display:none">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="form-group">
                        <input type="hidden" name="AvatarUri" value="" />
                        <div class="nvavatar" style="background-image: url('/Content/DesignStyle/img/pagebuilder/demos/av_1.jpg');background-size: cover;margin: 0 auto;">&nbsp;</div>
                    </div>

                    <button class="btn btn-info btn-changeimage"><i class="fa fa-pencil"></i> &nbsp; Change image</button>
                    <input type="file" accept="@allowedFileTypes" name="Avatar-File" class="form-control hidden">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="colour">Person's name</label><br />
                        <input type="text" name="PersonName" maxlength="150" class="form-control" value="Sarah Price">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="colour">Further info (e.g. job title, certifications)</label><br />
                        <input type="text" name="FurtherInfo" maxlength="250" class="form-control" value="Graphic designer">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea name="Content" class="form-control" style="max-width: 100%; height: 80px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit tempor purus. Sed mollis, odio eu maximus iaculis, massa nunc porta orci, in porta erat leo quis risus. Etiam condimentum dolor a dolor rhoncus iaculis.</textarea>
                    </div>
                </div>
            </div>

            <br />
            <button class="btn btn-primary btn-movedown"><i class="fa fa-arrow-down"></i></button>
            <button class="btn btn-primary btn-moveup"><i class="fa fa-arrow-up"></i></button>
            <button class="btn btn-danger btn-delete"><i class="fa fa-trash"></i></button>
        </div>
        <!-- End Testimonial Items-->
        <div id="gallery-item-block" class="col item-block" style="margin-bottom: 30px;display:none;">
            <div class="media-folder-item well custom rounded">
                <a href="#" class="image-pop" rel="resources" title="This document's description content here.">
                    <input type="hidden" name="FeaturedImage" value="" />
                    <div class="preview" style="background-image: url('dist/img/pagebuilder/demo/cow.jpg');">
                    </div>
                </a>
                <br />

                <div class="meta_desc">
                    <div class="form-group">
                        <input type="text" maxlength="150" name="Title" class="form-control" value="Gallery item title" placeholder="Image title">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" maxlength="500" name="Content" style="max-width: 100%; height: 60px;">Image caption content displayed here</textarea>
                    </div>
                </div>
                <button class="btn btn-primary btn-movedown"><i class="fa fa-arrow-down"></i></button>
                <button class="btn btn-primary btn-moveup"><i class="fa fa-arrow-up"></i></button>
                <button class="btn btn-danger btn-delete"><i class="fa fa-trash"></i></button>

            </div>
        </div>
    </div>
    <div class="btn-group options" style="position: fixed; bottom: 25px; right: 20px; z-index: 2000;">
        <button id="btnAddBlock" @(Model!=null&&Model.Id>0?"disabled":"") class="btn btn-success fab" data-tooltip="Add a block" data-tooltip-stickto="left" data-tooltip-color="teal"
                data-toggle="modal" data-target="#pages-blocks-templates">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
<!-- /.content-wrapper -->
<div class="modal fade right" id="pages-blocks-templates" role="dialog" aria-labelledby="pages-blocks-templates" style="display: none;">
    <div class="modal-dialog modal-lg cx" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Add a block to your page</h5>
            </div>
            <div class="modal-body">

                <div class="flex-grid-half-lg gridfix from-community c1" style="width: 100%;">

                    <div class="col article-feature">
                        <a href="#" data-dismiss="modal" onclick="addBlock('#block-1');">
                            <div class="article-feature-img" style="background: url('/Content/DesignStyle/img/pagebuilder/template-preview-hero.jpg'); background-position: center top !important;">&nbsp;</div>
                        </a>

                        <div class="info">
                            <a href="#" data-dismiss="modal" onclick="addBlock('#block-1');">
                                <h1>Hero</h1>
                                <p>A hero generally sits as the main feature of a page, but can also be used to promote a feature, product or anything else.</p>
                            </a>
                        </div>
                    </div>

                    <div class="col article-feature">
                        <a href="#" data-dismiss="modal" onclick="addBlock('#block-2');">
                            <div class="article-feature-img" style="background: url('/Content/DesignStyle/img/pagebuilder/template-preview-features.jpg'); background-position: center top !important;">&nbsp;</div>
                        </a>

                        <div class="info">
                            <a href="#" data-dismiss="modal" onclick="addBlock('#block-2');">
                                <h1>Feature list</h1>
                                <p>A list of one or more features or other info, including a customisable FontAwesome icon.</p>
                            </a>
                        </div>
                    </div>

                    <div class="col article-feature">
                        <a href="#" data-dismiss="modal" onclick="addBlock('#block-3');">
                            <div class="article-feature-img" style="background: url('/Content/DesignStyle/img/pagebuilder/template-preview-textimg.jpg'); background-position: center top !important;">&nbsp;</div>
                        </a>

                        <div class="info">
                            <a href="#" data-dismiss="modal" onclick="addBlock('#block-3');">
                                <h1>Text &amp; image</h1>
                                <p>A big, bold content block that features title, text, optional button link, and a decorative image.</p>
                            </a>
                        </div>
                    </div>

                    <div class="col article-feature">
                        <a href="#" data-dismiss="modal" onclick="addBlock('#block-4');">
                            <div class="article-feature-img" style="background: url('/Content/DesignStyle/img/pagebuilder/template-preview-testimonials.jpg'); background-position: center top !important;">&nbsp;</div>
                        </a>

                        <div class="info">
                            <a href="#" data-dismiss="modal" onclick="addBlock('#block-4');">
                                <h1>Testimonial slider</h1>
                                <p>A sliding carousel of testimonials (or any other content you'd like to be featured in a slider).</p>
                            </a>
                        </div>
                    </div>

                    <div class="col article-feature">
                        <a href="#" data-dismiss="modal" onclick="addBlock('#block-5');">
                            <div class="article-feature-img" style="background: url('/Content/DesignStyle/img/pagebuilder/template-preview-shout.jpg'); background-position: center top !important;">&nbsp;</div>
                        </a>

                        <div class="info">
                            <a href="#" data-dismiss="modal" onclick="addBlock('#block-5');">
                                <h1>Promotion</h1>
                                <p>Title, text and a list of features, with a big promotional image - perfect for showcasing a product or service.</p>
                            </a>
                        </div>
                    </div>

                    <div class="col article-feature">
                        <a href="#" data-dismiss="modal" onclick="addBlock('#block-6');">
                            <div class="article-feature-img" style="background: url('/Content/DesignStyle/img/pagebuilder/template-preview-gallery.jpg'); background-position: center top !important;">&nbsp;</div>
                        </a>

                        <div class="info">
                            <a href="#" data-dismiss="modal" onclick="addBlock('#block-6');">
                                <h1>Gallery slider</h1>
                                <p>Showcase your portfolio, new office and more in an interactive sliding gallery with zoom overlay support.</p>
                            </a>
                        </div>
                    </div>

                </div>


                <br>
                <button class="btn btn-danger" type="button">Cancel</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade right" id="pages-blocks-hero-edit" data-backdrop="static" role="dialog" aria-labelledby="pages-blocks-hero-edit" style="display: none;">
    <div class="modal-dialog modal-lg cx" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Edit Hero block</h5>
            </div>
            <div class="modal-body">

                <div class="well custom">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Accent colour</label><br />
                                <p class="formhelp">
                                    Use accents to highlight bits of text in your heading and/or subheading with a colour of your choice. This can be useful for
                                    adding emphasis, for example. To use highlights, simply wrap the text you want highlighted in span tags when typing their content, for example:  <em><strong>&lt;span&gt;Highlighted text&lt;span&gt;</strong></em>.
                                </p>
                                <input type="color" name="HeroHeadingAccentColour" class="form-control" value="#d0d265">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label>Background style</label><br />
                                <select name="HeroBackgroundType" class="form-control select2" style="width: 100%;"
                                        onchange="$('.bgfields').hide(); var target = $(this).val(); $(target).fadeIn();">
                                    <option value="#bgcolour">Colour</option>
                                    <option value="#bggradient" selected>Gradient colour</option>
                                    <option value="#bgimage">Image</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group bgfields" id="bgcolour" style="display: none;">
                                <label for="colour">Colour</label><br />
                                <input type="color" name="HeroBackgroundColour" class="form-control" value="#60a7bd">
                            </div>
                            <div class="form-group bgfields" id="bggradient">
                                <label for="colour">Start/end colours</label><br />
                                <input type="color" name="HeroGradientColour1" class="form-control" value="#1dd8cf">
                                <input type="color" name="HeroGradientColour2" class="form-control" value="#8845f0">
                            </div>
                            <div class="form-group bgfields" id="bgimage" style="display: none;">
                                <label for="colour">Image</label><br />
                                <input type="hidden" name="HeroBackGroundImage" id="hdfHeroBackGroundImage"   value="" />
                                <input type="file" class="form-control" id="fileHeroBackGroundImage" onchange="uploadNoPreview('fileHeroBackGroundImage','hdfHeroBackGroundImage')" name="bgimage">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="HeroHeadingText">Heading</label><br />
                                <input type="text" maxlength="250" name="HeroHeadingText" class="form-control" value="Promotional <span>hero</span>" onkeyup="changetext('#block-1-heading', $(this).val());">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <label for="headline">Font size</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <input type="number" max="68" class="form-control" name="HeroHeadingFontSize" value="38">
                                <span class="input-group-addon">px</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="HeroHeadingColour">Colour</label><br />
                                <input type="color" name="HeroHeadingColour" class="form-control" value="#ffffff">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="HeroSubHeadingText">Subheading</label><br />
                                <textarea class="form-control" name="HeroSubHeadingText" style="max-width: 100%; height: 80px;">With a strapline included</textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <label for="HeroSubHeadingFontSize">Font size</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <input type="number" max="68" class="form-control" name="HeroSubHeadingFontSize" value="20">
                                <span class="input-group-addon">px</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="HeroSubHeadingColour">Colour</label><br />
                                <input type="color" maxlength="50" name="HeroSubHeadingColour" class="form-control" value="#ffffff">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="colour">Featured image</label><br />
                                <input type="hidden" name="HeroFeaturedImage" value="" />
                                <img src="/Content/DesignStyle/img/pagebuilder/demos/nvfeature.png" class="preview preview-HeroFeaturedImage" style="max-width: 250px; height: auto;">
                            </div>

                            <button class="btn btn-info" onclick="$('#fileHeroFeaturedImage').trigger('click');"><i class="fa fa-pencil"></i> &nbsp; Change</button>
                            <button class="btn btn-danger" onclick="$('.preview-HeroFeaturedImage').attr('src', ''); $('input[name=HeroFeaturedImage]').val('');"><i class="fa fa-trash"></i> &nbsp; Remove</button>
                            <input id="fileHeroFeaturedImage" accept="@allowedFileTypes" type="file" class="form-control hidden" onchange="uploadImageBlock(this,'img.preview-HeroFeaturedImage','input[name=HeroFeaturedImage]');">
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="colour">Logo</label><br />
                                <input type="hidden" name="HeroLogo" value="" />
                                <img src="/Content/DesignStyle/img/pagebuilder/demos/mslogo.png" class="preview preview-HeroLogo" style="max-width: 250px; height: auto;">
                            </div>

                            <button class="btn btn-info" onclick="$('#fileHeroLogo').trigger('click');"><i class="fa fa-pencil"></i> &nbsp; Change</button>
                            <button class="btn btn-danger" onclick="$('.preview-HeroLogo').attr('src', ''); $('input[name=HeroLogo]').val('');"><i class="fa fa-trash"></i> &nbsp; Remove</button>
                            <input id="fileHeroLogo" accept="@allowedFileTypes" type="file" class="form-control hidden" onchange="uploadImageBlock(this,'img.preview-HeroLogo','input[name=HeroLogo]');">
                        </div>
                    </div>

                </div>


                <br />
                <button class="btn btn-primary btn-update-block" type="button">Done</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade right" id="pages-blocks-features-edit" data-backdrop="static" role="dialog" aria-labelledby="pages-blocks-features-edit" style="display: none;">
    <div class="modal-dialog modal-lg cx" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Edit Features block</h5>
            </div>
            <div class="modal-body">

                <div class="well custom" style="padding-bottom: 5px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Accent colour</label><br />
                                <p class="formhelp">
                                    Use accents to highlight bits of text in your heading and/or subheading with a colour of your choice. This can be useful for
                                    adding emphasis, for example. To use highlights, simply wrap the text you want highlighted in span tags when typing their content, for example:  <em><strong>&lt;span&gt;Highlighted text&lt;span&gt;</strong></em>.
                                </p>
                                <input type="color" name="FeatureHeadingAccentColour" class="form-control" value="#d0d265">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="colour">Heading</label><br />
                                <input type="text" maxlength="250" name="HeadingText" class="form-control" value="Subsection heading">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <label for="headline">Font size</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <input type="number" max="68" class="form-control" name="HeadingFontSize" value="32">
                                <span class="input-group-addon">px</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="headline">Colour</label><br />
                                <input type="color" maxlength="50" class="form-control" name="HeadingColour" value="#224157">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="SubHeadingText">Subheading</label><br />
                                <textarea class="form-control" maxlength="500" name="SubHeadingText" style="max-width: 100%; height: 80px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin ante et ante pellentesque, at ultrices ipsum aliquet. Vestibulum semper et justo sed auctor.</textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <label for="SubHeadingFontSize">Font size</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <input type="number" max="68" class="form-control" name="SubHeadingFontSize" value="16">
                                <span class="input-group-addon">px</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="headline">Colour</label><br />
                                <input type="color" maxlength="50" name="SubHeadingColour" class="form-control" value="#657581">
                            </div>
                        </div>
                    </div>

                </div>


                <br />
                <label>Features</label>
                <br />
                <div id="features-Items">

                </div>
                <br />
                <button class="btn btn-success btn-addfeature-item"><i class="fa fa-plus"></i> &nbsp; Add a feature</button>
                <button class="btn btn-primary btn-update-block" type="button">Done</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade right" id="pages-blocks-textimg-edit" data-backdrop="static" role="dialog" aria-labelledby="pages-blocks-textimg-edit" style="display: none;">
    <div class="modal-dialog modal-lg cx" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Edit Text &amp; image block</h5>
            </div>
            <div class="modal-body">

                <div class="well custom">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Accent colour</label><br />
                                <p class="formhelp">
                                    Use accents to highlight bits of text in your heading and/or subheading with a colour of your choice. This can be useful for
                                    adding emphasis, for example. To use highlights, simply wrap the text you want highlighted in span tags when typing their content, for example:  <em><strong>&lt;span&gt;Highlighted text&lt;span&gt;</strong></em>.
                                </p>
                                <input type="color" name="HeadingAccentColour" maxlength="50" class="form-control" value="#d0d265">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="HeadingText">Heading</label><br />
                                <input type="text" name="HeadingText" maxlength="150" class="form-control" value="Text panel <span>with image</span>">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <label for="HeadingFontSize">Font size</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <input type="number" max="68" class="form-control" name="HeadingFontSize" value="32">
                                <span class="input-group-addon">px</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="headline">Colour</label><br />
                                <input type="color" name="HeadingColour" maxlength="50" class="form-control" value="#224157">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="colour">Content</label><br />
                                <textarea name="Content" class="form-control" style="max-width: 100%; height: 120px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo augue a metus interdum, ac tincidunt sapien semper. Nam consequat lorem a quam viverra, eu ornare eros condimentum. Aenean pulvinar vitae ligula vitae vulputate. Morbi odio eros, tincidunt in luctus eget, facilisis a ante. Etiam lobortis erat at libero ultricies ultrices.</textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <label for="headline">Font size</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <input type="number" max="68" class="form-control" name="ContentFontSize" value="16">
                                <span class="input-group-addon">px</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="headline">Colour</label><br />
                                <input name="ContentColour" type="color" maxlength="50" class="form-control" value="#333333">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="colour">Include a button</label><br />
                                <div class="checkbox toggle">
                                    <label>
                                        <input name="IsIncludeButton" onchange="$('.btn-options-30').toggle();" data-toggle="toggle" data-onstyle="success" data-on="Yes" data-off="No" type="checkbox" checked>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row btn-options-30">
                        <div class="col-xs-12 col-sm-6">
                            <label for="headline">Button label and colour</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <input name="ButtonText" type="text" class="form-control" value="Button example">
                                <span class="input-group-btn">
                                    <input name="ButtonColour" type="color" class="form-control" value="#2990ea">
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div id="btn-options-2">
                                <label for="headline">Button jumps to</label>
                                <select name="ButtonJumpTo" class="form-control select2" style="width: 100%;" onchange="if($(this).val() == 'external') { $('#url2').fadeIn(); } else $('#url2').hide();">
                                    <option value=""></option>
                                    <option value="external">External link</option>
                                    <option value="1">Block 1 (Hero)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12" id="url2" style="display: none;">
                            <label for="url">URL</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <span class="input-group-addon">https://</span>
                                <input name="ExternalLink" maxlength="250" type="text" onchange="removeHttps(this)" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="colour">Featured image</label><br />
                                <input name="FeaturedImage" type="hidden" value="" />
                                <img src="/Content/DesignStyle/img/pagebuilder/demos/thinking.jpg" class="preview preview-FeaturedImage" style="max-width: 250px; height: auto;">
                            </div>

                            <button class="btn btn-info" onclick="$('#filetextimgfeature').trigger('click');" style="margin-top: 10px;"><i class="fa fa-pencil"></i> &nbsp; Change image</button>
                            <input type="file" accept="@allowedFileTypes" class="form-control hidden" id="filetextimgfeature" onchange="uploadImageBlock(this,'#pages-blocks-textimg-edit img.preview-FeaturedImage','#pages-blocks-textimg-edit input[name=FeaturedImage]');">
                        </div>
                    </div>

                </div>


                <br />
                <button class="btn btn-primary btn-update-block" type="button">Done</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade right" id="pages-blocks-promo-edit" data-backdrop="static" role="dialog" aria-labelledby="pages-blocks-promo-edit" style="display: none;">
    <div class="modal-dialog modal-lg cx" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Edit Promotion block</h5>
            </div>
            <div class="modal-body">

                <div class="well custom">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Accent colour</label><br />
                                <p class="formhelp">
                                    Use accents to highlight bits of text in your heading and/or subheading with a colour of your choice. This can be useful for
                                    adding emphasis, for example. To use highlights, simply wrap the text you want highlighted in span tags when typing their content, for example:  <em><strong>&lt;span&gt;Highlighted text&lt;span&gt;</strong></em>.
                                </p>
                                <input type="color" name="HeadingAccentColour" class="form-control" value="#d0d265">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="colour">Heading</label><br />
                                <input type="text" maxlength="250" name="HeadingText" class="form-control" value="Text panel with image">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <label for="headline">Font size</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <input type="number" max="68" class="form-control" name="HeadingFontSize" value="46">
                                <span class="input-group-addon">px</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="headline">Colour</label><br />
                                <input type="color" maxlength="50"  name="HeadingColour" class="form-control" value="#224157">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="colour">Subheading</label><br />
                                <textarea class="form-control" name="SubHeadingText" style="max-width: 100%; height: 120px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo augue a metus interdum, ac tincidunt sapien semper. Nam consequat lorem a quam viverra, eu ornare eros condimentum. Aenean pulvinar vitae ligula vitae vulputate. Morbi odio eros, tincidunt in luctus eget, facilisis a ante. Etiam lobortis erat at libero ultricies ultrices.</textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <label for="headline">Font size</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <input type="number" max="68" class="form-control" name="SubHeadingFontSize" value="16">
                                <span class="input-group-addon">px</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="headline">Colour</label><br />
                                <input type="color" maxlength="50" name="SubHeadingColour" class="form-control" value="#657581">
                            </div>
                        </div>
                    </div>

                </div>


                <div class="well custom">

                    <label>List items</label>
                    <br /><br />
                    <div id="promo-items">

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <button class="btn btn-success btn-addproitem" onclick="addItemPromo()"><i class="fa fa-plus"></i> &nbsp; Add list item</button>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="well custom">

                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="colour">Include a button</label><br />
                                <div class="checkbox toggle">
                                    <label>
                                        <input data-toggle="toggle" name="IsIncludeButton" onchange="$('.btn-options-50').toggle();" data-onstyle="success" data-on="Yes" data-off="No" type="checkbox" checked>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row btn-options-50">
                        <div class="col-xs-12 col-sm-6">
                            <label for="headline">Button label and colour</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <input type="text" name="ButtonText" class="form-control" value="Button example">
                                <span class="input-group-btn">
                                    <input type="color" name="ButtonColour" class="form-control" value="#2990ea">
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div id="btn-options-2">
                                <label for="ButtonJumpTo">Button jumps to</label>
                                <select name="ButtonJumpTo" class="form-control select2" onchange="if($(this).val() == 'external') { $('#url20').fadeIn(); } else $('#url20').hide();" style="width: 100%;">
                                    <option value=""></option>
                                    <option value="external">External link</option>
                                    <option value="1">Block 1 (Hero)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12" id="url20" style="display: none;">
                            <label for="url">URL</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <span class="input-group-addon">https://</span>
                                <input type="text" maxlength="250" name="ExternalLink" onchange="removeHttps(this)" class="form-control">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="colour">Featured image</label><br />
                                <input name="FeaturedImage" type="hidden" value="" />
                                <img src="/Content/DesignStyle/img/pagebuilder/demos/promo-ex.jpg" class="preview preview-FeaturedImage" style="max-width: 250px; height: auto;">
                            </div>

                            <button class="btn btn-info" onclick="$('#fileproFeaturedImage').trigger('click');"><i class="fa fa-pencil"></i> &nbsp; Change image</button>
                            <input type="file" accept="@allowedFileTypes" class="form-control hidden" id="fileproFeaturedImage" onchange="uploadImageBlock(this,'#pages-blocks-promo-edit img.preview-FeaturedImage','#pages-blocks-promo-edit input[name=FeaturedImage]');">
                            <button class="btn btn-danger" onclick="$('#pages-blocks-promo-edit .preview-FeaturedImage').attr('src', ''); $('#pages-blocks-promo-edit input[name=FeaturedImage]').val('');"><i class="fa fa-trash"></i> &nbsp; Remove</button>
                        </div>
                    </div>

                </div>


                <br />
                <button class="btn btn-primary btn-update-block" type="button">Done</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade right" id="pages-blocks-testimonials-edit" data-backdrop="static" role="dialog" aria-labelledby="pages-blocks-testimonials-edit" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Edit Testimonials block</h5>
            </div>
            <div class="modal-body">
                <div id="testimonial-items"></div>
                <br />
                <button class="btn btn-success btn-addtestimonial-item"><i class="fa fa-plus"></i> &nbsp; Add a testimonial</button>
                <button class="btn btn-primary btn-update-block" type="button">Done</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade right" id="pages-blocks-gallery-edit" data-backdrop="static" role="dialog" aria-labelledby="pages-blocks-gallery-edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Edit Gallery block</h5>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-12">
                        <ul class="app_subnav admintabs" style="padding-top: 0;">
                            <li class="active"><a href="#gallery-current" data-toggle="tab">My gallery items</a></li>
                            <li><a href="#gallery-new" id="gallerynew" data-toggle="tab">Add new</a></li>
                        </ul>
                    </div>
                </div>
                <br />
                <div class="tab-content">
                    <!-- Existing -->
                    <div class="tab-pane fade in active" id="gallery-current">

                        <div class="well custom rounded" id="gallery-intro">
                            <div class="activity-overview plain">
                                <label>Build your gallery</label>
                                <br />
                                <p style="margin: 0 0 15px 0;">
                                    You don't have any gallery items yet! Click "Add new" above to start adding your images. Once you've added your first image it'll appear here
                                    for you to manage it.
                                </p>
                                <br />
                                <button class="btn btn-success community-button w-auto" onclick="$('#gallerynew').trigger('click');"><i class="fa fa-plus"></i> &nbsp; Add items</button>
                            </div>
                        </div>


                        <div class="flex-grid-fluid-lg" id="gallery-items" style="display: none;">
                        </div>
                    </div>
                    <!-- END Existing -->
                    <!-- Add new -->
                    <div class="tab-pane fade" id="gallery-new">
                        <div id="drag-drop-area" data-allowedFileTypes="@allowedFileTypes" onclick="$('#gallery-intro').hide(); $('#gallery-items').show();"></div>
                        <button id="btnResetUppy" style="display:none"></button>
                    </div>
                    <!-- END Add new -->
                </div> <!-- ./tab-content -->

                <br />
                <button class="btn btn-primary btn-update-block" type="button">Done</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@{
    <link href="~/Content/DesignStyle/css/fontawesome-iconpicker.min.css" rel = "stylesheet"/>
    @*<script src="~/Content/DesignStyle/js/jquery.fontselect.min.js"></script>*@
    <script src="~/Content/DesignStyle/js/fontawesome-iconpicker.min.js"></script>
    <link href="https://releases.transloadit.com/uppy/v1.30.0/uppy.min.css" rel="stylesheet">
    <script src="https://releases.transloadit.com/uppy/v1.30.0/uppy.min.js"></script>
    @*<script src="~/Content/DesignStyle/js/uppy.min.js"></script>*@
    <script src="~/Scripts/dev/uppy.s3.js"></script>
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/businesspagebuilder.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/businesspagebuilder.min.js"></script>
    }
}