@using Qbicles.Models.Trader
@using Qbicles.Models.Trader.ODS
@using Qbicles.Models.Trader.PoS
@model  PosDeviceType
@{
    var orderTypes = (List<PosOrderType>)(ViewBag.posOrderTypes);
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            @if (Model.Id > 0)
            {
                <h5 class="modal-title">Edit a POS Device Type</h5>
            }
            else
            {
                <h5 class="modal-title">Add a POS Device Type</h5>
            }
            <input id="devicetype_id" type="hidden" value="@Model.Id" />
        </div>
        <div class="modal-body">

            <div class="well custom">
                <form id="devicetype_form">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group validate-control">
                                <label for="name">Name <span class="red">*</span></label>
                                <input type="text" id="devicetype_name" value="@Model.Name" required name="devicename" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group" style="margin: 0;">
                                <label for="serial">Order Type(s)</label>
                                <select name="otype" id="devicetype_types" class="form-control select2" multiple style="width: 100%;">
                                    @foreach (var item in orderTypes)
                                    {
                                        if (Model.PosOrderTypes.Any(q => q.Id == item.Id))
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <br />
            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" onclick="saveDeviceType()">Confirm</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $("select.select2").select2({placehoder: "Please select"});
</script>