@using Qbicles.Models.Trader
@using Qbicles.Models.Trader.ODS
@using Qbicles.Models.Trader.PoS
@model  PosDevice
@{
    var deviceTypes = (List<PosDeviceType>)(ViewBag.PosDeviceTypes);
    var location = (TraderLocation)ViewBag.Location;
    var queue = (PrepQueue)ViewBag.PrepQueue;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Add a Device</h5>
        </div>
        <div class="modal-body">

            <div class="well custom">

                <form id="add-device-form" class="row">
                    <div class="col-xs-12 col-sm-9">
                        <div class="form-group validate-control">
                            <label for="name">Device name <span class="red">*</span></label>
                            <input type="text" id="device-name" name="devicename" class="form-control" required="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group validate-control">
                            <label for="prefix">Prefix <span class="red">*</span></label>
                            <input type="text" id="device-prefix" name="prefix" class="form-control" maxlength="3" required="">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="serial">Serial number</label>
                            <input type="text" id="device-serial" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="status">Device type</label>
                            <select id="devicetype" class="form-control select2" style="width: 100%;">
                                <option value=" "></option>
                                @foreach (var item in deviceTypes)
                                {
                                    if (Model.PosDeviceType != null && item.Id == Model.PosDeviceType.Id)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Summary</label>
                            <textarea id="device-summary" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group" style="margin: 0;">
                            <label for="location">Location</label>
                            <input class="form-control" readonly="" value="@location.Name" />
                        </div>
                    </div>
                    <div class="col-xs-12" style="margin-top: 20px;">
                        <div class="form-group">
                            <label for="name" style="width: 100%">Queue <span class="red">*</span></label>
                            <span style="padding-left: 10px;">@queue.Name</span>
                            <input type="hidden" value="@queue.Id" id="device-queue-id" />
                        </div>
                    </div>
                </form>

            </div>

            <br />
            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" onclick="CreateDevice()">Confirm</button>



        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $("#devicetype").not('.multi-select').select2({ placeholder: "Please select" });
    //$("#devicetype").select2({ placehoder: "Please select" });
</script>