@using Qbicles.BusinessRules
@using Qbicles.Models.Trader.ODS
@using Qbicles.Models.Trader.PoS
@model  PosOrderType
@{
    var listTypes = Enum.GetValues(typeof(OrderTypeClassification)).Cast<OrderTypeClassification>().ToList();
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model.Id > 0)
            {
                <h5 lass="modal-title">Edit an Order Type</h5>
            }
            else
            {
                <h5 lass="modal-title">Add an Order Type</h5>
            }
            <input id="ordertype_id" type="hidden" value="@Model.Id" />
        </div>
        <div class="modal-body">

            <div class="well custom">
                <form id="ordertype_form">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group validate-control">
                                <label for="name">Name <span class="red">*</span></label>
                                <input type="text" id="ordertype_name" value="@Model.Name" required name="name" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group validate-control">
                                <label for="class">Classification <span class="red">*</span></label>
                                <select name="class" id="ordertype_class" required class="form-control select2" style="width: 100%;">
                                    @foreach (var item in listTypes)
                                    {
                                        if (Model.Classification == item)
                                        {
                                            <option value="@item" selected>@item.GetDescription()</option>
                                        }
                                        else
                                        {
                                            <option value="@item">@item.GetDescription()</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group" style="margin: 0;">
                                <label for="summary">Summary</label>
                                <textarea name="summary" id="ordertype_summary" class="form-control" style="max-width: 100%; height: 80px;">@Model.Summary</textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <br />
            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" onclick="saveOrderType()">
                Confirm
            </button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $("select.select2").select2();
</script>