@using Qbicles.BusinessRules.Model
@using Qbicles.BusinessRules
@model List<VoucherOfUserModel>
@foreach (var item in Model)
{
    switch (item.Type)
    {
        case Qbicles.BusinessRules.VoucherOfUserType.IsValid:
            <li>
                <span class="voucher-status valid">Valid</span>
                <a href="javascript:void(0)" class="date-schedule" style="margin: 0; padding: 0;" onclick="showVoucherItemMore('@item.VourcherKey')">
                    <div class="mdv2-activity" style="margin: 0 0 5px 0;">
                        <h2 style="margin: 0; padding: 0 0 5px 0;">@item.Name</h2>
                        <p style="margin-bottom: 10px;">Expires on @(item.EndDate.DatetimeToOrdinalAndTime())</p>
                        <button class="btn btn-info">More info</button>
                    </div>
                </a>
            </li>
            break;
        case Qbicles.BusinessRules.VoucherOfUserType.IsRedeemed:
            <li>
                <span class="voucher-status redeemed">Redeemed</span>
                <a href="javascript:void(0)" class="date-schedule" style="margin: 0; padding: 0;">
                    <div class="mdv2-activity" style="margin: 0 0 5px 0;">
                        <h2 style="margin: 0; padding: 0 0 5px 0;">@item.Name</h2>
                        <p style="margin-bottom: 10px;">Redeemed on @(item.RedeemedDate.DatetimeToOrdinalAndTime())</p>
                        <button class="btn btn-danger" onclick="removeVoucher('@item.VourcherKey',this)">Remove</button>
                    </div>
                </a>
            </li>
            break;
        case Qbicles.BusinessRules.VoucherOfUserType.IsExpired:
            <li>
                <span class="voucher-status expired">Expired</span>
                <a href="javascript:void(0)" class="date-schedule" style="margin: 0; padding: 0;">
                    <div class="mdv2-activity" style="margin: 0 0 5px 0;">
                        <h2 style="margin: 0; padding: 0 0 5px 0;">@item.Name</h2>
                        <p style="margin-bottom: 10px;">Expired on @(item.EndDate.Day + item.EndDate.Day.ToOrdinal() + item.EndDate.ToString(" MMMM yyyy"))</p>
                        <button class="btn btn-danger" onclick="removeVoucher('@item.VourcherKey',this)">Remove</button>
                    </div>
                </a>
            </li>
            break;
        default:
            break;
    }

}

