@using Qbicles.BusinessRules.Model
@model StoreCreditExchangeModel
    @{        
        var maxBalanceAfterExchange = Model.StoreCredit + Model.Point * Model.ExchangeRate;
        var maxBalanceReceived = Model.Point * Model.ExchangeRate;
    }

<input type="hidden" id="exchange-rate" value="@Model.ExchangeRate" />
<input type="hidden" id="point-balance" value="@Model.Point" />
<input type="hidden" id="credit-balance" value="@Model.StoreCredit" />
<div class="widget-header">
    <div class="widget-subnav">
        <a href="#" class="store-name" onclick="showBusinessContent('@(HttpUtility.UrlEncode(Model.ContactKey))')">
            @(Model.Name)
            <span><i class="fa fa-angle-left"></i></span>
        </a>
    </div>
    <br /><br /><br />

    <div class="widget-feature" style="background-image: url('@Model.LogoUri');">&nbsp;</div>
</div>

<div style="padding-top: 35px;">
    <div class="scroll-widget detail">
        <ul>
            <li>
                <a href="#">
                    <div class="mb-avatar">
                        <img src="~/Content/DesignStyle/img/icon_award.png">
                    </div>
                    <div class="mb-info">
                        <h5>Points</h5>
                        <h6 class="point" id="point-balance">@(Model.Point.ToString("#,###"))</h6>
                    </div>
                </a>
            </li>
            <li>


                <br />
                <div class="tab-content">

                    <!-- Convert -->
                    <div class="tab-pane fade in active" id="points-convert">

                        <div class="date-schedule" style="background: #fff !important; border: 0; padding: 20px;">

                            <label>Convert points to Store Credit</label>
                            <div class="mdv2-activity">

                                <div class="row">
                                    <div class="col-xs-12">

                                        <label style="color: #333;">Points to convert</label><br />
                                        <div class="input-group" style="margin-bottom: 5px;">
                                            <input type="number" id="exchange-point" value="@Model.Point" max="@Model.Point" min="1" class="form-control" 
                                                   onkeypress="return ((event.charCode >= 48 && event.charCode <= 57))" onchange="inputPointExchangeOnChange()">
                                            <span class="input-group-btn">
                                                <button class="btn btn-info" id="update"  onclick="showPointExchangePartial('@(HttpUtility.UrlEncode(Model.ContactKey))')">Refresh</button>
                                            </span>
                                        </div>

                                    </div>
                                </div>

                                <br /><br />

                                <div class="row">
                                    <div class="col-xs-12">
                                        <label style="color: #333;">Store credit after conversion</label>
                                        <h4 style="font-size: 22px; font-weight: 400; margin: 0; padding: 0 0 15px 0;">
                                            <span id="amount-after-exchange">@maxBalanceAfterExchange.ToString("N" + (int)Model.DecimalPlace)</span>
                                            <small style="font-size: 14px;" class="green" id="credit-received">+@maxBalanceReceived.ToString("N" + (int)Model.DecimalPlace)</small>
                                        </h4>
                                    </div>
                                </div>


                                <br />
                                <hr />


                                <p>
                                    By hitting "Convert now" below you are agreeing to convert your specified amount of store points for <strong>@Model.ExchangeRate</strong>
                                    to the total amount of store credit specified above. Please ensure you have updated the total following any changes to ensure
                                    you see the correct amount.
                                </p>

                                <br />
                                <button class="btn btn-success community-button" onclick="convertStorePointToStoreCredit('@(HttpUtility.UrlEncode(Model.ContactKey))')">Convert now</button>

                            </div>
                        </div>

                    </div>
                    <!-- END Convert -->



                </div>
            </li>
            <!--
            <li>
                <a href="#" class="date-schedule" style="background: #fff !important; border: 0; margin-top: 30px; padding: 20px;">
                    <div class="mdv2-activity">
                        <h2>Next reward</h2>
                        <div class="mdv2-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <small class="pull-left">50%</small>
                            <p id="task-1" class="pull-right" style="position: relative; top: 2px;">+10 points</p>
                        </div>
                    </div>
                </a>
            </li>
            -->
        </ul>

    </div>
</div>
