@using Qbicles.BusinessRules.Model
@model StoreCreditExchangeModel
@{ 
    var maxBalanceAfterExchange = Model.StoreCredit + Model.AccountBalance;
}
<input type="hidden" id="account-balance" value="@(Model.AccountBalance)"/>
<input type="hidden" id="credit-balance" value="@Model.StoreCredit" />
<div class="widget-header">
    <div class="widget-subnav">
        <a href="#" onclick="showBusinessContent('@(HttpUtility.UrlEncode(Model.ContactKey))')">
            @(Model.Name)
            <span><i class="fa fa-angle-left"></i></span>
        </a>
    </div>
    <br /><br /><br />

    <div class="widget-feature" style="background-image: url('@Model.LogoUri');">&nbsp;</div>
</div>

<div style="padding-top: 35px;">
    <div class="scroll-widget detail">
        <ul>
            <li>
                <a href="#">
                    <div class="mb-avatar">
                        <img src="~/Content/DesignStyle/img/icon_statement_moniback.png">
                    </div>
                    <div class="mb-info">
                        <h5>Account balance</h5>
                        <h6 id="account-balance-str">@Model.AccountBalanceString</h6>
                    </div>
                </a>
            </li>
            <li>

                <br />
                <div class="tab-content">

                    <!-- Convert -->
                    <div class="tab-pane fade in active" id="credit-convert">

                        <div class="date-schedule" style="background: #fff !important; border: 0; padding: 20px;">

                            <label>Convert account balance to Store Credit</label>
                            <div class="mdv2-activity">

                                <div class="row">
                                    <div class="col-xs-12">

                                        <label style="color: #333;">Amount to convert (@Model.CurrencySymbol)</label><br />
                                        <div class="input-group" style="margin-bottom: 5px;">
                                            <input type="number" id="balance-exchange" value="@Model.AccountBalance" max="@Model.AccountBalance" min="1" class="decimal-input form-control" onchange="inputAccBalanceExchangeOnChange()">
                                            <span class="input-group-btn">
                                                <button class="btn btn-info" id="update2" onclick="showAccountBalanceExchangePartial('@HttpUtility.UrlEncode(Model.ContactKey)')">Refresh</button>
                                            </span>
                                        </div>

                                    </div>
                                </div>

                                <br /><br />

                                <div class="row">
                                    <div class="col-xs-12">
                                        <label style="color: #333;">Store credit after conversion</label>
                                        <h4 style="font-size: 22px; font-weight: 400; margin: 0; padding: 0 0 15px 0;">
                                            <span id="amount-after-exchange">@maxBalanceAfterExchange.ToString("N" + (int)Model.DecimalPlace)</span>
                                            <small id="credit-received" style="font-size: 14px;" class="green">+@Model.AccountBalanceString</small>
                                        </h4>
                                    </div>
                                </div>


                                <br />
                                <hr />


                                <p>
                                    By hitting "Convert now" below you are agreeing to use some of your account balance as store credit for shopping with
                                    <strong>RoadChef</strong>.
                                </p>

                                <br />
                                <button class="btn btn-success community-button" onclick="convertAccountBalanceToStoreCredit('@(HttpUtility.UrlEncode(Model.ContactKey))')">Convert now</button>

                            </div>
                        </div>

                    </div>
                    <!-- END Convert -->




                </div>

            </li>

            <!--
            <li>
                <a href="#" class="date-schedule" style="background: #fff !important; border: 0; margin-top: 30px; padding: 20px;">
                    <div class="mdv2-activity">
                        <h2>Next reward</h2>
                        <div class="mdv2-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <small class="pull-left">50%</small>
                            <p id="task-1" class="pull-right" style="position: relative; top: 2px;">+10 points</p>
                        </div>
                    </div>
                </a>
            </li>
            -->
        </ul>

    </div>
</div>
<style>
    .decimal-input::-webkit-outer-spin-button,
    .decimal-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .decimal-input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }
</style>