@using Qbicles.BusinessRules.Model
@using Qbicles.Models
@model MonibacBusinessModel

<input type="hidden" id="contact-domainid" value="@Model.DomainId" />
<div class="widget-header">
    <div class="widget-subnav">
        <a href="#" onclick="loadConnectedBusinesses(false); $('.widget-view').hide(); $('.widget-base').fadeIn();">
            Stores
            <span><i class="fa fa-angle-left"></i></span>
        </a>
    </div>
    <br /><br /><br />
    <div class="widget-feature businessprofile-logo" style="background-image: url('@(Model?.BusinessLogoUri ?? "")');">&nbsp;</div>
</div>

<div style="padding-top: 35px;">
    <div class="scroll-widget detail">
        <ul>
            <li>
                <a href="javascript:void(0)" onclick="showAccountBalanceExchangePartial('@(HttpUtility.UrlEncode(Model.ContactKey))')">
                    <div class="mb-avatar">
                        <img src="~/Content/DesignStyle/img/icon_statement_moniback.png">
                    </div>
                    <div class="mb-info">
                        <h5>Account balance</h5>
                        <h6 class="account-balance-str">@(Model?.AccountBalanceString ?? "0")</h6>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="showPointExchangePartial('@(HttpUtility.UrlEncode(Model.ContactKey))')">
                    <div class="mb-avatar">
                        <img src="~/Content/DesignStyle/img/icon_award.png">
                    </div>
                    <div class="mb-info">
                        <h5>Points</h5>
                        <h6 class="point">@(Model != null && Model.Points > 0 ? (Model.Points).ToString("#,###") : "0")</h6>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="mb-avatar">
                        <img src="~/Content/DesignStyle/img/icon_cash_moniback.png">
                    </div>
                    <div class="mb-info">
                        <h5>Store Credit</h5>
                        <h6 class="store-credit-str">@(Model?.StoreCreditBalanceString ?? "0")</h6>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="showWidgetCodes('@Model.BusinessProfileId.Encrypt()')">
                    <div class="mb-avatar">
                        <img src="~/Content/DesignStyle/img/icon_coupons.png">
                    </div>
                    <div class="mb-info">
                        <h5>My vouchers</h5>
                        <h6><span id="vouchers-valid-@Model.BusinessProfileId">@(Model.ValidVouchersCount)</span> valid</h6>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
