@using Qbicles.Models.Loyalty
@using Qbicles.BusinessRules
@model LoyaltyPromotion
@{
    var currentUserId = (string)ViewBag.CurrentUserId;
    var isClaimNowAllowed = (bool)ViewBag.AllowClaimNow;

    var businessKey = (string)ViewBag.BusinessKey;
    var businessProfileId = (int)ViewBag.BusinessProfileId;
    var remainHtmlStr = (string)ViewBag.RemainHtmlInfo;
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative; min-height: 0; height: auto;">


    <!-- Main content -->
    <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin">



        <!-- Main area -->
        <div class="mdv2-col-dash" style="background: #f4f6f9; min-width: 0;">



            <div class="tab-content community-v2">


                <!-- Highlights -->
                <div class="tab-pane fade in active community-v2-content" id="highlights" style="padding-left: 0; padding-right: 0;">

                    <div class="spacing" style="max-width: 1000px; margin: 0 auto; position: relative;">

                        <div class="row">
                            <div class="col-xs-12">

                                <div class="followingblock ani">

                                    <button class="btn btn-primary" onclick="window.location.href='/Monibac/MonibacManage';" style="margin-bottom: 20px;"><i class="fa fa-angle-left"></i> &nbsp; All Promotions</button>

                                </div>
                            </div>
                        </div>

                        <br /><br /><br />



                        <div class="flex-grid-fluid newdeals from-community c1" style="width: 100%;">



                            <article class="promo-block col">
                                <div class="what">
                                    <div class="user-options" style="margin-left: 0;">

                                        <div style="display: flex; flex-direction: row;">
                                            <div class="who mb"><div class="who-avatar mb" style="border: 0; background-image: url('@Model.Domain.LogoUri.ToDocumentUri().ToString()');"></div></div>

                                            <div class="user-metainfo mb">
                                                <h5>@Model.Domain.Name</h5>&nbsp;
                                                <i class="fa fa-@Model.PlanType.Icon"></i>
                                            </div>
                                        </div>

                                        <div class="post-body">
                                            <div class="labelling">


                                            </div>

                                            <div class="highlight-img taller" style="background-image: url('@Model.FeaturedImageUri.ToDocumentUri().ToString()');">&nbsp;</div>

                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-xs-5"><a href="#lovedby" data-toggle="modal" style="font-weight: 500; position: relative;"><span class="liked-count">@(Model.LikedBy.Count)</span> people love this</a></div>
                                                    <div class="col-xs-7">
                                                        <ul class="hlopts">
                                                            <li><a href="javascript:void(0)"><i onclick="ShowSharingPromotionPartialView('@Model.Key')" class="fa fa-share-alt"></i></a></li>
                                                            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                            <li><a href="javascript:void(0)"><i onclick="setLikingUser(this, '@Model.Key',@(Model.LikingUsers.Any(p => p.Id == currentUserId) ?"false":"true"))" class="fa fa-bookmark @(Model.LikingUsers.Any(p => p.Id == currentUserId) ? "red" : "")"></i></a></li>
                                                            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                            <li><a href="javascript:void(0)"><i onclick="markLikePromotion(this, '@Model.Key',@(Model.LikedBy.Any(p => p.Id == currentUserId) ?"false":"true"))" class="fa @(Model.LikedBy.Any(p => p.Id == currentUserId) ? "fa-heart":"fa-heart-o")"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="user-post larger">
                                                <h1>@Model.Name</h1>
                                                @if (remainHtmlStr.Contains("Offer expired"))
                                                {
                                                    <span class="countdown2 label label-info label-lg" style="font-size: 12px; top: 0;">@Html.Raw(remainHtmlStr)</span>
                                                }
                                                else
                                                {
                                                    <span class="countdown2 label label-warning label-lg" style="font-size: 12px; top: 0;">@Html.Raw(remainHtmlStr)</span>
                                                }

                                                <br><br><br>
                                                <p>@Model.Description</p>


                                                <br>
                                                @if (isClaimNowAllowed)
                                                {
                                                    <button id="button-claim-@Model.Key" class="btn btn-info community-button dropdown-toggle"
                                                            onclick="claimPromotion('@Model.Key', '@businessKey', '@businessProfileId')">
                                                        Claim now
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-info community-button dropdown-toggle" disabled>
                                                        Claim now
                                                    </button>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>


                        </div>


                    </div>

                </div>
                <!-- END Highlights -->



            </div> <!-- ./tab-content -->

        </div>


    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->
<div class="modal fade left" id="share-content" role="dialog" aria-labelledby="share-content"></div>
<script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/monibac.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/monibac.js"></script>
    }
}

<script>
    $(document).ready(function () {
        initCountDown();
    })
</script>