@using Qbicles.Models
@using Qbicles.Models.B2C_C2C
@using Qbicles.BusinessRules
@using Qbicles.BusinessRules.Helper;
@model B2CQbicle
@{
    //var currentUser = (ApplicationUser)ViewBag.CurrentUser;
}
@if (Model.Status == CommsStatus.Blocked)
{
    if (Model.BlockerDomain != null)
    {
        <article class="stream-shout gift animated fadeIn">
            <img src="@Qbicles.BusinessRules.HelperClass.ToDocumentUri(Qbicles.BusinessRules.Helper.ConfigManager.CommunityBlocked)" class="wow">
            <div class="promoinfo">
                <h5> @ResourcesManager._L("COM_C2C_BLOCK_B_TITLE")</h5>
                <p>
                     @ResourcesManager._L("COM_C2C_BLOCK_B_DESCRIPTION")
                </p>
                <br>
                <div class="inviteopts">
                    <button class="btn btn-info community-button w-auto" onclick="setStatusBy('@Model.Key','@CommsStatus.Approved');"><i class="fa fa-unlock"></i> &nbsp; Unblock</button>
                </div>
            </div>

        </article>
    }
    else
    {
        <article class="stream-shout gift animated fadeIn">

            <img src="@Qbicles.BusinessRules.HelperClass.ToDocumentUri(Qbicles.BusinessRules.Helper.ConfigManager.CommunityBlocked)" class="wow">
            <div class="promoinfo">
                <h5>
                    @ResourcesManager._L("COM_C2C_BLOCK_C_TITLE", Model.Customer.GetFullName())
                </h5>
                <p>
                    @ResourcesManager._L("COM_C2C_BLOCK_C_DESCRIPTION")
                </p>
                <br>
                <div class="inviteopts">
                    <button class="btn btn-danger community-button w-auto" onclick="removeB2CQbicleById('@Model.Key');"><i class="fa fa-trash"></i> &nbsp; Remove contact</button>
                </div>
            </div>

        </article>
    }
}