@using Qbicles.Models.B2B
@using Qbicles.BusinessRules
@{
    var business = (B2BProfile)ViewBag.BusinessProfile;
    var api = (string)ViewBag.DocRetrievalUrl;
    var catalogues = (List<CatalogListCustomModel>)ViewBag.Catalogues;
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Shop with @business.BusinessName</h5>
        </div>
        <div class="modal-body v2-full">

            <div class="flex-grid-half-lg gridfix newdeals from-community c1" data-tooltip-color="slate" data-tooltip-stickto="right">

                @foreach (var item in catalogues)
                {
                    <article class="promo-block col">
                        <div class="what">
                            <div class="user-options" style="margin-left: 0;">
                                <div class="post-body">
                                    <div class="labelling">
                                    </div>

                                    <a href="javascript:void(0)" onclick="loadB2CCatalogDetail('@item.Key')">
                                        <div class="highlight-img shorter roundedtop" style="background-image: url('@item.ImageUri&size=M');">&nbsp;</div>
                                    </a>


                                    <div class="user-post">
                                        <a href="javascript:void(0)" onclick="loadB2CCatalogDetail('@item.Key')">
                                            <h1 style="margin: 0; padding: 30px 0 10px 0;">@item.Name</h1>
                                            <span class="label label-soft nohover label-lg" style="font-size: 12px; top: 0;">@item.ItemNum items</span>
                                            <p>@Html.Raw(item.Description) </p>
                                        </a>

                                        <br>
                                        <a href="javascript:void(0)" onclick="loadB2CCatalogDetail('@item.Key')" class="btn btn-info community-button sm">Place order now</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                }
            </div>

        </div>
    </div><!-- /.modal-content -->
</div>
