@using Qbicles.Models.B2B
@using Qbicles.BusinessRules
@{
    var business = (B2BProfile)ViewBag.BusinessProfile;
    var api = (string)ViewBag.DocRetrievalUrl;
    var catalogues = (List<CatalogListCustomModel>)ViewBag.Catalogues;
}
<div class="welcome-info" style="margin: 0 0 20px 0;">
    
    <div style="display: flex; flex-direction: row; align-items: middle;">
        <div style="flex: 0 0 80px;">
            <div class="avatar-sm rounded" style="width: 80px; height: 80px; background-size: cover; background-image: url('@(api+business.LogoUri)&size=T');">&nbsp;</div>
        </div>
        <div style="flex: 1; align-self: center; padding-left: 15px;">
            <h1 style="line-height: 1.1; margin-bottom: 0;">@business.BusinessName store</h1>
            <h4>All catalogues</h4>
        </div>
    </div>
</div>

<div class="well custom">
    <div class="row">
        <div class="col-xs-12">
            <button onclick="initFindBusinessStores()" class="btn btn-primary" data-toggle="tab" data-target="#stores"><i class="fa fa-angle-left"></i> &nbsp; All stores</button>
        </div>
    </div>
</div>

<br />
<br />
<div class="flex-grid-thirds-lg newdeals from-community c1" data-tooltip-color="slate" data-tooltip-stickto="right">
    @foreach (var item in catalogues)
    {
        <article class="promo-block col">
            <div class="what">
                <div class="user-options" style="margin-left: 0;">

                    <div class="post-body">
                        <div class="labelling">
                        </div>

                        <a href="javascript:void(0)" onclick="loadB2CBusinessCatalogDetail('@item.Key')">
                            <div class="highlight-img shorter roundedtop" style="background-image: url('@item.ImageUri&size=M');">&nbsp;</div>
                        </a>

                        <div class="user-post">
                            <a href="javascript:void(0)" onclick="loadB2CBusinessCatalogDetail('@item.Key')">
                                <h1 style="margin: 0; padding: 30px 0 10px 0;">@item.Name</h1>
                                <span class="label label-soft nohover label-lg" style="font-size: 12px; top: 0;">@(item.ItemNum) items</span>
                                <p>@item.Description</p>
                            </a>
                            <br />
                            <button onclick="loadB2CBusinessCatalogDetail('@item.Key')" class="btn btn-info community-button sm" data-toggle="tab" data-target="#business-catalog-detail">&nbsp; Browse</button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    }
</div>

