@using Qbicles.BusinessRules;
@using Qbicles.Models.Catalogs;
@using Qbicles.Models;
@model Catalog
@{
    var currentDomainPlan = (DomainPlan)ViewBag.CurrentDomainPlan ?? null;
    var currentDomainPlanLevel = currentDomainPlan?.Level?.Level ?? BusinessDomainLevelEnum.Free;

    var isB2CEnabled = (bool)ViewBag.IsShowCatalog;
}


<div class="welcome-info" style="margin: 0 0 20px 0;">
    <input type="hidden" id="hdfBusinessDomainId" value="@(Model.Location?.Domain?.Id ?? 0)" />
    <div style="display: flex; flex-direction: row; align-items: middle;">
        <div style="flex: 0 0 80px;">
            <div class="avatar-sm rounded" style="width: 80px; height: 80px; background-size: cover; background-image: url('@Model.Image.ToUriString(Enums.FileTypeEnum.Image,"T")');">&nbsp;</div>
        </div>
        <div style="flex: 1; align-self: center; padding-left: 15px;">
            <h1 style="line-height: 1.1; margin-bottom: 0;">@Model.Name</h1>
            <h4>@Model.Location.Name</h4>
            <span>@Model.Categories.Count() categories</span>
        </div>
    </div>
</div>

<div class="well custom">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" data-toggle="tab" id="catalog-detail-back-btn" data-target="#business-catalogues"><i class="fa fa-angle-left"></i> &nbsp; All catalogues</button>
            @if (currentDomainPlanLevel >= BusinessDomainLevelEnum.Starter && isB2CEnabled)
            {
                <button class="btn btn-info" onclick="createB2COrderDiscussion('@(Model.Location.Domain.Key)',@Model.Id)"><i class="fa fa-shopping-basket"></i> &nbsp; Place an order here</button>
            }
        </div>
    </div>
</div>

<div class="well custom" style="padding-bottom: 5px;width:100%;">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" class="form-control" id="search-item">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="search">Categories</label>
                <select id="search-item-category" class="form-control checkmulti-category" multiple>
                    @foreach (var category in Model.Categories.Where(e => e.IsVisible).OrderBy(n => n.Name))
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<br />

<div id="data-container-items" class="flex-grid-thirds-lg gridfix mydeskmarket mdogrid mydeskmarketitems" style="width: 100%; padding: 0;">
</div>
<div id="pagiation-items" style="float: right;"></div>

<script src="~/Scripts/dev/b2c.discussionmenu.js"></script>