@using Qbicles.Models.TraderApi
@model CategoryItemModel
<div class="product-featured-top">
    <img src="@Model.ImageUri">
</div>

<div class="product-sell">

    <h6>@Model.CategoryName</h6>
    <h1>@Model.Name</h1>

    <h5>@Model.Price</h5>
    <br>

    <p>@Model.Description</p>

</div>
