@using Qbicles.Models.B2B
@using Qbicles.Models.Catalogs
@using Qbicles.BusinessRules
@{
    var business = (B2BProfile)ViewBag.BusinessProfile;
    var lids = business != null ? business.BusinessCatalogues.Select(s => s.Id).ToArray(): Array.Empty<int>();
    var catalogues = (List<CatalogListCustomModel>)ViewBag.Catalogues;
}
<table class="table-hover table-striped datatable" id="tblBusinessCatalogues" style="width: 100%;">
    <thead>
        <tr>
            <th>Catalogue</th>
            <th>Location</th>
            <th data-orderable="false">Visible to Customers</th>
            @*<th data-orderable="false">Published</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in catalogues)
        {
            <tr>
                <td>@item.Name</td>
                <td>@(item.Location==null? "--":item.Location.Name)</td>
                <td>
                    <div class="checkbox toggle">
                        <label>
                            <input data-toggle="toggle" @(lids.Contains(item.Id) ? "checked" : "") onchange="includeCatalogInProfile(@item.Id,this)" data-onstyle="success" type="checkbox">
                        </label>
                    </div>
                </td>
                @*<td>
                    <div class="checkbox toggle">
                        <label>
                            <input data-toggle="toggle" @(item.IsPublished ? "checked" : "") onchange="PublishCatalogInProfile(@item.Id,this)" data-onstyle="success" type="checkbox">
                        </label>
                    </div>
                </td>*@
            </tr>
        }
    </tbody>
</table>
