@using Qbicles.BusinessRules;
@model List<AttachmentModel>

@{
    var api = (string)ViewBag.DocRetrievalUrl;
}
@{
    foreach (var file in Model)
    {
        if (file.CanDelete)
        {
            <br />
            <li class="li-attachments @file.Id" id="@file.Id" attachmentUri="@file.AttachmentUrl" attachmentName="@file.Name" attachmentSize="@file.FileSize">
                <button id="attach-@file.Id" class="btn btn-danger" onclick="RemoveAttachment('@file.Id')">
                    <i class="fa fa-trash"></i>
                </button>
                <a href='#'><img onclick="DownloadFile('@file.AttachmentUrl','@file.Name')" style="max-width: 80px; height: auto; padding-right: 10px;" title="Click to download" src="@file.IconFile">@file.Name</a>
            </li>
        }
        else
        {
            <li id="@file.Id">
                <a id="attach-@file.Id">
                    <img onclick="DownloadFile('@file.AttachmentUrl','@file.Name')" style="max-width: 80px; height: auto; padding-right: 10px;" title="Click to download" src="@file.IconFile"> @file.Name
                </a>
            </li>
        }

    }
}
