@using Qbicles.BusinessRules
@model List<Qbicles.BusinessRules.BudgetPanelReport>
@{
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
}

<ul id="budget-panel-report-ul" class="grid-list">
    @foreach (var panel in Model)
    {
        <li class="grid-list-item pseudo-link" onclick="window.location.href='/TraderBudget/BudgetGroupReport?sId=@panel.BudgetScenarioId'+'&gId='+@panel.BudgetGroupId;">
            <div class="grid-list-content">
                <div class="cb-grid-heading cb-task" style="padding: 20px;">
                    <span class="label label-info">@panel.TotalItems items</span>
                    <h4><a href="javascript:">@panel.Name</a></h4>
                    <h6>Budget Group</h6>
                </div>
                <div class="cb-grid-details cb-task" style="padding-right: 20px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <span>Amount</span>
                            <h2>@panel.Amount.ToCurrencySymbol(currencySettings)</h2>
                        </div>
                    </div>
                    <div class="row substats">
                        <div class="col-xs-12 col-sm-6">
                            <span>Since Fiscal Start Date</span>
                            <h2>@panel.SinceFiscalStartDate.ToCurrencySymbol(currencySettings)</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <span>@panel.ReportingPeriod</span>
                            <h2>@panel.PeriodValue.ToCurrencySymbol(currencySettings)</h2>
                        </div>
                    </div>
                    <div class="row substats" style="margin-bottom: 15px;">
                        <div class="col-xs-12">
                            <span>% of budget achieved</span>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@panel.Percentage.ToDecimalPlace(currencySettings)"
                                     aria-valuemin="0" aria-valuemax="100" style="width: @panel.Percentage.ToDecimalPlace(currencySettings)%; line-height: 20px;">
                                    @panel.Percentage.ToDecimalPlace(currencySettings)%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }

</ul>

