
@using System.Diagnostics
@using Qbicles.BusinessRules
@using Qbicles.Models.Trader
@using Qbicles.Models.Trader.Budgets
@model Qbicles.Models.Trader.Budgets.BudgetScenario
@{
    var productGroups = (List<TraderGroup>)ViewBag.ProductGroups;
    var budgetGroups = (List<BudgetGroup>)ViewBag.BudgetGroups;

    var api = (string)ViewBag.DocRetrievalUrl;
}


    <div class="well custom" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="form-group">
                    <label for="fiscal year">Search for something</label>
                    <input id="filter-col-123" type="text" class="form-control budget-quantities-search" data-column="1" placeholder="Search for...">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="form-group">
                    <label for="showtype">Limit by method(s)</label>
                    <select id="filter-col-4" class="form-control checkmulti" data-column="4" multiple style="display:none;">
                        <option value="Item I B_u_y">Items I buy</option>
                        <option value="Item I Sell">Items I sell</option>
                        <option value="Item I Buy & Sell">Items I buy and sell</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="form-group">
                    <label for="showtype">Limit by Product Group(s)</label>
                    <select id="filter-col-5" class="form-control checkmulti" data-column="5" multiple style="display:none;" style="width: 100%;">
                        @foreach (var group in productGroups)
                        {
                            <option value="@group.Name">@group.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="form-group">
                    <label for="showtype">Limit by Budget Group(s)</label>
                    <select id="filter-col-8" class="form-control checkmulti" data-column="8" multiple style="display:none;" style="width: 100%;">
                        @foreach (var group in budgetGroups)
                        {
                            <option value="@group.Title">@group.Title</option>
                        }
                    </select>
                </div>
            </div>
        </div>

    </div>


<br />
<br />
<div class="activity-overview no-search">
    <table class="datatable table-striped table-hover" id="budget-quantities-list" style="width: 100%;" data-paging="false">
        <thead>
            <tr>
                <th data-priority="5" style="width: 40px;" data-orderable="false"></th>
                <th data-priority="1">Name</th>
                <th data-priority="1">SKU</th>
                <th data-priority="1">Description</th>
                <th data-priority="1">Method</th>
                <th data-priority="1">Product Group</th>
                <th data-priority="1">Unit</th>
                <th data-priority="1">Starting Quantity</th>
                <th data-priority="1">Budget Group(s)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var scenarioItemStartingQuantity in Model.ScenarioItemStartingQuantities)
            {
                var method = "";
                var methodFilter = "";
                if (scenarioItemStartingQuantity.Item.IsBought && scenarioItemStartingQuantity.Item.IsSold)
                {
                    method = "Item I Buy & Sell";
                }
                else if (scenarioItemStartingQuantity.Item.IsBought && !scenarioItemStartingQuantity.Item.IsSold)
                {
                    method = "Item I Buy"; methodFilter = "Item I B_u_y";
                }
                else if (!scenarioItemStartingQuantity.Item.IsBought && scenarioItemStartingQuantity.Item.IsSold)
                {
                    method = "Item I Sell";
                }
                <tr>
                    <td>
                        <div class="table-avatar mini" style="background-image: url('@api@scenarioItemStartingQuantity.Item.ImageUri');">&nbsp;</div>
                    </td>
                    <td>@scenarioItemStartingQuantity.Item.Name</td>
                    <td>@scenarioItemStartingQuantity.Item.SKU</td>
                    <td>@scenarioItemStartingQuantity.Item.Description</td>
                    <td>
                        <span hidden="">@methodFilter</span>@method
                    </td>
                    <td>@(scenarioItemStartingQuantity.Item.Group?.Name)</td>
                    <td>
                        <select id="unit-@scenarioItemStartingQuantity.Id" onchange="UpdateScenarioItemStartingUnit(@scenarioItemStartingQuantity.Id)" class="form-control select2-unit" style="width: 100%;">
                            @{
                                if (scenarioItemStartingQuantity.Item.Units != null && scenarioItemStartingQuantity.Item.Units.Count > 0)
                                {
                                    foreach (var unit in scenarioItemStartingQuantity.Item.Units)
                                    {
                                        if (scenarioItemStartingQuantity.Unit?.Id == unit.Id)
                                        {
                                            <option selected="" value="@unit.Id">@unit.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@unit.Id">@unit.Name</option>
                                        }
                                    }
                                }}
                        </select>
                    </td>
                    <td><input type="number" id="quantity-@scenarioItemStartingQuantity.Id" onchange="UpdateScenarioItemStartingQuantity(@scenarioItemStartingQuantity.Id)" value="@scenarioItemStartingQuantity.Quantity" class="form-control" name="startqty"></td>
                    <td>
                        <ul>
                            @foreach (var group in scenarioItemStartingQuantity.BudgetScenario.BudgetGroups)
                            {
                                <li>@group.Title</li>
                            }
                        </ul>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


<script>
    $(function () {
        $(".select2-unit").select2();
        $('.checkmulti')
            .multiselect({
                allSelectedText: 'All',
                includeSelectAllOption: true,
                enableFiltering: false,
                buttonWidth: '100%',
                maxHeight: 400,
                enableClickableOptGroups: true
            })
            .multiselect('selectAll', false)
            .multiselect('updateButtonText');
        $('.budget-quantities-search').keyup(function () {
            $('#budget-quantities-list').DataTable().search($(this).val()).draw();
        });



        $('.checkmulti').on('change', function () {
            filterColumn($(this).attr('data-column'));
        });
        function filterColumn(i) {
            var filter = $('#filter-col-' + i).val();
            if (filter === null)
                filter = "";

            $('#budget-quantities-list').DataTable().column(i).search(
                filter.toString().replace(/,/g, "|"),
                true,
                false
            ).draw();
        }
    });
</script>