@using CleanBooksData
@using Qbicles.BusinessRules
@using Qbicles.Models
@using Qbicles.Models.Trader
@model CBWorkGroup
@{
    var qbicles = (List<Qbicle>)ViewBag.Qbicles;
    var process = (List<CBProcess>)ViewBag.Process;
    var topics = (List<Topic>)ViewBag.Topics;
    var domain = (QbicleDomain)ViewBag.CurrentDomain;
    var api = (string)ViewBag.DocRetrievalUrl;
    var members = (Model != null ? Model.Members : null);
}


<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <input type="hidden" name="wgid" id="cbwgid" value="@Model.Id"/>
            @if (Model.Id > 0)
            {
                <h5 class="modal-title">Edit a Workgroup</h5>
            }
            else
            {
                <h5 class="modal-title">Add a Workgroup</h5>
            }
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-xs-12">
                    <ul class="app_subnav" style="list-style-type: none;">
                        <li id="step_1_add" class="active"><a id="step1-vtab_add" href="#add-specifics" data-toggle="tab">Specifics</a></li>
                        <li id="step_2_add" class=""><a id="step2-vtab_add" href="#add-members" data-toggle="tab">Members add &amp; roles</a></li>
                    </ul>
                </div>
            </div>

            <br />



            <div class="tab-content">

                <!-- Specifics -->
                <div class="tab-pane fade in active" id="add-specifics">
                    <form id="form-wg-add" action="" novalidate="novalidate" class="row">
                        <div class="activity-overview task" style="padding: 20px 20px 10px 20px;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group validate-control">
                                        <label for="name">Workgroup name <span>*</span></label>
                                        <input type="text" name="wgNameAdd" id="wg-name-add" value="@Model.Name" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="qbicle">Qbicle <span>*</span></label>
                                        <select id="wg-qbicle-add" onchange="qbicleChange(this)" class="form-control select2" style="width: 100%;" required="">
                                            @foreach (var q in qbicles)
                                            {
                                                <option value="@q.Id">@q.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="qbicle">Default topic <span>*</span></label>
                                        <select id="wg-topic-add" name="dfTopic" class="form-control select2" style="width: 100%;" required="">
                                            @foreach (var topic in topics)
                                            {
                                                if (Model.Topic != null && topic.Id == Model.Topic.Id)
                                                {
                                                    <option value="@topic.Id" selected="">@topic.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@topic.Id">@topic.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group validate-control">
                                        <label for="process">Associated process <span>*</span></label>
                                        @*<select id="wg-process-add" class="form-control select2" style="width: 100%;" required="">*@
                                    <select name="cbprocess" id="wg-process-add" onchange="processChange(this)" class="form-control select2 chosen-multiple" style="width: 100%;" multiple required="">
                                        @foreach (var p in process)
                                        {
                                            if (Model.Processes.Any(a => a.Id == p.Id))
                                            {
                                                <option value="@p.Id" selected>@p.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@p.Id">@p.Name</option>
                                            }

                                        }
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <br />
                    <a class="btn btn-success btnNextAdd">Next &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>
                <!-- END Specifics -->
                <!-- Members -->
                <div class="tab-pane fade" id="add-members">

                    <div class="contact-list" style="margin: 0 15px;">

                        <div class="well custom">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8">
                                    <div class="form-group" style="margin: 0;">
                                        <label for="search">Search Domain users</label>
                                        <input type="text" id="smkeyword" onkeyup="FilterMembers();" name="search" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group" style="margin: 0;">
                                        <label for="search">Show</label>
                                        <select id="slShow" name="show" onchange="FilterMembers();" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                            <option value="0" selected="">All Domain users</option>
                                            <option value="1">Workgroup members</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="margin: 25px 0 60px 0;">

                            <div>
                                <select id="slMembers" name="Members" class="form-control" style="width: 100%;display:none" multiple>
                                    @if (domain.Users != null)
                                    {
                                        foreach (var item in domain.Users)
                                        {
                                            <option value="@item.Id" @(members != null && members.Any(s => s.Id == item.Id) ? "selected" : "")>@(HelperClass.GetFullNameOfUser(item))</option>
                                        }
                                    }
                                </select>
                                <ul id="wgMembers" class="widget-contacts">
                                    @if (domain.Users != null)
                                    {
                                        foreach (var item in domain.Users)
                                        {
                                            var isMember = (members != null && members.Any(s => s.Id == item.Id) ? true : false);
                                            <input class="wg-user-member wg-member-@item.Id" type="hidden" userid="@item.Id" value="@(isMember ? "true" : "false")" />
                                            var fullname = HelperClass.GetFullNameOfUser(item);
                                            <li fullname="@fullname" class="letters @(isMember?"ismember":"")" style="padding-top: 0;">@(item.Surname != null ? item.Surname[0].ToString().ToUpper() : "")</li>
                                            <li fullname="@fullname" class="@(isMember?"ismember":"")">
                                                <a>
                                                    <div class="contact-avatar">
                                                        <div style="background-image: url('@(api+item.ProfilePic)');">&nbsp;</div>
                                                    </div>
                                                    <div class="contact-info">
                                                        <h5>@(fullname)</h5>
                                                    </div>

                                                    <div class="contact-sideoptions">
                                                        <button type="button" class="btn btn-success contact@(item.Id)-add" style="margin-top: 12px;@(isMember?"display: none;":"")" onclick="addMembers('@item.Id', this);"><i class="fa fa-plus"></i> &nbsp; Add to Workgroup</button>
                                                        <div class="contact@(item.Id)-remove" style="@(isMember?"":"display: none;");">
                                                            <button type="button" class="btn btn-danger pull-right" style="margin-top: 3px;" onclick="removeMembers('@item.Id');"><i class="fa fa-trash"></i> &nbsp; Remove</button>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                    <a class="btn btn-warning btnPreviousAdd"><i class="fa fa-angle-left"></i> &nbsp; Previous</a>
                    <a href="javascript:void(0)" onclick="SaveWorkgroup()" class="btn btn-success trigger-setup"><i class="fa fa-save"></i> &nbsp; Save</a>

                </div>
                <!-- END Members -->

            </div>



        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/cleanbooks.config.workgroup.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/cleanbooks.config.workgroup.min.js"></script>
    }
}
<script>

    $(".chosen-multiple").select2({ multiple: true });
    $("#wg-table_filter").show();
    $('select.select2').select2();
    checkLatestItem();
</script>


