@using Qbicles.Models;
@using Qbicles.BusinessRules;

@{
    ViewBag.Title = ViewBag.PageTitle;
    var viewAccount = (bool)ViewBag.ViewAccount;
    var viewTask = (bool)ViewBag.ViewTask;


    var allApplications = (List<QbicleApplication>)ViewBag.AllApplications;
    var subscribedApps = (List<QbicleApplication>)ViewBag.SubscribedApps;
    var availableApps = (List<QbicleApplication>)ViewBag.AvailableApps;

    var userRoleRights = (List<string>)ViewBag.UserRoleRights;
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative; min-height: 0; height: auto;">


    <!-- Main content -->
    <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin">


        <!-- Main area -->
        <div class="mdv2-col-dash" style="background: #f5f5f5;">

            <div style="padding: 25px;">

                <div class="qbicles-list" style="padding: 15px 0;">

                    <div class="flex-grid-quarters-lg qbicles-dash-grid">

                        @foreach (var app in allApplications)
                        {

                            var appHref = "javascript:void(0)";
                            var onClick = "logAccess('" + app.Name + "');";
                            var isSubscribed = "";
                            if (!availableApps.Any(a => a.Id == app.Id) && subscribedApps.Any(a => a.Id == app.Id))
                            {
                                isSubscribed = "Suspended";
                                onClick += "SubscribeNotification(1);";
                            }
                            else if (availableApps.Any(a => a.Id == app.Id) && !subscribedApps.Any(a => a.Id == app.Id))
                            {
                                isSubscribed = "";
                                onClick += "SubscribeNotification(4);";
                            }
                            else if (!availableApps.Any(a => a.Id == app.Id) && !subscribedApps.Any(a => a.Id == app.Id))
                            {
                                isSubscribed = "";
                                onClick += "SubscribeNotification(4);";
                            }
                            else if (availableApps.Any(a => a.Id == app.Id) && subscribedApps.Any(a => a.Id == app.Id))
                            {
                                isSubscribed = "Subscribed";
                                if (app.Name == HelperClass.appTypeBookkeeping)
                                {
                                    if (userRoleRights.Any(r => r == RightPermissions.BKBookkeepingView))
                                    {
                                        appHref = "/Bookkeeping/BKApps";
                                        onClick += "LoadingOverlay();";
                                    }
                                    else
                                    {
                                        onClick += "SubscribeNotification(3);";
                                    }
                                }
                                else if (app.Name == HelperClass.appTypeTrader)
                                {
                                    if (userRoleRights.Any(r => r == RightPermissions.TraderAccess))
                                    {
                                        appHref = "javascript:void(0)";
                                        onClick += "LoadingOverlay();opentrader();";
                                    }
                                    else
                                    {
                                        onClick += "SubscribeNotification(3)";
                                    }
                                }
                                else if (app.Name == HelperClass.appSalesMarketing)
                                {
                                    if (userRoleRights.Any(r => r == RightPermissions.SalesAndMarketingAccess))
                                    {
                                        appHref = "javascript:void(0)";
                                        onClick += "LoadingOverlay();opensalesmarketing();";
                                    }
                                    else
                                    {
                                        onClick += "SubscribeNotification(3)";
                                    }
                                }
                                else if (app.Name == HelperClass.appTypeCleanBooks)
                                {
                                    if (userRoleRights.Any(r => r == RightPermissions.CleanBooksAccess))
                                    {
                                        if (viewAccount)
                                        {
                                            appHref = "/Apps/Accounts";
                                        }
                                        else if (viewTask)
                                        {
                                            appHref = "/Apps/Tasks";
                                        }
                                        else if (userRoleRights.Any(s => s == RightPermissions.CleanBooksConfig))
                                        {
                                            appHref = "/Apps/CleanBookConfig";
                                        }
                                        onClick += "LoadingOverlay();";
                                    }
                                    else
                                    {
                                        onClick += "SubscribeNotification(3);";
                                    }
                                }
                                else if (app.Name == HelperClass.appTypeSpannered)
                                {
                                    if (userRoleRights.Any(r => r == RightPermissions.SpanneredAccess))
                                    {
                                        appHref = "/Spanneredfree";
                                        onClick += "LoadingOverlay();";
                                    }
                                    else
                                    {
                                        onClick += "SubscribeNotification(3);";
                                    }
                                }
                                else if (app.Name == HelperClass.appTypeOperator)
                                {
                                    if (userRoleRights.Any(r => r == RightPermissions.OperatorAccess))
                                    {
                                        appHref = "/Operator";
                                        onClick += "LoadingOverlay();";
                                    }
                                    else
                                    {
                                        onClick += "SubscribeNotification(3);";
                                    }
                                }
                                else if (app.Name == HelperClass.appTypeCommerce)
                                {
                                    if (userRoleRights.Any(r => r == RightPermissions.CommerceAccess))
                                    {
                                        appHref = "/Commerce";
                                        onClick += "LoadingOverlay();";
                                    }
                                    else
                                    {
                                        onClick += "SubscribeNotification(3);";
                                    }
                                }
                                else if (app.Name == HelperClass.appMyBankMate)
                                {
                                    if (userRoleRights.Any(r => r == RightPermissions.MyBankMateAccess))
                                    {
                                        appHref = "/Bankmate";
                                        onClick += "LoadingOverlay();";
                                    }
                                    else
                                    {
                                        onClick += "SubscribeNotification(3);";
                                    }
                                }

                            }



                            <article class="col">
                                @if (isSubscribed == "Subscribed")
                                {
                                    <span class="last-updated">Subscribed</span>
                                }
                                else if (isSubscribed == "Unsubscribed")
                                {
                                    <span class="last-updated" style="background-color:#f89406 !important;opacity:50">Unsubscribed</span>
                                }
                                else if (isSubscribed == "Suspended")
                                {
                                    <span class="last-updated" style="background-color:#ca3535 !important;opacity:50">Subscription Suspended</span>
                                }

                                <div class="qbicle-opts">
                                    <span hidden="" id="app-image-@app.Id">@app.AppImage</span>
                                    <span hidden="" id="app-name-@app.Id">@app.Name</span>
                                    <span hidden="" id="app-description-@app.Id">@app.Description</span>
                                    <span hidden="" id="app-adpage-@app.Id">@app.AdPage</span>
                                </div>
                                <a href="@appHref" onClick="@Html.Raw(onClick)">
                                    <div class="avatar" style="background-image: url('@app.AppImage');">&nbsp;</div>
                                    <h1 style="color: #333;">@app.Name</h1>
                                </a>
                                <p class="qbicle-detail">@app.Description</p>

                                <br />
                                <button class="btn btn-soft" onclick="LearnMoreApp(@app.Id)"><i class="fa fa-question-circle"></i> &nbsp; More info</button>
                            </article>
                        }


                    </div>


                </div>

            </div>

        </div>

    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->
<div class="modal fade left" id="app-detail" role="dialog" aria-labelledby="app-detail">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">

                <img id="app-detail-image" src="" class="img-responsive center-sm" style="margin: 0 auto 30px auto;">

                <div class="text-center">
                    <h1 id="app-detail-name"></h1>
                    <p id="app-detail-description" class="app-description" style="margin: 0 10%;">

                    </p>


                    <ul class="app-features">
                        <li>
                            <div class="img">
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="infotxt">
                                <p id="app-detail-adpage">

                                </p>
                            </div>
                        </li>

                    </ul>


                    <style>
                        .app-description {
                            list-style-type: none;
                            margin: 0 10%;
                            padding: 0;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: space-between;
                        }

                        .app-features {
                            list-style-type: none;
                            margin: 60px 10% 0 10%;
                            padding: 0;
                        }

                            .app-features li {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                margin-bottom: 30px;
                            }

                                .app-features li .img {
                                    align-self: center;
                                    flex: 0 0 80px;
                                }

                                    .app-features li .img i {
                                        color: rgba(0, 0, 0, 0.2);
                                        font-size: 22px;
                                    }

                                .app-features li .infotxt {
                                    text-align: left;
                                    flex: 1;
                                    align-self: center;
                                }

                                    .app-features li .infotxt p {
                                        margin: 0;
                                        padding: 0;
                                    }
                    </style>
                    <br /><br />
                    <button class="btn btn-info community-button" style="max-width: 140px;">Website</button>
                    <button class="btn btn-primary community-button" style="max-width: 140px;">Contact Us</button>
                    <br />
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<style>
    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>

<script>
    SubscribeNotification = function (type) {
        if (type == 1)
            cleanBookNotification.warning(_L('ERROR_MSG_SUSPENDED_APP'), "Qbicles");
        else if (type == 2)
            cleanBookNotification.warning(_L('ERROR_MSG_UNSUBCRIBE_APP'), "Qbicles");
        else if (type == 4)
            cleanBookNotification.warning(_L('ERROR_MSG_ACTIVE_REQUIRED_APP'), "Qbicles");
        else
            cleanBookNotification.warning(_L('ERROR_MSG_DENIED_APP'), "Qbicles");
    }
    
</script>
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.app.valid.js"></script>
        <script src="~/Scripts/dev/salesmarketing.app.valid.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.app.valid.min.js"></script>
        <script src="~/Scripts/dev/salesmarketing.app.valid.min.js"></script>
    }
}
