@using Qbicles.Models.Spannered
@model List<Meter>
@{
    var extraCol = (Model.Count() % 4 == 0 ? 0 : 4) - Model.Count() % 4;
}
<div class="spacing">

    <div class="flex-grid-quarters-lg from-community c1" style="width: 100%;">

        @foreach (var meter in Model)
        {
            <div class="col article-feature">

                <div class="info" style="padding-top: 30px;">

                    <h1 style="margin: 0; padding-bottom: 5px;">@meter.Name</h1>
                    <p>@meter.Description</p>

                    <h1 class="metercount">@meter.ValueOfUnit @meter.Unit</h1>

                    <div class="well custom addreading_@meter.Id" style="margin-bottom: 0; display: none; margin: 15px;">
                        <label for="latest-reading">New reading</label>
                        <div class="input-group" style="margin-bottom: 10px;">
                            <input type="number" id="valueOfUnit_@meter.Id" value="@meter.ValueOfUnit" data-backup="@meter.ValueOfUnit" class="form-control reading">
                            <span class="input-group-addon">@meter.Unit</span>
                        </div>

                        <button class="btn btn-danger" onclick="$('.addreading_@meter.Id').hide(); $('.meter-options_@meter.Id').fadeIn();backupValueOfUnit(@meter.Id)">Cancel</button>
                        <button class="btn btn-success" onclick="checkAndUpdateValueOfUnit(@meter.Id)">Confirm</button>
                    </div>

                    <div class="meter-options_@meter.Id text-center">
                        <button class="btn btn-primary community-button w-auto" onclick="$('.meter-options_@meter.Id').hide(); $('.addreading_@meter.Id').fadeIn();">Update reading</button>
                        &nbsp;
                        <button class="btn btn-info community-button w-auto" data-toggle="modal" data-target="#app-spannered-meter-history" onclick="LoadMeterHistoryModal(@meter.Id)">History</button>
                    </div>

                </div>

            </div>
        }
        @for (int i = 1; i <= extraCol; i++)
        {
            <div class="col"></div>
        }

    </div>



</div>