@using Qbicles.BusinessRules;
@using Qbicles.Models
@model Qbicle
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var CurrentUserId = (string)ViewBag.CurrentUserId;
}
<div class="well custom avatarpicker">
    <div class="form-group" style="margin: 0;">
        <label for="assignee">Assignee</label>
        <select name="Assignee" class="form-control select2avatartask" style="width: 100%;">
            @if (Model.Members != null)
            {
                foreach (var item in Model.Members)
                {
                    <option avatarUrl="@(api+item.ProfilePic)" value="@item.Id">@HelperClass.GetFullNameOfUser(item, CurrentUserId)</option>
                }
            }
        </select>
    </div>
</div>

<br />

<div class="well custom avatarpickermulti">
    <div class="form-group" style="margin: 0;">
        <label for="Watchers">Watchers</label>
        <select name="Watchers" class="form-control select2avatartask" data-placeholder="Optional" multiple style="width: 100%;">
            @if (Model.Members != null)
            {
                foreach (var item in Model.Members)
                {
                    <option avatarUrl="@(api+item.ProfilePic)" value="@item.Id">@HelperClass.GetFullNameOfUser(item)</option>
                }
            }
        </select>
    </div>
</div>

<br />
<a onclick="PrevTab_Task()" class="btn btn-warning btnPrevious"><i class="fa fa-angle-left"></i> &nbsp; Previous</a>
<a onclick="NextTab_Task();" class="btn btn-success btnNext">Next &nbsp; <i class="fa fa-angle-right"></i></a>