@*@using Qbicles.BusinessRules;
@{
    bool isMemberOrOwnerDomain = ViewBag.isMemberOrOwnerDomain;
    var Administrator = (AdministratorViewModal)ViewBag.Administrator;
    bool isManageTaskForm = ViewBag.isManageTaskFormRights;
    bool isQueryOrReport = ViewBag.isQueryOrReport;
}
@{
    var permissions = Administrator.Levels.ToDictionary(k => k.Key);
    if (isManageTaskForm || isQueryOrReport || permissions.ContainsKey(@AdministratorViewModal.DomainAdministrator))
    {
        <li class="treeview">
            <a href="javascript:void(0)"><i class="fa fa-user"></i><span>Task Forms</span><i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">

                @if (permissions.ContainsKey(@AdministratorViewModal.DomainAdministrator))
                {
                    <li>
                        <a href='@Url.Action("ManageFormEditors", "Administration")'>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-cogs" aria-hidden="true">
                            </i>Manage Task Form Rights
                        </a>
                    </li>
                }
                @if (isManageTaskForm || permissions.ContainsKey(@AdministratorViewModal.DomainAdministrator))
                {
                    <li>
                        <a href='@Url.Action("ManageTaskForms","Administration")'>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-tasks" aria-hidden="true">
                            </i> Manage Task Forms
                        </a>
                    </li>
                }
                @if ((isQueryOrReport) || permissions.ContainsKey(@AdministratorViewModal.DomainAdministrator))
                {
                    <li>
                        <a href='@Url.Action("QueryTasksForm","Administration")'>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-bar-chart" aria-hidden="true">
                            </i>Query/Report Task Forms
                        </a>
                    </li>
                }
            </ul>
        </li>
    }

}*@

