
@using Qbicles.Models.Bookkeeping;
@model BKTransaction
@{
    var index = ViewBag.index; 
    var bkTransactionRowId = (string)ViewBag.RowNewId;
    if (Model.Id > 0)
    { bkTransactionRowId = Model.Id.ToString(); }
}
<div class="modal fade" id="attachments-view-@bkTransactionRowId" role="dialog" aria-labelledby="attachments-view-@bkTransactionRowId">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Manage Attachments</h5>
                <input hidden id="jn-bk-transaction-row-attachment-id" value="@bkTransactionRowId" />
                @*add edit jounal entry*@
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        
                        <div class="activity-overview task" style="margin-bottom: 40px;">
                            <div name="add_attachment" class="attachments_@bkTransactionRowId">

                                <div class="repeater_wrap">
                                    @if (Model.AssociatedFiles != null && Model.AssociatedFiles.Count > 0)
                                    {
                                        for (var i = 0; i < Model.AssociatedFiles.Count; i++)
                                        {
                                            <div class="row attachment_row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="name">Name</label>
                                                        <input id="fileid-@bkTransactionRowId-@(i+1)" type="hidden" value="@Model.AssociatedFiles[i].Id" />
                                                        <input id="inputiconpath_edit@(i+1)" type="hidden" value="@Model.AssociatedFiles[i].FileType.IconPath" />
                                                        <input type="text" name="name" class="form-control inputfilename@(i+1)" value="@Model.AssociatedFiles[i].Name" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="file">File</label>
                                                        <input type="file" name="file" disabled class="form-control inputfile">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="row attachment_row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="name">Name</label>
                                                    <input type="text" name="name" class="form-control inputfilename1" />
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="file">File</label>
                                                    <input type="file" name="file" onchange="JournalEntryAddEditChangeFile(this, 1, @bkTransactionRowId)" class="form-control inputfile">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <button type="button" class="btn btn-info" onclick="JournalEntryAddEditAddAnother('@bkTransactionRowId')"><i class="fa fa-plus"></i> &nbsp; Add another</button>
                                <button type="button" class="btn btn-success" onclick="JournalEntryAddEditConfirmAdd('@bkTransactionRowId')"><i class="fa fa-check"></i> &nbsp; Confirm add</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-6">

                        <ul class="domain-change-list unstyled cap-height" style="margin-top: 0;">
                            @if (Model.AssociatedFiles != null && Model.AssociatedFiles.Count > 0)
                            {
                                foreach (var item in Model.AssociatedFiles)
                                {
                                    <li> <a href="javascript:void(0)"><img src="@item.FileType.IconPath" style="max-width: 80px; height: auto; padding-right: 10px;">
                                        @item.Name.@item.FileType.Extension 
                                        </a> 
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
