@{
    var rightShowJournalTab = (bool) ViewBag.rightShowJournalTab;
    var rightShowAccountTab = (bool) ViewBag.rightShowAccountTab;
    var rightShowReportsTab = (bool)(ViewBag.rightShowReportsTab == null ? false : ViewBag.rightShowReportsTab);
    var rightShowConfigurationTab = (bool) ViewBag.rightShowConfigurationTab;


    var tabSelected = ViewBag.tabSelected == null ? 4 : ViewBag.tabSelected;

}
<div class="app_topnav restyle">
    <ul class="nav nav-pills app_main_nav hidden-xs hidden-sm">
        @if (rightShowAccountTab)
        {
            <li role="presentation" class="@(tabSelected == 1 ? "active" : "")">
                <a href="/Bookkeeping/BKApps">
                    <i class="fa fa-bank"></i>
                    Chart of Accounts
                </a>
            </li>
        }
        
        @if (rightShowJournalTab)
        {
            <li role="presentation" class="@(tabSelected == 2 ? "active" : "")">
                <a href="/Bookkeeping/JournalEntries">
                    <i class="fa fa-book"></i>
                    Journal Entries
                </a>
            </li>
        }
        
        @if (rightShowReportsTab)
        {
            <li role="presentation" class="@(tabSelected == 3 ? "active" : "")">
                <a href="/Bookkeeping/BKReports">
                    <i class="fa fa-line-chart"></i>
                    Reports
                </a>
            </li>
        }
        
        @if (rightShowConfigurationTab)
        {
            <li role="presentation" class="@(tabSelected == 4 ? "active" : "")">
                <a href="/Bookkeeping/BKConfiguration">
                    <i class="fa fa-cog"></i>
                    App Configuration
                </a>
            </li>
        }
    </ul>

    <select name="app_tab" class="form-control visible-xs visible-sm" onchange="selectBookkeepingChange(this)">
        @if (rightShowAccountTab)
        {
            <option value="1" @(tabSelected == 1 ? "selected" : "")>Chart of Accounts</option>

        }
        @if (rightShowJournalTab)
        {
            <option value="2" @(tabSelected == 2 ? "selected" : "")>Journal Entries</option>

        }
        @if (true)
        {
            <option value="3" @(tabSelected == 3 ? "selected" : "")>Reports</option>

        }
        @if (rightShowConfigurationTab)
        {
            <option value="4" @(tabSelected == 4 ? "selected" : "")>App Configuration</option>
        }
    </select>
</div>
<script>
    function selectBookkeepingChange(ev) {
        var val = $(ev).val();
        setTimeout(function () {
            if (val === "1") window.location = "/Bookkeeping/BKApps";
            if (val === "2") window.location = "/Bookkeeping/JournalEntries";
            if (val === "3") window.location = "/Bookkeeping/BKReports";
            if (val === "4") window.location = "/Bookkeeping/BKConfiguration";
        }, 1);

    }
</script>