@using Qbicles.Models.Community;
@model List<Tag>
@{

}
<div class="activity-overview generic" style="padding-bottom: 5px;">
    <p>
        <strong>Please note:</strong> deleting a tag may impact pages and people associated with that tag. The number of records that would be affected is
        indicated in the <i>instances</i> column below. Users will be automatically notified if any changes directly affect them. Please take this into
        consideration when deleting tags.
    </p>
</div>

<br />
<br />

<table id="table_tags_account" class="datatable table-hover table-striped app_specific" style="width: 100%;">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Created</th>
            <th>Instances</th>
            <th style="width: 80px;" data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr id="tag-row-@tag.Id">
                <td>@tag.Name</td>
                <td>@tag.CreatedDate.ToString("dd/MM/yyyy")</td>
                @{ var countIstance = tag.Pages.Count;}
                <td>@countIstance</td>

                <td>
                    <div class="btn-group options">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog"></i> &nbsp; Actions
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" style="right: 0;">
                            <li><a href="javascript:void(0)" onclick="EditTag(@tag.Id)">Edit</a></li>
                            <li><a href="javascript:void(0)" onclick="DeleteTag(@tag.Id)">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }


    </tbody>
</table>
<br />
<a href="javascript:void(0)" class="btn btn-success" onclick="AddTag()">
    <i class="fa fa-plus"></i>
    &nbsp; Add a tag
</a>
@*<script>
        if (reloadTableTags) {

            $('#table_tags_account').DataTable({
                responsive: true,
                "lengthChange": true,
                "pageLength": 10,
                "order": []
            });
            $('#table_tags_account').show();

            reloadTableTags = false;

        }
    </script>*@