@using Qbicles.Models.Community;
@model List<CommunityPage>
@{

}


<table class="table app_specific datatable-draggable table-hover " id="table_community_showpage" cellspacing="0" style="width: 100%; background: #fff;">
    <thead>
        <tr>
            <th data-priority="1" style="width: 50px;">Order</th>
            <th data-priority="3">Featured</th>
            <th data-priority="1">Title (drag to reorder)</th>
            <th data-priority="2">Date</th>
            <th data-priority="2">Owner</th>
            <th data-priority="1">Followers</th>
            <th data-priority="1" style="width: 70px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="" id="adminaccount_community_page_@item.Id">
                <td class="td_order">@item.FeatureOrder</td>
                <td class="td_checkbox">
                    @{ var countChecked = Model.Where(q => q.IsFeatured).Any() ? Model.Where(q => q.IsFeatured).Count() : 0;}
                    @if (countChecked >= 3 && !item.IsFeatured)
                    {
                        if (item.IsFeatured)
                        {
                            <input type="checkbox" checked disabled="disabled" value="@item.IsFeatured.ToString().ToLower()" onchange="selectedChange(this)" class="community_page_checked_show form-control">
                        }
                        else
                        {
                            <input type="checkbox" disabled="disabled" value="@item.IsFeatured.ToString().ToLower()" onchange="selectedChange(this)" class="community_page_checked_show form-control">
                        }

                    }
                    else
                    {
                        if (item.IsFeatured)
                        {
                            <input type="checkbox" checked value="@item.IsFeatured.ToString().ToLower()" onchange="selectedChange(this)" class="community_page_checked_show form-control">
                        }
                        else
                        {
                            <input type="checkbox" value="@item.IsFeatured.ToString().ToLower()" onchange="selectedChange(this)" class="community_page_checked_show form-control">
                        }

                    }

                    <input type="hidden" class="row_id" value="@item.Id" />
                </td>
                <td><a href="/Community/CommunityPage?id=@item.Id">@item.Title</a></td>
                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                <td><a href="/Community/UserProfilePage?uId=@item.CreatedBy.Id">@item.CreatedBy.Forename @item.CreatedBy.Surname</a></td>
                <td>@item.Followers.Count</td>
                <td class="text-right">
                    <div class="btn-group options">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog"></i> &nbsp; Options
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" style="right: 0;">
                            @{
                                if (!item.IsSuspended)
                                {
                                    <li><a href="javascript:void(0)" onclick="SuspendPage(@item.Id)"><span id="suspend-@item.Id">Reinstate</span></a></li>
                                }
                                else
                                {
                                    <li><a href="javascript:void(0)" onclick="SuspendPage(@item.Id)"><span id="suspend-@item.Id">Suspend</span></a></li>
                                }
                            }
                            <li><a href="/Community/EditPage?id=@item.Id">Edit</a></li>
                            <li><a href="javascript:void(0)" onclick="DeletePage(@item.Id)">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>



<br />
<a href="/Community/CreatePage" class="btn btn-success"><i class="fa fa-plus"></i> &nbsp; Add a page</a>




