@using Qbicles.Models.Community;
@using Qbicles.BusinessRules;
@model List<ModelPage>
@{

}


<table id="table_app_follower" class="datatable app_specific table-hover" style="width: 100%; background: #fff;">
    <thead>
        <tr>
            <th>Title</th>
            <th>Owner</th>
            <th>Last updated</th>
            <th style="width: 80px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr id="table_app_follower_@item.Id-@((int)item.PageType)">
                @if (item.PageType == CommunityPageTypeEnum.CommunityPage)
                {
                    <td><a href="/Community/CommunityPage?id=@item.Id">@item.Title</a></td>
                    <td><a href="/Community/CommunityPage?id=@item.Id">@item.DomainName</a></td>
                }
                else if (item.PageType == CommunityPageTypeEnum.DomainProfile)
                {
                    <td><a href="/Community/DomainProfile">@item.StrapLine</a></td>
                    <td><a href="/Community/DomainProfile">@item.DomainName</a></td>
                }
                <td>@item.CreatedDate.ToString("D")</td>
                <td>
                    <button class="unfollower btn btn-danger" onclick="unFollower(@item.Id,@((int)item.PageType))"><i class="iconfollower fa fa-remove"></i> &nbsp; Unfollow</button>
                    <button class="follower hidden btn btn-success" onclick="follower(@item.Id,@((int)item.PageType))"><i class="iconfollower fa fa-feed"></i> &nbsp; Follow</button>
                </td>
            </tr>

        }
    </tbody>
</table>
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/community.apps.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/community.apps.min.js"></script>

    }
}
<script>
    if (reloadTableFollower) {

        $('#table_app_follower').DataTable({
            responsive: true,
            "lengthChange": true,
            "pageLength": 10,
            "order": []
        });
        $('#table_app_follower').show();

        reloadTableFollower = false;

    }
</script>