@using Qbicles.Models.Community;
@using Qbicles.BusinessRules;
@model List<CommunityPage>
@{
    var UserRoleRights = (List<string>)ViewBag.UserRoleRights;
    var rightAddEditCommunityPage = UserRoleRights.Any(r => r == RightPermissions.CMAddEditCommunityPage) == true ? "" : "a-btn-disabled";
    var rightDeleteCommuntyPage = UserRoleRights.Any(r => r == RightPermissions.CMDeleteCommunityPage) == true ? "" : "a-btn-disabled";
}

<div class="activity-overview generic" style="margin-bottom: 30px; padding-top: 30px; padding-bottom: 20px;">
    <table id="table_page_app" class="datatable app_specific table-hover" style="width: 100%; background: #fff;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Followers</th>
                <th style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="communityPage_table_@item.Id">
                    <td><a href="/Community/CommunityPage?id=@item.Id">@item.Title</a></td>
                    <td>@item.CreatedDate.ToString("D")</td>
                    <td>@item.Followers.Count</td>
                    <td>
                        <div class="btn-group options">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog"></i> &nbsp; Actions
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" style="right: 0;">
                                @if (string.IsNullOrEmpty(rightAddEditCommunityPage))
                                {
                                    <li><a href="/Community/EditPage?edit=@item.Id">Edit</a></li>
                                }
                                @if (string.IsNullOrEmpty(rightDeleteCommuntyPage))
                                {
                                    <li><a href="javascript:void(0)" onclick="confirmDeletePage('@item.Title', @item.Id)">Delete</a></li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }



        </tbody>
    </table>
    @if (string.IsNullOrEmpty(rightAddEditCommunityPage))
    {
        <a href="/Community/CreatePage" class="btn btn-success"><i class="fa fa-plus"></i> &nbsp; Add a page</a>
    }

</div>
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/community.apps.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/community.apps.min.js"></script>

    }
}
<script>
    if (reloadTablePage) {

        $('#table_page_app').DataTable({
            responsive: true,
            "lengthChange": true,
            "pageLength": 10,
            "order": []
        });
        $('#table_page_app').show();

        reloadTablePage = false;

    }
</script>