@{
    var tab = (string)ViewBag.Tab;
    var activeAccount = tab == "account" ? "active" : "";
    var activeTask = tab == "task" ? "active" : "";
    var activeConfig = tab == "config" ? "active" : "";
    var visibleAccount = (bool)ViewBag.VisibleAccount;
    var visibleTask = (bool)ViewBag.VisibleTask;
    var visibleConfig = (bool)ViewBag.VisibleConfig;
    var rightAccount = visibleAccount ? "" : "display:none;";
    var rightTask = visibleTask ? "" : "display:none;";
    var rightConfig = visibleConfig ? "" : "display:none;";
}


<ul class="nav nav-pills app_main_nav hidden-xs hidden-sm">

    <li id="account-tab" role="presentation" style="@rightAccount" class="@activeAccount">
        <a href="/Apps/Accounts">
            <i class="fa fa-bank"></i>
            Accounts
        </a>
    </li>

    <li id="task-tab" role="presentation" style="@rightTask" class="@activeTask">
        <a href="/Apps/Tasks">
            <i class="fa fa-list"></i>
            Tasks
        </a>
    </li>

    <li id="config-tab" role="presentation" style="@rightConfig" class="@activeConfig">
        <a href="/Apps/CleanBookConfig">
            <i class="fa fa-cog"></i>
            App Config
        </a>
    </li>


</ul>

<select onchange="swichPage()" name="app_tab" id="menu-select" class="single-select form-control visible-xs visible-sm">
    <option value="Accounts" style="@rightAccount" @(activeAccount != "" ? "selected" : "")>Accounts</option>
    <option value="Tasks" style="@rightTask" @(activeTask != "" ? "selected" : "")>Tasks</option>
    <option value="Config" style="@rightConfig" @(activeConfig != "" ? "selected" : "")>App Config</option>
</select>
<script>

</script>