@using Qbicles.BusinessRules;
@using Qbicles.Models.Trader.PoS;
@using Qbicles.Models.Catalogs;
@model List<Category>
@{
    var isEdit = true; 
    if (Model.Count > 0)
    {
        var menu = (Model.FirstOrDefault()?.Menu.Devices).Any();
        if (menu)
        {
            isEdit = false;
        }
    }
}
<table class="datatable table_category_itemdetailt table-striped table-hover" style="width: 100%;">
    <thead>
        <tr>
            <th data-priority="1">Title</th>
            <th data-priority="1">Visible</th>
            @if (isEdit)
            {
                <th data-priority="1">Options</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (isEdit)
                    {
                        <input type="text" name="catname" id="table_category_name_@item.Id" class="form-control" value="@item.Name" onchange="updateCategory(@item.Id)">
                    }
                    else
                    {
                        <input type="text" class="form-control" id="table_category_name_@item.Id"  value="@item.Name" disabled="">
                    }
                </td>
                <td>
                    <div class="checkbox toggle">
                        <label>
                                @if (item.IsVisible)
                                {
                                    <input onchange="updateCategory(@item.Id)" class="category-active" id="table_category_visible_@item.Id" data-toggle="toggle" data-onstyle="success" type="checkbox" checked>
                                }
                                else
                                {
                                    <input onchange="updateCategory(@item.Id)" class="category-active" id="table_category_visible_@item.Id" data-toggle="toggle" data-onstyle="success" type="checkbox">
                                }
                        </label>
                    </div>
                </td>
                @if (isEdit)
                {
                    <td>                        
                        @if (item.PosCategoryItems.Count > 0)
                        {
                            <button class="btn btn-danger" disabled><i class="fa fa-trash"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-danger" onclick="deleteCategory('@item.Id')"><i class="fa fa-trash"></i></button>
                        }
                    </td>

                }
            </tr>
        }

    </tbody>
</table>
<script>
    
    $('.checkbox.toggle input').bootstrapToggle();
</script>