@using Qbicles.BusinessRules;
@using Qbicles.Models.Trader.PoS;
@using Qbicles.Models.Catalogs
@model List<VariantProperty>
@{
}
<table class="datatable table_properties table-striped table-hover" style="width: 100%;">
    <thead>
        <tr>
            <th>Property</th>
            <th>Options</th>
            <th data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="property_@item.Id">
                <td>@item.Name</td>
                <td>
                    <select name="name" id="property_select_@item.Id" class="form-control select2 taginput" onchange="$('#changeoptions_@item.Id').show();" data-placeholder="Select or type new" style="width: 100%;" multiple>
                        <option value=""></option>
                        @foreach (var op in item.VariantOptions)
                        {
                            <option value="@op.Name" selected>@op.Name</option>
                        }
                    </select>
                </td>
                <td>
                    <button class="btn btn-success" onclick="PropertyRowChanged(this,'@item.Id')" id="changeoptions_@item.Id" style="display: none;"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger" onclick="PropertyRowDelete('@item.Id')"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        }

    </tbody>
</table>
<script>

    $(".table_properties select").select2({ placeholder: 'Please select', tags: true });
</script>