@using Qbicles.BusinessRules;
@model ProcessDocumentModel
@{
    var UserRoleRights = (List<string>)ViewBag.UserRoleRights;
}
<tr class="pro-document-tr" id="@Model.DocumentGuidId">
    <td id="document-@Model.DocumentGuidId" width="60%">@Model.Document</td>
    <td id="documentImage-@Model.DocumentGuidId" data-url="@Model.DocumentImage" width="20%" class="table_file_image">
        <img src="@Model.FileTypeImage" style="width:32px;">
    </td>
    <td id="filetypeId-@Model.DocumentGuidId" style="display:none;">@Model.FileTypeId</td>
    <td width="20%">
        <a onclick="RemoveDocument('@Model.DocumentGuidId')" class="btn-remove-document btn btn-danger"><i class="fa fa-remove"></i></a>
    </td>
</tr>