@using Qbicles.BusinessRules;
@model ProcessStepModel
@{
    var UserRoleRights = (List<string>)ViewBag.UserRoleRights;
}

<li class="row pro-step-list" style="width:419px;" id="@Model.StepGuidId">
    <div class="drag-item">
        <div class="panel panel-default">
            <span id="StepImagePreview-@Model.StepGuidId" style="display: none;">@Model.StepImage</span>
            <span class="ordinal-position-order" id="StepOrderPreview-@Model.StepGuidId"  style="display: none;">@Model.StepOrder</span>
            <div class="panel-heading" role="tab" id="heading-@Model.StepOrder">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse-@Model.StepOrder" aria-expanded="false" aria-controls="collapse-@Model.StepOrder">
                        <span class="ordinal-position">@Model.StepOrder@Model.Suffix</span> &nbsp;
                        <span id="TitlePreview-@Model.StepGuidId">@Model.Title</span>
                    </a>
                </h4>
            </div>
            <div id="collapse-@Model.StepOrder" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-@Model.StepOrder">
                <div class="panel-body">
                    <span id="DescriptionPreview-@Model.StepGuidId"> @Model.Description</span>
                </div>
            </div>
        </div>
        <div class="pull-right edit-step">
            <a onclick="EditStep(this)"><i class="fa fa-pencil"></i></a> &nbsp;
            <a class="remove-step" onclick="RemoveStep(this)"><i class="fa fa-trash"></i></a>&nbsp;
            <a class="icon-button handle pull-right"><i class="fa fa-arrows"></i></a>&nbsp;
        </div>
        <div class="clearfix"></div>
    </div>
</li>
