@using Qbicles.Models;
@model List<QbicleMedia>
@{
    var transactionId = ViewBag.TransactionId;
}

<div class="col-xs-12 col-md-6">

    <div class="activity-overview task" style="margin-bottom: 40px;">
        <div name="add_attachment" class="attachments_@transactionId">
            @*add media from journal entry deail*@
            <div class="repeater_wrap">
                @if (Model != null && Model.Count > 0)
                {
                    for (var i = 0; i < Model.Count; i++)
                    {
                        <div class="row attachment_row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input id="fileid-@transactionId-@(i+1)" type="hidden" value="@Model[i].Id" />
                                    <input id="inputiconpath_edit@(i+1)" type="hidden" value="@Model[i].FileType.IconPath" />
                                    <input type="text" name="name" class="form-control inputfilename@(i+1)" value="@Model[i].Name" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="file">File</label>
                                    <input type="file" name="file" style="pointer-events: none;" onchange="JournalEntryDetailChangeFile(this, @(i+1), @transactionId)" class="form-control inputfile">
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="row attachment_row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name" class="form-control inputfilename1" />
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="file">File</label>
                                <input type="file" name="file" onchange="JournalEntryDetailChangeFile(this, 1, @transactionId)" class="form-control inputfile">
                            </div>
                        </div>
                    </div>
                }
            </div>
            <button type="button" class="btn btn-info" onclick="JournalEntryDetailAddAnother(@transactionId)"><i class="fa fa-plus"></i> &nbsp; Add another</button>
            <button type="button" class="btn btn-primary" onclick="JournalEntryDetailConfirmAddViewer(@transactionId, false)"><i class="fa fa-check"></i> &nbsp; Confirm add</button>
            <button type="button" class="btn btn-success" onclick="ProcessBKTransactionMedia(@transactionId)"><i class="fa fa-save"></i> &nbsp; Submit</button>
        </div>
    </div>

</div>
<div class="col-xs-12 col-md-6">

    <ul id="domain-change-list" class="domain-change-list unstyled" style="margin-top: 0;">
        @foreach (var m in Model)
        {
            <li>
                <a href="javascript:void(0);">
                    <img src="@m.FileType.IconPath" style="max-width: 80px; height: auto; padding-right: 10px;"> @m.Name
                </a>
            </li>
        }
    </ul>

</div>
<script>
    $(document).ready(function () {
        
        $("#attachment-" + @transactionId).text(@Model.Count);
});
</script>