@using Qbicles.Models.Trader.Resources
@model List<ResourceCategory>
@{

}

<table class="datatable table-striped table-hover" id="category_image_table" style="width: 100%;">
    <thead>
        <tr>
            <th data-priority="1">Title</th>
            <th data-priority="1">Associated Documents</th>
            <th data-priority="1">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <input type="text" name="catname" id="resource_category_@item.Id" class="form-control" style="width: 100%;" value="@item.Name" onchange="$('.editcat-img-@item.Id').show();">
            </td>
            <td>@item.AssociatedImages.Count</td>
            <td>
                <button class="btn btn-success editcat-img-@item.Id" style="display: none;" onclick="saveReCategory('@item.Id', '@item.Type.ToString()')"><i class="fa fa-check"></i></button>
                @if (item.AssociatedImages.Count == 0)
                {
                    <button class="btn btn-danger" onclick="deleteReCagegory('@item.Id', '@item.Type.ToString()')"><i class="fa fa-trash"></i></button>    
                }
                
            </td>
        </tr>
        }
         
    </tbody>
</table>
<!-- End modal for Items -->

<script>
    $('#category_image_table').DataTable({
        responsive: true,
        "lengthChange": true,
        "pageLength": 10,
        "order": []
    });
    $('#category_image_table').show();
</script>