@using Qbicles.Models.Trader
@model List<TraderGroup>
@{
    var canDel = Model.Count == 1 ? "disabled" : "";
    var dateFormat = (string)ViewBag.CurrentDateFormat;
}
 <table class="table-hover datatable2 trader_table_group" style="width: 100%; background: #fff;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Creator</th>
            <th>Options</th>
        </tr>
    </thead>
     <tbody>
     @foreach (var item in Model)
     {
        <tr>
            <td>@item.Name</td>
            <td>@item.CreatedDate.ToString(dateFormat)</td>
            <td>@item.CreatedBy.Surname @item.CreatedBy.Forename</td>
            <td>
                <button class="btn btn-warning" onclick="editProductGroup(@item.Id)"><i class="fa fa-pencil"></i></button>
                <button @canDel class="btn btn-danger" onclick="deleteGroup(@item.Id)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
     }
     
     </tbody>
</table>

<script>
   
    if (!$.fn.DataTable.isDataTable( '.trader_table_group' ) ) {
        $('.trader_table_group').DataTable({
            responsive: true,
            order: [[0, 'asc']]
        });
        $('.trader_table_group').show();
    }
    $.LoadingOverlay("hide");
    
    
</script>