@using Qbicles.Models.Qbicles
@using Qbicles.BusinessRules;
@using Qbicles.Models.Trader;
@model List<TraderContact>
@{ 
    var api = (string)ViewBag.DocRetrievalUrl;
}
<table id="tb_trader_contact" class="datatable table-hover table-striped" width="100%" data-order='[[2, "asc"]]'>
    <thead>
        <tr>
            <th data-priority="2" style="width: 80px;">ID</th>
            <th data-priority="3" style="width: 100px;" data-orderable="false">Avatar</th>
            <th data-priority="1">Name</th>
            <th data-priority="2">Group</th>
            <th data-priority="1">Balance</th>
            <th data-priority="3">Invoices</th>
            <th data-priority="3">Bills</th>
            <th data-priority="1" data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="tb_contact_id_@item.Id">
                <td>@item.Id</td>
                <td><div class="table-avatar mini" style="background-image: url('@api@item.AvatarUri');">&nbsp;</div></td>
                <td>@item.Name</td>
                <td>@item.ContactGroup.Name</td>
                <td></td>
                <td>0</td>
                <td>0</td>
                <td> 
                        <button class="btn btn-warning" onclick="editContact(@item.Id)"><i class="fa fa-pencil"></i></button> 
                    <button class="btn btn-danger trigger_load" onclick="removeContact(@item.Id)"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        }

    </tbody>
</table>

<script>
    $('#tb_trader_contact').DataTable({
        responsive: true,
        "lengthChange": true,
        "pageLength": 10,
        "order": []
    });
    $('#tb_trader_contact').show();
 
    
</script>