@using Qbicles.Models.Trader;
@{

    var setting = (TraderSettings)ViewBag.traderSetting ?? (new TraderSettings());
    var delimeter = setting.Delimeter == "\\" ? setting.Delimeter + "\\" : setting.Delimeter;
}

<!-- References -->

<div id="newui-references">

    <form id="setting_form">
        <input type="hidden" value="@setting.Id" id="setting_id" />
        <div class="well custom" style="padding-bottom: 5px;">

            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label for="delimeter">Delimeter</label>
                        <select name="delimiter" id="config_delimeter" class="form-control select2" style="width: 100%;">
                            <option value=""></option>
                            <option value=".">.</option>
                            <option value="-">-</option>
                            <option value="/">/</option>
                            <option value="\">\</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-pills traderv2" style="padding-top: 0;">
                    <li class="active"><a href="#refs-0" onclick="selectTabMenu('refs-0')" data-toggle="tab">Sales</a></li>
                    <li><a href="#refs-1" onclick="selectTabMenu('refs-1')" data-toggle="tab" id="Purchases">Purchases</a></li>
                    <li><a href="#refs-4" onclick="selectTabMenu('refs-4')" data-toggle="tab" id="Manufacturing">Manufacturing</a></li>
                    <li><a href="#refs-5" onclick="selectTabMenu('refs-5')" data-toggle="tab" id="Transfers">Transfers</a></li>
                    <li><a href="#refs-2" onclick="selectTabMenu('refs-2')" data-toggle="tab" id="Invoices">Invoices &amp; Bills</a></li>
                    <li><a href="#refs-3" onclick="selectTabMenu('refs-3')" data-toggle="tab" id="Allocations">Allocations, Credit &amp; Debit notes</a></li>
                    <li><a href="#refs-6" onclick="selectTabMenu('refs-6')" data-toggle="tab" id="Reordering">Reordering</a></li>
                    <li><a href="#refs-7" onclick="selectTabMenu('refs-7')" data-toggle="tab" id="OrderPaymen">Order &amp; Payment</a></li>
                    <li><a href="#refs-8" onclick="selectTabMenu('refs-8')" data-toggle="tab" id="OrderPaymen">Delivery</a></li>
                    <li><a href="#refs-9" onclick="selectTabMenu('refs-9')" data-toggle="tab" id="Movements">Movements</a></li>
                </ul>
            </div>
        </div>


        <br />
        <div class="tab-content">

            <!-- Sales -->
            <div class="tab-pane fade in active" id="refs-0">
                <div class="well custom" style="padding-bottom: 5px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-prefix">Sale prefix</label>
                                <input type="text" name="sale-prefix" id="sale_prefix" value="@setting.SalePrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-suffix">Sale suffix</label>
                                <input type="text" name="sale-suffix" id="sale_suffix" value="@setting.SaleSuffix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-prefix">Sales Order prefix</label>
                                <input type="text" name="sale-prefix" id="sale_orderprefix" value="@setting.SalesOrderPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-suffix">Sales Order suffix</label>
                                <input type="text" name="sale-suffix" id="sale_ordersuffix" value="@setting.SalesOrderSuffix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-prefix">Sale Return prefix</label>
                                <input type="text" name="sale-prefix" id="sale_return_prefix" value="@setting.SaleReturnPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-suffix">Sale Return suffix</label>
                                <input type="text" name="sale-suffix" id="sale_return_suffix" value="@setting.SaleReturnSuffix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-prefix">Sales Return Order prefix</label>
                                <input type="text" name="sale-prefix" id="sale_return_orderprefix" value="@setting.SalesReturnOrderPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-suffix">Sales Return Order suffix</label>
                                <input type="text" name="sale-suffix" id="sale_return_ordersuffix" value="@setting.SalesReturnOrderSuffix" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- END Sales -->
            <!-- Purchases -->
            <div class="tab-pane fade" id="refs-1">
                <div class="well custom" style="padding-bottom: 5px;">

                    <div class="row">

                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-prefix">Purchase prefix</label>
                                <input type="text" name="sale-prefix" id="purchase_prefix" value="@setting.PurchasePrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-suffix">Purchase suffix</label>
                                <input type="text" name="sale-suffix" id="pruchase_suffix" value="@setting.PurchaseSuffix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-prefix">Purchase Order prefix</label>
                                <input type="text" name="sale-prefix" id="purchase_orderprefix" value="@setting.PurchaseOrderPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-suffix">Purchase Order suffix</label>
                                <input type="text" name="sale-suffix" id="purchase_ordersuffix" value="@setting.PurchaseOrderSuffix" class="form-control">
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- END Purchases -->
            <!-- Manufacturing -->
            <div class="tab-pane fade" id="refs-4">
                <div class="well custom" style="padding-bottom: 5px;">

                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="manu-prefix">Manufacturing prefix</label>
                                <input type="text" name="manu-prefix" id="manu_prefix" value="@setting.ManuJobPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="manu-suffix">Manufacturing suffix</label>
                                <input type="text" name="manu-suffix" id="manu_suffix" value="@setting.ManuJobSuffix" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END Manufacturing -->
            <!-- Transfers -->
            <div class="tab-pane fade" id="refs-5">
                <div class="well custom" style="padding-bottom: 5px;">

                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="transfer-prefix">Transfer prefix</label>
                                <input type="text" name="transfer-prefix" id="transfer_prefix" value="@setting.TransferPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="transfer-suffix">Transfer suffix</label>
                                <input type="text" name="transfer-suffix" id="transfer_suffix" value="@setting.TransferSuffix" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END Transfers -->
            <!-- Invoices & Bills -->
            <div class="tab-pane fade" id="refs-2">

                <div class="well custom" style="padding-bottom: 5px;">

                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-prefix">Invoice prefix</label>
                                <input type="text" name="sale-prefix" id="invoice_prefix" value="@setting.InvoicePrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-suffix">Invoice suffix</label>
                                <input type="text" name="sale-suffix" id="invoice_suffix" value="@setting.InvoiceSuffix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-prefix">Bill prefix</label>
                                <input type="text" name="bill-prefix" id="bill_prefix" value="@setting.BillPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-suffix">Bill suffix</label>
                                <input type="text" name="Bill-suffix" id="bill_suffix" value="@setting.BillSuffix" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- END Invoices & Bills -->
            <!-- Allocations, Credit &amp; Debit notes -->
            <div class="tab-pane fade" id="refs-3">

                <div class="well custom" style="padding-bottom: 5px;">

                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-prefix">Allocation prefix</label>
                                <input type="text" name="alllocation-prefix" id="alllocation_prefix" value="@setting.AllocationPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-suffix">Allocation suffix</label>
                                <input type="text" name="alllocation-suffix" id="alllocation_suffix" value="@setting.AllocationSuffix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-prefix">Credit note prefix</label>
                                <input type="text" name="creditnote-prefix" id="creditnote_prefix" value="@setting.CreditNotePrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-suffix">Credit note suffix</label>
                                <input type="text" name="creditnote-suffix" id="creditnote_suffix" value="@setting.CreditNoteSuffix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-prefix">Debit note prefix</label>
                                <input type="text" name="DebitNote-prefix" id="debitnote_prefix" value="@setting.DebitNotePrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-suffix">Debit note suffix</label>
                                <input type="text" name="DebitNote-suffix" id="debitnote_suffix" value="@setting.DebitNoteSuffix" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END Allocations etc -->
            <!-- Reodering -->
            <div class="tab-pane fade" id="refs-6">
                <div class="well custom" style="padding-bottom: 5px;">

                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="reorder-prefix">Reorder prefix</label>
                                <input type="text" name="reorder-prefix" id="reorder_prefix" value="@setting.ReorderPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="reorder-prefix">Reorder suffix</label>
                                <input type="text" name="reorder-suffix" id="reorder_suffix" value="@setting.ReorderSuffix" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END Reodering -->
            <!-- Order & Payment -->
            <div class="tab-pane fade" id="refs-7">

                <div class="well custom" style="padding-bottom: 5px;">

                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-prefix">Order prefix</label>
                                <input type="text" name="sale-prefix" id="order_prefix" value="@setting.OrderPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-suffix">Order suffix</label>
                                <input type="text" name="sale-suffix" id="order_suffix" value="@setting.OrderSuffix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-prefix">Payment prefix</label>
                                <input type="text" name="bill-prefix" id="payment_prefix" value="@setting.PaymentPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="sale-suffix">Payment suffix</label>
                                <input type="text" name="payment-suffix" id="payment_suffix" value="@setting.PaymentSuffix" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- ENDOrder & Payment -->
            <!-- Delivery -->
            <div class="tab-pane fade" id="refs-8">
                <div class="well custom" style="padding-bottom: 5px;">

                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="reorder-prefix">Delivery prefix</label>
                                <input type="text" name="delivery-prefix" id="delivery_prefix" value="@setting.DeliveryPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="reorder-prefix">Delivery suffix</label>
                                <input type="text" name="delivery-suffix" id="delivery_suffix" value="@setting.DeliverySuffix" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END Delivery -->
            <!-- Movements -->
            <div class="tab-pane fade" id="refs-9">
                <div class="well custom" style="padding-bottom: 5px;">

                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="alertgroup-prefix">Alert group prefix</label>
                                <input type="text" name="alertgroup-prefix" id="alertgroup_prefix" value="@setting.AlertGroupPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="alertgroup-prefix">Alert group suffix</label>
                                <input type="text" name="alertgroup-suffix" id="alertgroup_suffix" value="@setting.AlertGroupSuffix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="alertreport-prefix">Alert report prefix</label>
                                <input type="text" name="alertreport-prefix" id="alertreport_prefix" value="@setting.AlertReportPrefix" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="alertreport-prefix">Alert report suffix</label>
                                <input type="text" name="alertreport-suffix" id="alertreport_suffix" value="@setting.AlertReportSuffix" class="form-control">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- END Movements -->
        </div>


        <br />
        <button type="reset" id="resetbutton" class="btn btn-danger" onclick="resetsettingform('@setting.Delimeter')">Cancel</button>
        <button type="button" class="btn btn-success" onclick="confirm()">Confirm</button>

    </form>
</div>

<!-- END References -->
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.config.reference.js"></script>

    }
    else
    {
        <script src="~/Scripts/dev/trader.config.reference.js"></script>

    }
    <script>
        $('#config_delimeter').select2({
            placeholder: "Please select"
        });
    </script>
}
<!-- End modal for Items -->
@if (setting.Delimeter != "")
{

    <script>
        $('#config_delimeter').val('@delimeter');
        $('#config_delimeter').select2({
            placeholder: "Please select"
        });
    </script>
}

