@using Qbicles.BusinessRules;
@using Qbicles.Models.Trader.Movement;
@model TraderTransferItem
@{
    var baseUnits = (List<UnitModel>)ViewBag.BaseUnits; 
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
}
<select id="transfer-td-tran-unit" name="unit" onchange="SelectedChangeBu(@Model.Id)" class="form-control select2 transfer_td_tran_unit" style="width: 100%;">
    @foreach (var bu in baseUnits)
    {
        if (Model.Unit != null)
        {
            if (bu.Id == Model.Unit.Id && bu.Group == "BaseUnit")
            {
                <option value="@bu.Group|@bu.Id|@bu.QuantityOfBaseunit" selected>@bu.Name</option>
            }
            else
            {
                <option value="@bu.Group|@bu.Id|@bu.QuantityOfBaseunit">@bu.Name</option>
            }
        }
    }
</select>

<script>
    $(".transfer_td_tran_unit").not(".multi-select").select2();
</script>