@using Qbicles.Models.Qbicles
@using Qbicles.Models.Trader;
@model TraderLocation
@{
    var countries = (List<Country>)ViewBag.Countries;
}

<div class="modal-dialog modal-lg add-location-modal" role="document">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model.Id > 0)
            {
                <h5 class="modal-title">Edit location</h5>
            }
            else
            {
                <h5 class="modal-title">Add a location</h5>
            }
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-xs-12">

                    <div class="activity-overview generic help-text animated bounce">
                        <i class="fa fa-info-circle"></i>
                        <h5 style="margin: 0 0 8px 0;">Important</h5>
                        <p>
                            To be able to connect Devices for systems like the Point of Sale you must first geolocate a location. Either fill out your address below and hit the
                            Geolocate button, or manually enter your longitude and latitude coordinates.
                        </p>
                    </div>

                </div>

                <form id="location_form" class="col-xs-12">

                    <div class="well custom">
                        <div class="row">
                            <div class="col-xs-12">
                                <input class="hidden" name="Id" id="location-id" value="@Model.Id" />
                                <input class="hidden" name="IdAddress" id="location-address-id" value="@Model.Address.Id" />
                                <div class="form-group">
                                    <label for="number">Location name <span>*</span></label>
                                    <input type="text" name="Name" id="location-edit-name" class="form-control" required value="@Model.Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="address1">Address line 1</label>
                                    <input type="text" id="AddressLine1" value="@Model.Address.AddressLine1" name="AddressLine1" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="address-2">Address Line 2</label>
                                    <input type="text" id="AddressLine2" value="@Model.Address.AddressLine2" name="AddressLine2" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="address-city">City</label>
                                    <input type="text" id="City" value="@Model.Address.City" name="City" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="address-state">State</label>
                                    <input type="text" id="State" value="@Model.Address.State" name="State" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="address-postcode">Postcode/Zip</label>
                                    <input type="text" id="PostCode" value="@Model.Address.PostCode" name="PostCode" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="address-country">Country</label>
                                    <select id="CountryName" name="CountryName" class="form-control select2" style="width: 100%;">
                                        @foreach (var c in countries)
                                        {
                                            if (Model.Address.Country != null && Model.Address.Country.CommonName == c.CommonName)
                                            {
                                                <option value="@c.CommonName" selected>@c.CommonName</option>
                                            }
                                            else
                                            {
                                                <option value="@c.CommonName">@c.CommonName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="address-email">Email address</label>
                                    <input type="email" id="Email" value="@Model.Address.Email" name="Email" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group" style="margin: 0;">
                                    <label for="address-tel">Telephone</label>
                                    <input type="text" id="Phone" value="@Model.Address.Phone" name="Phone" class="form-control">
                                </div>
                            </div>
                        </div>

                        <br>
                        <a href="javascript:void(0)" class="btn btn-primary" onclick="Autolocate()">
                            <i class="fa fa-map-marker"></i> &nbsp; Autolocate
                        </a>
                    </div>


                    <br>
                    <h5>Geolocation</h5>
                    <div class="well custom" style="padding-bottom: 5px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="latitude">Latitude</label>
                                    <input type="number" maxlength="15" id="Latitude" value="@Model.Address.Latitude" name="Latitude" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="longitude">Longitude</label>
                                    <input type="number" maxlength="15" id="Longitude" value="@Model.Address.Longitude" name="Longitude" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <br />
            <a href="javascript:void(0);" onclick="saveLocation()" class="btn btn-success trigger-setup"><i class="fa fa-save"></i> &nbsp; Save</a>
            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-danger">Cancel</a>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $('.add-location-modal select').select2({
        placeholder: 'Please select'
    });

    Autolocate = function () {
        var address = document.getElementById('location-edit-name').value +
            " " + document.getElementById('AddressLine1').value +
            " " + document.getElementById('AddressLine2').value +
            " " + document.getElementById('City').value +
            " " + document.getElementById('State').value +
            " " + document.getElementById('CountryName').value
            ;
        getLatitudeLongitude(showResult, address);

    };
    function showResult(result) {


        $("#Longitude").attr("style", "color:red");
        $("#Latitude").attr("style", "color:red");


        var location = result.geometry.location.lng().toFixed(7);
        
        document.getElementById('Longitude').value = location;

        location = result.geometry.location.lat().toFixed(7);
        
        document.getElementById('Latitude').value = location;

        setTimeout(function () {
            $("#Longitude").attr("style", "color:#4e4e4e");
            $("#Latitude").attr("style", "color:#4e4e4e");
        }, 2000);
    }

    function getLatitudeLongitude(callback, address) {
        // If adress is not supplied, use default value 'Ferrol, Galicia, Spain'
        address = address || 'Ferrol, Galicia, Spain';
        // Initialize the Geocoder
        geocoder = new google.maps.Geocoder();
        if (geocoder) {
            geocoder.geocode({
                'address': address
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    callback(results[0]);
                }
                else {


                }
            });
        }
    }
</script>