@model Qbicles.Models.Trader.TraderPurchase
@using Qbicles.BusinessRules;

@{
    var api = (string)ViewBag.DocRetrievalUrl;
}

<div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
    <div class="flex-avatar">
        <div class="col-thumb" style="flex: 0 0 80px;">
            <img src="@api@Model.Vendor.AvatarUri" class="img-circle img-responsive">
        </div>
        <div class="col">
            <h5 style="font-family: 'Roboto'; margin-top: 0;">Contact: @Model.Vendor.Name</h5>
            <a href="javascript:void(0)" onclick="ChangeContact(@Model.Id)" class="btn btn-warning @ViewBag.Display"><i class="fa fa-pencil"></i> &nbsp; Change</a>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-3 col-md-12 col-lg-3">
    <h5>Delivery method</h5>
    @Model.DeliveryMethod
</div>
<div class="col-xs-12 col-sm-3 col-md-12 col-lg-3">
    <h5>Delivery address</h5>
    <p>
        @Html.Raw(Model.Vendor?.Address?.ToAddress().Replace(",", "<br />"))
    </p>
</div>