@using Qbicles.BusinessRules;
@using Qbicles.Models.Trader;
@model List<TraderGroup>
@{
    var canDel = Model.Count == 1 ? "disabled" : "";
}

<!-- Groups (Items) -->
<div class="tab-pane fade in active" id="tab-groups-items">
    <div class="activity-overview task" style="padding: 20px;">

        <table class="table-hover datatable" style="width: 100%; background: #fff;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Creator</th>
                    <th>Items associated</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    if (item.Items.Any())
                    {
                        canDel = "disabled";
                    }
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                        <td>@HelperClass.GetFullNameOfUser(item.CreatedBy)</td>
                        <td>
                            <button data-toggle="modal" data-target="#group-items-view" class="btn btn-info"><i class="fa fa-cube"></i> &nbsp; 34 items</button>
                        </td>
                        <td>
                            <button class="btn btn-warning" onclick="Editgroup(@item.Id)" data-toggle="modal" data-target="#app-group-edit"><i class="fa fa-pencil"></i></button>
                            <button @canDel class="btn btn-danger" data-toggle="modal" data-target="#app-group-confirm" onclick="ConfirmDeletegroup(@item.Id, '@item.Name')"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <br />
        <a href="javascript:void(0);" onclick="clickAddgroup()" class="btn btn-success" data-toggle="modal" data-target="#app-group-add"><i class="fa fa-plus"></i> &nbsp; Add new</a>
    </div>
</div>
<!-- END Groups (Items) -->



@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.config.groupitem.js"></script>

    }
    else
    {
        <script src="~/Scripts/dev/trader.config.groupitem.min.js"></script>

    }
}
<script>
    $(document).ready(function () {
        $('.datatable').DataTable({
            responsive: true,
            "lengthChange": true,
            "pageLength": 10,
            "columnDefs": [{
                "targets": 4,
                "orderable": false
            }],
            "order": []
        });

        $('.datatable').show();
    });
</script>