@using Qbicles.Models.Manufacturing;
@using Qbicles.Models.Trader
@using Qbicles.BusinessRules;
@model List<ManuJob>
@{
    var timeZone = (string)ViewBag.CurrentTimeZone ?? "";
    var dateFormat = (string)ViewBag.CurrentDateFormat;
}
<table class="datatable table-striped table-hover" id="manu-2-history" style="width: 100%; background: #fff;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date &amp; time</th>
            <th>Manufactured qty</th>
            <th>Added by</th>
            <th>Status</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CreatedDate.ConvertTimeFromUtc(timeZone).ToString(dateFormat + " h:mm tt")</td>
                <td>@item.Quantity</td>
                <td>@HelperClass.GetFullNameOfUser(item.CreatedBy)</td>
                <td>
                    @switch (item.Status)
                    {
                        case ManuJobStatus.Approved:
                            <span class="label label-lg label-success">Approved</span>
                            break;
                        case ManuJobStatus.Denied:
                            <span class="label label-lg label-danger">Denied</span>
                            break;
                        case ManuJobStatus.Discarded:
                            <span class="label label-lg label-danger">Discarded</span>
                            break;
                        case ManuJobStatus.Pending:
                            <span class="label label-lg label-warning">Pending</span>
                            break;
                        case ManuJobStatus.Reviewed:
                            <span class="label label-lg label-info">Reviewed</span>
                            break;
                    }
                </td>
                @*<td><button class="btn btn-primary"><i class="fa fa-eye"></i> &nbsp; View</button></td>*@
                <td><button class="btn btn-primary" onclick="ManufacturingHistoryViewer(@item.Id)"><i class="fa fa-eye"></i> &nbsp; View</button></td>
            </tr>
        }   
    </tbody>
</table>

<script>
    $('#manu-2-history').DataTable().draw();
</script>
