@using Qbicles.BusinessRules
@using Qbicles.Models.Trader 
@{
    var unitModelUpdate = new List<object>();
    var canDel = unitModelUpdate.Count == 1 ? "disabled" : "";
}
 <table class="table-hover datatable2 table_baseunit" style="width: 100%; background: #fff;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Display as</th>
            <th>Measurement type</th>
            <th>Created</th>
            <th>Creator</th>
            <th>Options</th>
        </tr>
    </thead>
     <tbody>
     @foreach (var item in unitModelUpdate)
     {
        <tr>
            @*<td>@item.Name</td>
            <td>@item.DisplayAbbreviation</td>
            <td>@item.MeasurementType.ToString()</td>
            <td>@item.CreatedDate.ToString("dd-MM-yyyy")</td>
            <td>@HelperClass.GetFullNameOfUser(item.CreatedBy)</td>
            <td>
                <button class="btn btn-warning" onclick="editBaseUnit(@item.Id)"><i class="fa fa-pencil"></i></button>
                <button @canDel class="btn btn-danger" onclick="deleteUnit(@item.Id)"><i class="fa fa-trash"></i></button>
            </td>*@
        </tr>
     }
     
     </tbody>
</table>

<script>
    if (!$.fn.DataTable.isDataTable( '.table_baseunit' ) ) {
            $('.table_baseunit').DataTable({
                responsive: true,
                order: [[0, 'asc']]
            });
            $('.table_baseunit').show();
    }

    $.LoadingOverlay("hide");
</script>