@using Qbicles.Models.Trader
@model List<WorkGroup>
@{
    var canDel = Model.Count == 1 ? "disabled" : "";
}
<table class="table-hover datatable2 trader_table_workgroup" style="width: 100%; background: #fff;">
    <thead>
        <tr>
            <th data-priority="1">Name</th>
            <th data-priority="3">Location</th>
            <th data-priority="2">Process</th>
            <th data-priority="2">Qbicle</th>
            <th data-priority="2">Members</th>
            <th data-priority="2">Product group(s)</th>
            <th data-priority="1">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wg in Model)
        {
            <tr id="tr_workgroup_user_@wg.Id">
                <td>@wg.Name</td>
                <td>@wg.Location.Name</td>
                <td>
                    @{
                        foreach (var name in wg.Processes.Select(n => n.Name))
                        {
                            @name <br /> 
                        }
                }
            </td>
            <td>@wg.Qbicle.Name</td>
            <td>@wg.Members.Count</td>
            <td>@wg.ItemCategories.Count</td>
            <td>
                <button class="btn btn-warning" onclick="Edit(@wg.Id)" data-toggle="modal" data-target="#app-trader-group-edit"><i class="fa fa-pencil"></i></button>
                <button @canDel class="btn btn-danger" onclick="Delete('wg-table', '@wg.Id')"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    }
    </tbody>

</table>

<script>


    if (!$.fn.DataTable.isDataTable('.trader_table_workgroup')) {
        $('.trader_table_workgroup').DataTable({
            responsive: true,
            order: [[0, 'asc']]
        });
        $('.trader_table_workgroup').show();
    }
    $.LoadingOverlay("hide");
</script>