@using Qbicles.Models.Trader;
@using Qbicles.Models.Trader.Movement;
@model TraderPurchase
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var dateFormat = (string)ViewBag.CurrentDateFormat;
}
<table id="app-trader-purchase-transfer-table" class="datatable table-hover" style="background: #fff; width: 100%;" data-paging="false">
    <thead>
        <tr>
            <th>#</th>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th>Status</th>
            <th data-orderable="false">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transfer in Model.Transfer)
        {
            <tr>
                <td>@(transfer.Reference?.FullRef??"")</td>
                @{
                    if (transfer.Sale != null)
                    {
                        <td>
                            @{
                                if (transfer.OriginatingLocation != null)
                                {
                                    @transfer.OriginatingLocation.Name
                                }
                            }
                        </td>
                        <td>@transfer.Sale.Purchaser.Name</td>
                    }
                    else if (transfer.Purchase != null)
                    {
                        <td>@transfer.Purchase.Vendor.Name</td>
                        <td>
                            @{
                                if (transfer.DestinationLocation != null)
                                {
                                    @transfer.DestinationLocation.Name
                                }
                            }
                        </td>
                    }
                    else if (transfer.OriginatingLocation != null && transfer.DestinationLocation != null)
                    {
                        <td>@transfer.OriginatingLocation.Name</td>
                        <td>@transfer.DestinationLocation.Name</td>
                    }
                }
                <td>@transfer.CreatedDate.ToString(dateFormat)</td>
                <td>
                    @if (transfer.Status == TransferStatus.Draft)
                    {
                        <span class="label label-lg label-primary">@transfer.Status</span>
                    }
                    else
                    {
                        <span class="label label-lg label-warning">@transfer.Status</span>
                    }

                </td>
                <td>
                    @if (transfer.Status == TransferStatus.Draft)
                    {
                        <button class="btn btn-info" onclick="EditTransfer(@transfer.Id, @Model.Id)" data-toggle="modal" data-target="#app-trader-purchase-transfer"><i class="fa fa-pencil"></i> &nbsp; Continue</button>
                    }
                    else
                    {
                        <button class="btn btn-primary" onclick="window.location.href = '/TraderTransfers/TransferMaster?key=@transfer.Key';"><i class="fa fa-eye"></i> &nbsp; Manage</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>





<script>
             //$('#app-trader-purchase-transfer-table').DataTable({
             //       responsive: true,
             //       "lengthChange": true,
             //       "pageLength": 10,
             //       "columnDefs": [{
             //           "targets": 3,
             //           "orderable": false
             //       }],
             //       "order": []
             //   });

             //$('#app-trader-purchase-transfer-table').show();
</script>