@using Qbicles.BusinessRules
@using Qbicles.Models.Trader
@model List<TraderLocation>
@{
    var canDel = Model.Count == 1 ? "disabled" : "";
}
<table class="table-hover datatable2 trader_table_location" style="width: 100%; background: #fff;">
    <thead>
        <tr>
            <th>Location</th>
            <th>Address</th>
            <th>Created</th>
            <th>Creator</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    @if (item.Address != null)
                    {
                    <p>
                        @Html.Raw(item.Address.ToAddress().Replace(",", "<br />"))
                    </p>
                    }
                </td>
                <td>@item.CreatedDate.ToString("dd-MM-yyyy")</td>
                <td>@HelperClass.GetFullNameOfUser(item.CreatedBy)</td>
                <td>
                    <button class="btn btn-warning" onclick="editLocation(@item.Id)"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger" onclick="deleteLocation(@item.Id)"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        }

    </tbody>
</table>

<script>

    if (!$.fn.DataTable.isDataTable('.trader_table_location')) {
        $('.trader_table_location').DataTable({
            responsive: true,
            order: [[0, 'asc']]
        });
        $('.trader_table_location').show();
    }
    $.LoadingOverlay("hide");
</script>