@using Qbicles.Models.Manufacturing;
@using Qbicles.Models.Trader 
@{  
    var itemId = (int)ViewBag.ItemId;
    var productGroups = (List<TraderGroup>)ViewBag.ProductGroups;
}
@foreach (var item in productGroups)
{
    if (item.Items.Count > 0)
    {
        <optgroup label="@item.Name">
            @foreach (var traderitem in item.Items)
            {
                if (itemId == traderitem.Id)
                {
                    <option value="@traderitem.Id" selected>@traderitem.Name</option>
                }
                else
                {
                    <option value="@traderitem.Id">@traderitem.Name</option>
                }
            }
        </optgroup>
    }
}  
<script>
    $('#tradergroupitem').not('.multi-select').select2();
    traderGroupOnChange();
    
</script>
 