@using Qbicles.Models.Trader;
@using Qbicles.Models.Trader.Inventory;
@model TraderItem
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var idSelect = (int)(ViewBag.IdSelected??0);
}
                                                                                        
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Change display unit</h5>
            </div>
            <div class="modal-body">

                <div class="activity-overview generic" style="padding: 20px;">
                    <div class="form-group" style="margin: 0;">
                        <label for="displayunit">Display unit</label>
                        <select id="batchchangeunit" name="displayunit" class="form-control select2" style="width: 100%;">
                            @foreach (var unit in Model.Units)
                            {
                                if (unit.Id == idSelect)
                                {
                                    <option value="@unit.Id|@unit.QuantityOfBaseunit" selected>@unit.Name</option>
                                }
                                else
                                {
                                    <option value="@unit.Id|@unit.QuantityOfBaseunit">@unit.Name</option>
                                }
                            }   
                        </select>
                    </div>
                </div>

                <br />
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" data-dismiss="modal" onclick="inventoryBatchConfirmChangeUnit(@Model.Id)"><i class="fa fa-save"></i> &nbsp; Confirm</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

<script>
    $('#batchchangeunit').not('.multi-select').select2();
</script>