@using Qbicles.BusinessRules
@model  List<UnitModel>
@{
    var selecedId = (int)(ViewBag.selectedUnit ?? 0);
}


    <select id="item-unit-select" name="conversionsunit" class="form-control" required="" style="width: 100%;">

        @foreach (var item in Model)
        {
            if (selecedId > 0 && item.Id == selecedId)
            {
                item.Selected = "selected";
            }
            @*<option itemId="@item.Id" itemName="@item.Name" itemImage="@item.ImageUri" itemUnit="@item.Unit" value="@item.Id">@item.Name</option>*@
            <option @item.Selected value="@item.Group|@item.Id|@item.QuantityOfBaseunit">@item.Name</option>
        }
    </select>
<script>
    $("#item-unit-select").not(".multi-select").select2();
</script>